interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2024-11-01&%24skiptoken=7Zhfc6LIGsa%2fi9d7AahbNVO1F8kBWV27OZKmme7KDaOu0A0mm%2bCqPTXf%2fTyNmuDUYs5wvRepsszkx8vz%2fn3m22C7PtTzYqtfB5%2b%2fDbLda%2f2SlUW2XG%2fth8Hnwfo428kvucPSyTHz%2bHGqngqiZEVZ4FIzrSM2y0XhOFLdV%2fM0OApvWhMVl0LdK%2bnznKiVmm6d3wa%2fvNPX2WvdgRbprKRsoiQjtfRXSgJNQ3EAei8MweN4KdnSEWwxlirxfk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Zhfc6LIGsa/i9d7AahbNVO1F8kBWV27OZKmme7KDaOu0A0mm%2BCqPTXf/TyNmuDUYs5wvRepsszkx8vz/n3m22C7PtTzYqtfB5%2B/DbLda/2SlUW2XG/th8Hnwfo428kvucPSyTHz%2BHGqngqiZEVZ4FIzrSM2y0XhOFLdV/M0OApvWhMVl0LdK%2BnznKiVmm6d3wa/v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Zhbb6PIFoX/S57nAbA9Urd0HpzDZfCkimNSVUyV%2BoW2OTYUOJ4YjzGt/u%2BzCl/itISjRpq3eYhiheSrzb6svSrfHjZZUz/lG717%2BPztId3v6te0zNNFtjEfHj4/ZMfZXv2xtljiH1NHHMPiJadM5YT5OnK9mrJY09yySEH1E9NOxGQtC29CHTKRbdioQpXhxvrPwy9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZbLjtpIFIbfhXUWtoFIiTQLGF9ip6scTF1Spd444Gm7yqZJYwJ2lHefUwa6IYo7ilezmEVLrcL66tS5/Of/Ptpkx/qu2Ojd6P33Ubrf1U9pWaSrbGP%2BGb0fZU20l59zi3C/SR3WhOqxQJw2iHsT0S5qVKEWF5aFgyi/M2dE14jMWtHSg%2BSLAyKoDTfWX6M3L/Td477Os[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZZdb9pIFIb/C9e9sA2ulEq9SNYfNWXGyzBzJjPixom9sT02ocGUjyj/fY8NtKRb74XvVlohBAbrmfP5vn4drbJ9MytWZjP69DpKtpvmJamK5DFbtV9Gn0bZYbrV97nFZXBIHDhE5XOhytyQOqh0KRpaE0sVlkV5Ws14XsfhvFFyviPlk635k6tKcoxW1ufRh9EZut1k22Tdg[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZRdb6M4FIb/C9e9MJBUSqW9aAdDYWKjgD8Cyo3boElsQzOJM3xU/e9r0mi33Z3sRUaaq71Aioj1nBefc55Xp6k6M9826uDcvTrieDB7obfiuWrGH86dU/XJsVxuAOFhLzzWx/JlW9aLKZYbmUaxQZzVRQ9AGbF6zkOJJDRlkKiUQD/ltEdeouMG/OHcOJU4mKOt83OmpH1JE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZFLj9owFIX/i9ezSEiCBBKLUmxIBhuNH9eTKBszpE2wExgIDATx3xukWfSxq7rs4kpX93GOdL4baopLu6wae0TjGzKnY3swrjJvRfNo0BgV1%2BSUvZae1ORqBnCNt7uK1XHI5mmYdrSlNY5o5Xm0I%2BVS44B2ccs6tmV1VqZd%2BsHkl2vceBP01Ft9dIVxptk0u0Nb/iSu5uS6mTvP6NFJDCB6mFCBw1hF71lHBCjVxtVHta4h3JDkvPFaV4h4GG9xSeV3L1YjpeWUFxYCpduEEaK05SuOo5l63TeFS7CUCTfWD6UHjDoyTIM94ySr1ZY8S3WBN7xXZsCXyldegUfvwgI3gwsDDEfpxxdlM6CAfUnURTjc1xTozC3A8nMBCTCVaV7zF9Btx6x/0HYkwCUpzHp9woABCLD7hQJYcQfDdeCECabPMG%2Bt8Pv9ouzvXQQWNJBsrm3Ue7tQKn6mkBzXQUkBsq8g%2Bzz6fyG86tvLZILuj2Q/Ia6axc5tepSfQ2oOtjj0Sd/yP%2BDmaJz/M7w5esp/B/yLwX/Ef484R3d0/wE%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastasia","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-04-23T02:18:29.5492990Z","key2":"2025-04-23T02:18:29.5492990Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-04-23T02:18:29.4399263Z","primaryEndpoints":{"dfs":"https://hdicli000002.dfs.core.windows.net/","web":"https://hdicli000002.z7.web.core.windows.net/","blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastasia","statusOfPrimary":"available","secondaryLocation":"southeastasia","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://hdicli000002-secondary.dfs.core.windows.net/","web":"https://hdicli000002-secondary.z7.web.core.windows.net/","blob":"https://hdicli000002-secondary.blob.core.windows.net/","queue":"https://hdicli000002-secondary.queue.core.windows.net/","table":"https://hdicli000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-04-23T02:18:29.5492990Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-04-23T02:18:29.5492990Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/EastAsia/billingSpecs?api-version=2025-01-15-preview
  response:
    body:
      string: '{"vmSizes":["STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2M_V2","STANDARD_A4_V2","STANDARD_A4M_V2","STANDARD_A8_V2","STANDARD_A8M_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15","STANDARD_D15_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS15_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E48A_V4","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E64S_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_F1","STANDARD_F16","STANDARD_F16S_V2","STANDARD_F2","STANDARD_F2S_V2","STANDARD_F32S_V2","STANDARD_F4","STANDARD_F4S_V2","STANDARD_F64S_V2","STANDARD_F72S_V2","STANDARD_F8","STANDARD_F8S_V2"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E48a_v4","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E64s_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4","Standard_F16s_v2","Standard_F2s_v2","Standard_F32s_v2","Standard_F4s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s_v2"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNodeRole","EdgeNodeRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["HBase"],"nodeTypes":["ZookeeperRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","[...]
- request:
    body: '{"location": "EastAsia", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]},
      "encryptionInTransitProperties": {"isEncryptionInTransitEnabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003?api-version=2025-01-15-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2504170544.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"511db9b050a447ff8fa695798d11f4e7","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-06-26T10:36:20.903","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":true},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003","name":"cli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        Asia","etag":"6e8e92bd-73d4-4417-978f-2bd0d33f73f5","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865309813466519&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865309813466519&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDk[...]
[...]
