interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2022-09-01&%24skiptoken=7VdNk%2bJGFvwvfeaABDhiJsIHGH0YbVdpEFXSVN1kkNEn3QvCoHL4v2%2bWEO1ur2BitBt72pgTaDp5ypcv38s%2fnvbJpX7O9sXx6fMfT%2bfkWCenw8tr8vT5KWm8k%2fyWjlnkNLEZNsv8JZO5zERlK8GWNXXJRTTjMb5Ln6Pl2LfsWlarKc29krC08COZL%2ffjn59GT5tkXx%2fi8oQf6YUlljhLa2cSxmvJVjMCWGrNp8%2bRl8loVdPcboTamLLigF9OO1hd7l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=7VdNk%2BJGFvwvfeaABDhiJsIHGH0YbVdpEFXSVN1kkNEn3QvCoHL4v2%2BWEO1ur2BitBt72pgTaDp5ypcv38s/nvbJpX7O9sXx6fMfT%2BfkWCenw8tr8vT5KWm8k/yWjlnkNLEZNsv8JZO5zERlK8GWNXXJRTTjMb5Ln6Pl2LfsWlarKc29krC08COZL/fjn59GT5tkXx/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=rZVBj6M4EIX/S84ciJNcRppDeg0sUWxE1oS1byhhAganWwkRwaP971sG0tuRIKNBe%2BxI/fFc9V69n7Nzeq%2B2%2Bbm4zr79nB3Sc3VJyhv8MUubzU38ndksdpsE7Rtfvuci5pp6uyzweMX1JieNbRMcLbbsZAt5qAK2KbgkKyGjJdeHxj/b32fWrE6v1SiTynUtYmclVFQ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=rZRNj6pIFIb/i2sWCLq5ySyYQR2Mpyo4hXWrdkS5QvFhR8sgdTP/fQ6IPd0T6GTIXXTsaHw4vuc9z89ZlTz0Lqvy2%2Bzbz1md3PQd/5slzfYuv6c24%2Bsmdg5NoC6ZZEeb8nUKPNCUkxIy2ybs3OzwjxhPg0kLooRDN9sU/MgElf3bzJol8RdMwkghHJJKFWriyEI0tk3Zq[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=rdLBbqMwEIDhd%2BHMwXXCpVIPaCEsUWZQdt2w9g21KMYmsEqMCq767jVZpLYS6QHtDfnwMR7/r15T9mZXNfri3b96ZXExnfvyymHbiT%2BSsHwzFPQwpKqthIp7wVCLKDZoQ4sDIRkL73b5puZMm4ylhNt0lSVpIE6iShvy4PmTSW%2BgGG1rET32wI5GJAeZ/SYE6KHasSPlLDSYb2u0PMgSrMAeV5/Q4lIVt9QTX3EGPdi94bbWfBw14tSpAXd/4golJNuKOxHY03pSO31pOyNvoSrs0eIJLDegngL4QQhXqUNriXns7v9IIYp7d0aQ/tIT2rRnI8vu3P4tb8BuqQpytzzlJmN1hSNM4/UuT3tMuBEKiINfUG0kWk0m%2BDrr%2BGLfLcLqO2RSgtobVGEw0uiWMy5CKG6QxRYorDHZvwBLhyv95n9UkTU/2/rZtTEdQnHW5Xm8yDWV%2B/8Viv/Po7Pgkkiu4LiZeXFBIP6Uxzy4IA7/Uxqz6JIw/C9ZzLKuoQVRvAM%3D
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2022-09-01&%24skiptoken=q1bKS60o8cnMyy5WsqpWSk0sLiktNlKyUkqt9CqNisgwCAl3q0w0Cqv0zMrP9Hf3y4hySa6Ickkv8Qt3NfF1NjDwD%2fct9wlJr%2fLLci3xd8mu8gv3y%2fZ1yciJyko39swzsFWq1UFY4Z%2fnkZ%2bTArQIKuibWJSdWgSyDWKvFfVsBQA%3d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=q1bKS60o8cnMyy5WsqpWSk0sLiktNlKyUkqt9CqNisgwCAl3q0w0Cqv0zMrP9Hf3y4hySa6Ickkv8Qt3NfF1NjDwD/ct9wlJr/LLci3xd8mu8gv3y/Z1yciJyko39swzsFWq1UFY4Z/nkZ%2BTArQIKuibWJSdWgSyDWKvFfVsBQA%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2023-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2024-08-22T03:18:45.0933320Z","key2":"2024-08-22T03:18:45.0933320Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-08-22T03:18:45.2495852Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2024-08-22T03:18:45.2495852Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2024-08-22T03:18:44.8433324Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2023-05-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2024-08-22T03:18:45.0933320Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2024-08-22T03:18:45.0933320Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus/billingSpecs?api-version=2024-08-01-preview
  response:
    body:
      string: '{"vmSizes":["A5","A6","A7","STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2m_V2","STANDARD_A4_V2","STANDARD_A4m_V2","STANDARD_A5","STANDARD_A6","STANDARD_A7","STANDARD_A8","STANDARD_A8_V2","STANDARD_A8m_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15_v2","STANDARD_D16A_V4","STANDARD_D16ADS_V5","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D2ADS_V5","STANDARD_D3","S[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container": "default",
      "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]},
      "networkProperties": {"outboundDependenciesManagedType": "External", "resourceProviderConnection":
      "Outbound", "privateLink": "Enabled", "publicIpTag": {"ipTagType": "FirstPartyUsage",
      "tag": "HDInsight"}}, "privateLinkConfigurations": [{"name": "private_link_config_name",
      "properties": {"groupId": "headnode", "ipConfigurations": [{"name": "ip_config_name",
      "properties": {"primary": true, "privateIPAllocationMethod": "dynamic", "subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"}}}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2024-08-01-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2407260448.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"6f00bff079e14c9bb59ed97f8f03f100","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2024-08-22T03:20:24.817","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"networkProperties":{"resourceProviderConnection":"Outbound","privateLink":"Enabled"},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null},"privateLinkConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/privateLinkConfigurations/private_link_config_name","type":"Microsoft.HDInsight/clusters/privateLinkConfigurations","name":"private_link_config_name","properties":{"provisioningState":"InProgress","ipConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/privateLinkConfigurations/private_link_config_name/ipConfigurations/ip_config_name","type":"Microsoft.HDInsight/clusters/privateLinkConfigurations/ipConfigurations","name":"ip_config_name","properties":{"provisioningState":"InProgress","primary":true,"privateIPAllocationMethod":"dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yuchen-ps-test/providers/Microsoft.Network/virtualNetworks/hdi-vn/subnets/default"}}}],"groupId":"headnode"}}],"privateEndpointConnections":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        US","etag":"aa1746b5-c617-4ca1-b374-2ae5933657d1","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2024-08-01-preview&t=638598936256357833&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5MTExMDUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2024-08-01-preview&t=638598936256357833&c=MIIHhzCCBm-gAwIBAgITHgTLf2Bo2ctQx42TXQAABMt_YDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI0MTExMDUyWhcNMjUwNjE5[...]
[...]
