interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2024-11-01&%24skiptoken=7Vhdc9rIFvwvfs6DJCBVSdU%2bmEgiKJ5RJObDM5UXBViDPjAL8iKUyn%2b%2fPQJsyI1wRdn7tPfBlTjYraM%2bfc7pzreb1bwq75arbHvz%2fttN8rQtN0m%2bTKbzlfnLzfub%2bT540vcLi0l%2fnzhiP04fl4oRmzr%2bQkteUjfrhx8sS6fKuWMPNXHHJS2IFcrIomxsU%2ffWGa%2bsP27evKDPk23ZAk1SUdCC5ip9AEycE0ATNq3u5LgXMlVqqZxwJLLQVX0y[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Vhdc9rIFvwvfs6DJCBVSdU%2BmEgiKJ5RJObDM5UXBViDPjAL8iKUyn%2B/PQJsyI1wRdn7tPfBlTjYraM%2Bfc7pzreb1bwq75arbHvz/ttN8rQtN0m%2BTKbzlfnLzfub%2BT540vcLi0l/nzhiP04fl4oRmzr%2BQkteUjfrhx8sS6fKuWMPNXHHJS2IFcrIomxsU/fWG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7VdNc9pKFv0vXmchCUiVUzUL86RWRNyt0PSH1ZWNDIyhu4V5Rn4IpfLf320BNngiMlEym6m3cDm2w9HVveeee87Xq9W8Km%2BXK7O5%2BvD1Kn/elE%2B5XebT%2Bcr94%2BrD1Xw3elZ3C49JtMsDsUv045LEvKekWpKAl0SOd2TpeVmN7C1baKWTMpNRlcZ0QfTMEHbTS1b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZdNc9pIE8e/C%2Bc9SAJtlVO1B7N6iWRmFA3zYk35IhuthWaECYgFlMp33x6BY8izSupRspetPVC2Bfynp/vf3T9/Gq2KQzNbrtR29O7TKN9tm02ul/lTsTK/jN6NimO8k/elRUVwzB1%2BjKqXpaylToRvJx5qcJXus7lloTA9zqhqcR01WZW1mQPPK7/Fgh2ilfXb6Jc39[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Zdfj5tGFMW/i5/7ANiutJH6UBeGwO4MZTx/ltG%2BEEMNzOB1bVxsonz3XlhvYqclVZxIlao%2BIK299m9m7rl3zvH7ySY/Ng/lRu8nb95P0sO%2B2aWmTFf5pv9j8maSn8KDeiwsJtEpdcQpqJ7LRBJDusAmTtKQzuvwybISqcwDW89IxZtIcodUYYW74JSwlRVsrJ8mP0z[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZbBc6JIFIf/F845AMGpSqrmkAw0gdjN2nS/DlQujLJBGpAoDkgq/s0xN3R2Thba/Y4B6tE8HvP93v9lS9alXbNdFnJjXb9oiXbTbNOimUyT6vhjXatpTt/Gz9kOhNol5iw8/LVkthPVmw7OmZOE9szKwh1nbhONxVeG/VOg23PiPJMRv28j12UeZX%2BWbvQ0mTTbFWd95ml[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZLNbuIwFEbfJesuHCCVQJrFoNg0KXZUx74uERsPRENiEygxDaTqu4%2BLWLQz6mJ%2BlrOwZF3J55O/e16Cpjy5edWYNpi8BPrYuoO2lV6VzdslmATlOT0WjxskFDnrAZyTeldlYtVlatEt1INj9bSmOUJFPd3OhRnRHrtC%2BFlNQyZWUSboKWnQl%2BDGR3V9qa1u1s3u4Dbv4HJGzuuZRVqNj/kAorcQmuNRIqOnoic5SOmSqqu%2BbWG0JunzGjlb5sltUuMNFd%2B7RI6lElNeGhhK5VJGiFSGZxxHsXzcN6VNsRAp1yYcCQSMWnK7GO4ZJ8VW1uReyBOs8F7qAZ/LUKISj59yA1wPTgwwtCJMTtIUQAGHgshTbrE/U6CxvQPDn0tIgclC8S1/AOV6ZsKDMoyDicDzIhEykgFX3KCBUE7nwMDzFBdWQwjtg6VdSVKle5hdeSQ3qc9L7yH%2BivyfgVv/3hZSqJWb5%2BnYF9rujm5T6tbpttLv6ny/qyJenGlshrSXjikwRYVQpnDvdxUVArtMJRHtKaJb2RexGVx3dTQX%2BCdQFtuq2NLhRYDe9JkXYFHL0EMRqxOXCdyxftFnM1ZnitQX6OubAVfZsuZuZ9deueuQ6oMpDz7tZfmLhMtgsvxnGi6Dm%2BXPIn4I%2BK/i76t4KfWDjB8q/VsdL/irkJ%2BC/0TJZfAavP4A
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastasia","tags":{},"properties":{"keyCreationTime":{"key1":"2025-06-16T07:08:49.5659792Z","key2":"2025-06-16T07:08:49.5659792Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-16T07:08:49.5816052Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-06-16T07:08:49.5816052Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-06-16T07:08:49.4097257Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastasia","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-06-16T07:08:49.5659792Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-06-16T07:08:49.5659792Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/EastAsia/billingSpecs?api-version=2025-01-15-preview
  response:
    body:
      string: '{"vmSizes":["STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2M_V2","STANDARD_A4_V2","STANDARD_A4M_V2","STANDARD_A8_V2","STANDARD_A8M_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15","STANDARD_D15_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS15_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E48A_V4","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E64S_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_F1","STANDARD_F16","STANDARD_F16S_V2","STANDARD_F2","STANDARD_F2S_V2","STANDARD_F32S_V2","STANDARD_F4","STANDARD_F4S_V2","STANDARD_F64S_V2","STANDARD_F72S_V2","STANDARD_F8","STANDARD_F8S_V2"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E48a_v4","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E64s_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4","Standard_F16s_v2","Standard_F2s_v2","Standard_F32s_v2","Standard_F4s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s_v2"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNodeRole","EdgeNodeRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["HBase"],"nodeTypes":["ZookeeperRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","[...]
- request:
    body: '{"location": "EastAsia", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "autoscale": {"capacity": {"minInstanceCount": 4, "maxInstanceCount": 5}}, "hardwareProfile":
      {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container": "default",
      "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003?api-version=2025-01-15-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2504170544.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"eaae4c9ae78348998a9d6c4137076672","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"autoscale":{"capacity":{"minInstanceCount":4,"maxInstanceCount":5}},"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-06-16T07:10:37.723","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003","name":"cli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        Asia","etag":"2c507858-8e13-47e6-8613-b32fb22ec5da","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638856546381870885&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638856546381870885&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDk[...]
[...]
