interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus2/usages?api-version=2018-06-01-preview
  response:
    body:
      string: '{"value":[{"unit":"Count","currentValue":0,"limit":60,"name":{"value":"cores","localizedValue":"Cores"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - global
    status:
      code: 200
      message: OK
version: 1
