interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-05-16T05:12:36.9572562Z","key2":"2025-05-16T05:12:36.9572562Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-16T05:12:36.9728867Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-05-16T05:12:36.9728867Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-05-16T05:12:36.7228890Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-05-16T05:12:36.9572562Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-05-16T05:12:36.9572562Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus/billingSpecs?api-version=2024-08-01-preview
  response:
    body:
      string: '{"vmSizes":["A5","A6","A7","STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2m_V2","STANDARD_A4_V2","STANDARD_A4m_V2","STANDARD_A5","STANDARD_A6","STANDARD_A7","STANDARD_A8_V2","STANDARD_A8m_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D16A_V4","STANDARD_D16ADS_V5","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D2ADS_V5","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterVersion": "4.0", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "encryptDataDisks": false}, {"name":
      "workernode", "targetInstanceCount": 3, "autoscale": {"recurrence": {"timeZone":
      "China Standard Time", "schedule": [{"days": ["Monday"], "timeAndCapacity":
      {"time": "09:00", "minInstanceCount": 5, "maxInstanceCount": 5}}]}}, "hardwareProfile":
      {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "encryptDataDisks": false}]}, "storageProfile":
      {"storageaccounts": [{"name": "hdicli000002.blob.core.windows.net", "isDefault":
      true, "container": "default", "key": "veryFakedStorageAccountKey==", "resourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2024-08-01-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"4.0.3000.1","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-4.0.3000.1.2501080039.json","kind":"spark","componentVersion":{"spark":"2.4"}},"clusterId":"a7cbe6da9f6f4c83b3765046e0f6fe38","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"autoscale":{"recurrence":{"timeZone":"China
        Standard Time","schedule":[{"days":["Monday"],"timeAndCapacity":{"time":"09:00","minInstanceCount":5,"maxInstanceCount":5}}]}},"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-05-16T05:14:09.793","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        US","etag":"46d59d0e-6c28-465b-a6f6-cdd0685df6e7","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2024-08-01-preview&t=638829692503462271&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1MDkxNjUyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2024-08-01-preview&t=638829692503462271&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjUwNDE4MDkxNjUyWhcNMjUxMDE1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2024-08-01-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"4.0.3000.1","clusterHdpVersion":"4.1.20.5","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-4.0.3000.1.2501080039.json","kind":"spark","componentVersion":{"spark":"2.4"}},"clusterId":"a7cbe6da9f6f4c83b3765046e0f6fe38","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"autoscale":{"recurrence":{"timeZone":"China
        Standard Time","schedule":[{"days":["Monday"],"timeAndCapacity":{"time":"09:00","minInstanceCount":5,"maxInstanceCount":5}}]}},"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"zookeepernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_a2_v2"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"Succeeded","clusterState":"Running","createdDate":"2025-05-16T05:14:09.793","quotaInfo":{"coresUsed":40},"connectivityEndpoints":[{"name":"SSH","protocol":"TCP","location":"hdicli-000003-ssh.azurehdinsight.net","port":22},{"name":"HTTPS","protocol":"TCP","location":"hdicli-000003.azurehdinsight.net","port":443}],"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        US","etag":"46d59d0e-6c28-465b-a6f6-cdd0685df6e7","tags":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - eastus
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
