interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2024-11-01&%24skiptoken=7Zhfc%2bK4EsW%2fC8%2f7YBvYqpmqfSDXf9ZsJF8c2R6p8uIBNrZkk2xiFqOp%2be73yEACU2u44%2bd9oJIyqZ%2fare7TffJttFm3zX25UW%2bjz99G%2bfatec2rMl%2buN%2baX0efRej%2ffii%2bFxTJ%2fnzvpPpTPJWfcEmy241nS8Izb%2fMGyuCTtfeaNI3fWiIBW%2bCiahY4IPB1urN9Gv3zQ1%2flb04MmgWdR7ddUhw2VoqB7y6Iure%2bZcgjDM2dh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Zhfc%2BK4EsW/C8/7YBvYqpmqfSDXf9ZsJF8c2R6p8uIBNrZkk2xiFqOp%2Be73yEACU2u44%2Bd9oJIyqZ/are7TffJttFm3zX25UW%2Bjz99G%2Bfatec2rMl%2BuN%2BaX0efRej/fii%2BFxTJ/nzvpPpTPJWfcEmy241nS8Izb/MGyuCTtfeaNI3fWiIBW%2BCiahY4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7Zdfj6M4FsW/S57nAUgyUre0D5Xlz8DEZkPZZmzVC52wARtSmQqZgFv93feaJFVJa0hpkfZtH1pqdXX9uL4%2B99zj75Nd3jbLcqcOk6/fJ9nx0LxlVZmt8535y%2BTrJO%2Bio/ijsEjqd5nDulC%2BlkjyKU5DzZ1VwwntxD8tC5P1aUm2GhHe4Ho15aRSXC9KnPp1uLP%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZbLbts4FIbfxesuJNkq0AKzaEaXSg2pWuGlJLJRbE0sknLcWK5lFX33OZTtxCmqFNVqFrMwYEjCx8Nz%2Bc/fbIu2%2Ba6Wuvt5P33SbHbNo%2BFqYpFubZ/Ju8n5SHdyS8rh/DoUHjskKiHSnC6F13iyYA2kqCprBxHqsS/JiuD4nkjvHyFgmWF6rBFau4ka%2BevyZtn%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZZLj9pIFIX/C%2Bss/MCROlIW6fEjJlR5XNQjVeqNGzxgV5kmjQnGrfz3XBtI6EychXcjzQIJDPrq1rn33MPLZJs39bzY6v3k3cskO%2Bzr58wU2TLfdm8m7yb5aXZQnzcWFeEpc/gpLp8KVPGNdFiLaVCjlmtVWJaq4mYuZhUudY18ZVQVahzFR1wiJ95a7ydvzvQiy7N9P[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZRBb6M4GIb/C%2BcegCSVUmkP2wFTmNgoxjbBysVtUME2NJOQCXHV/76Gye42u5M9ZKU97QEJgfV8r/19ft6dtuy7Rd2qvfPw7ojDvtsJXYuXsh1enAenPCUHvqpckoOT8Nkplm91IXUFI6aQCTtE6BR%2BcV3YAL0gyqRR3EHyYiCpJCS/eoVEddy6vzh3Tin23cHW%2BSk[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZFLj6JAFIX/S617ASgmmrixrUJoC2M9bjWETdkyDVSJNqKNGv97Y9KLeewms5zFTW7u45zkfDdU5127LGtzRJMb0qdj22hb6re8fjRogvJLdEpfC0coctEeXMJqXya7uEo87Mfz95YG2F89O84qoMOlIkXiyZZ6kU2qxE12kU2rtR/WzhQ99Vaf11xbXW/rfdMWP4nLgFy2gXW0Gp%2B4B/7DhHI8DKX/kV4JBynbsPwsNzsYbkl03jqtzXk4CitcUPHuhHIslZix3MBAqjaKCZHKsBXD/ly%2BHurcRliIiGnjDoUDMbVklAwOMSPpTlbkRcgO3vBBao8tpSudHI8/uAGmvS4GDEfhhp00KVDAriCy4xb3NQM6twsw7JxDBLFMFduxNaj2Ghu3UWbMwUYJzHt9EkMMwMEcFhJgxSyMNgPL9WD2AkFruNvvF0V/b30woICkgTJ%2B722HQrIzhei4GRQUIH0G0efR/3PulD/W0ym6P5L9hriqF3u77VF%2BD6luTN70Sd%2ByP%2BBmaJL9M7wZesp%2BB/yLwX/Ef484Q3d0/wI%3D
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2025-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastasia","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-04-23T02:18:29.5492990Z","key2":"2025-04-23T02:18:29.5492990Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-04-23T02:18:29.4399263Z","primaryEndpoints":{"dfs":"https://hdicli000002.dfs.core.windows.net/","web":"https://hdicli000002.z7.web.core.windows.net/","blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastasia","statusOfPrimary":"available","secondaryLocation":"southeastasia","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://hdicli000002-secondary.dfs.core.windows.net/","web":"https://hdicli000002-secondary.z7.web.core.windows.net/","blob":"https://hdicli000002-secondary.blob.core.windows.net/","queue":"https://hdicli000002-secondary.queue.core.windows.net/","table":"https://hdicli000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2025-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-04-23T02:18:29.5492990Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-04-23T02:18:29.5492990Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/EastAsia/billingSpecs?api-version=2025-01-15-preview
  response:
    body:
      string: '{"vmSizes":["STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2M_V2","STANDARD_A4_V2","STANDARD_A4M_V2","STANDARD_A8_V2","STANDARD_A8M_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15","STANDARD_D15_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS15_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E48A_V4","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E64S_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_F1","STANDARD_F16","STANDARD_F16S_V2","STANDARD_F2","STANDARD_F2S_V2","STANDARD_F32S_V2","STANDARD_F4","STANDARD_F4S_V2","STANDARD_F64S_V2","STANDARD_F72S_V2","STANDARD_F8","STANDARD_F8S_V2"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E48a_v4","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E64s_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4","Standard_F16s_v2","Standard_F2s_v2","Standard_F32s_v2","Standard_F4s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s_v2"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNodeRole","EdgeNodeRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["HBase"],"nodeTypes":["ZookeeperRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","[...]
- request:
    body: '{"location": "EastAsia", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "virtualNetworkProfile": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003?api-version=2025-01-15-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2504170544.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"205df6f460fc412783a785257c0f08c3","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-06-27T03:56:52.22","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":null,"key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003","name":"cli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        Asia","etag":"5e6e65cd-534d-4272-9aee-fbe612bd8390","tags":null}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865934125386555&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE5MTMxMzMyWhcNMjUxMDE2MTMxMzMyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/create?api-version=2025-01-15-preview&t=638865934125386555&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE5MTMxMzMyWhcNMjUxMDE2MTM[...]
[...]
- request:
    body: '{"autoscale": {"capacity": {"minInstanceCount": 4, "maxInstanceCount":
      5}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/roles/workernode/autoscale?api-version=2025-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/4a0a1eaf-9d1f-46a8-98b5-3ff99f91ccb0-0-r?api-version=2025-01-15-preview&t=638865950377988397&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/4a0a1eaf-9d1f-46a8-98b5-3ff99f91ccb0-0-r?api-version=2025-01-15-preview&t=638865950378144687&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/9cd088c2-ba35-4e7d-8e29-89edcaff0115-0-r?api-version=2025-01-15-preview&t=638865952612229310&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/9cd088c2-ba35-4e7d-8e29-89edcaff0115-0-r?api-version=2025-01-15-preview&t=638865952612229310&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/308334ff-3167-4aa1-b21b-f14b7c248c76-0-r?api-version=2025-01-15-preview&t=638865953626988743&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/308334ff-3167-4aa1-b21b-f14b7c248c76-0-r?api-version=2025-01-15-preview&t=638865953627144949&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: '{"autoscale": {"recurrence": {"timeZone": "China Standard Time", "schedule":
      [{"days": ["Monday"], "timeAndCapacity": {"time": "09:00", "minInstanceCount":
      4, "maxInstanceCount": 4}}]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/roles/workernode/autoscale?api-version=2025-01-15-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/a370995c-b761-4f51-b4a8-9a6f5e32ef8f-0-r?api-version=2025-01-15-preview&t=638865954625247975&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/a370995c-b761-4f51-b4a8-9a6f5e32ef8f-0-r?api-version=2025-01-15-preview&t=638865954625247975&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/a97c8a30-eb45-4fe3-8a28-a2c7f4372ad8-0-r?api-version=2025-01-15-preview&t=638865955640669072&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/a97c8a30-eb45-4fe3-8a28-a2c7f4372ad8-0-r?api-version=2025-01-15-preview&t=638865955640825311&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/e088c7d3-de02-48f4-a474-727fb5579e58-0-r?api-version=2025-01-15-preview&t=638865956644184523&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/e088c7d3-de02-48f4-a474-727fb5579e58-0-r?api-version=2025-01-15-preview&t=638865956644184523&c=MIIHhzCCBm-gAwIBAgITHgbLuWlxY4-k_d1algAABsu5aTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNM[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/azureasyncoperations/84569616-40ee-444e-b632-f975c17acfaa-0-r?api-version=2025-01-15-preview&t=638865957638124344&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000003/operationresults/84569616-40ee-444e-b632-f975c17acfaa-0-r?api-version=2025-01-15-preview&t=638865957638280660&c=MIIHpTCCBo2gAwIBAgITOgWXBJzHWActAOyA9gAEBZcEnDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNM[...]
[...]
