interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2022-09-01&%24skiptoken=rdFPa4MwGAbw75JzD07spbDDumrn8E2gc8te8SKdVOOfQo1oIv3ui9JtdCCDsut7%2bOXJ8wykTnsZ5HXRkNVAmmMrs31ay1NStuZCUvXcRu%2bZFXJPJfab8sUxjzgsMQSHViAZ9zJQlkX1OgvCg6LiQVLtdhAeetTrCjX0fm3dkwVJk0bOm1VUMu53dGvM0LXhxbJg69%2bNJgiUWLlL5LRAcdB0s%2f8yk7YZo%2bbJiM%2fEZVu3Q%2b7lqH1JOWj2ONGdoR3GwdBeCXwnzBM2VrvyEvevFlBEGeO7DDRICPc6GhPb0AemEapRQvWqULgO23iCClATe1789M3qp2P5YVq%2fHCE5FenJfGKIf%2b0Qk1X8b0vEZGGwaYt594Y1Jvdqj1n%2blkUm%2fnuTWfqWVWJyJudP"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2022-09-01&$skiptoken=rdFPa4MwGAbw75JzD07spbDDumrn8E2gc8te8SKdVOOfQo1oIv3ui9JtdCCDsut7%2BOXJ8wykTnsZ5HXRkNVAmmMrs31ay1NStuZCUvXcRu%2BZFXJPJfab8sUxjzgsMQSHViAZ9zJQlkX1OgvCg6LiQVLtdhAeetTrCjX0fm3dkwVJk0bOm1VUMu53dGvM0LXhxbJg69%2BNJgiUWLlL5LRAcdB0s/8yk7YZo%2BbJiM/EZVu3Q%2B7lqH1JOWj2ONGdoR3GwdBeCXwnzBM2VrvyEvevFlBEGeO7DDRICPc6GhPb0AemEapRQvWqULgO23iCClATe1789M3qp2P5YVq/HCE5FenJfGKIf%2B0Qk1X8b0vEZGGwaYt594Y1Jvdqj1n%2BlkUm/nuTWfqWVWJyJudP
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"eastus","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3746'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2024-01-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2025-02-21T13:38:39.0631558Z","key2":"2025-02-21T13:38:39.0631558Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-21T13:38:39.4381503Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-02-21T13:38:39.4381503Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-02-21T13:38:38.9069164Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2024-01-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-02-21T13:38:39.0631558Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-02-21T13:38:39.0631558Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/eastus/billingSpecs?api-version=2024-08-01-preview
  response:
    body:
      string: '{"vmSizes":["A5","A6","A7","STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2m_V2","STANDARD_A4_V2","STANDARD_A4m_V2","STANDARD_A5","STANDARD_A6","STANDARD_A7","STANDARD_A8_V2","STANDARD_A8m_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D16A_V4","STANDARD_D16ADS_V5","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D2ADS_V5","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4[...]
- request:
    body: '{"location": "eastus", "properties": {"clusterVersion": "default", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "true", "restAuthCredential.username": "admin",
      "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile": {"username":
      "sshuser", "password": "Password1!"}}, "encryptDataDisks": false}, {"name":
      "workernode", "targetInstanceCount": 3, "hardwareProfile": {"vmSize": "STANDARD_E8_V3"},
      "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser", "password":
      "Password1!"}}, "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts":
      [{"name": "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "veryFakedStorageAccountKey==", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2024-08-01-preview
  response:
    body:
      string: '{"code":"BadRequest","message":"Internal error. Errors:The request
        payload is invalid.,Internal error. Errors:The request payload is invalid.,Internal
        error. Errors:The request payload is invalid."}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - eastus
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
version: 1
