interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01
  response:
    body:
      string: '{"value":[],"nextLink":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?%24filter=resourceType+eq+%27Microsoft.Storage%2fstorageAccounts%27+and+name+eq+%27hdicli000002%27&api-version=2024-11-01&%24skiptoken=5Vlbc9pIF%2fwvPOdBF0hVUrUP9koiYj2jRcyMPFN%2bkYEFjSTsNWIBpfLft0dcAvtFuFb53vYhSXFx60yfPn2mna%2b91XxXPWSrfN37%2fLW3na%2br%2bebt5XXe%2b9yb70cb9bi0WBLsU0fsQ%2f2SqeF4oBJVUodXsgwHcmJZxCPuAytyyRaVrKc11blDHH8rmT8IV9YvvQ%2b96XxVvaXFBg%2f5IaxM%2fD2pp7ZivFJsvI8MbBKUD4k%2fIAneG8YlrYmtNL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=5Vlbc9pIF/wvPOdBF0hVUrUP9koiYj2jRcyMPFN%2BkYEFjSTsNWIBpfLft0dcAvtFuFb53vYhSXFx60yfPn2mna%2B91XxXPWSrfN37/LW3na%2Br%2Bebt5XXe%2B9yb70cb9bi0WBLsU0fsQ/2SqeF4oBJVUodXsgwHcmJZxCPuAytyyRaVrKc11blDHH8rmT8IV9YvvQ%[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZhPb%2BO2FsW/i9ezkGSrwAzwFk71p1JDqlZIqiSy0dh6sSnJcR25ljWY795D2c44RZWgAt7uLQIktvHT5bnnXh7n22RbtM39Zlu%2BTL58mxyLl6Y47J93xeTLpDjFB/X72mJZcModcYr084Z2TzZ11FrpRUPq6EQfLEtlQXnP1loy3hBGK6lTfI6WkslptLX%2BM/k0WRb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZdLj5tIFIX/i9dZADaREmkW7eERiKuIy/VIlXpDDGpDFW6njWNMK/99LjTdaUeipaBZzGIWlmxAH/eeOvce%2BXG2z5t6Vez1cfbxcXbOj/UJvs3yS3xSX3cWFcEldfglKu8LXC514kkbe%2BtaUmajwrJQGV1WwrdxJWvkyAaV2xbTG1tVSkd766/Zu1mevsGU1G%2BVkAt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZRdj9o4FIb/C9e9SAJUmkq9KJuPJsXOYuyTsTU3GciS2CZQMCVkNP99nQxtZ1ZKpWX3ZqW9QMoHevzm9fHzNKqLxsyrWh1HH55GRX40J3s1Ki7JSdyXDs3CS%2B7BJZa7iregkV%2BW2EMGS1ylvzkOkqKc042LfWTSKFFoG5bC12Xqz3RcOx9H73pmfqzyASqiieYeKVG7M[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?$filter=resourceType%20eq%20%27Microsoft.Storage/storageAccounts%27%20and%20name%20eq%20%27hdicli000002%27&api-version=2024-11-01&$skiptoken=7ZTLbqMwFED/hXUXQEKkVJrFpLEpNDaK8SOgbJxiTYMNSRPSEKr%2B%2B5io80ilaKRqNKtZIPG4Ovfhe3h1atU2s3Wt987tq6PkvpH7tXRuHXWKD/niyaUCnqTPT1G5WWfdvMs6NsxE1OQ08/I7102meTUT0TGhqEFlFODucZDQYo2n0ES1%2B8W5cQ56vzk0T9egtKhwCfxkmjXIJyVKLTTkxkID1H1tsB8Ns/LxhCizYO2%2BQ8/IP9SL/bmfVajNBWhyi8C23oxOdI/OStYkU%2BZmIrM9xQaFkf%2BOrtWxU9LIuqg3u4u6WQhPRWhcKcaH1OdBPxSUgmHEgue8gylnrInWx/Wq4sMCxi%2BF2xiVRqOoBE92ODZuzASdEKX5gIkmxhAyoUlCQDBli22tTAwojYnU3pC6HCMDR9lgiwnMK1bCB8pa/gi2TPpkxjzmKjB%2BTjUn0m8xB3xPvahlOueIA49C1qYG2GvC0dTcc01eFI85N0XKKec9L7X5VgOTrkAgOYUpMUQwG09EC/hi28fvLvLBWIiFEYTnzPIg1t7O1p2oCo%2Box0Ni59DzSNje076/jud2NryO%2BpvH4jtny62WFXjgGku59obrQDB0nU7yglUOqCI5YTrwNaZY5XGY7tA8rBvdtKs5aOq%2B5srm4QELHE4P%2BbCrqIfG3xyXVwyb0a/uSgEDZ6yAFPkZZRrVKHj%2Bbjfbn4pkNT3G1NYEd5fIrnTamezvS5/qrF0bu3DX5Jj6dwsf%2BhxHfwJQc7gC0Wu4j8jyRn/QZOLBP9F%2BfeinA/loyoXp/L7v/wzsiydN%2BftOw%3D%3D
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yukundemo1/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","location":"eastasia","tags":{}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Example","givenName":null,"jobTitle":null,"mail":"Example5@bookings.microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"Example5@microsoft.onmicrosoft.com","id":"00000000-0000-0000-0000-000000000000"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF0002FCD0"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/test@example.com
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Example","givenName":null,"jobTitle":null,"mail":"Example6@bookings.microsoft.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"test@example.com","id":"b13fdbd7-3ad8-4ead-b21e-f4800f0a9237"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"003","RoleInstance":"SI1PEPF0002EA68"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yukundemo1/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yukundemo1/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastasia","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2025-10-17T05:50:37.0594106Z","key2":"2025-10-17T05:50:42.2782312Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"allowSharedKeyAccess":true,"largeFileSharesState":"Enabled","networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-04-23T02:18:29.5492990Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2025-04-23T02:18:29.4399263Z","primaryEndpoints":{"dfs":"https://hdicli000002.dfs.core.windows.net/","web":"https://hdicli000002.z7.web.core.windows.net/","blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastasia","statusOfPrimary":"available","secondaryLocation":"southeastasia","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://hdicli000002-secondary.dfs.core.windows.net/","web":"https://hdicli000002-secondary.z7.web.core.windows.net/","blob":"https://hdicli000002-secondary.blob.core.windows.net/","queue":"https://hdicli000002-secondary.queue.core.windows.net/","table":"https://hdicli000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.HDInsight/locations/EastAsia/billingSpecs?api-version=2025-01-15-preview
  response:
    body:
      string: '{"vmSizes":["STANDARD_A1_V2","STANDARD_A2_V2","STANDARD_A2M_V2","STANDARD_A4_V2","STANDARD_A4M_V2","STANDARD_A8_V2","STANDARD_A8M_V2","STANDARD_D1","STANDARD_D1_V2","STANDARD_D11","STANDARD_D11_V2","STANDARD_D12","STANDARD_D12_V2","STANDARD_D13","STANDARD_D13_V2","STANDARD_D14","STANDARD_D14_V2","STANDARD_D15","STANDARD_D15_V2","STANDARD_D16A_V4","STANDARD_D2","STANDARD_D2_V2","STANDARD_D2A_V4","STANDARD_D3","STANDARD_D3_V2","STANDARD_D32A_V4","STANDARD_D4","STANDARD_D4_V2","STANDARD_D48A_V4","STANDARD_D4A_V4","STANDARD_D5","STANDARD_D5_V2","STANDARD_D64A_V4","STANDARD_D8A_V4","STANDARD_D96A_V4","STANDARD_DS1_V2","STANDARD_DS11_V2","STANDARD_DS12_V2","STANDARD_DS13_V2","STANDARD_DS14_V2","STANDARD_DS15_V2","STANDARD_DS2_V2","STANDARD_DS3_V2","STANDARD_DS4_V2","STANDARD_DS5_V2","STANDARD_E16_V3","STANDARD_E16A_V4","STANDARD_E16S_V3","STANDARD_E2_V3","STANDARD_E20_V3","STANDARD_E20A_V4","STANDARD_E20S_V3","STANDARD_E2A_V4","STANDARD_E2S_V3","STANDARD_E32_V3","STANDARD_E32A_V4","STANDARD_E32S_V3","STANDARD_E4_V3","STANDARD_E48A_V4","STANDARD_E4A_V4","STANDARD_E4S_V3","STANDARD_E64_V3","STANDARD_E64A_V4","STANDARD_E64I_V3","STANDARD_E64IS_V3","STANDARD_E64S_V3","STANDARD_E8_V3","STANDARD_E8A_V4","STANDARD_E8S_V3","STANDARD_E96A_V4","STANDARD_F1","STANDARD_F16","STANDARD_F16S_V2","STANDARD_F2","STANDARD_F2S_V2","STANDARD_F32S_V2","STANDARD_F4","STANDARD_F4S_V2","STANDARD_F64S_V2","STANDARD_F72S_V2","STANDARD_F8","STANDARD_F8S_V2"],"vmSizesWithEncryptionAtHost":["Standard_D16a_v4","Standard_D2a_v4","Standard_D32a_v4","Standard_D48a_v4","Standard_D4a_v4","Standard_D64a_v4","Standard_D8a_v4","Standard_D96a_v4","Standard_DS11_v2","Standard_DS12_v2","Standard_DS13_v2","Standard_DS14_v2","Standard_DS15_v2","Standard_DS1_v2","Standard_DS2_v2","Standard_DS3_v2","Standard_DS4_v2","Standard_DS5_v2","Standard_E16a_v4","Standard_E16s_v3","Standard_E20a_v4","Standard_E20s_v3","Standard_E2a_v4","Standard_E2s_v3","Standard_E32a_v4","Standard_E32s_v3","Standard_E48a_v4","Standard_E4a_v4","Standard_E4s_v3","Standard_E64a_v4","Standard_E64is_v3","Standard_E64s_v3","Standard_E8a_v4","Standard_E8s_v3","Standard_E96a_v4","Standard_F16s_v2","Standard_F2s_v2","Standard_F32s_v2","Standard_F4s_v2","Standard_F64s_v2","Standard_F72s_v2","Standard_F8s_v2"],"vmSizeFilters":[{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["Sandbox"],"nodeTypes":["*"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["*"],"nodeTypes":["HeadNodeRole","WorkerNodeRole","EdgeNodeRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","regions":["*"],"clusterFlavors":["HBase"],"nodeTypes":["ZookeeperRole"],"clusterVersions":["*"],"osType":["Linux"],"vmSizes":["STANDARD_A1_V2"],"espApplied":null,"computeIsolationSupported":null},{"filterMode":"Exclude","[...]
- request:
    body: '{"location": "EastAsia", "properties": {"clusterVersion": "5.1", "osType":
      "Linux", "clusterDefinition": {"kind": "spark", "configurations": {"gateway":
      {"restAuthCredential.isEnabled": "false", "restAuthEntraUsers": "[{\"ObjectId\":
      \"00000000-0000-0000-0000-000000000000\", \"DisplayName\": \"Example\", \"Upn\":
      \"Example5@microsoft.onmicrosoft.com\"}, {\"ObjectId\": \"b13fdbd7-3ad8-4ead-b21e-f4800f0a9237\",
      \"DisplayName\": \"Example\", \"Upn\": \"test@example.com\"}]"}}},
      "computeProfile": {"roles": [{"name": "headnode", "targetInstanceCount": 2,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "STANDARD_E8_V3"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}, "virtualNetworkProfile":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0",
      "subnet": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},
      "encryptDataDisks": false}]}, "storageProfile": {"storageaccounts": [{"name":
      "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yukundemo1/providers/Microsoft.Storage/storageAccounts/hdicli000002",
      "msiResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi"}]}},
      "identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002?api-version=2025-01-15-preview
  response:
    body:
      string: '{"properties":{"clusterVersion":"5.1.3000.0","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-5.1.3000.0.2506160526.json","kind":"spark","componentVersion":{"spark":"3.3"}},"clusterId":"30767f5ae11f42f28f12e1117a628aea","computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"standard_e8_v3"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"virtualNetworkProfile":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0","subnet":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/hdi-vn-0/subnets/default"},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2025-10-17T07:43:12.703","quotaInfo":{"coresUsed":40},"tier":"standard","encryptionInTransitProperties":{"isEncryptionInTransitEnabled":false},"storageProfile":{"storageaccounts":[{"name":"hdicli000002.blob.core.windows.net","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yukundemo1/providers/Microsoft.Storage/storageAccounts/hdicli000002","msiResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi","key":null,"fileSystem":null,"container":"default","saskey":null,"isDefault":true,"enableSecureChannel":null,"fileshare":null}]},"minSupportedTlsVersion":"1.2","excludedServicesConfig":{"excludedServicesConfigId":"default","excludedServicesList":""},"computeIsolationProperties":{"enableComputeIsolation":false,"hostSku":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002","name":"cli-000002","type":"Microsoft.HDInsight/clusters","location":"East
        Asia","etag":"4ccdd3e6-59d2-4ecd-b25f-1ef6606d3e8b","tags":{"ms.inv.v0.backedby.origin.sourcearmid.0":"","ms.inv.v0.backedby.origin.sourcearmid.1":"","ms.inv.v0.backedby.origin.tenantid":"","ms.inv.v0.security.ownerrole":""},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg/providers/Microsoft.ManagedIdentity/userAssignedIdentities/msi":{}}}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/create?api-version=2025-01-15-preview&t=638962837933083876&c=MIIHhzCCBm-gAwIBAgITHgcu7CqRjZ8dDdifVgAABy7sKjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNzE3MDkxMTAyWhcNMjYwMTEzMDkxMTAyWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tY[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/create?api-version=2025-01-15-preview&t=638962837933083876&c=MIIHhzCCBm-gAwIBAgITHgcu7CqRjZ8dDdifVgAABy7sKjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNzE3MDkxMTAyWhcNMjYwMTEzMDk[...]
[...]
- request:
    body: '{"restAuthCredential.isEnabled": false, "restAuthEntraUsers": [{"objectId":
      "034919d3-b70a-4646-a07c-aa1f15b0fa2c", "displayName": "Example", "upn": "Example3@microsoft.onmicrosoft.com"},
      {"objectId": "50333c09-8542-472c-adaa-eb66995d349e", "displayName": "example",
      "upn": "example4@microsoft.onmicrosoft.com"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/updateGatewaySettings?api-version=2025-01-15-preview
  response:
    body:
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/0b6ed092-cdc5-4633-96f6-a9ff3bcf28d1-0-r?api-version=2025-01-15-preview&t=638962855066961989&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/operationresults/0b6ed092-cdc5-4633-96f6-a9ff3bcf28d1-0-r?api-version=2025-01-15-preview&t=638962855067118276&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/users/test1@example.com
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Example","givenName":null,"jobTitle":null,"mail":"test1@example.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"test1@example.com","id":"b3bc30d3-da78-414f-8b82-3caec1f4eeff"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"Southeast Asia","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SG1PEPF00014E73"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/azureasyncoperations/c2c13fd0-1f3e-486b-ba53-75ee4d751556-0-r?api-version=2025-01-15-preview&t=638962855424959490&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwH[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/operationresults/c2c13fd0-1f3e-486b-ba53-75ee4d751556-0-r?api-version=2025-01-15-preview&t=638962855425115509&c=MIIIpTCCBo2gAwIBAgITFgGt2JEpNowfqCnGHAABAa3YkTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNM[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/cli-000002/getGatewaySettings?api-version=2025-01-15-preview
  response:
    body:
      string: '{"restAuthEntraUsers":[{"objectId":"00000000-0000-0000-0000-000000000000","displayName":"Example","upn":"Example5@microsoft.onmicrosoft.com"},{"objectId":"b13fdbd7-3ad8-4ead-b21e-f4800f0a9237","displayName":"Example","upn":"test@example.com"},{"objectId":"034919d3-b70a-4646-a07c-aa1f15b0fa2c","displayName":"Example","upn":"Example3@microsoft.onmicrosoft.com"},{"objectId":"50333c09-8542-472c-adaa-eb66995d349e","displayName":"example","upn":"example4@microsoft.onmicrosoft.com"},{"objectId":"b3bc30d3-da78-414f-8b82-3caec1f4eeff","displayName":"Example","upn":"test1@example.com"},{"objectId":"5a865dd2-9b6a-4df3-8355-e1dc8c042a15","displayName":"Example","upn":"test2@example.com"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-hdi-served-by:
      - eastasia
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
