{
  "swagger": "2.0",
  "info": {
    "title": "LbCreationClient",
    "version": "2015-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "put": {
        "tags": [
          "Lb"
        ],
        "operationId": "Lb_CreateOrUpdate",
        "description": "Create or update a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "x-ms-client-flatten": true,
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment_Lb"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Deployment_Lb": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties_Lb",
          "description": "Gets or sets the deployment properties.",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deployment operation parameters."
    },
    "DeploymentProperties_Lb": {
      "properties": {
        "templateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink.",
          "x-ms-client-flatten": true
        },
        "parameters": {
          "$ref": "#/definitions/LbParameters",
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "x-ms-client-flatten": true
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "required": [
        "templateLink",
        "parameters",
        "mode"
      ],
      "description": "Deployment properties."
    },
    "TemplateLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template.",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-06-20/azuredeploy.json"
          ]
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the template."
    },
    "LbParameters": {
      "properties": {
        "_artifactsLocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter__artifactsLocation",
          "x-ms-client-flatten": true
        },
        "backendPoolName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_backendPoolName",
          "x-ms-client-flatten": true
        },
        "dnsNameType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_dnsNameType",
          "x-ms-client-flatten": true
        },
        "loadBalancerName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_loadBalancerName",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_location",
          "x-ms-client-flatten": true
        },
        "privateIpAddress": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_privateIpAddress",
          "x-ms-client-flatten": true
        },
        "privateIpAddressAllocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_privateIpAddressAllocation",
          "x-ms-client-flatten": true
        },
        "publicIpAddress": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddress",
          "x-ms-client-flatten": true
        },
        "publicIpAddressAllocation": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressAllocation",
          "x-ms-client-flatten": true
        },
        "publicIpAddressType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpAddressType",
          "x-ms-client-flatten": true
        },
        "publicIpDnsName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_publicIpDnsName",
          "x-ms-client-flatten": true
        },
        "subnet": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnet",
          "x-ms-client-flatten": true
        },
        "subnetAddressPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetAddressPrefix",
          "x-ms-client-flatten": true
        },
        "subnetType": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_subnetType",
          "x-ms-client-flatten": true
        },
        "virtualNetworkName": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_virtualNetworkName",
          "x-ms-client-flatten": true
        },
        "vnetAddressPrefix": {
          "type": "object",
          "$ref": "#/definitions/DeploymentParameter_vnetAddressPrefix",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "_artifactsLocation",
        "loadBalancerName"
      ]
    },
    "DeploymentParameter_backendPoolName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name of load balancer backend pool.",
          "x-ms-client-name": "backendPoolName"
        }
      }
    },
    "DeploymentParameter_dnsNameType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Associate VMs with a public IP address to a DNS name.",
          "x-ms-client-name": "dnsNameType",
          "enum": [
            "none",
            "new"
          ],
          "default": "none"
        }
      }
    },
    "DeploymentParameter_loadBalancerName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name for load balancer.",
          "x-ms-client-name": "loadBalancerName"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentParameter_location": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Location for load balancer resource.",
          "x-ms-client-name": "location"
        }
      }
    },
    "DeploymentParameter_privateIpAddress": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Static private IP address to use.",
          "x-ms-client-name": "privateIpAddress"
        }
      }
    },
    "DeploymentParameter_privateIpAddressAllocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Private IP address allocation method.",
          "x-ms-client-name": "privateIpAddressAllocation",
          "enum": [
            "dynamic",
            "static"
          ],
          "default": "dynamic"
        }
      }
    },
    "DeploymentParameter_publicIpAddress": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Name or ID of the public IP address to use.",
          "x-ms-client-name": "publicIpAddress"
        }
      }
    },
    "DeploymentParameter_publicIpAddressAllocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Public IP address allocation method.",
          "x-ms-client-name": "publicIpAddressAllocation",
          "enum": [
            "dynamic",
            "static"
          ],
          "default": "dynamic"
        }
      }
    },
    "DeploymentParameter_publicIpAddressType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Type of Public IP Address to associate with the load balancer.",
          "x-ms-client-name": "publicIpAddressType",
          "enum": [
            "none",
            "new",
            "existingName",
            "existingId"
          ],
          "default": "new"
        }
      }
    },
    "DeploymentParameter_publicIpDnsName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Globally unique DNS Name for the Public IP used to access the Virtual Machine (new public IP only).",
          "x-ms-client-name": "publicIpDnsName"
        }
      }
    },
    "DeploymentParameter_subnet": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The subnet name or ID to associate with the load balancer. Cannot be used in conjunction with a Public IP.",
          "x-ms-client-name": "subnet"
        }
      }
    },
    "DeploymentParameter_subnetAddressPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The subnet address prefix in CIDR format (new subnet only).",
          "x-ms-client-name": "subnetAddressPrefix",
          "default": "10.0.0.0/24"
        }
      }
    },
    "DeploymentParameter_subnetType": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Use new, existing or no subnet.",
          "x-ms-client-name": "subnetType",
          "enum": [
            "none",
            "new",
            "existingName",
            "existingId"
          ],
          "default": "none"
        }
      }
    },
    "DeploymentParameter_virtualNetworkName": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The VNet name containing the subnet. Cannot be used in conjunction with a Public IP.",
          "x-ms-client-name": "virtualNetworkName"
        }
      }
    },
    "DeploymentParameter_vnetAddressPrefix": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The virtual network IP address prefix in CIDR format (new subnet only).",
          "x-ms-client-name": "vnetAddressPrefix",
          "default": "10.0.0.0/16"
        }
      }
    },
    "DeploymentParameter__artifactsLocation": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Container URI of of the template.",
          "x-ms-client-name": "_artifactsLocation",
          "enum": [
            "https://azuresdkci.blob.core.windows.net/templatehost/CreateLb_2016-06-20"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "ParametersLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI referencing the template."
        },
        "contentVersion": {
          "type": "string",
          "description": "If included it must match the ContentVersion in the template."
        }
      },
      "required": [
        "uri"
      ],
      "description": "Entity representing the reference to the deployment paramaters."
    },
    "ProviderResourceType": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the resource type."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the collection of locations where this resource type can be created in."
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the api version."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the properties."
        }
      },
      "description": "Resource type managed by the resource provider."
    },
    "Provider": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the provider id."
        },
        "namespace": {
          "type": "string",
          "description": "Gets or sets the namespace of the provider."
        },
        "registrationState": {
          "type": "string",
          "description": "Gets or sets the registration state of the provider."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "description": "Gets or sets the collection of provider resource types."
        }
      },
      "description": "Resource provider information."
    },
    "BasicDependency": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "Dependency": {
      "properties": {
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          },
          "description": "Gets the list of dependencies."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the dependency."
        },
        "resourceType": {
          "type": "string",
          "description": "Gets or sets the dependency resource type."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the dependency resource name."
        }
      },
      "description": "Deployment dependency information."
    },
    "DeploymentPropertiesExtended": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the state of the provisioning."
        },
        "correlationId": {
          "type": "string",
          "description": "Gets or sets the correlation ID of the deployment."
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the timestamp of the template deployment."
        },
        "outputs": {
          "type": "object",
          "description": "Gets or sets key/value pairs that represent deploymentoutput."
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "description": "Gets the list of resource providers needed for the deployment."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "description": "Gets the list of deployment dependencies."
        },
        "template": {
          "type": "object",
          "description": "Gets or sets the template content. Use only one of Template or TemplateLink."
        },
        "TemplateLink": {
          "$ref": "#/definitions/TemplateLink",
          "description": "Gets or sets the URI referencing the template. Use only one of Template or TemplateLink."
        },
        "parameters": {
          "type": "object",
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink."
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink",
          "description": "Gets or sets the URI referencing the parameters. Use only one of Parameters or ParametersLink."
        },
        "mode": {
          "type": "string",
          "description": "Gets or sets the deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        }
      },
      "description": "Deployment properties with additional details."
    },
    "DeploymentExtended": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the ID of the deployment."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the deployment."
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "Gets or sets deployment properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "Deployment information."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}