interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Subscription/subscriptionDefinitions?api-version=2017-11-01-preview
  response:
    body: {string: '{"value":[{"id":"/providers/Microsoft.Subscription/subscriptionDefinitions/1e4333cd-c2a7-484c-bcb3-1875333cda2c","name":"1e4333cd-c2a7-484c-bcb3-1875333cda2c","properties":{"etag":"ufjPyg==","subscriptionDisplayName":"My
        New Sub From PS","subscriptionId":"142ac143-af82-4306-97f0-7139f5f069da","offerType":"MS-AZR-0017P"},"type":"Microsoft.Subscription/subscriptionDefinitions"},{"id":"/providers/Microsoft.Subscription/subscriptionDefinitions/MyCliSub","name":"MyCliSub","properties":{"etag":"ed0rxw==","subscriptionDisplayName":"MyCliSub","subscriptionId":"99640677-f394-4f42-a8a6-87cfdb7c0115","offerType":"MS-AZR-0017P"},"type":"Microsoft.Subscription/subscriptionDefinitions"},{"id":"/providers/Microsoft.Subscription/subscriptionDefinitions/MyProdSubDef99","name":"MyProdSubDef99","properties":{"etag":"HlRr6g==","subscript[...]
- request:
    body: 'b''{"properties": {"subscriptionDisplayName": "cli000001", "offerType":
      "MS-AZR-0148P"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Subscription/subscriptionDefinitions/cli000001?api-version=2017-11-01-preview
  response:
    body: {string: '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/9bb6bad2-f835-417d-b426-367a25f4185f?api-version=2017-11-01-preview']
      x-ms-ratelimit-remaining-tenant-resource-requests: ['499']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/9bb6bad2-f835-417d-b426-367a25f4185f?api-version=2017-11-01-preview
  response:
    body: {string: '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/9bb6bad2-f835-417d-b426-367a25f4185f?api-version=2017-11-01-preview']
    status: {code: 202, message: Accepted}
[...]
