interactions:
- request:
    body: '{"name": "cli000002", "type": "bot"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2020-06-02
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "bot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppId": "dab541d1-eed7-4c7a-8979-113ab1efcc8a", "isCmekEnabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"8d029e6b-0000-0800-0000-6245d6da0000\"","location":"global","sku":{"name":"F0"},"kind":"bot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"dab541d1-eed7-4c7a-8979-113ab1efcc8a","msaAppTenantId":null,"msaAppType":null,"msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":null,"disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"8d029e6b-0000-0800-0000-6245d6da0000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","name":"cli000002/WebChatChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"ee92f8eba5b6cd109b0e6094ac10269f3/31/2022
        4:29:16 PM\"","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"lRyt6G5yg9s","siteName":"Default
        Site","key":null,"key2":null,"isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"ee92f8eba5b6cd109b0e6094ac10269f3/31/2022
        4:29:16 PM\"","channelName":"WebChatChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ee92f8eba5b6cd109b0e6094ac10269f3/31/2022 4:29:16 PM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel/listChannelWithKeys?api-version=2020-06-02
  response:
    body:
      string: '{"resource":{"properties":{"sites":[{"siteId":"lRyt6G5yg9s","siteName":"Default
        Site","key":"lRyt6G5yg9s.GLUuWfxmePD1c5VpT3WVYOGmLIrYRtgieKu_1mHFgLU","key2":"lRyt6G5yg9s.ZMiT83Mqb0icsXFc_Rl_L8NzkLEDLLe8uFHh-GcRxgE","isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isBlockUserUploadEnabled":false,"isTokenEnabled":false}]},"etag":"W/\"dfa0a739d0cd913857fffa068274b8be3/31/2022
        4:29:17 PM\"","channelName":"WebChatChannel","location":"global"},"setting":{"extensionKey1":"","extensionKey2":"","sites":[{"siteId":"lRyt6G5yg9s","siteName":"Default
        Site","key":"lRyt6G5yg9s.GLUuWfxmePD1c5VpT3WVYOGmLIrYRtgieKu_1mHFgLU","key2":"lRyt6G5yg9s.ZMiT83Mqb0icsXFc_Rl_L8NzkLEDLLe8uFHh-GcRxgE","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"isTokenEnabled":false,"eTag":"\"92017841-0000-0800-0000-6245d6db0000\""}],"channelId":"webchat","channelDisplayName":"Web
        Chat","botId":"cli000002","botIconUrl":"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png","isEnabled":true,"disableLocalAuth":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"lRyt6G5yg9s","siteName":"Default
        Site","key":"lRyt6G5yg9s.GLUuWfxmePD1c5VpT3WVYOGmLIrYRtgieKu_1mHFgLU","key2":"lRyt6G5yg9s.ZMiT83Mqb0icsXFc_Rl_L8NzkLEDLLe8uFHh-GcRxgE","isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"dfa0a739d0cd913857fffa068274b8be3/31/2022
        4:29:17 PM\"","channelName":"WebChatChannel","location":"global"},"provisioningState":"Accepted","entityTag":"W/\"dfa0a739d0cd913857fffa068274b8be3/31/2022
        4:29:17 PM\"","changedTime":"0001-01-01T00:00:00Z","zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2020-06-02
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14996'
    status:
      code: 200
      message: OK
version: 1
