interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "tags": {"key1": "value1"}, "sku": {"name": "F0"},
      "kind": "azurebot", "properties": {"displayName": "cli000002", "description":
      "description1", "endpoint": "https://www.google.com/api/messages", "msaAppType":
      "SingleTenant", "msaAppId": "9238c7cd-baab-4b26-afa4-96247d4126ff", "msaAppTenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "isCmekEnabled": false, "publicNetworkAccess":
      "Enabled", "isStreamingSupported": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"0900abad-0000-0200-0000-65a9a6420000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{"key1":"value1"},"properties":{"displayName":"cli000002","description":"description1","iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"9238c7cd-baab-4b26-afa4-96247d4126ff","msaAppTenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","msaAppType":"SingleTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat","directline"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0900abad-0000-0200-0000-65a9a6420000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"sku": {"name": "F0"}, "properties": {"displayName": "cli000002", "description":
      "description2", "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
      "endpoint": "https://www.google.com/api/messages", "msaAppType": "SingleTenant",
      "msaAppId": "9238c7cd-baab-4b26-afa4-96247d4126ff", "msaAppTenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "luisAppIds": [], "isCmekEnabled": false, "publicNetworkAccess":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000004?api-version=2021-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
