interactions:
- request:
    body: '{"name": "cli000002", "type": "bot"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2020-06-02
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "tags": {"key1": "value1"}, "sku": {"name": "F0"},
      "kind": "bot", "properties": {"displayName": "cli000002", "description": "description1",
      "endpoint": "https://www.google.com/api/messages", "msaAppId": "05a145da-8951-460b-8fa6-75e8a83243ad",
      "isCmekEnabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"5b02f99a-0000-0800-0000-6245b0bb0000\"","location":"global","sku":{"name":"F0"},"kind":"bot","tags":{"key1":"value1"},"properties":{"displayName":"cli000002","description":"description1","iconUrl":"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"05a145da-8951-460b-8fa6-75e8a83243ad","msaAppTenantId":null,"msaAppType":null,"msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":null,"disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5b02f99a-0000-0800-0000-6245b0bb0000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"sku": {"name": "F0"}, "properties": {"displayName": "cli000002", "description":
      "description2", "iconUrl": "https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png",
      "endpoint": "https://www.google.com/api/messages", "msaAppId": "05a145da-8951-460b-8fa6-75e8a83243ad",
      "luisAppIds": [], "isCmekEnabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https:[...]
[...]
- request:
    body: '{"sku": {"name": "F0"}, "properties": {"displayName": "cli000003", "description":
      "description2", "iconUrl": "https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png",
      "endpoint": "https://www.google.com/api/messages", "msaAppId": "afa5bdaa-a6ec-42ac-b4a4-bd2d2a9ddcd7",
      "luisAppIds": [], "isCmekEnabled": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://manage[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000004?api-version=2020-06-02
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
