interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1196'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "azurebot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppType": "MultiTenant", "msaAppId": "307d138d-199a-4525-82b5-567e1e30a495",
      "isCmekEnabled": false, "publicNetworkAccess": "Enabled", "isStreamingSupported":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"fe04ce9d-0000-0800-0000-62afed680000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"307d138d-199a-4525-82b5-567e1e30a495","msaAppTenantId":null,"msaAppType":"MultiTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"33e01921-4d64-4f8c-a055-5bdaffd5e33d","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"fe04ce9d-0000-0800-0000-62afed680000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","name":"cli000002/WebChatChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"27886d779c8d223b2dfe3dcdb7be99ed6/20/2022
        3:45:48 AM\"","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"gFukTU7G_iY","siteName":"Default
        Site","key":null,"key2":null,"isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"27886d779c8d223b2dfe3dcdb7be99ed6/20/2022
        3:45:48 AM\"","channelName":"WebChatChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"27886d779c8d223b2dfe3dcdb7be99ed6/20/2022 3:45:48 AM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel/listChannelWithKeys?api-version=2021-05-01-preview
  response:
    body:
      string: '{"resource":{"properties":{"sites":[{"siteId":"gFukTU7G_iY","siteName":"Default
        Site","key":"gFukTU7G_iY.cMmKTPbRtyXj1hJjKQfeRaD-lLomfqMohGXr4aHleOM","key2":"gFukTU7G_iY.Lq8Pdzgty_JGi4sbim6P9sq_XbuK3-n399tqwT-4lT0","isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isBlockUserUploadEnabled":false,"isTokenEnabled":false}]},"etag":"W/\"a5cf021d964db846c7b14ea1163b6eba6/20/2022
        3:45:51 AM\"","channelName":"WebChatChannel","location":"global"},"setting":{"extensionKey1":"","extensionKey2":"","sites":[{"siteId":"gFukTU7G_iY","siteName":"Default
        Site","key":"gFukTU7G_iY.cMmKTPbRtyXj1hJjKQfeRaD-lLomfqMohGXr4aHleOM","key2":"gFukTU7G_iY.Lq8Pdzgty_JGi4sbim6P9sq_XbuK3-n399tqwT-4lT0","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"isTokenEnabled":false,"eTag":"\"26005b43-0000-0800-0000-62afed670000\""}],"channelId":"webchat","channelDisplayName":"Web
        Chat","botId":"cli000002","botIconUrl":"https://docs.scratch.botframework.com/static/devportal/client/images/bot-framework-default.png","isEnabled":true,"publicNetworkAccess":"Enabled","disableLocalAuth":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"gFukTU7G_iY","siteName":"Default
        Site","key":"gFukTU7G_iY.cMmKTPbRtyXj1hJjKQfeRaD-lLomfqMohGXr4aHleOM","key2":"gFukTU7G_iY.Lq8Pdzgty_JGi4sbim6P9sq_XbuK3-n399tqwT-4lT0","isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":true,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"a5cf021d964db846c7b14ea1163b6eba6/20/2022
        3:45:51 AM\"","channelName":"WebChatChannel","location":"global"},"provisioningState":"Accepted","entityTag":"W/\"a5cf021d964db846c7b14ea1163b6eba6/20/2022
        3:45:51 AM\"","changedTime":"0001-01-01T00:00:00Z","zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
