interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "azurebot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppType": "MultiTenant", "msaAppId": "54cd13d7-7acb-47f6-bc2e-631c27d3586e",
      "isCmekEnabled": false, "publicNetworkAccess": "Enabled", "isStreamingSupported":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"b7002577-0000-1800-0000-62b554330000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"54cd13d7-7acb-47f6-bc2e-631c27d3586e","msaAppTenantId":null,"msaAppType":"MultiTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b7002577-0000-1800-0000-62b554330000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"channelName": "MsTeamsChannel",
      "location": "global", "properties": {"isEnabled": true}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel","name":"cli000002/MsTeamsChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"c91fac118760c3e92ac037f8db84074b6/24/2022
        6:05:47 AM\"","location":"global","properties":{"properties":{"enableCalling":false,"incomingCallRoute":null,"callingWebhook":null,"isEnabled":true,"deploymentEnvironment":"CommercialDeployment","acceptedTerms":null},"etag":"W/\"c91fac118760c3e92ac037f8db84074b6/24/2022
        6:05:47 AM\"","channelName":"MsTeamsChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c91fac118760c3e92ac037f8db84074b6/24/2022 6:05:47 AM"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"channelName": "DirectLineChannel",
      "location": "global", "properties": {"sites": [{"siteName": "Default Site",
      "isEnabled": true, "isV1Enabled": true, "isV3Enabled": true, "isSecureSiteEnabled":
      false, "trustedOrigins": []}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel","name":"cli000002/DirectLineChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"aa4bfc276f020105df6e4d1b1a9914d66/24/2022
        6:05:49 AM\"","location":"global","properties":{"properties":{"DirectLineEmbedCode":null,"sites":[{"siteId":"n65hMqdPjWA","siteName":"Default
        Site","key":"n65hMqdPjWA.sWrmFbqkU_ecfPvLfJ6GdWb3G73plS4hWVkaUx9AhxI","key2":"n65hMqdPjWA.pJiF-0eo56-a9Ni2dRFLF6rX_qillM4VBpu5HOLb-_E","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":null,"appId":null,"tenantId":null,"isTokenEnabled":false}],"extensionKey1":"dCdezRSO7jA.RK9YaLc6bSlgRhgXtNakEFsogfdNnuMmdED298qU9ME","extensionKey2":"dCdezRSO7jA.zgFaB7iFmX1MHBauWHqBnLDri7_euNGxrBdnPCPNJQk"},"etag":"W/\"aa4bfc276f020105df6e4d1b1a9914d66/24/2022
        6:05:49 AM\"","channelName":"DirectLineChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"aa4bfc276f020105df6e4d1b1a9914d66/24/2022 6:05:49 AM"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000006?api-version=2021-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14997'
    status:
      code: 200
      message: OK
version: 1
