interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "azurebot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppType": "MultiTenant", "msaAppId": "ab1e6044-5344-4e77-8372-16b62899cfd9",
      "isCmekEnabled": false, "publicNetworkAccess": "Enabled", "isStreamingSupported":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"b800d56d-0000-1800-0000-62b181440000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"ab1e6044-5344-4e77-8372-16b62899cfd9","msaAppTenantId":null,"msaAppType":"MultiTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"b800d56d-0000-1800-0000-62b181440000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","name":"cli000002/WebChatChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"35814df8b4ec36fc6eb5de98e92598086/21/2022
        8:28:54 AM\"","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"uW5p3gZk5c4","siteName":"Default
        Site","key":null,"key2":null,"isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"35814df8b4ec36fc6eb5de98e92598086/21/2022
        8:28:54 AM\"","channelName":"WebChatChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"35814df8b4ec36fc6eb5de98e92598086/21/2022 8:28:54 AM"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel/listChannelWithKeys?api-version=2021-05-01-preview
  response:
    body:
      string: '{"resource":{"properties":{"sites":[{"siteId":"uW5p3gZk5c4","siteName":"Default
        Site","key":"uW5p3gZk5c4.rgdy72-XXNR20xORI8nCN2IetlzK7Hoc9-t6KD8WMag","key2":"uW5p3gZk5c4.snFJ_m-aADPQf3peRFR3B0IXDWkPuPYDihpyc8yewVs","isEnabled":true,"isWebchatPreviewEnabled":true,"isBlockUserUploadEnabled":false,"isTokenEnabled":false}]},"etag":"W/\"64844791feaa2cffd9f62d335370306c6/21/2022
        8:28:55 AM\"","channelName":"WebChatChannel","location":"global"},"setting":{"extensionKey1":"","extensionKey2":"","sites":[{"siteId":"uW5p3gZk5c4","siteName":"Default
        Site","key":"uW5p3gZk5c4.rgdy72-XXNR20xORI8nCN2IetlzK7Hoc9-t6KD8WMag","key2":"uW5p3gZk5c4.snFJ_m-aADPQf3peRFR3B0IXDWkPuPYDihpyc8yewVs","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isWebchatPreviewEnabled":true,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"isTokenEnabled":false,"eTag":"\"2d0083f1-0000-0d00-0000-62b181430000\""}],"channelId":"webchat","channelDisplayName":"Web
        Chat","botId":"cli000002","botIconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","isEnabled":true,"publicNetworkAccess":"Enabled","disableLocalAuth":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/WebChatChannel","location":"global","properties":{"properties":{"webChatEmbedCode":null,"sites":[{"siteId":"uW5p3gZk5c4","siteName":"Default
        Site","key":"uW5p3gZk5c4.rgdy72-XXNR20xORI8nCN2IetlzK7Hoc9-t6KD8WMag","key2":"uW5p3gZk5c4.snFJ_m-aADPQf3peRFR3B0IXDWkPuPYDihpyc8yewVs","isEnabled":true,"isWebchatPreviewEnabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isWebChatSpeechEnabled":null,"isBlockUserUploadEnabled":false,"appId":null,"tenantId":null,"isTokenEnabled":false}]},"etag":"W/\"64844791feaa2cffd9f62d335370306c6/21/2022
        8:28:55 AM\"","channelName":"WebChatChannel","location":"global"},"provisioningState":"Accepted","entityTag":"W/\"64844791feaa2cffd9f62d335370306c6/21/2022
        8:28:55 AM\"","changedTime":"0001-01-01T00:00:00Z","zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
version: 1
