interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "azurebot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppType": "MultiTenant", "msaAppId": "1a856728-be9e-4609-886d-8cd6514f238a",
      "isCmekEnabled": false, "publicNetworkAccess": "Enabled", "isStreamingSupported":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"a8009e0e-0000-1800-0000-62b558460000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"1a856728-be9e-4609-886d-8cd6514f238a","msaAppTenantId":null,"msaAppType":"MultiTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a8009e0e-0000-1800-0000-62b558460000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"channelName": "DirectLineChannel",
      "location": "global", "properties": {"sites": [{"siteName": "Default Site",
      "isEnabled": true, "isV1Enabled": true, "isV3Enabled": true, "isSecureSiteEnabled":
      false, "trustedOrigins": []}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel","name":"cli000002/DirectLineChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"4129e415a03f57c76d83eaed08ca127e6/24/2022
        6:23:07 AM\"","location":"global","properties":{"properties":{"DirectLineEmbedCode":null,"sites":[{"siteId":"Ngdxy3RFcXQ","siteName":"Default
        Site","key":"Ngdxy3RFcXQ.BvqIHtNROnK_xNhjkBWS1vSmRctalb3bMbqGzHapThE","key2":"Ngdxy3RFcXQ.G-t9183KHRTvW1064kThSwNBFgt3naDU7OBf-1rmpuE","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":null,"appId":null,"tenantId":null,"isTokenEnabled":false}],"extensionKey1":"f4SPnAoJuLY.hqoDHTzHAslDAK4DER_Ob5TKNlmXfkk2tymkGGu8Yo8","extensionKey2":"f4SPnAoJuLY.sa5ErGQuoVrvWbhcWXx7myIQD5vM0mYl5gz-dH5giqc"},"etag":"W/\"4129e415a03f57c76d83eaed08ca127e6/24/2022
        6:23:07 AM\"","channelName":"DirectLineChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4129e415a03f57c76d83eaed08ca127e6/24/2022 6:23:07 AM"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel/listChannelWithKeys?api-version=2021-05-01-preview
  response:
    body:
      string: '{"resource":{"properties":{"sites":[{"siteId":"Ngdxy3RFcXQ","siteName":"Default
        Site","key":"Ngdxy3RFcXQ.BvqIHtNROnK_xNhjkBWS1vSmRctalb3bMbqGzHapThE","key2":"Ngdxy3RFcXQ.G-t9183KHRTvW1064kThSwNBFgt3naDU7OBf-1rmpuE","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"isTokenEnabled":false}],"extensionKey1":"f4SPnAoJuLY.hqoDHTzHAslDAK4DER_Ob5TKNlmXfkk2tymkGGu8Yo8","extensionKey2":"f4SPnAoJuLY.sa5ErGQuoVrvWbhcWXx7myIQD5vM0mYl5gz-dH5giqc"},"etag":"W/\"4129e415a03f57c76d83eaed08ca127e6/24/2022
        6:23:09 AM\"","channelName":"DirectLineChannel","location":"global"},"setting":{"extensionKey1":"f4SPnAoJuLY.hqoDHTzHAslDAK4DER_Ob5TKNlmXfkk2tymkGGu8Yo8","extensionKey2":"f4SPnAoJuLY.sa5ErGQuoVrvWbhcWXx7myIQD5vM0mYl5gz-dH5giqc","sites":[{"siteId":"Ngdxy3RFcXQ","siteName":"Default
        Site","key":"Ngdxy3RFcXQ.BvqIHtNROnK_xNhjkBWS1vSmRctalb3bMbqGzHapThE","key2":"Ngdxy3RFcXQ.G-t9183KHRTvW1064kThSwNBFgt3naDU7OBf-1rmpuE","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isWebchatPreviewEnabled":false,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"isTokenEnabled":false,"eTag":"\"46034eaa-0000-1800-0000-62b558450000\""}],"channelId":"directline","channelDisplayName":"Direct
        Line","botId":"cli000002","botIconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","isEnabled":true,"publicNetworkAccess":"Enabled","disableLocalAuth":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel","location":"global","properties":{"properties":{"DirectLineEmbedCode":null,"sites":[{"siteId":"Ngdxy3RFcXQ","siteName":"Default
        Site","key":"Ngdxy3RFcXQ.BvqIHtNROnK_xNhjkBWS1vSmRctalb3bMbqGzHapThE","key2":"Ngdxy3RFcXQ.G-t9183KHRTvW1064kThSwNBFgt3naDU7OBf-1rmpuE","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":null,"appId":null,"tenantId":null,"isTokenEnabled":false}],"extensionKey1":"f4SPnAoJuLY.hqoDHTzHAslDAK4DER_Ob5TKNlmXfkk2tymkGGu8Yo8","extensionKey2":"f4SPnAoJuLY.sa5ErGQuoVrvWbhcWXx7myIQD5vM0mYl5gz-dH5giqc"},"etag":"W/\"4129e415a03f57c76d83eaed08ca127e6/24/2022
        6:23:09 AM\"","channelName":"DirectLineChannel","location":"global"},"provisioningState":"Accepted","entityTag":"W/\"4129e415a03f57c76d83eaed08ca127e6/24/2022
        6:23:09 AM\"","changedTime":"0001-01-01T00:00:00Z","zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14995'
    status:
      code: 200
      message: OK
version: 1
