interactions:
- request:
    body: 'b''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"botEnv": {"type": "string", "defaultValue":
      "prod"}, "botId": {"type": "string"}, "description": {"type": "string", "defaultValue":
      ""}, "location": {"type": "string"}, "sku": {"type": "string"}, "kind": {"type":
      "string"}, "siteName": {"type": "string"}, "appId": {"type": "string", "defaultValue":
      "1234"}, "appSecret": {"type": "string", "defaultValue": "blank"}, "zipUrl":
      {"type": "string", "defaultValue": ""}, "serverFarmId": {"type": "string"},
      "createServerFarm": {"type": "bool"}, "serverFarmLocation": {"type": "string",
      "defaultValue": ""}, "serverFarmSku": {"type": "object", "defaultValue": {"name":
      "S1", "tier": "Standard", "size": "S1", "family": "S", "capacity": 1}}, "endpoint":
      {"type": "string", "defaultValue": ""}, "botFileEncryptionKey": {"type": "string",
      "defaultValue": ""}}, "variables": {"serverFarmName": "[last(split(parameters(\''serverFarmId\''),
      \''/\''))]", "botAppKinds": {"sdk": "app", "bot": ""}, "botAppKind": "[variables(\''botAppKinds\'')[parameters(\''kind\'')]]",
      "siteHost": "[concat(parameters(\''siteName\''), \''.azurewebsites.net\'')]",
      "botEndpointConfig": {"bot": "[parameters(\''endpoint\'')]", "sdk": "[concat(\''https://\'',
      variables(\''siteHost\''), \''/api/messages\'')]"}, "botEndpoint": "[variables(\''botEndpointConfig\'')[parameters(\''kind\'')]]"},
      "resources": [{"type": "Microsoft.Web/serverfarms", "condition": "[parameters(\''createServerFarm\'')]",
      "name": "[variables(\''serverFarmName\'')]", "apiVersion": "2016-09-01", "location":
      "[parameters(\''serverFarmLocation\'')]", "sku": "[parameters(\''serverFarmSku\'')]",
      "properties": {"name": "[variables(\''serverFarmName\'')]"}}, {"name": "[parameters(\''siteName\'')]",
      "type": "Microsoft.Web/sites", "apiVersion": "2015-08-01", "location": "[parameters(\''location\'')]",
      "kind": "[variables(\''botAppKind\'')]", "dependsOn": ["[parameters(\''serverFarmId\'')]"],
      "properties": {"name": "[parameters(\''siteName\'')]", "serverFarmId": "[parameters(\''serverFarmId\'')]",
      "siteConfig": {"appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value":
      "10.14.1"}, {"name": "MicrosoftAppId", "value": "[parameters(\''appId\'')]"},
      {"name": "MicrosoftAppPassword", "value": "[parameters(\''appSecret\'')]"}],
      "cors": {"allowedOrigins": ["https://botservice.hosting.portal.azure.net", "https://hosting.onecloud.azure-test.net/"]}}},
      "resources": [{"name": "MSDeploy", "type": "Extensions", "apiVersion": "2015-02-01",
      "condition": "[not(equals(parameters(\''zipUrl\''), \''\''))]", "dependsOn":
      ["[concat(\''Microsoft.Web/Sites/\'', parameters(\''siteName\''))]"], "properties":
      {"packageUri": "[parameters(\''zipUrl\'')]", "dbType": "None", "connectionString":
      "", "setParameters": {"IIS Web Application Name": "[parameters(\''siteName\'')]"}}}]},
      {"apiVersion": "2017-12-01", "type": "Microsoft.BotService/botServices", "name":
      "[parameters(\''botId\'')]", "location": "global", "kind": "[parameters(\''kind\'')]",
      "sku": {"name": "[parameters(\''sku\'')]"}, "properties": {"name": "[parameters(\''botId\'')]",
      "displayName": "[parameters(\''botId\'')]", "endpoint": "[variables(\''botEndpoint\'')]",
      "msaAppId": "[parameters(\''appId\'')]", "publishingCredentials": "[list(concat(resourceId(\''Microsoft.Web/Sites\'',
      parameters(\''siteName\'')), \''/config/publishingcredentials\''), \''2018-02-01\'')]",
      "allSettings": {"WEBSITE_NODE_DEFAULT_VERSION": "10.14.1", "SCM_DO_BUILD_DURING_DEPLOYMENT":
      "true", "BotId": "[parameters(\''botId\'')]", "MicrosoftAppId": "[parameters(\''appId\'')]",
      "MicrosoftAppPassword": "[parameters(\''appSecret\'')]", "botFilePath": "[concat(\''./\'',
      parameters(\''botId\''), \''.bot\'')]", "botFileSecret": "[parameters(\''botFileEncryptionKey\'')]",
      "description": "[parameters(\''description\'')]"}}, "dependsOn": ["[parameters(\''serverFarmId\'')]",
      "[resourceId(\''Microsoft.Web/sites/\'', parameters(\''siteName\''))]", "MSDeploy"]}]},
      "parameters": {"location": {"value": "westus"}, "kind": {"value": "sdk"}, "sku":
      {"value": "F0"}, "siteName": {"value": "cli000002"}, "appId": {"value":
      "052b8764-8679-4389-ac9a-96e578e3f3f8"}, "appSecret": {"value": "7a38f94e-94a6-4a60-926b-d954bfe374d1"},
      "serverFarmId": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002"},
      "zipUrl": {"value": ""}, "botEnv": {"value": "prod"}, "createServerFarm": {"value":
      true}, "serverFarmLocation": {"value": "westus"}, "botId": {"value": "cli000002"}},
      "mode": "Incremental"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"12265489627004014712","parameters":{"botEnv":{"type":"String","value":"prod"},"botId":{"type":"String","value":"cli000002"},"description":{"type":"String","value":""},"location":{"type":"String","value":"westus"},"sku":{"type":"String","value":"F0"},"kind":{"type":"String","value":"sdk"},"siteName":{"type":"String","value":"cli000002"},"appId":{"type":"String","value":"052b8764-8679-4389-ac9a-96e578e3f3f8"},"appSecret":{"type":"String","value":"7a38f94e-94a6-4a60-926b-d954bfe374d1"},"zipUrl":{"type":"String","value":""},"serverFarmId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002"},"createServerFarm":{"type":"Bool","value":true},"serverFarmLocation":{"type":"String","value":"westus"},"serverFarmSku":{"type":"Object","value":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}},"endpoint":{"type":"String","value":""},"botFileEncryptionKey":{"type":"String","value":""}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-11-19T00:21:45.2440114Z","duration":"PT0.8436833S","correlationId":"99cedee5-6f40-4668-9b51-39dfe70fcffe","providers":[{"namespace":"Microsoft.Web","resourceTypes":[{"resourceType":"serverfarms","locations":["westus"]},{"resourceType":"sites","locations":["westus"]}]},{"namespace":"Microsoft.BotService","resourceTypes":[{"resourceType":"botServices","locations":["global"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002","resourceType":"Microsoft.Web/serverfarms","resourceName":"cli000002"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002","resourceType":"Microsoft.Web/sites","resourceName":"cli000002"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002","resourceType":"Microsoft.Web/sites","resourceName":"cli000002"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clite[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586274839810773129?api-version=2019-07-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2019-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2018-07-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"2500e674-0000-0100-0000-5dd336700000\"","location":"global","sku":{"name":"F0"},"kind":"sdk","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://cli000002.azurewebsites.net/api/messages","msaAppId":"052b8764-8679-4389-ac9a-96e578e3f3f8","developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2500e674-0000-0100-0000-5dd336700000"'
    status:
      code: 200
      message: OK
version: 1
