interactions:
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "bot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppId": "5a407c8c-637e-418d-9489-bf3539bfebca"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2018-07-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"25001d76-0000-0100-0000-5dd342b80000\"","location":"global","sku":{"name":"F0"},"kind":"bot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"5a407c8c-637e-418d-9489-bf3539bfebca","developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"25001d76-0000-0100-0000-5dd342b80000"'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"channelName": "MsTeamsChannel",
      "properties": {"enableCalling": true, "callingWebHook": "https://www.google.com",
      "isEnabled": true}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel?api-version=2018-07-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel","name":"cli000002/MsTeamsChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"57f00d83402759e31535564aadaea66111/19/2019
        1:17:47 AM\"","location":"global","properties":{"properties":{"enableCalling":true,"incomingCallRoute":null,"callingWebhook":"https://www.google.com","isEnabled":true},"etag":"W/\"57f00d83402759e31535564aadaea66111/19/2019
        1:17:47 AM\"","channelName":"MsTeamsChannel","location":"global","provisioningState":"Accepted"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"57f00d83402759e31535564aadaea66111/19/2019 1:17:47 AM"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel/listChannelWithKeys?api-version=2018-07-12
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel","location":"global","properties":{"properties":{"enableCalling":true,"incomingCallRoute":null,"callingWebhook":"https://www.google.com/","isEnabled":true},"etag":"W/\"67cbfd001c09c8d3643a1068b0b4929611/19/2019
        1:17:48 AM\"","channelName":"MsTeamsChannel","location":"global"},"provisioningState":"Succeeded","entityTag":"W/\"88e2f3ebbe71fcc6456758be4780647e11/19/2019
        1:17:48 AM\"","changedTime":"0001-01-01T00:00:00Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/MsTeamsChannel?api-version=2018-07-12
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
