interactions:
- request:
    body: '{"name": "cli000002", "type": "azurebot"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2021-05-01-preview
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "sku": {"name": "F0"}, "kind": "azurebot", "properties":
      {"displayName": "cli000002", "endpoint": "https://www.google.com/api/messages",
      "msaAppType": "MultiTenant", "msaAppId": "cbc43719-4f9c-4e45-b348-c5f2d6569f90",
      "isCmekEnabled": false, "publicNetworkAccess": "Enabled", "isStreamingSupported":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"07005828-0000-0200-0000-67b863310000\"","location":"global","sku":{"name":"F0"},"kind":"azurebot","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://www.google.com/api/messages","msaAppId":"cbc43719-4f9c-4e45-b348-c5f2d6569f90","msaAppTenantId":null,"msaAppType":"MultiTenant","msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat","directline"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":"Enabled","disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"07005828-0000-0200-0000-67b863310000"'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '197'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"channelName": "DirectLineChannel",
      "location": "global", "properties": {"sites": [{"siteName": "Default Site",
      "isEnabled": true, "isV1Enabled": true, "isV3Enabled": true, "isSecureSiteEnabled":
      false, "trustedOrigins": []}]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel?api-version=2021-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel","name":"cli000002/DirectLineChannel","type":"Microsoft.BotService/botServices/channels","etag":"W/\"5e149c9ea55fcaccfba867dba6c957552/21/2025
        11:27:47 AM\"","location":"global","properties":{"properties":{"DirectLineEmbedCode":null,"sites":[{"siteId":***","siteName":"Default
        Site","key":******","key2":******","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":[],"appId":null,"tenantId":null,"isTokenEnabled":false}],"extensionKey1":******","extensionKey2":******","isEnabled":true},"etag":"W/\"5e149c9ea55fcaccfba867dba6c957552/21/2025
        11:27:47 AM\"","channelName":"DirectLineChannel","location":"global","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5e149c9ea55fcaccfba867dba6c957552/21/2025 11:27:47 AM"
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel/listChannelWithKeys?api-version=2021-05-01-preview
  response:
    body:
      string: '{"resource":{"properties":{"sites":[{"siteId":***","siteName":"Default
        Site","key":******","key2":******","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":[],"isTokenEnabled":false}],"extensionKey1":******","extensionKey2":******","isEnabled":true},"etag":"W/\"5e149c9ea55fcaccfba867dba6c957552/21/2025
        11:27:50 AM\"","channelName":"DirectLineChannel","location":"global"},"setting":{"extensionKey1":******","extensionKey2":******","sites":[{"siteId":***","siteName":"Default
        Site","key":******","key2":******","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isWebchatPreviewEnabled":false,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":[],"isTokenEnabled":false,"eTag":"\"cb0001a1-0000-0200-0000-67b863330000\""}],"channelId":"directline","channelDisplayName":"Direct
        Line","botId":"cli000002","botIconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","isEnabled":true,"publicNetworkAccess":"Enabled","disableLocalAuth":false},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002/channels/DirectLineChannel","location":"global","properties":{"properties":{"DirectLineEmbedCode":null,"sites":[{"siteId":***","siteName":"Default
        Site","key":******","key2":******","isEnabled":true,"isV1Enabled":true,"isV3Enabled":true,"isDetailedLoggingEnabled":null,"isNoStorageEnabled":null,"isEndpointParametersEnabled":null,"isSecureSiteEnabled":false,"isBlockUserUploadEnabled":false,"trustedOrigins":[],"appId":null,"tenantId":null,"isTokenEnabled":false}],"extensionKey1":******","extensionKey2":******","isEnabled":true},"etag":"W/\"5e149c9ea55fcaccfba867dba6c957552/21/2025
        11:27:50 AM\"","channelName":"DirectLineChannel","location":"global"},"provisioningState":"Accepted","entityTag":"W/\"5e149c9ea55fcaccfba867dba6c957552/21/2025
        11:27:50 AM\"","changedTime":"0001-01-01T00:00:00Z","zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5e149c9ea55fcaccfba867dba6c957552/21/2025 11:27:50 AM"
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2021-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 200
      message: OK
version: 1
