interactions:
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2020-06-02
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
- request:
    body: '{"name": "cli000002", "type": "webapp"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/providers/Microsoft.BotService/checkNameAvailability?api-version=2020-06-02
  response:
    body:
      string: '{"valid":true,"message":"","absCode":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"botEnv": {"type": "string", "defaultValue":
      "prod"}, "botId": {"type": "string"}, "description": {"type": "string", "defaultValue":
      ""}, "location": {"type": "string"}, "sku": {"type": "string"}, "kind": {"type":
      "string"}, "siteName": {"type": "string"}, "appId": {"type": "string", "defaultValue":
      "1234"}, "appSecret": {"type": "string", "defaultValue": "blank"}, "zipUrl":
      {"type": "string", "defaultValue": ""}, "serverFarmId": {"type": "string"},
      "createServerFarm": {"type": "bool"}, "serverFarmLocation": {"type": "string",
      "defaultValue": ""}, "serverFarmSku": {"type": "object", "defaultValue": {"name":
      "S1", "tier": "Standard", "size": "S1", "family": "S", "capacity": 1}}, "endpoint":
      {"type": "string", "defaultValue": ""}, "botFileEncryptionKey": {"type": "string",
      "defaultValue": ""}, "isCmekEnabled": {"type": "bool", "defaultValue": false},
      "cmekKeyVaultUrl": {"type": "string", "defaultValue": ""}}, "variables": {"serverFarmName":
      "[last(split(parameters(''serverFarmId''), ''/''))]", "botAppKinds": {"sdk":
      "app", "bot": ""}, "botAppKind": "[variables(''botAppKinds'')[parameters(''kind'')]]",
      "siteHost": "[concat(parameters(''siteName''), ''.azurewebsites.net'')]", "botEndpointConfig":
      {"bot": "[parameters(''endpoint'')]", "sdk": "[concat(''https://'', variables(''siteHost''),
      ''/api/messages'')]"}, "botEndpoint": "[variables(''botEndpointConfig'')[parameters(''kind'')]]"},
      "resources": [{"type": "Microsoft.Web/serverfarms", "condition": "[parameters(''createServerFarm'')]",
      "name": "[variables(''serverFarmName'')]", "apiVersion": "2016-09-01", "location":
      "[parameters(''serverFarmLocation'')]", "sku": "[parameters(''serverFarmSku'')]",
      "properties": {"name": "[variables(''serverFarmName'')]"}}, {"name": "[parameters(''siteName'')]",
      "type": "Microsoft.Web/sites", "apiVersion": "2015-08-01", "location": "[parameters(''location'')]",
      "kind": "[variables(''botAppKind'')]", "dependsOn": ["[parameters(''serverFarmId'')]"],
      "properties": {"name": "[parameters(''siteName'')]", "serverFarmId": "[parameters(''serverFarmId'')]",
      "siteConfig": {"appSettings": [{"name": "WEBSITE_NODE_DEFAULT_VERSION", "value":
      "10.14.1"}, {"name": "MicrosoftAppId", "value": "[parameters(''appId'')]"},
      {"name": "MicrosoftAppPassword", "value": "[parameters(''appSecret'')]"}], "cors":
      {"allowedOrigins": ["https://botservice.hosting.portal.azure.net", "https://hosting.onecloud.azure-test.net/"]}}},
      "resources": [{"name": "MSDeploy", "type": "Extensions", "apiVersion": "2015-02-01",
      "condition": "[not(equals(parameters(''zipUrl''), ''''))]", "dependsOn": ["[concat(''Microsoft.Web/Sites/'',
      parameters(''siteName''))]"], "properties": {"packageUri": "[parameters(''zipUrl'')]",
      "dbType": "None", "connectionString": "", "setParameters": {"IIS Web Application
      Name": "[parameters(''siteName'')]"}}}]}, {"apiVersion": "2020-06-02", "type":
      "Microsoft.BotService/botServices", "name": "[parameters(''botId'')]", "location":
      "global", "kind": "[parameters(''kind'')]", "sku": {"name": "[parameters(''sku'')]"},
      "properties": {"name": "[parameters(''botId'')]", "displayName": "[parameters(''botId'')]",
      "endpoint": "[variables(''botEndpoint'')]", "msaAppId": "[parameters(''appId'')]",
      "isCmekEnabled": "[parameters(''isCmekEnabled'')]", "cmekKeyVaultUrl": "[parameters(''cmekKeyVaultUrl'')]",
      "publishingCredentials": "[list(concat(resourceId(''Microsoft.Web/Sites'', parameters(''siteName'')),
      ''/config/publishingcredentials''), ''2018-02-01'')]", "allSettings": {"WEBSITE_NODE_DEFAULT_VERSION":
      "10.14.1", "SCM_DO_BUILD_DURING_DEPLOYMENT": "true", "BotId": "[parameters(''botId'')]",
      "MicrosoftAppId": "[parameters(''appId'')]", "MicrosoftAppPassword": "[parameters(''appSecret'')]",
      "botFilePath": "[concat(''./'', parameters(''botId''), ''.bot'')]", "botFileSecret":
      "[parameters(''botFileEncryptionKey'')]", "description": "[parameters(''description'')]"}},
      "dependsOn": ["[parameters(''serverFarmId'')]", "[resourceId(''Microsoft.Web/sites/'',
      parameters(''siteName''))]", "MSDeploy"]}]}, "parameters": {"location": {"value":
      "southcentralus"}, "kind": {"value": "sdk"}, "sku": {"value": "F0"}, "siteName":
      {"value": "cli000002"}, "appId": {"value": "01f27cf2-c901-4ab6-bc13-936ad350d108"},
      "appSecret": {"value": "40f1c86b-e2da-49af-9402-568df8245818"}, "serverFarmId":
      {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002"},
      "zipUrl": {"value": ""}, "botEnv": {"value": "prod"}, "createServerFarm": {"value":
      true}, "serverFarmLocation": {"value": "southcentralus"}, "botId": {"value":
      "cli000002"}}, "mode": "Incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8671466495483059074","parameters":{"botEnv":{"type":"String","value":"prod"},"botId":{"type":"String","value":"cli000002"},"description":{"type":"String","value":""},"location":{"type":"String","value":"southcentralus"},"sku":{"type":"String","value":"F0"},"kind":{"type":"String","value":"sdk"},"siteName":{"type":"String","value":"cli000002"},"appId":{"type":"String","value":"01f27cf2-c901-4ab6-bc13-936ad350d108"},"appSecret":{"type":"String","value":"40f1c86b-e2da-49af-9402-568df8245818"},"zipUrl":{"type":"String","value":""},"serverFarmId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002"},"createServerFarm":{"type":"Bool","value":true},"serverFarmLocation":{"type":"String","value":"southcentralus"},"serverFarmSku":{"type":"Object","value":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}},"endpoint":{"type":"String","value":""},"botFileEncryptionKey":{"type":"String","value":""},"isCmekEnabled":{"type":"Bool","value":false},"cmekKeyVaultUrl":{"type":"String","value":""}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-02-24T01:23:25.960995Z","duration":"PT0.0006121S","correlationId":"2e0c993d-8802-48a8-bf95-aeef6ed73717","providers":[{"namespace":"Microsoft.Web","resourceTypes":[{"resourceType":"serverfarms","locations":["southcentralus"]},{"resourceType":"sites","locations":["southcentralus"]}]},{"namespace":"Microsoft.BotService","resourceTypes":[{"resourceType":"botServices","locations":["global"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/cli000002","resourceType":"Microsoft.Web/serverfarms","resourceName":"cli000002"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002","resourceType":"Microsoft.Web/sites","resourceName":"cli000002"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002","resourceType":"Microsoft.Web/sites","resourceName":"cli000002"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clite[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585559410830393826?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/cli000002","name":"cli000002","type":"Microsoft.Resources/deployments","p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002?api-version=2020-06-02
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.BotService/botServices/cli000002","name":"cli000002","type":"Microsoft.BotService/botServices","etag":"\"3100343b-0000-0200-0000-6216de320000\"","location":"global","sku":{"name":"F0"},"kind":"sdk","tags":{},"properties":{"displayName":"cli000002","description":null,"iconUrl":"https://docs.botframework.com/static/devportal/client/images/bot-framework-default.png","endpoint":"https://cli000002.azurewebsites.net/api/messages","msaAppId":"01f27cf2-c901-4ab6-bc13-936ad350d108","msaAppTenantId":null,"msaAppType":null,"msaAppMSIResourceId":null,"developerAppInsightKey":null,"developerAppInsightsApplicationId":null,"luisAppIds":[],"endpointVersion":"3.0","configuredChannels":["webchat"],"enabledChannels":["webchat","directline"],"isDeveloperAppInsightsApiKeySet":false,"isStreamingSupported":false,"schemaTransformationVersion":"1.3","publishingCredentials":null,"parameters":null,"allSettings":null,"manifestUrl":null,"storageResourceId":null,"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","migrationToken":null,"isCmekEnabled":false,"cmekKeyVaultUrl":null,"openWithHint":null,"appPasswordHint":null,"publicNetworkAccess":null,"disableLocalAuth":false,"cmekEncryptionStatus":"Off","provisioningState":"Succeeded"},"zones":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"3100343b-0000-0200-0000-6216de320000"'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/appsettings/list?api-version=2021-03-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"South
        Central US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"10.14.1","MicrosoftAppId":"01f27cf2-c901-4ab6-bc13-936ad350d108","MicrosoftAppPassword":"40f1c86b-e2da-49af-9402-568df8245818"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/cli000002/config/slotConfigNames?api-version=2021-03-01
  response:
    body:
      string: '{"id":null,"name":"cli000002","type":"Microsoft.Web/sites","location":"South
        Central US","properties":{"connectionStringNames":null,"appSettingNames":null,"azureStorageConfigNames":null}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
