interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/microsoftsqlserver/artifacttypes/vmimage/offers/sql2019-ws2022/skus/enterprise/versions?$top=1&$orderby=name%20desc&api-version=2024-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"15.0.240514\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/microsoftsqlserver/ArtifactTypes/VMImage/Offers/sql2019-ws2022/Skus/enterprise/Versions/15.0.240514\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/microsoftsqlserver/artifacttypes/vmimage/offers/sql2019-ws2022/skus/enterprise/versions/15.0.240514?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInBytes\": 136367309312\r\n
        \   },\r\n    \"dataDiskImages\": []\r\n  },\r\n  \"location\": \"westus\",\r\n
        \ \"name\": \"15.0.240514\",\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/microsoftsqlserver/ArtifactTypes/VMImage/Offers/sql2019-ws2022/Skus/enterprise/Versions/15.0.240514\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73999
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/vmSizes?api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_B1ls\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4096,\r\n      \"memoryInMB\": 512,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1ms\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 2048,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1s\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 1024,\r\n      \"maxD[...]
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clisqlvm000002VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "clisqlvm000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "clisqlvm000002NSG",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": []},
      {"apiVersion": "2022-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "clisqlvm000002PublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": "Static"}, "sku": {"name": "Standard"}},
      {"apiVersion": "2015-06-15", "type": "Microsoft.Network/networkInterfaces",
      "name": "clisqlvm000002VMNic", "location": "westus", "tags": {}, "dependsOn":
      ["Microsoft.Network/virtualNetworks/clisqlvm000002VNET", "Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG",
      "Microsoft.Network/publicIpAddresses/clisqlvm000002PublicIP"], "properties":
      {"ipConfigurations": [{"name": "ipconfigclisqlvm000002", "properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET/subnets/clisqlvm000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG"}}},
      {"apiVersion": "2024-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "clisqlvm000002", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/clisqlvm000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS2_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "microsoftsqlserver", "offer": "sql2019-ws2022",
      "sku": "enterprise", "version": "latest"}}, "osProfile": {"computerName": "clisqlvm000002",
      "adminUsername": "admin123", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "SecretPassword123"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/vm_deploy_GXfH0RKQsxulrchKTBsNqzcA5Zp5ItRm","name":"vm_deploy_GXfH0RKQsxulrchKTBsNqzcA5Zp5ItRm","type":"Microsoft.Resources/deployments","properties":{"templateHash":"261231524072095493","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-06-11T08:15:23.6147936Z","duration":"PT0.0001511S","correlationId":"d882bdf2-0ef9-4903-90cc-8340ebbff6e6","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clisqlvm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clisqlvm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clisqlvm000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clisqlvm000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clisqlvm000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"clisqlvm000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/vm_deploy_GXfH0RKQsxulrchKTBsNqzcA5Zp5ItRm/operationStatuses/08584835131643859204?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584835131643859204?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002?$expand=instanceView&api-version=2024-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\":
        \"Standard_DS2_v2\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"vmId\": \"4307150b-a200-4514-ac85-e9132b07afd9\",\r\n    \"storageProfile\":
        {\r\n      \"imageReference\": {\r\n        \"publisher\": \"microsoftsqlserver\",\r\n
        \       \"offer\": \"sql2019-ws2022\",\r\n        \"sku\": \"enterprise\",\r\n
        \       \"version\": \"latest\",\r\n        \"exactVersion\": \"15.0.240514\"\r\n
        \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Windows\",\r\n        \"name\":
        \"clisqlvm000002_OsDisk_1_a7bf9c70e7334ccc8f17a30307c3961b\",\r\n        \"createOption\":
        \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
        {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n          \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/disks/clisqlvm000002_OsDisk_1_a7bf9c70e7334ccc8f17a30307c3961b\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"clisqlvm000002\",\r\n      \"adminUsername\":
        \"admin123\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\":
        true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic\"}]},\r\n
        \   \"instanceView\": {\r\n      \"vmAgent\": {\r\n        \"vmAgentVersion\":
        \"Unknown\",\r\n        \"statuses\": [\r\n          {\r\n            \"code\":
        \"ProvisioningState/Unavailable\",\r\n            \"level\": \"Warning\",\r\n
        \           \"displayStatus\": \"Not Ready\",\r\n            \"message\":
        \"VM status blob is found but not yet populated.\",\r\n            \"time\":
        \"2024-06-11T08:17:57+00:00\"\r\n          }\r\n        ]\r\n      },\r\n
        \     \"disks\": [\r\n        {\r\n          \"name\": \"clisqlvm000002_OsDisk_1_a7bf9c70e7334ccc8f17a30307c3961b\",\r\n
        \         \"statuses\": [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2024-06-11T08:15:38.8458271+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2024-06-11T08:17:29.4873508+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-06-11T08:15:34.2208412+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23999,Microsoft.Compute/LowCostGetResource;33
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic\",\r\n
        \ \"etag\": \"W/\\\"4f2f41bc-040b-4355-b6d8-8a17479d31e0\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"4b891be9-99f0-4bd0-9af9-9022223b6a0d\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigclisqlvm000002\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic/ipConfigurations/ipconfigclisqlvm000002\",\r\n
        \       \"etag\": \"W/\\\"4f2f41bc-040b-4355-b6d8-8a17479d31e0\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET/subnets/clisqlvm000002Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"rvcy1bdhyeiupa2whhjbgubabd.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-02-9D-F3\",\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
        false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002\"\r\n
        \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
        \   \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"auxiliaryMode\":
        \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f2f41bc-040b-4355-b6d8-8a17479d31e0"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP\",\r\n
        \ \"etag\": \"W/\\\"5f68beb0-4ea9-464a-b9fd-e4105c431664\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"5c2837cb-48b4-4170-b7f0-44eb359a3c64\",\r\n
        \   \"ipAddress\": \"13.83.129.120\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic/ipConfigurations/ipconfigclisqlvm000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5f68beb0-4ea9-464a-b9fd-e4105c431664"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"virtualMachineResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002",
      "sqlServerLicenseType": "PAYG", "sqlManagement": "LightWeight", "autoPatchingSettings":
      {}, "autoBackupSettings": {}, "keyVaultCredentialSettings": {}, "serverConfigurationsManagementSettings":
      {"sqlConnectivityUpdateSettings": {}, "sqlWorkloadTypeUpdateSettings": {}, "additionalFeaturesServerConfigurations":
      {}}, "enableAutomaticUpgrade": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"properties":{"virtualMachineResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","provisioningState":"Provisioning","sqlServerLicenseType":"PAYG","sqlManagement":"LightWeight","leastPrivilegeMode":"NotSet","sqlImageSku":"Unknown","enableAutomaticUpgrade":true},"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002","name":"clisqlvm000002","type":"Microsoft.SqlVirtualMachine/sqlVirtualMachines"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locati[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/ba84a6e5-d8b8-43e1-9575-16b1b001280e?api-version=2022-08-01-preview&t=638536909703126029&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002?api-version=2022-08-01-preview
  response:
    body:
      string: '{"properties":{"virtualMachineResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","provisioningState":"Succeeded","sqlImageOffer":"SQL2019-WS2022","sqlServerLicenseType":"PAYG","sqlManagement":"LightWeight","leastPrivilegeMode":"NotSet","sqlImageSku":"Enterprise","enableAutomaticUpgrade":true},"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002","name":"clisqlvm000002","type":"Microsoft.SqlVirtualMachine/sqlVirtualMachines"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/1c29b6d2-3859-4902-bf64-01ed0caae13d?api-version=2022-08-01-preview&t=638536910825350130&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"virtualMachineResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000004",
      "sqlServerLicenseType": "PAYG", "sqlManagement": "Full", "autoPatchingSettings":
      {}, "autoBackupSettings": {}, "keyVaultCredentialSettings": {}, "serverConfigurationsManagementSettings":
      {"sqlConnectivityUpdateSettings": {"connectivityType": "PUBLIC", "port": 1433,
      "sqlAuthUpdateUserName": "sqladmin123", "sqlAuthUpdatePassword": "SecretPassword123"},
      "sqlWorkloadTypeUpdateSettings": {}, "additionalFeaturesServerConfigurations":
      {}}, "enableAutomaticUpgrade": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000004?api-version=2022-08-01-preview
  response:
    body:
      string: '[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/348286b0-a782-46e8-8377-f4a68c7170c6?api-version=2022-08-01-preview&t=638536912258097617&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/ca0fdcb7-8a1c-4cc1-b9cc-139fa0d1a174?api-version=2022-08-01-preview&t=638536913826327441&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/sqlVirtualMachineOperationResults/ca0fdcb7-8a1c-4cc1-b9cc-139fa0d1a174?api-version=2022-08-01-preview&t=638536913826484645&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/3d7de54b-111c-475b-ab46-24f2f547f24e?api-version=2022-08-01-preview&t=638536914464625486&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/sqlVirtualMachineOperationResults/3d7de54b-111c-475b-ab46-24f2f547f24e?api-version=2022-08-01-preview&t=638536914464625486&c=MIIHpTCCBo2gAwIBAgITOgMLgtc7Cc87eiuz1wAEAwuC1zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTE0MjM1[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
