interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftSQLServer/artifacttypes/vmimage/offers/SQL2017-WS2016/skus/Enterprise/versions?$top=1&$orderby=name%20desc&api-version=2022-03-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"14.1.220913\",\r\n
        \   \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftSQLServer/ArtifactTypes/VMImage/Offers/SQL2017-WS2016/Skus/Enterprise/Versions/14.1.220913\"\r\n
        \ }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15999,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43991
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/MicrosoftSQLServer/artifacttypes/vmimage/offers/SQL2017-WS2016/skus/Enterprise/versions/14.1.220913?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V1\",\r\n    \"architecture\":
        \"x64\",\r\n    \"replicaType\": \"Unmanaged\",\r\n    \"disallowed\": {\r\n
        \     \"vmDiskType\": \"None\"\r\n    },\r\n    \"automaticOSUpgradeProperties\":
        {\r\n      \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\":
        {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\n
        \     {\r\n        \"name\": \"IsAcceleratedNetworkSupported\",\r\n        \"value\":
        \"True\"\r\n      },\r\n      {\r\n        \"name\": \"DiskControllerTypes\",\r\n
        \       \"value\": \"SCSI\"\r\n      },\r\n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n
        \       \"value\": \"False\"\r\n      }\r\n    ],\r\n    \"osDiskImage\":
        {\r\n      \"operatingSystem\": \"Windows\",\r\n      \"sizeInGb\": 128,\r\n
        \     \"sizeInBytes\": 136367309312\r\n    },\r\n    \"dataDiskImages\": []\r\n
        \ },\r\n  \"location\": \"westus\",\r\n  \"name\": \"14.1.220913\",\r\n  \"id\":
        \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/MicrosoftSQLServer/ArtifactTypes/VMImage/Offers/SQL2017-WS2016/Skus/Enterprise/Versions/14.1.220913\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12999,Microsoft.Compute/GetVMImageFromLocation30Min;73993
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks?api-version=2018-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/vmSizes?api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"Standard_B1ls\",\r\n
        \     \"numberOfCores\": 1,\r\n      \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\":
        4096,\r\n      \"memoryInMB\": 512,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1ms\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 2048,\r\n      \"maxDataDiskCount\": 2\r\n    },\r\n
        \   {\r\n      \"name\": \"Standard_B1s\",\r\n      \"numberOfCores\": 1,\r\n
        \     \"osDiskSizeInMB\": 1047552,\r\n      \"resourceDiskSizeInMB\": 4096,\r\n
        \     \"memoryInMB\": 1024,\r\n      \"maxD[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "clisqlvm000002VNET", "type": "Microsoft.Network/virtualNetworks",
      "location": "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets":
      [{"name": "clisqlvm000002Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}},
      {"type": "Microsoft.Network/networkSecurityGroups", "name": "clisqlvm000002NSG",
      "apiVersion": "2015-06-15", "location": "westus", "tags": {}, "dependsOn": []},
      {"apiVersion": "2018-01-01", "type": "Microsoft.Network/publicIPAddresses",
      "name": "clisqlvm000002PublicIP", "location": "westus", "tags": {}, "dependsOn":
      [], "properties": {"publicIPAllocationMethod": null}}, {"apiVersion": "2015-06-15",
      "type": "Microsoft.Network/networkInterfaces", "name": "clisqlvm000002VMNic",
      "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/clisqlvm000002VNET",
      "Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG", "Microsoft.Network/publicIpAddresses/clisqlvm000002PublicIP"],
      "properties": {"ipConfigurations": [{"name": "ipconfigclisqlvm000002", "properties":
      {"privateIPAllocationMethod": "Dynamic", "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET/subnets/clisqlvm000002Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG"}}},
      {"apiVersion": "2022-03-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "clisqlvm000002", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/clisqlvm000002VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS2_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "MicrosoftSQLServer", "offer": "SQL2017-WS2016",
      "sku": "Enterprise", "version": "latest"}}, "osProfile": {"computerName": "clisqlvm000002",
      "adminUsername": "admin123", "adminPassword": "[parameters(''adminPassword'')]"}}}],
      "outputs": {}}, "parameters": {"adminPassword": {"value": "SecretPassword123"}},
      "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/vm_deploy_9sDZXO6hDdHr6SmW34Fgn1JISXx9pFQD","name":"vm_deploy_9sDZXO6hDdHr6SmW34Fgn1JISXx9pFQD","type":"Microsoft.Resources/deployments","properties":{"templateHash":"8205133364678621984","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2022-09-29T01:25:15.443151Z","duration":"PT0.0005573S","correlationId":"0f53984d-a7d2-40d3-bf4d-630de14af286","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"clisqlvm000002VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"clisqlvm000002NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"clisqlvm000002PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clisqlvm000002VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"clisqlvm000002VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"clisqlvm000002"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/vm_deploy_9sDZXO6hDdHr6SmW34Fgn1JISXx9pFQD/operationStatuses/08585371921711206243?api-version=2021-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlvm_cli_test_create000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08585371921711206243?api-version=2021-04-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002?$expand=instanceView&api-version=2022-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002\",\r\n
        \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus\",\r\n
        \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
        \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"a6512b69-b0a1-45c0-96d2-8ad53edaa017\",\r\n
        \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_DS2_v2\"\r\n    },\r\n
        \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
        \"MicrosoftSQLServer\",\r\n        \"offer\": \"SQL2017-WS2016\",\r\n        \"sku\":
        \"Enterprise\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
        \"14.1.220913\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
        \"Windows\",\r\n        \"name\": \"clisqlvm000002_disk1_486a074555c242148a646e29d3717016\",\r\n
        \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
        \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\",\r\n
        \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/disks/clisqlvm000002_disk1_486a074555c242148a646e29d3717016\"\r\n
        \       },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\":
        127\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\":
        {\r\n      \"computerName\": \"clisqlvm000002\",\r\n      \"adminUsername\":
        \"admin123\",\r\n      \"windowsConfiguration\": {\r\n        \"provisionVMAgent\":
        true,\r\n        \"enableAutomaticUpdates\": true,\r\n        \"patchSettings\":
        {\r\n          \"patchMode\": \"AutomaticByOS\",\r\n          \"assessmentMode\":
        \"ImageDefault\"\r\n        },\r\n        \"enableVMAgentPlatformUpdates\":
        false\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
        true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
        {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic\"}]},\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"instanceView\": {\r\n      \"vmAgent\":
        {\r\n        \"vmAgentVersion\": \"Unknown\",\r\n        \"statuses\": [\r\n
        \         {\r\n            \"code\": \"ProvisioningState/Unavailable\",\r\n
        \           \"level\": \"Warning\",\r\n            \"displayStatus\": \"Not
        Ready\",\r\n            \"message\": \"VM status blob is found but not yet
        populated.\",\r\n            \"time\": \"2022-09-29T01:26:16+00:00\"\r\n          }\r\n
        \       ]\r\n      },\r\n      \"disks\": [\r\n        {\r\n          \"name\":
        \"clisqlvm000002_disk1_486a074555c242148a646e29d3717016\",\r\n          \"statuses\":
        [\r\n            {\r\n              \"code\": \"ProvisioningState/succeeded\",\r\n
        \             \"level\": \"Info\",\r\n              \"displayStatus\": \"Provisioning
        succeeded\",\r\n              \"time\": \"2022-09-29T01:25:30.2866275+00:00\"\r\n
        \           }\r\n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\":
        \"V1\",\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning
        succeeded\",\r\n          \"time\": \"2022-09-29T01:26:02.1931089+00:00\"\r\n
        \       },\r\n        {\r\n          \"code\": \"PowerState/running\",\r\n
        \         \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\r\n
        \       }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2022-09-29T01:25:27.7553617+00:00\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31905
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic\",\r\n
        \ \"etag\": \"W/\\\"85a3eeb1-8a51-458b-bc45-281090bb074a\\\"\",\r\n  \"tags\":
        {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"resourceGuid\": \"d3059634-0a04-4efe-a5b9-bfa6f6f1f76b\",\r\n    \"ipConfigurations\":
        [\r\n      {\r\n        \"name\": \"ipconfigclisqlvm000002\",\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic/ipConfigurations/ipconfigclisqlvm000002\",\r\n
        \       \"etag\": \"W/\\\"85a3eeb1-8a51-458b-bc45-281090bb074a\\\"\",\r\n
        \       \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\":
        \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP\"\r\n
        \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/virtualNetworks/clisqlvm000002VNET/subnets/clisqlvm000002Subnet\"\r\n
        \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
        \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
        [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
        \"ikhqczwl4qvenohr10xgqmtb2a.dx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
        \"00-22-48-06-FF-EA\",\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\":
        {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkSecurityGroups/clisqlvm000002NSG\"\r\n
        \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
        \ \"location\": \"westus\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85a3eeb1-8a51-458b-bc45-281090bb074a"
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP?api-version=2018-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"clisqlvm000002PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/publicIPAddresses/clisqlvm000002PublicIP\",\r\n
        \ \"etag\": \"W/\\\"8995015e-036e-4ab9-8818-724ed7380f6c\\\"\",\r\n  \"location\":
        \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"resourceGuid\": \"f45a7be7-1337-49cf-b616-01ec369b83f5\",\r\n
        \   \"ipAddress\": \"20.66.38.185\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n
        \   \"publicIPAllocationMethod\": \"Dynamic\",\r\n    \"idleTimeoutInMinutes\":
        4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Network/networkInterfaces/clisqlvm000002VMNic/ipConfigurations/ipconfigclisqlvm000002\"\r\n
        \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
        \ \"sku\": {\r\n    \"name\": \"Basic\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8995015e-036e-4ab9-8818-724ed7380f6c"
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"virtualMachineResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002",
      "sqlServerLicenseType": "PAYG", "sqlManagement": "LightWeight", "autoPatchingSettings":
      {}, "autoBackupSettings": {}, "keyVaultCredentialSettings": {}, "serverConfigurationsManagementSettings":
      {"sqlConnectivityUpdateSettings": {}, "sqlWorkloadTypeUpdateSettings": {}, "additionalFeaturesServerConfigurations":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002?api-version=2022-07-01-preview
  response:
    body:
      string: '{"properties":{"virtualMachineResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","provisioningState":"Provisioning","sqlServerLicenseType":"PAYG","sqlManagement":"LightWeight","leastPrivilegeMode":"NotSet","sqlImageSku":"Unknown","enableAutomaticUpgrade":true},"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002","name":"clisqlvm000002","type":"Microsoft.SqlVirtualMachine/sqlVirtualMachines"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/892916f9-ddf8-46ef-94ad-effb6224d2b5?api-version=2022-07-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/createsqlvirtualmachine/operationResults/892916f9-ddf8-46ef-94ad-effb6224d2b5?api-version=2022-07-01-preview
  response:
    body:
      string: '{"name":"892916f9-ddf8-46ef-94ad-effb6224d2b5","status":"InProgress","startTime":"2022-09-29T01:29:28.457Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002?api-version=2022-07-01-preview
  response:
    body:
      string: '{"properties":{"virtualMachineResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002","provisioningState":"Succeeded","sqlImageOffer":"SQL2017-WS2016","sqlServerLicenseType":"PAYG","sqlManagement":"LightWeight","leastPrivilegeMode":"NotSet","sqlImageSku":"Enterprise","enableAutomaticUpgrade":false},"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000002","name":"clisqlvm000002","type":"Microsoft.SqlVirtualMachine/sqlVirtualMachines"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"virtualMachineResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000004",
      "sqlServerLicenseType": "PAYG", "sqlManagement": "Full", "autoPatchingSettings":
      {}, "autoBackupSettings": {}, "keyVaultCredentialSettings": {}, "serverConfigurationsManagementSettings":
      {"sqlConnectivityUpdateSettings": {"connectivityType": "PUBLIC", "port": 1433,
      "sqlAuthUpdateUserName": "sqladmin123", "sqlAuthUpdatePassword": "SecretPassword123"},
      "sqlWorkloadTypeUpdateSettings": {}, "additionalFeaturesServerConfigurations":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVirtualMachines/clisqlvm000004?api-version=2022-07-01-preview
  response:
    body:
      string: '{"properties":{"virtualMachineRes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SqlVirtualMachine/locations/westus/operationTypes/deletesqlvirtualmachine/operationResults/cbe39c20-78fd-46be-baba-4f225aaf82b2?api-version=2022-07-01-preview
  response:
    body:
      string: '{"name":"cbe39c20-78fd-46be-baba-4f225aaf82b2","status":"InProgress","startTime":"2022-09-29T01:35:57.217Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"virtualMachineResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Compute/virtualMachines/clisqlvm000002",
      "sqlServerLicenseType": "PAYG", "sqlManagement": "Full", "autoPatchingSettings":
      {"enable": true, "dayOfWeek": "Monday", "maintenanceWindowStartingHour": 22,
      "maintenanceWindowDuration": 60}, "autoBackupSettings": {}, "keyVaultCredentialSettings":
      {}, "serverConfigurationsManagementSettings": {"sqlConnectivityUpdateSettings":
      {}, "sqlWorkloadTypeUpdateSettings": {}, "additionalFeaturesServerConfigurations":
      {}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.SqlVirtualMachine/sqlVir[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Storage/storageAccounts/clitest000005?api-version=2022-05-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Storage/storageAccounts/clitest000005","name":"clitest000005","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"keyCreationTime":{"key1":"2022-09-29T01:29:04.2997815Z","key2":"2022-09-29T01:29:04.2997815Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_0","allowBlobPublicAccess":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-09-29T01:29:04.2997815Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-09-29T01:29:04.2997815Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2022-09-29T01:29:04.2060715Z","primaryEndpoints":{"blob":"https://clitest000005.blob.core.windows.net/","queue":"https://clitest000005.queue.core.windows.net/","table":"https://clitest000005.table.core.windows.net/","file":"https://clitest000005.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sqlvm_cli_test_create000001/providers/Microsoft.Storage/storageAccounts/clitest000005?api-version=2022-05-01
  response:
    body:
[...]
