interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyNmZjM2ViZC1iNDNlLTQ0MGQtODI1Yi0xMDdiNGU5YzkyZmM=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyNmZjM2ViZC1iNDNlLTQ0MGQtODI1Yi0xMDdiNGU5YzkyZmM=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyNmZjM2ViZC1iNDNlLTQ0MGQtODI1Yi0xMDdiNGU5YzkyZmM=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com","name":"zone3.com","type":"Microsoft.Network\/privateDnsZones","etag":"a3943d2e-d96a-4acc-a728-67da46a01f5e","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a3943d2e-d96a-4acc-a728-67da46a01f5e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '494'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/SOA/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"b93106d1-642f-44aa-8210-3fb5b5d007cf","properties":{"fqdn":"zone3.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":3600,"retryTime":300,"serialNumber":1,"minimumTtl":300},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b93106d1-642f-44aa-8210-3fb5b5d007cf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/A/test-a?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/test-a","name":"test-a","type":"Microsoft.Network\/privateDnsZones\/A","etag":"352b7b36-25bd-44c9-a87e-1a6e00c02a51","properties":{"fqdn":"test-a.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.2.3.4"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 352b7b36-25bd-44c9-a87e-1a6e00c02a51
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aaaaRecords": [{"ipv6Address": "2001:cafe:130::100"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/AAAA/test-aaaa?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/AAAA\/test-aaaa","name":"test-aaaa","type":"Microsoft.Network\/privateDnsZones\/AAAA","etag":"68b18eb5-29b0-4c62-9961-e1be35256cc2","properties":{"fqdn":"test-aaaa.zone3.com.","ttl":3600,"aaaaRecords":[{"ipv6Address":"2001:cafe:130::100"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 68b18eb5-29b0-4c62-9961-e1be35256cc2
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "target.com."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/CNAME/test-cname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/CNAME\/test-cname","name":"test-cname","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"aee493a4-230e-4089-a7c0-ca2bc883fe26","properties":{"fqdn":"test-cname.zone3.com.","ttl":3600,"cnameRecord":{"cname":"target.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - aee493a4-230e-4089-a7c0-ca2bc883fe26
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "target.org.zone3.com."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/CNAME/test-cname2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/CNAME\/test-cname2","name":"test-cname2","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"11f85004-4175-4fc3-b6a8-47b2868e8af9","properties":{"fqdn":"test-cname2.zone3.com.","ttl":3600,"cnameRecord":{"cname":"target.org.zone3.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 11f85004-4175-4fc3-b6a8-47b2868e8af9
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 10, "exchange":
      "mail.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/MX/test-mx?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/MX\/test-mx","name":"test-mx","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"46bdc738-5bca-45a3-9d9e-943818379b1d","properties":{"fqdn":"test-mx.zone3.com.","ttl":3600,"mxRecords":[{"exchange":"mail.com.","preference":10}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 46bdc738-5bca-45a3-9d9e-943818379b1d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "target.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/SRV/_sip._tcp.test-srv?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SRV\/_sip._tcp.test-srv","name":"_sip._tcp.test-srv","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"7b3de8c9-9e62-442d-b1c1-e1dcbb90ac43","properties":{"fqdn":"_sip._tcp.test-srv.zone3.com.","ttl":3600,"srvRecords":[{"port":3,"priority":1,"target":"target.com.","weight":2}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7b3de8c9-9e62-442d-b1c1-e1dcbb90ac43
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["string 1"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/TXT/test-txt?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/test-txt","name":"test-txt","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"61eaf7ea-44f0-42f2-bd4a-22208d4034ee","properties":{"fqdn":"test-txt.zone3.com.","ttl":3600,"txtRecords":[{"value":["string
        1"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 61eaf7ea-44f0-42f2-bd4a-22208d4034ee
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "12.1.2.3"},
      {"ipv4Address": "12.2.3.4"}, {"ipv4Address": "12.3.4.5"}, {"ipv4Address": "12.4.5.6"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/A/d1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/d1","name":"d1","type":"Microsoft.Network\/privateDnsZones\/A","etag":"baa7fbaa-1fc1-43b1-b58a-717a4be60701","properties":{"fqdn":"d1.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"12.1.2.3"},{"ipv4Address":"12.2.3.4"},{"ipv4Address":"12.3.4.5"},{"ipv4Address":"12.4.5.6"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - baa7fbaa-1fc1-43b1-b58a-717a4be60701
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["fishfishfish"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/TXT/d1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/d1","name":"d1","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"c019699e-f2e9-4cce-9129-fa793710bf84","properties":{"fqdn":"d1.zone3.com.","ttl":3600,"txtRecords":[{"value":["fishfishfish"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c019699e-f2e9-4cce-9129-fa793710bf84
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "11.1.2.3"},
      {"ipv4Address": "11.2.3.3"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/A/f1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/f1","name":"f1","type":"Microsoft.Network\/privateDnsZones\/A","etag":"a045c1db-2d13-4a45-ab52-95e082bdf70c","properties":{"fqdn":"f1.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"11.1.2.3"},{"ipv4Address":"11.2.3.3"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a045c1db-2d13-4a45-ab52-95e082bdf70c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 10, "weight":
      20, "port": 30, "target": "foo.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/SRV/_sip._tcp?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SRV\/_sip._tcp","name":"_sip._tcp","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"37252974-eadd-4c65-a0a5-d560a3239bd3","properties":{"fqdn":"_sip._tcp.zone3.com.","ttl":3600,"srvRecords":[{"port":30,"priority":10,"target":"foo.com.","weight":20}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 37252974-eadd-4c65-a0a5-d560a3239bd3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 100, "exchange":
      "mail.test.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/MX/mail?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/MX\/mail","name":"mail","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"28710a75-97e6-4da6-8f9f-5da86c3c2454","properties":{"fqdn":"mail.zone3.com.","ttl":3600,"mxRecords":[{"exchange":"mail.test.com.","preference":100}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 28710a75-97e6-4da6-8f9f-5da86c3c2454
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.2.3.4"}, {"ipv4Address":
      "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/A/noclass?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/noclass","name":"noclass","type":"Microsoft.Network\/privateDnsZones\/A","etag":"cb28876b-336e-41a4-bdfb-cfbd7a7d219f","properties":{"fqdn":"noclass.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.2.3.4"},{"ipv4Address":"2.3.4.5"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - cb28876b-336e-41a4-bdfb-cfbd7a7d219f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["string 1 only"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/TXT/txt1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/txt1","name":"txt1","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"23daa905-afb1-46bd-b12b-2fff5d666c1d","properties":{"fqdn":"txt1.zone3.com.","ttl":3600,"txtRecords":[{"value":["string
        1 only"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 23daa905-afb1-46bd-b12b-2fff5d666c1d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/SOA?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"7615540f-7fb5-4ee2-96c0-77f123a1d9e5","properties":{"fqdn":"zone3.com.","ttl":86400,"soaRecord":{"email":"hostmaster.zone3.com.","expireTime":1814400,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":43200,"retryTime":900,"serialNumber":1,"minimumTtl":10800},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59998'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTswYWI0ZWNmMi01MDFlLTQ3NjYtODA1Ni0xMjkwZWY2OTRlNzc=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4ZmVhZTBiNi0yZjU2LTQ3NGQtYTJjYS0xZmUyMzhjMThlZGY=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
