interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4NTYxYjU3MS0xNzVmLTQyZDctYWFjNS0yNGU0MmFiMGU3NmI=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4NTYxYjU3MS0xNzVmLTQyZDctYWFjNS0yNGU0MmFiMGU3NmI=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs4NTYxYjU3MS0xNzVmLTQyZDctYWFjNS0yNGU0MmFiMGU3NmI=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com","name":"zone3.com","type":"Microsoft.Network\/privateDnsZones","etag":"ce525aff-ab75-49a5-8f82-09e791b9b756","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ce525aff-ab75-49a5-8f82-09e791b9b756
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/soa/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"e339e3c3-17c2-49c5-9989-ff1ad5c3950c","properties":{"fqdn":"zone3.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":10,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e339e3c3-17c2-49c5-9989-ff1ad5c3950c
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/a/test-a?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/test-a","name":"test-a","type":"Microsoft.Network\/privateDnsZones\/A","etag":"c4dd8d03-d54d-4865-b6ed-fdf63a00c07e","properties":{"fqdn":"test-a.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.2.3.4"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c4dd8d03-d54d-4865-b6ed-fdf63a00c07e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aaaaRecords": [{"ipv6Address": "2001:cafe:130::100"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/aaaa/test-aaaa?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/AAAA\/test-aaaa","name":"test-aaaa","type":"Microsoft.Network\/privateDnsZones\/AAAA","etag":"f9092182-ef51-44ef-85dd-bab5fb2601c6","properties":{"fqdn":"test-aaaa.zone3.com.","ttl":3600,"aaaaRecords":[{"ipv6Address":"2001:cafe:130::100"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f9092182-ef51-44ef-85dd-bab5fb2601c6
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "target.com."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/cname/test-cname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/CNAME\/test-cname","name":"test-cname","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"08409c50-a865-42ba-9c2b-84dc650b6f83","properties":{"fqdn":"test-cname.zone3.com.","ttl":3600,"cnameRecord":{"cname":"target.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 08409c50-a865-42ba-9c2b-84dc650b6f83
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "target.org.zone3.com."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/cname/test-cname2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/CNAME\/test-cname2","name":"test-cname2","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"f31792a9-b824-49aa-a483-5b5ba60532f1","properties":{"fqdn":"test-cname2.zone3.com.","ttl":3600,"cnameRecord":{"cname":"target.org.zone3.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f31792a9-b824-49aa-a483-5b5ba60532f1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 10, "exchange":
      "mail.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/mx/test-mx?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/MX\/test-mx","name":"test-mx","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"28bc9583-dcb3-4954-bb0c-fdeb6a2147b5","properties":{"fqdn":"test-mx.zone3.com.","ttl":3600,"mxRecords":[{"exchange":"mail.com.","preference":10}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 28bc9583-dcb3-4954-bb0c-fdeb6a2147b5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 1, "weight": 2,
      "port": 3, "target": "target.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/srv/_sip._tcp.test-srv?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SRV\/_sip._tcp.test-srv","name":"_sip._tcp.test-srv","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"712a433a-0165-41db-a765-0b19f10c69f5","properties":{"fqdn":"_sip._tcp.test-srv.zone3.com.","ttl":3600,"srvRecords":[{"port":3,"priority":1,"target":"target.com.","weight":2}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 712a433a-0165-41db-a765-0b19f10c69f5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["string 1"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/txt/test-txt?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/test-txt","name":"test-txt","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"968062d6-e9f6-4f2d-9e00-4a4ae996727b","properties":{"fqdn":"test-txt.zone3.com.","ttl":3600,"txtRecords":[{"value":["string
        1"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 968062d6-e9f6-4f2d-9e00-4a4ae996727b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "12.1.2.3"},
      {"ipv4Address": "12.2.3.4"}, {"ipv4Address": "12.3.4.5"}, {"ipv4Address": "12.4.5.6"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/a/d1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/d1","name":"d1","type":"Microsoft.Network\/privateDnsZones\/A","etag":"fc136d07-0779-40e0-bdf3-eb684df7c93a","properties":{"fqdn":"d1.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"12.1.2.3"},{"ipv4Address":"12.2.3.4"},{"ipv4Address":"12.3.4.5"},{"ipv4Address":"12.4.5.6"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fc136d07-0779-40e0-bdf3-eb684df7c93a
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11990'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["fishfishfish"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/txt/d1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/d1","name":"d1","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"dd42cb9a-161c-4a12-b98f-53b67e5b6a7b","properties":{"fqdn":"d1.zone3.com.","ttl":3600,"txtRecords":[{"value":["fishfishfish"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - dd42cb9a-161c-4a12-b98f-53b67e5b6a7b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "11.1.2.3"},
      {"ipv4Address": "11.2.3.3"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/a/f1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/f1","name":"f1","type":"Microsoft.Network\/privateDnsZones\/A","etag":"3f9052cd-9722-402f-b4cb-d8768e5207a4","properties":{"fqdn":"f1.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"11.1.2.3"},{"ipv4Address":"11.2.3.3"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 3f9052cd-9722-402f-b4cb-d8768e5207a4
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11989'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 10, "weight":
      20, "port": 30, "target": "foo.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/srv/_sip._tcp?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SRV\/_sip._tcp","name":"_sip._tcp","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"8bbf26fb-d8b2-4c9e-9a7b-9c0d33146c27","properties":{"fqdn":"_sip._tcp.zone3.com.","ttl":3600,"srvRecords":[{"port":30,"priority":10,"target":"foo.com.","weight":20}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 8bbf26fb-d8b2-4c9e-9a7b-9c0d33146c27
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 100, "exchange":
      "mail.test.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/mx/mail?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/MX\/mail","name":"mail","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"1ede2b1b-9ae0-474e-bbbe-354c7f6c0f87","properties":{"fqdn":"mail.zone3.com.","ttl":3600,"mxRecords":[{"exchange":"mail.test.com.","preference":100}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1ede2b1b-9ae0-474e-bbbe-354c7f6c0f87
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.2.3.4"}, {"ipv4Address":
      "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/a/noclass?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/A\/noclass","name":"noclass","type":"Microsoft.Network\/privateDnsZones\/A","etag":"93b67a53-dc8b-4056-9daa-164f9c634d04","properties":{"fqdn":"noclass.zone3.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.2.3.4"},{"ipv4Address":"2.3.4.5"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 93b67a53-dc8b-4056-9daa-164f9c634d04
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11987'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["string 1 only"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/txt/txt1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/TXT\/txt1","name":"txt1","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"c47bc950-6947-48b2-a41c-4d5153642cba","properties":{"fqdn":"txt1.zone3.com.","ttl":3600,"txtRecords":[{"value":["string
        1 only"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c47bc950-6947-48b2-a41c-4d5153642cba
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsZones/zone3.com/soa?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone3_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone3.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"5874a193-093a-4636-bddb-b566d0d57279","properties":{"fqdn":"zone3.com.","ttl":86400,"soaRecord":{"email":"hostmaster.zone3.com.","expireTime":1814400,"host":"azureprivatedns.net","minimumTtl":10800,"refreshTime":43200,"retryTime":900,"serialNumber":1},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTtiOTFkNjM3Ni03NmQzLTRjZGYtODNmYy1jZDNjOTM5M2NhMTU=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '494'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone3_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsxMTk1NzU3YS0xOTVmLTQ5NjktYjZlMC1mZmQ3YTlhODJjYzY=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '493'
    status:
      code: 200
      message: OK
[...]
