interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs2OThmYTc4Ny04ZWQ4LTQ0MjAtOGE3YS00NmE1OGIyZDZiNzM=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs2OThmYTc4Ny04ZWQ4LTQ0MjAtOGE3YS00NmE1OGIyZDZiNzM=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11984'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs2OThmYTc4Ny04ZWQ4LTQ0MjAtOGE3YS00NmE1OGIyZDZiNzM=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com","name":"zone7.com","type":"Microsoft.Network\/privateDnsZones","etag":"4c289fc4-bc10-4540-a3f8-82bf8367ebe0","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 4c289fc4-bc10-4540-a3f8-82bf8367ebe0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/soa/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"e1a52f9c-4b24-4ecc-aa47-9f5088d942b0","properties":{"fqdn":"zone7.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":10,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - e1a52f9c-4b24-4ecc-aa47-9f5088d942b0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 60, "txtRecords": [{"value": ["a\\\\b\\255\\000\\;\\\"\\\"\\\"testtesttest\\\"\\\"\\\""]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/txt/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/TXT\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"427982df-f2d3-4fe6-8cff-18ab60e523f0","properties":{"fqdn":"zone7.com.","ttl":60,"txtRecords":[{"value":["a\\\\b\\255\\000\\;\\\"\\\"\\\"testtesttest\\\"\\\"\\\""]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 427982df-f2d3-4fe6-8cff-18ab60e523f0
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11975'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["ab\\ cd"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/txt/txt1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/TXT\/txt1","name":"txt1","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"f2e2547b-9f78-4154-8c1e-baaa180618e8","properties":{"fqdn":"txt1.zone7.com.","ttl":3600,"txtRecords":[{"value":["ab\\
        cd"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f2e2547b-9f78-4154-8c1e-baaa180618e8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11974'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/cname/cn1?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/CNAME\/cn1","name":"cn1","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"a09547ad-6324-428a-8cd8-7162994bfac1","properties":{"fqdn":"cn1.zone7.com.","ttl":3600,"cnameRecord":{"cname":"contoso.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a09547ad-6324-428a-8cd8-7162994bfac1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11996'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/SOA\/@[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsZones/zone7.com/soa?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone7_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone7.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"9dbd91f4-4bb7-4c9c-88e0-25dc083b3e3e","properties":{"fqdn":"zone7.com.","ttl":3600,"soaRecord":{"email":"azuredns-hostmaster.microsoft.com.","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59998'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTs5YTIyOWMwZi1jYzdiLTRkNzYtYjcwNC02YjNjM2I4ZTcwODA=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '495'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone7_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTthZDk0NmIzYS1mMWEzLTQ2Y2UtYjgzOS0zNGFiMDljZTZjZTM=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '493'
    status:
      code: 200
      message: OK
[...]
