interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTszZDNmMWM1MC0yMTA2LTQ2OWEtYjE3ZS0zZjQ5NDJlNGI2ODE=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTszZDNmMWM1MC0yMTA2LTQ2OWEtYjE3ZS0zZjQ5NDJlNGI2ODE=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11989'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTszZDNmMWM1MC0yMTA2LTQ2OWEtYjE3ZS0zZjQ5NDJlNGI2ODE=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '495'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local","name":"zone.local","type":"Microsoft.Network\/privateDnsZones","etag":"12d05fc3-1adf-490f-995d-dc7eac3a868f","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 12d05fc3-1adf-490f-995d-dc7eac3a868f
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/soa/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"70a400be-8545-4443-8c51-e3f14e7ef03d","properties":{"fqdn":"zone.local.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":10,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 70a400be-8545-4443-8c51-e3f14e7ef03d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '494'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 1, "exchange":
      "mail.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/mx/mymx?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/MX\/mymx","name":"mymx","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"7306e284-b412-4a3b-bd64-e01164de6c63","properties":{"fqdn":"mymx.zone.local.","ttl":3600,"mxRecords":[{"exchange":"mail.contoso.com.","preference":1}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 7306e284-b412-4a3b-bd64-e01164de6c63
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/a/manuala?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/A\/manuala","name":"manuala","type":"Microsoft.Network\/privateDnsZones\/A","etag":"b555acd4-c022-433e-8539-08bd8b10ae78","properties":{"fqdn":"manuala.zone.local.","ttl":3600,"aRecords":[{"ipv4Address":"10.0.0.10"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b555acd4-c022-433e-8539-08bd8b10ae78
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11980'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 0, "aRecords": [{"ipv4Address": "10.0.1.0"}, {"ipv4Address":
      "10.0.1.1"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/a/mya?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/A\/mya","name":"mya","type":"Microsoft.Network\/privateDnsZones\/A","etag":"6f1e5a7c-9f5d-48d5-9231-c694cde90ff7","properties":{"fqdn":"mya.zone.local.","ttl":0,"aRecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 6f1e5a7c-9f5d-48d5-9231-c694cde90ff7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11979'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aaaaRecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/aaaa/myaaaa?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/AAAA\/myaaaa","name":"myaaaa","type":"Microsoft.Network\/privateDnsZones\/AAAA","etag":"38c765c5-28ba-4cc1-9737-79f23ec06065","properties":{"fqdn":"myaaaa.zone.local.","ttl":3600,"aaaaRecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 38c765c5-28ba-4cc1-9737-79f23ec06065
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/cname/mycname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/CNAME\/mycname","name":"mycname","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"027d9400-aef5-4cb4-a152-42cd76308c26","properties":{"fqdn":"mycname.zone.local.","ttl":3600,"cnameRecord":{"cname":"contoso.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 027d9400-aef5-4cb4-a152-42cd76308c26
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11992'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "ptrRecords": [{"ptrdname": "myptrdname"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/ptr/myname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/PTR\/myname","name":"myname","type":"Microsoft.Network\/privateDnsZones\/PTR","etag":"6f36bec0-40c6-4da0-b713-602a024ef7f3","properties":{"fqdn":"myname.zone.local.","ttl":3600,"ptrRecords":[{"ptrdname":"myptrdname"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 6f36bec0-40c6-4da0-b713-602a024ef7f3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "ptrRecords": [{"ptrdname": "contoso.com"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/ptr/myptr?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/PTR\/myptr","name":"myptr","type":"Microsoft.Network\/privateDnsZones\/PTR","etag":"45bb0d8b-dd8b-448b-95a3-53f9fdba912d","properties":{"fqdn":"myptr.zone.local.","ttl":3600,"ptrRecords":[{"ptrdname":"contoso.com"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 45bb0d8b-dd8b-448b-95a3-53f9fdba912d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11994'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["manualtxt"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/txt/myname2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/TXT\/myname2","name":"myname2","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"c8c96f61-133c-4afd-8c81-d90bc08f1929","properties":{"fqdn":"myname2.zone.local.","ttl":3600,"txtRecords":[{"value":["manualtxt"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c8c96f61-133c-4afd-8c81-d90bc08f1929
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11978'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 7200, "txtRecords": [{"value": ["abc def"]}, {"value":
      ["foo bar"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/txt/mytxt2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/TXT\/mytxt2","name":"mytxt2","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"37848c3f-e438-4362-9d78-b8730f7833fc","properties":{"fqdn":"mytxt2.zone.local.","ttl":7200,"txtRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 37848c3f-e438-4362-9d78-b8730f7833fc
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11977'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["hi"]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/txt/mytxtrs?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/TXT\/mytxtrs","name":"mytxtrs","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"db9e127c-77b6-4b17-8d5f-ddd7e405b8b6","properties":{"fqdn":"mytxtrs.zone.local.","ttl":3600,"txtRecords":[{"value":["hi"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - db9e127c-77b6-4b17-8d5f-ddd7e405b8b6
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11976'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 1, "weight": 2,
      "port": 1234, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/srv/mysrv?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/SRV\/mysrv","name":"mysrv","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"1ea2aa87-bebd-40ff-8500-36f888ab6f4e","properties":{"fqdn":"mysrv.zone.local.","ttl":3600,"srvRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1ea2aa87-bebd-40ff-8500-36f888ab6f4e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11993'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 100, "weight":
      1, "port": 443, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/srv/_sip._tls?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/SRV\/_sip._tls","name":"_sip._tls","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"fee47c9d-a8c5-4ba8-979b-92a946daccb7","properties":{"fqdn":"_sip._tls.zone.local.","ttl":3600,"srvRecords":[{"port":443,"priority":100,"target":"target.contoso.com.","weight":1}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - fee47c9d-a8c5-4ba8-979b-92a946daccb7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11992'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsZones/zone.local/soa?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone_local_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone.local\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"993242d8-239a-4b7f-96bd-597b3a72680b","properties":{"fqdn":"zone.local.","ttl":3600,"soaRecord":{"email":"azuredns-hostmaster.microsoft.com.","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59997'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTtlYjdlNjI1ZS0wOGRjLTRkNzgtYTEyNy04MWY3NGRlOThhOGE=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '494'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone_local_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtiNGY3MTk5YS1lYzU3LTQxNjItOWZhNi1iNWY1ZmM5OGYyYTU=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 200
      message: OK
[...]
