interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs1MWJmYWNjYi03NmU3LTRmNjktOTdmMS0wYjcyODU1MDhiNGM=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs1MWJmYWNjYi03NmU3LTRmNjktOTdmMS0wYjcyODU1MDhiNGM=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs1MWJmYWNjYi03NmU3LTRmNjktOTdmMS0wYjcyODU1MDhiNGM=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com","name":"zone6.com","type":"Microsoft.Network\/privateDnsZones","etag":"950b1613-5de3-474d-b3c6-7e00c4906ec7","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 950b1613-5de3-474d-b3c6-7e00c4906ec7
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '487'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com/SOA/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"1fbf3b43-b248-4627-8b65-9e3786ef9501","properties":{"fqdn":"zone6.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":3600,"retryTime":300,"serialNumber":1,"minimumTtl":300},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1fbf3b43-b248-4627-8b65-9e3786ef9501
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.1.1.1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com/A/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com\/A\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/A","etag":"bfa43f2c-6e5b-4533-9f31-82b167cd1fd5","properties":{"fqdn":"zone6.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.1.1.1"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - bfa43f2c-6e5b-4533-9f31-82b167cd1fd5
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.1.1.1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com/A/www?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com\/A\/www","name":"www","type":"Microsoft.Network\/privateDnsZones\/A","etag":"083b3170-46da-4713-9a6d-9e8c963875bf","properties":{"fqdn":"www.zone6.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.1.1.1"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 083b3170-46da-4713-9a6d-9e8c963875bf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11991'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com\/A\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/A","etag":"bfa43f2c-6e5b-4533-9f31-82b167cd1fd5","properties":{"fqdn":"zone6.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.1.1.1"}],"isAutoRegistered":false}},{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsZones/zone6.com/SOA?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone6_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone6.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"9f2c2199-ba84-426f-9ff8-cbbe29b302af","properties":{"fqdn":"zone6.com.","ttl":3600,"soaRecord":{"email":"azuredns-hostmaster.microsoft.com.","expireTime":2419200,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":3600,"retryTime":300,"serialNumber":1,"minimumTtl":300},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTsyZGMwNjMxYy1mOTMzLTQwZTktODE3MS02ZGI4M2NhMWFhNjI=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone6_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyZmQyYzJhNi04MDY5LTRkNWItYWU2MS0wMWZhMjc4NjFmNjY=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
[...]
