interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtlMmI4MzBiOC0xZjU4LTQ1ZjgtODE3Ny1lOGJiYWQ4MDA3MjQ=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtlMmI4MzBiOC0xZjU4LTQ1ZjgtODE3Ny1lOGJiYWQ4MDA3MjQ=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtlMmI4MzBiOC0xZjU4LTQ1ZjgtODE3Ny1lOGJiYWQ4MDA3MjQ=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com","name":"zone1.com","type":"Microsoft.Network\/privateDnsZones","etag":"91d521b2-cb16-4e6c-934f-0ed4717f7281","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 91d521b2-cb16-4e6c-934f-0ed4717f7281
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '495'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/SOA/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"35a11c2e-e90f-4f02-8b34-2737cfe3385e","properties":{"fqdn":"zone1.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":3600,"retryTime":300,"serialNumber":1,"minimumTtl":300},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 35a11c2e-e90f-4f02-8b34-2737cfe3385e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 3600, "mxRecords": [{"preference": 1, "exchange":
      "mail.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/MX/mymx?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/MX\/mymx","name":"mymx","type":"Microsoft.Network\/privateDnsZones\/MX","etag":"c3a450f7-71af-48c4-a2eb-07a2e6570e78","properties":{"fqdn":"mymx.zone1.com.","ttl":3600,"mxRecords":[{"exchange":"mail.contoso.com.","preference":1}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - c3a450f7-71af-48c4-a2eb-07a2e6570e78
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "10.0.0.10"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/A/manuala?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/A\/manuala","name":"manuala","type":"Microsoft.Network\/privateDnsZones\/A","etag":"edb63e4e-0ebd-4000-a92b-6d8431abadb9","properties":{"fqdn":"manuala.zone1.com.","ttl":3600,"aRecords":[{"ipv4Address":"10.0.0.10"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - edb63e4e-0ebd-4000-a92b-6d8431abadb9
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 0, "aRecords": [{"ipv4Address": "10.0.1.0"}, {"ipv4Address":
      "10.0.1.1"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/A/mya?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/A\/mya","name":"mya","type":"Microsoft.Network\/privateDnsZones\/A","etag":"eff5595f-4944-4c11-8c5c-31ae7b42d49b","properties":{"fqdn":"mya.zone1.com.","ttl":0,"aRecords":[{"ipv4Address":"10.0.1.0"},{"ipv4Address":"10.0.1.1"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - eff5595f-4944-4c11-8c5c-31ae7b42d49b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aaaaRecords": [{"ipv6Address": "2001:4898:e0:99:6dc4:6329:1c99:4e69"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/AAAA/myaaaa?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/AAAA\/myaaaa","name":"myaaaa","type":"Microsoft.Network\/privateDnsZones\/AAAA","etag":"d1191185-05c4-4a62-8698-245acefdb039","properties":{"fqdn":"myaaaa.zone1.com.","ttl":3600,"aaaaRecords":[{"ipv6Address":"2001:4898:e0:99:6dc4:6329:1c99:4e69"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - d1191185-05c4-4a62-8698-245acefdb039
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "cnameRecord": {"cname": "contoso.com."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/CNAME/mycname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/CNAME\/mycname","name":"mycname","type":"Microsoft.Network\/privateDnsZones\/CNAME","etag":"24d7b510-6a6b-4e98-a118-1068d92a4252","properties":{"fqdn":"mycname.zone1.com.","ttl":3600,"cnameRecord":{"cname":"contoso.com."},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 24d7b510-6a6b-4e98-a118-1068d92a4252
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "ptrRecords": [{"ptrdname": "myptrdname"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/PTR/myname?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/PTR\/myname","name":"myname","type":"Microsoft.Network\/privateDnsZones\/PTR","etag":"8983963f-1970-4cd7-8809-43b529dfc24d","properties":{"fqdn":"myname.zone1.com.","ttl":3600,"ptrRecords":[{"ptrdname":"myptrdname"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 8983963f-1970-4cd7-8809-43b529dfc24d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "ptrRecords": [{"ptrdname": "contoso.com"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/PTR/myptr?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/PTR\/myptr","name":"myptr","type":"Microsoft.Network\/privateDnsZones\/PTR","etag":"df509397-34be-476b-ad65-a7ab2bb4bd02","properties":{"fqdn":"myptr.zone1.com.","ttl":3600,"ptrRecords":[{"ptrdname":"contoso.com"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - df509397-34be-476b-ad65-a7ab2bb4bd02
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["manualtxt"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/TXT/myname2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/TXT\/myname2","name":"myname2","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"07a1dda0-067f-42a0-9f36-e3e574dd3c27","properties":{"fqdn":"myname2.zone1.com.","ttl":3600,"txtRecords":[{"value":["manualtxt"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 07a1dda0-067f-42a0-9f36-e3e574dd3c27
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 7200, "txtRecords": [{"value": ["abc def"]}, {"value":
      ["foo bar"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/TXT/mytxt2?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/TXT\/mytxt2","name":"mytxt2","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"b1934e14-e6d8-42ca-a227-412c8aecc1d8","properties":{"fqdn":"mytxt2.zone1.com.","ttl":7200,"txtRecords":[{"value":["abc
        def"]},{"value":["foo bar"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - b1934e14-e6d8-42ca-a227-412c8aecc1d8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11998'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "txtRecords": [{"value": ["hi"]}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/TXT/mytxtrs?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/TXT\/mytxtrs","name":"mytxtrs","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"6a0c1742-4918-47d2-93f3-307718c97e67","properties":{"fqdn":"mytxtrs.zone1.com.","ttl":3600,"txtRecords":[{"value":["hi"]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 6a0c1742-4918-47d2-93f3-307718c97e67
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 1, "weight": 2,
      "port": 1234, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/SRV/mysrv?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/SRV\/mysrv","name":"mysrv","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"70b6a37c-dfd9-43ca-bed7-87fcdfbb4a64","properties":{"fqdn":"mysrv.zone1.com.","ttl":3600,"srvRecords":[{"port":1234,"priority":1,"target":"target.contoso.com.","weight":2}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 70b6a37c-dfd9-43ca-bed7-87fcdfbb4a64
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "srvRecords": [{"priority": 100, "weight":
      1, "port": 443, "target": "target.contoso.com."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/SRV/_sip._tls?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/SRV\/_sip._tls","name":"_sip._tls","type":"Microsoft.Network\/privateDnsZones\/SRV","etag":"ffc71334-ec96-417c-9edd-99678214d5bd","properties":{"fqdn":"_sip._tls.zone1.com.","ttl":3600,"srvRecords":[{"port":443,"priority":100,"target":"target.contoso.com.","weight":1}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ffc71334-ec96-417c-9edd-99678214d5bd
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/SOA\/@[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsZones/zone1.com/SOA?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/52bae96a-3806-426c-a5dc-1ae6016b5f15\/resourceGroups\/cli_private_dns_zone1_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone1.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"16dcece1-d26a-4035-8050-e0a69ecf3b5f","properties":{"fqdn":"zone1.com.","ttl":3600,"soaRecord":{"email":"azuredns-hostmaster.microsoft.com.","expireTime":2419200,"host":"azureprivatedns.net","minimumTTL":null,"refreshTime":3600,"retryTime":300,"serialNumber":1,"minimumTtl":300},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59999'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTs3OWIzNTlhNS0wM2I2LTQ3YzUtYjA4ZS05NmE1OTNhZjIwMjg=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone1_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTsyMGIyZDllNy1jZWViLTQ4NjYtODA3YS1hN2FjYWQxNzhmYTA=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
[...]
