interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtkMWQ1YTAxMy1jYmNmLTRlOWUtYmNlMi1jZjNlY2FhMDcxODY=?api-version=2018-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsOperationResults/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtkMWQ1YTAxMy1jYmNmLTRlOWUtYmNlMi1jZjNlY2FhMDcxODY=?api-version=2018-09-01
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11987'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtkMWQ1YTAxMy1jYmNmLTRlOWUtYmNlMi1jZjNlY2FhMDcxODY=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com","name":"zone8.com","type":"Microsoft.Network\/privateDnsZones","etag":"5531725f-9e4e-4ad1-aaba-2dc661e3af64","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 5531725f-9e4e-4ad1-aaba-2dc661e3af64
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '496'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/soa/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"19fcdd08-794f-4628-a949-dd0cd825fe9b","properties":{"fqdn":"zone8.com.","ttl":3600,"soaRecord":{"email":"azureprivatedns-host.microsoft.com","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":10,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 19fcdd08-794f-4628-a949-dd0cd825fe9b
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '497'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"ttl": 172800, "txtRecords": [{"value": ["ns1-03.azure-dns.com."]}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/txt/@?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/TXT\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/TXT","etag":"a735adfc-c406-4cca-a35b-e933c74ef781","properties":{"fqdn":"zone8.com.","ttl":172800,"txtRecords":[{"value":["ns1-03.azure-dns.com."]}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - a735adfc-c406-4cca-a35b-e933c74ef781
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11995'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "1.2.3.4"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/a/ns?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/A\/ns","name":"ns","type":"Microsoft.Network\/privateDnsZones\/A","etag":"1300526b-3c27-4309-be8d-0c7b97f84618","properties":{"fqdn":"ns.zone8.com.","ttl":3600,"aRecords":[{"ipv4Address":"1.2.3.4"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 1300526b-3c27-4309-be8d-0c7b97f84618
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11987'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"ttl": 3600, "aRecords": [{"ipv4Address": "2.3.4.5"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/a/*?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/A\/*","name":"*","type":"Microsoft.Network\/privateDnsZones\/A","etag":"84b9a803-bb44-4ab3-8c17-61db9ce2a5b3","properties":{"fqdn":"*.zone8.com.","ttl":3600,"aRecords":[{"ipv4Address":"2.3.4.5"}],"isAutoRegistered":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - 84b9a803-bb44-4ab3-8c17-61db9ce2a5b3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11986'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/ALL?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/A\/*",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsZones/zone8.com/soa?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/cli_private_dns_zone8_import000001\/providers\/Microsoft.Network\/privateDnsZones\/zone8.com\/SOA\/@","name":"@","type":"Microsoft.Network\/privateDnsZones\/SOA","etag":"d95684b2-8387-40b3-8a82-0684d8d94c94","properties":{"fqdn":"zone8.com.","ttl":3600,"soaRecord":{"email":"azuredns-hostmaster.microsoft.com.","expireTime":2419200,"host":"azureprivatedns.net","minimumTtl":300,"refreshTime":3600,"retryTime":300,"serialNumber":1},"isAutoRegistered":false}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-entities-read:
      - '59998'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '498'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtEZWxldGVQcml2YXRlRG5zWm9uZTswNTNmNTg0Yy03MDdlLTQ1NWMtOTE0OS1iZmE0NTQyNDkxYzQ=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '494'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_private_dns_zone8_import000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTtiNWZkNTkyMi01NTJmLTQzNTgtOTY1ZS02OGVmZGQ5MTYyZTk=?api-version=2018-09-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '495'
    status:
      code: 200
      message: OK
[...]
