interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:22:55 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:22:56 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:22:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:00 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:03 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>737f6eda-8dbf-420e-93fd-8937a05038d3</MessageId><InsertionTime>Thu,
        18 Jun 2020 14:23:03 GMT</InsertionTime><ExpirationTime>Thu, 25 Jun 2020 14:23:03
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAlYFw+ntF1gE=</PopReceipt><TimeNextVisible>Thu,
        18 Jun 2020 14:23:03 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:04 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>737f6eda-8dbf-420e-93fd-8937a05038d3</MessageId><InsertionTime>Thu,
        18 Jun 2020 14:23:03 GMT</InsertionTime><ExpirationTime>Thu, 25 Jun 2020 14:23:03
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:06 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/737f6eda-8dbf-420e-93fd-8937a05038d3?popreceipt=AgAAAAMAAAAAAAAANqLkDXxF1gE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAATdJb/XtF1gEBAAAA
      x-ms-time-next-visible:
      - Thu, 18 Jun 2020 14:23:08 GMT
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:14 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>737f6eda-8dbf-420e-93fd-8937a05038d3</MessageId><InsertionTime>Thu,
        18 Jun 2020 14:23:03 GMT</InsertionTime><ExpirationTime>Thu, 25 Jun 2020 14:23:03
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>6d5a8e15-f131-482a-85b1-3eb0c57a985b</MessageId><InsertionTime>Thu,
        18 Jun 2020 14:23:12 GMT</InsertionTime><ExpirationTime>Thu, 25 Jun 2020 14:23:12
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>b0038c35-f61b-4c0a-b4d2-c741182da9c8</MessageId><InsertionTime>Thu,
        18 Jun 2020 14:23:13 GMT</InsertionTime><ExpirationTime>Thu, 25 Jun 2020 14:23:13
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:16 GMT
      x-ms-version:
      - '2017-04-17'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/737f6eda-8dbf-420e-93fd-8937a05038d3?popreceipt=AgAAAAMAAAAAAAAAYPKuE3xF1gE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:23 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:cd48dac3-6003-0019-6f7c-453458000000\nTime:2020-06-18T14:23:24.2092026Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 18 Jun 2020 14:23:24 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
version: 1
