interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-06-15T21:00:47Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-02-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-06-15T21:00:47Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westus", "kind": "Storage", "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-01-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/9dec3b8f-6bcf-4295-b9cb-c177b22fa921?monitor=true&api-version=2016-01-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/9dec3b8f-6bcf-4295-b9cb-c177b22fa921?monitor=true&api-version=2016-01-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"encryption":{"services":{"blob":{"enabled":true,"lastEnabledTime":"2018-06-15T21:00:48.5228898Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-06-15T21:00:48.3510507Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"2OSyOyd8OObVrjyO1LmQXvbd87TaoQDQyiCpcArF5K6GJgYifppG7QSSBSJbcwRdK0x6YhdB3zl2zMfbIN6GiA==","permissions":"FULL"},{"keyName":"key2","value":"S65+IcWaazoqfgy3Bmf47DmNJca08KkzKLRNEb5IMlPlGe3MiLSvwmdu1ZDFNbR5BK//ugtH+gagDb7P3lkUDw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 15 Jun 2018 21:01:07 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5D3031DB4C009"']
      last-modified: ['Fri, 15 Jun 2018 21:01:07 GMT']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 15 Jun 2018 21:01:08 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1?restype=directory
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5D3031E1A61AD"']
      last-modified: ['Fri, 15 Jun 2018 21:01:08 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-content-length: ['524288']
      x-ms-date: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-type: [file]
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5D3031E7738A0"']
      last-modified: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      524288 is larger than 128KB. !!!'
    headers:
      x-ms-date: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-range: [bytes=0-524287]
      x-ms-version: ['2017-04-17']
      x-ms-write: [update]
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt?comp=range
  response:
    body: {string: ''}
    headers:
      content-md5: [WQcVkAmdId1DmJZZIzi/lQ==]
      etag: ['"0x8D5D3031EA8B1E9"']
      last-modified: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2017-04-17']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/dir1/source_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5D3031EA8B1E9"']
      last-modified: ['Fri, 15 Jun 2018 21:01:09 GMT']
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-copy-source: ['https://clitestpmhfhoheisvzzioks.file.core.windows.net/shareyrbpgtljg3f2vjedsa6/dir1/source_file.txt']
      x-ms-date: ['Fri, 15 Jun 2018 21:01:10 GMT']
      x-ms-version: ['2017-04-17']
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D5D3031FF6A48F"']
      last-modified: ['Fri, 15 Jun 2018 21:01:11 GMT']
      x-ms-copy-id: [847c0b4d-b0ca-4ccc-8c5f-502f0d87d7d2]
      x-ms-copy-status: [success]
      x-ms-version: ['2017-04-17']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 15 Jun 2018 21:01:12 GMT']
      x-ms-version: ['2017-04-17']
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000004/dir2/destination_file.txt
  response:
    body: {string: ''}
    headers:
      content-type: [application/octet-stream]
      etag: ['"0x8D5D3031FF6A48F"']
      last-modified: ['Fri, 15 Jun 2018 21:01:11 GMT']
      x-ms-copy-completion-time: ['Fri, 15 Jun 2018 21:01:11 GMT']
      x-ms-copy-id: [847c0b4d-b0ca-4ccc-8c5f-502f0d87d7d2]
      x-ms-copy-progress: [524288/524288]
      x-ms-copy-source: ['https://clitestpmhfhoheisvzzioks.file.core.windows.net/shareyrbpgtljg3f2vjedsa6/dir1/source_file.txt']
      x-ms-copy-status: [success]
      x-ms-server-encrypted: ['true']
      x-ms-type: [File]
      x-ms-version: ['2017-04-17']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-02-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdHSURaVVJIUk5HSUlNMzJaQkJPMkNMMk1KUUxVSUJSVkpZVnwxQjVBMUNBODVDOEEyQTQ4LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-02-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
