interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-01-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11997'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 13 Feb 2020 14:06:23 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestps5r6meu2c7wjugm5.table.core.windows.net/Tables('tabler2apa3763ilc7h3vzf5')
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:06:30 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "value": "something", "RowKey": "001", "PartitionKey":
      "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Thu, 13 Feb 2020 14:07:33 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestps5r6meu2c7wjugm5.table.core.windows.net/tabler2apa3763ilc7h3vzf5(PartitionKey='001',RowKey='001')
      etag:
      - W/"datetime'2020-02-13T14%3A07%3A41.0256225Z'"
      location:
      - https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:07:35 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2020-02-13T14%3A07%3A41.0256225Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-02-13T14:07:41.0256225Z","name":"test","value":"something"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-02-13T14%3A07%3A41.0256225Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:07:36 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2020-02-13T14%3A07%3A41.0256225Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-02-13T14%3A07%3A41.0256225Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "value": "newval", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:07:44 GMT
      x-ms-version:
      - '2017-04-17'
    method: MERGE
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-02-13T14%3A07%3A51.5688964Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:07:51 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-02-13T14%3A08%3A00.8625382Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:08:05 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:ae40dc27-6002-006b-5f77-e242c9000000\nTime:2020-02-13T14:08:17.8375053Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:08:44 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?%24top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-02-13T14%3A08%3A33.0918195Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-02-13T14:08:33.0918195Z","name":"test","value":"something"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:08:45 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-02-13T14%3A08%3A49.3594736Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2020-02-13T14:08:49.3594736Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:08:53 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:10:02 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:10:04 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:10:06 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Thu, 13 Feb 2020 14:11:35 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:5c94227f-e002-0071-2a77-e26da6000000\nTime:2020-02-13T14:11:47.0205789Z"}}}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
version: 1
