interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-08T00:07:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"1fe4c223-4d7a-49d2-a56b-3affe3baeff2","clientId":"a57d9916-c354-4765-acd3-8b41bde18f8b"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/eventhubs-kv000012''
        under resource group ''cli_test_eh_namespace000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"azureclilivetest","givenName":null,"jobTitle":null,"mail":null,"mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":null,"userPrincipalName":"azureclilivetest@azuresdkteam.onmicrosoft.com","id":"6b30bdc6-696a-46fb-82d7-739c2fb147b7"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"East US","Slice":"E","Ring":"5","ScaleUnit":"000","RoleInstance":"BL4PEPF000001AB"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012","name":"eventhubs-kv000012","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","createdByType":"User","createdAt":"2023-02-08T00:08:11.972Z","lastModifiedBy":"azureclilivetest@azuresdkteam.onmicrosoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-08T00:08:11.972Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","accessPolicies":[{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","objectId":"6b30bdc6-696a-46fb-82d7-739c2fb147b7","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://eventhubs-kv000012.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId": "6b30bdc6-696a-46fb-82d7-739c2fb147b7",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a", "objectId":
      "1fe4c22[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://eventhubs-kv000012.vault.azure.net/keys/key1/3ca4118d4c1f41f5b40417c7f88746e6","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"4uXo6VIR1xZTrq-RKp85163Ba_Ncm7e1I_Ahl-PXp7uUDhwCQZB7ClFGYtyuOhqlp3eHMjIlqlgBxmuqGeIZ8ZTFhu_VCrd4tRMrMCX7jbu7LgorSgAj4MJNYrpCZHp7o6yVC1IveetC0MTl6VtgxabEKsPX9iBXlBaGCN0MBgg6BRnDfKfPnyB8JVkEz96iZU6vO6rdHl1lf6t3Urcp2w_HMcedOyj7mnPoBo57PSeyZSbvf4OAXZKJEMhrJFR1TaMi8rZNMKOfrFNDdge5XBvn8PKab0141sjf6gPnxTzBknAchhy8aJ-ThTdKazcxZn_nn2OsM8VJC63GBYm8qQ","e":"AQAB"},"attributes":{"enabled":true,"created":1675814933,"updated":1675814933,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned"}, "properties": {"publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"3831d77f-ee13-44d5-9d52-ecefcfa0e095","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"ActivatingIdentity","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:servicebus-nscli000003","createdAt":"2023-02-08T00:08:58.79Z","updatedAt":"2023-02-08T00:08:58.79Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned"}, "properties":
      {"minimumTlsVersion": "1.2", "zoneRedundant": false, "encryption": {"keyVaultProperties":
      [{"keyName": "key1", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}, {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}], "keySource": "Microsoft.KeyVault"}, "disableLocalAuth":
      false, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"3831d77f-ee13-44d5-9d52-ecefcfa0e095","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"encryption":{"keySource":"Microsoft.KeyVault","keyVaultProperties":[{"keyName":"key1","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""},{"keyName":"key2","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""}],"requireInfrastructureEncryption":false},"provisioningState":"Updating","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:servicebus-nscli000003","createdAt":"2023-02-08T00:08:58.79Z","updatedAt":"2023-02-08T00:16:47.29Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}}}, "properties": {"encryption": {"keyVaultProperties": [{"keyName": "key1",
      "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net", "keyVersion": "",
      "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008"}},
      {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": "", "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008[...]
[...]
