interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_sb_namespace_msi","date":"2024-09-29T05:00:09Z","module":"servicebus"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2023-01-31
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"6bef94af-28f7-4436-93ce-f13c150d2be9","clientId":"cd5488c7-4452-4e97-96c1-d549b6c882c9"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "UserAssigned", "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity3000010":
      {}}}, "location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"northeurope","tags":{},"properties":{"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"northeurope","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":1,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"metricId":"326100e2-f69d-4268-8503-075374f62b6e:servicebus-nscli000003","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","provisioningState":"Creating","status":"Creating","createdAt":"2024-09-29T05:00:38.3808758Z","updatedAt":"2024-09-29T05:00:38.3808758Z"},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity3000010":{"clientId":"f011fa36-e402-439c-8469-9a5549d5aa3b","principalId":"6d92e32f-a919-4836-ba12-9fc5a14d61e9"},"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":{"clientId":"c509d345-6a96-44a0-835c-e4259b1becb4","principalId":"7d90dd4f-6e77-4c7e-b1a3-5e44b31d0f78"},"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":{"clientId":"cd5488c7-4452-4e97-96c1-d549b6c882c9","principalId":"6bef94af-28f7-4436-93ce-f13c150d2be9"}}},"sku":{"name":"Premium","tier":"Premium","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 7a15fd1b-8ee0-4257-a7bd-5f1fba1be8a0
      x-ms-messaging-routing-id:
      - NORTHEUROPE|NORTHEUROPE|G11|2024-09-29T05:00:38
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000002?api-version=2023-01-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/ef73fd0b-84b0-4ac2-97cb-369830493679?isAsyncHeader=false&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631839283787785&c=MIIHhzCCBm-gAwIBAgITHgTUiK_KKnJ-Y9Hy-QAABNSIrzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0E[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/ef73fd0b-84b0-4ac2-97cb-369830493679?isAsyncHeader=false&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631839283787785&c=MIIHhzCCBm-gAwIBAgITHgTUiK_KKnJ-Y9Hy-QAABNSIrzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/ef73fd0b-84b0-4ac2-97cb-369830493679?isAsyncHeader=false&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631839297858676&c=MIIHpTCCBo2gAwIBAgITOgO1eaNDEi_BvGCTxQAEA7V5ozANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/ef73fd0b-84b0-4ac2-97cb-369830493679?isAsyncHeader=false&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631839611156853&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/ef73fd0b-84b0-4ac2-97cb-369830493679?isAsyncHeader=false&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631839925441062&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/fcacfefa-3544-4cdf-96ca-ecba35003f25?isAsyncHeader=false&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631840271362337&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/fcacfefa-3544-4cdf-96ca-ecba35003f25?isAsyncHeader=false&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631840285015908&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/fcacfefa-3544-4cdf-96ca-ecba35003f25?isAsyncHeader=false&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631840599326372&c=MIIHpTCCBo2gAwIBAgITOgO1eaNDEi_BvGCTxQAEA7V5ozANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/fcacfefa-3544-4cdf-96ca-ecba35003f25?isAsyncHeader=false&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638631840913038145&c=MIIHhzCCBm-gAwIBAgITfAWHizdXQLRDd48J5AAABYeLNzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyL[...]
