interactions:
- request:
    body: '{"name": "sb-std-nscli000002"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/CheckNameAvailability?api-version=2017-04-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"None","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "SouthCentralUS", "tags": {"{tag2: value2,": "", "tag1: value1}":
      ""}, "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002","name":"sb-std-nscli000002","type":"Microsoft.ServiceBus/Namespaces","location":"South
        Central US","tags":{"{tag2: value2,":"","tag1: value1}":""},"properties":{"zoneRedundant":false,"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:sb-std-nscli000002","createdAt":"2021-04-25T02:08:18.34Z","updatedAt":"2021-04-25T02:08:18.34Z","serviceBusEndpoint":"https://sb-std-nscli000002.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "NorthCentralUS", "tags": {"{tag2: value2,": "", "tag1: value1}":
      ""}, "sku": {"name": "Premium", "tier": "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003","name":"sb-pre-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Central US","tags":{"{tag2: value2,":"","tag1: value1}":""},"properties":{"zoneRedundant":false,"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:sb-pre-nscli000003","createdAt":"2021-04-25T02:09:31.82Z","updatedAt":"2021-04-25T02:09:31.82Z","serviceBusEndpoint":"https://sb-pre-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/AuthorizationRules/cliAutho000004?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/AuthorizationRules/cliAutho000004","name":"cliAutho000004","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"South
        Central US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/queues/queue0?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/queues/queue0","name":"queue0","type":"Microsoft.ServiceBus/Namespaces/Queues","location":"South
        Central US","properties":{"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2021-04-25T02:11:18.667Z","updatedAt":"2021-04-25T02:11:18.697Z","accessedAt":"0001-01-01T00:00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/topics/topic0?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/topics/topic0","name":"topic0","type":"Microsoft.ServiceBus/Namespaces/Topics","location":"South
        Central US","properties":{"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2021-04-25T02:11:46.45Z","updatedAt":"2021-04-25T02:11:46.517Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"targetNamespace": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003",
      "postMigrationName": "clipostmigration000005"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/migrationConfigurations/%24default?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/migrationConfigurations/$default","name":"sb-std-nscli000002","type":"Microsoft.ServiceBus/Namespaces/migrationconfigurations","properties":{"provisioningState":"Accepted","targetNamespace":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003","postMigrationName":"clipostmigration000005","migrationState":"Initiating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/migrationConfigurations/%24default?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/migrationConfigurations/$default","name":"sb-std-nscli000002","type":"Microsoft.ServiceBus/Namespaces/migrationconfigurations","properties":{"provisioningState":"Succeeded","targetNamespace":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003","postMigrationName":"clipostmigration000005","pendingReplicationOperationsCount":10,"migrationState":"Syncing"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/migrationConfigurations/%24default/upgrade?api-version=2017-04-01
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/AuthorizationRules/cliAutho000004?api-version=2017-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/AuthorizationRules/cliAutho000004","name":"cliAutho000004","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"North
        Central US","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/queues?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/queues/queue0","name":"queue0","type":"Microsoft.ServiceBus/Namespaces/Queues","location":"North
        Central US","properties":{"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/topics?api-version=2017-04-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003/topics/topic[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002","name":"sb-std-nscli000002","type":"Microsoft.ServiceBus/Namespaces","location":"South
        Central US","tags":{"{tag2: value2,":"","tag1: value1}":""},"properties":{"zoneRedundant":false,"provisioningState":"Succeeded","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:sb-std-nscli000002","createdAt":"2021-04-25T02:08:18.34Z","updatedAt":"2021-04-25T02:15:56.527Z","serviceBusEndpoint":"https://sb-std-nscli000002.servicebus.windows.net:443/","status":"Active","alternateName":"clipostmigration000005"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002?api-version=2018-01-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/operationresults/sb-std-nscli000002?api-version=2018-01-01-preview
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-std-nscli000002/operationresults/sb-std-nscli000002?api-version=2018-01-01-preview
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003?api-version=2018-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_migration000001/providers/Microsoft.ServiceBus/namespaces/sb-pre-nscli000003","name":"sb-pre-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Central US","tags":{"{tag2: value2,":"","tag1: value1}":""},"properties":{"zoneRedundant":false,"provisioningState":"Succeeded","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:sb-pre-nscli000003","createdAt":"2021-04-25T02:09:31.82Z","updatedAt":"2021-04-25T02:15:57.007Z","serviceBusEndpoint":"https://sb-pre-nscli000003.servicebus.windows.net:443/","status":"Active"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
version: 1
