interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2022-02-12T16:15:24Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2015-08-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"c9becfb7-be20-4878-967d-f4516db4696e","clientId":"756a139b-eb3d-43b2-91c0-3f0783725d45","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=c9becfb7-be20-4878-967d-f4516db4696e&aid=756a139b-eb3d-43b2-91c0-3f0783725d45"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2021-06-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/eventhubs-kv000012''
        under resource group ''cli_test_eh_namespace000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"2e7263aa-44a5-42f2-9bb1-00e46bfcdf7a","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["b76fb638-6ba6-402a-b9f9-83d28acb3d86","cd31b152-6326-4d1b-ae1b-997b625182e6","a413a9ff-720c-4822-98ef-2f37c2a21f4c","a6520331-d7d4-4276-95f5-15c0933bc757","ded3d325-1bdc-453e-8432-5bac26d7a014","afa73018-811e-46e9-988f-f75d2b1b8430","b21a6b06-1988-436e-a07b-51ec6d9f52ad","531ee2f8-b1cb-453b-9c21-d2180d014ca5","bf28f719-7844-4079-9c78-c1307898e192","28b0fa46-c39a-4188-89e[...]
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "2e7263aa-44a5-42f2-9bb1-00e46bfcdf7a",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      90, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012","name":"eventhubs-kv000012","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"davadhani@microsoft.com","createdByType":"User","createdAt":"2022-02-12T16:16:16.734Z","lastModifiedBy":"davadhani@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-02-12T16:16:16.734Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"2e7263aa-44a5-42f2-9bb1-00e46bfcdf7a","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enablePurgeProtection":true,"vaultUri":"https://eventhubs-kv000012.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "2e7263aa-44a5-42f2-9bb1-00e46bfcdf7a",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "c9becfb[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.3-preview
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.3-preview
  response:
    body:
      string: '{"key":{"kid":"https://eventhubs-kv000012.vault.azure.net/keys/key1/1dcf9f81dc26474bb590d894ecf4676a","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"5Rnb6Uvs2ReRvlS8NOjAUFpI7bLPeEiosLlwY9lWHuSPZ6Cnp4oMN_cjbnQ7r-eZ2QvP9EojljCy7DADvwa62r8mKl8IH_0szstXQjlmWNxwp8VweH5LlVqdXjIoO5-43Vr4IHD5pSDm2A7ftGOZOhx2y7WWKpGW5F8hz2pVI6SCs0NJhQLQcIcew5FdAmsGpaJSvCx1utSlBgMGGT5_rMqFfP2jSyGJxNRMWg3xEcG3qqW15xVn0L63XvA9BOlbPdys9wJMWlKAkHpFwDnfyxGD5k8QpuxEyikfYaCh7B4-TH1L0mf49wAu0t1BY0aExVKZS2Bp7j-f5y-Z6_VTiQ","e":"AQAB"},"attributes":{"enabled":true,"created":1644682626,"updated":1644682626,"recoveryLevel":"Recoverable","recoverableDays":90}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"6cae21e2-9ef6-4ffd-a997-817eee4792b5","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"ActivatingIdentity","metricId":"326100e2-f69d-4268-8503-075374f62b6e:servicebus-nscli000003","createdAt":"2022-02-12T16:17:18.523Z","updatedAt":"2022-02-12T16:17:18.523Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned"}, "properties":
      {"zoneRedundant": false, "encryption": {"keyVaultProperties": [{"keyName": "key1",
      "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net", "keyVersion": ""},
      {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}], "keySource": "Microsoft.KeyVault"}, "disableLocalAuth":
      false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2021-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"6cae21e2-9ef6-4ffd-a997-817eee4792b5","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"encryption":{"keySource":"Microsoft.KeyVault","keyVaultProperties":[{"keyName":"key1","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""},{"keyName":"key2","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""}],"requireInfrastructureEncryption":false},"provisioningState":"Updating","metricId":"326100e2-f69d-4268-8503-075374f62b6e:servicebus-nscli000003","createdAt":"2022-02-12T16:17:18.523Z","updatedAt":"2022-02-12T16:25:20.673Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}}}, "properties": {"encryption": {"keyVaultProperties": [{"keyName": "key1",
      "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net", "keyVersion": "",
      "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008"}},
      {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": "", "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008[...]
[...]
