interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard", "tier": "Standard"},
      "properties": {"publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002","name":"sb-nscli000002","type":"Microsoft.ServiceBus/Namespaces","location":"West
        US","tags":{},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"Created","metricId":"326100e2-f69d-4268-8503-075374f62b6e:sb-nscli000002","createdAt":"2023-01-12T06:23:54.227Z","updatedAt":"2023-01-12T06:23:54.227Z","serviceBusEndpoint":"https://sb-nscli000002.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules?api-version=2022-01-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen","Manage","Send"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/RootManageSharedAccessKey?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen","Manage","Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/listKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=PtFOMId0Nzhg0a+GDHfWcCHlZVWAvy4Evf1RU9itZV4=","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=olR2N9UY2/Q0cEQP111BFZe2JbVsiee5A3Vj+DNIoTQ=","primaryKey":"PtFOMId0Nzhg0a+GDHfWcCHlZVWAvy4Evf1RU9itZV4=","secondaryKey":"olR2N9UY2/Q0cEQP111BFZe2JbVsiee5A3Vj+DNIoTQ=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/regenerateKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=2DTTBHZIvEQ7R6Cp1C340q5daIxBkm/zBrI/3S7PkKE=","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=olR2N9UY2/Q0cEQP111BFZe2JbVsiee5A3Vj+DNIoTQ=","primaryKey":"2DTTBHZIvEQ7R6Cp1C340q5daIxBkm/zBrI/3S7PkKE=","secondaryKey":"olR2N9UY2/Q0cEQP111BFZe2JbVsiee5A3Vj+DNIoTQ=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "PtFOMId0Nzhg0a+GDHfWcCHlZVWAvy4Evf1RU9itZV4=", "keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/regenerateKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=PtFOMId0Nzhg0a+GDHfWcCHlZVWAvy4Evf1RU9itZV4=","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=ohqYE1VGe+Ts9HYNxPf77Y7jSdA3RelxqLaF5ugTNEU=","primaryKey":"PtFOMId0Nzhg0a+GDHfWcCHlZVWAvy4Evf1RU9itZV4=","secondaryKey":"ohqYE1VGe+Ts9HYNxPf77Y7jSdA3RelxqLaF5ugTNEU=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004","name":"cli_topic000004","type":"Microsoft.ServiceBus/namespaces/topics","location":"westus","properties":{"maxMessageSizeInKilobytes":256,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2023-01-12T06:25:45.557Z","updatedAt":"2023-01-12T06:25:45.593Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/namespaces/topics/authorizationrules","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003/ListKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=mj9q5Tpy/+RzRuR8ZBi6VWWi4xpqd4NPyYQCQuihOQo=;EntityPath=cli_topic000004","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=w9X4kFwUIoRTlY9lUztnwjyQYyhDn8SkGA++8KN/Hdc=;EntityPath=cli_topic000004","primaryKey":"mj9q5Tpy/+RzRuR8ZBi6VWWi4xpqd4NPyYQCQuihOQo=","secondaryKey":"w9X4kFwUIoRTlY9lUztnwjyQYyhDn8SkGA++8KN/Hdc=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003/regenerateKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=LeyO0sxYaCvAFMzb4Z6E/jsKaROTQ74EUnuZnBBmyjw=;EntityPath=cli_topic000004","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=w9X4kFwUIoRTlY9lUztnwjyQYyhDn8SkGA++8KN/Hdc=;EntityPath=cli_topic000004","primaryKey":"LeyO0sxYaCvAFMzb4Z6E/jsKaROTQ74EUnuZnBBmyjw=","secondaryKey":"w9X4kFwUIoRTlY9lUztnwjyQYyhDn8SkGA++8KN/Hdc=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005","name":"sb-queuecli000005","type":"Microsoft.ServiceBus/namespaces/queues","location":"westus","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2023-01-12T06:25:55.62Z","updatedAt":"2023-01-12T06:25:55.71Z","accessedAt":"0001-01-01T00:00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/namespaces/queues/authorizationrules","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003/ListKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=7zg6hjHNvBdlG+4LhhszM6aMONzftMCss/uOpVkwgQQ=;EntityPath=sb-queuecli000005","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=nNxac9Lg2xEdfLVjoGw32cCor9tuUJkY6hxd78sb7n0=;EntityPath=sb-queuecli000005","primaryKey":"7zg6hjHNvBdlG+4LhhszM6aMONzftMCss/uOpVkwgQQ=","secondaryKey":"nNxac9Lg2xEdfLVjoGw32cCor9tuUJkY6hxd78sb7n0=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003/regenerateKeys?api-version=2022-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=LHnEoHw9xE1uqEBkjWARxQm7nolo0yTLghc7U8jDzEE=;EntityPath=sb-queuecli000005","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=nNxac9Lg2xEdfLVjoGw32cCor9tuUJkY6hxd78sb7n0=;EntityPath=sb-queuecli000005","primaryKey":"LHnEoHw9xE1uqEBkjWARxQm7nolo0yTLghc7U8jDzEE=","secondaryKey":"nNxac9Lg2xEdfLVjoGw32cCor9tuUJkY6hxd78sb7n0=","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002?api-version=2022-01-01-preview
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/locations/westus/operationStatus/sb-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/locations/westus/operationStatus/sb-nscli000002?api-version=2022-01-01-preview&resourceType=Namespace
  response:
    body:
      string: ''
    headers:
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 204
      message: No Content
version: 1
