interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_sb_namespace_encryption","date":"2025-11-24T05:19:47Z","module":"servicebus"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2024-11-30
  response:
    body:
      string: '{"location":"westus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"isolationScope":"None","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"ed729ef0-62ac-4b55-b11a-30b3c4fe30a9","clientId":"cd324469-7136-4d2e-a472-8f56517aa043"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/servicebus-kv000012?api-version=2025-05-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/servicebus-kv000012''
        under resource group ''cli_test_eh_namespace000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Mohamed
        Yilmaz Ibrahim","givenName":"Mohamed Yilmaz","jobTitle":"Software Engineer
        II","mail":"test@example.com","mobilePhone":null,"officeLocation":"STUDIO
        A/3910","preferredLanguage":null,"surname":"Ibrahim","userPrincipalName":"test@example.com","id":"a16ec1df-b555-4191-bf58-04352f47c61d"}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal; odata.streaming=true; IEEE754Compatible=false;
        charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"001","RoleInstance":"MW2PEPF0000FF14"}}'
      x-ms-gateway-esc:
      - '200'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a16ec1df-b555-4191-bf58-04352f47c61d",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enableRbacAuthorization": false, "enablePurgeProtection": true, "networkAcls":
      {"bypass": "AzureServices", "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/servicebus-kv000012?api-version=2025-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/servicebus-kv000012","name":"servicebus-kv000012","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-11-24T05:20:02.59Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-11-24T05:20:02.59Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"a16ec1df-b555-4191-bf58-04352f47c61d","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enabledForDiskEncryption":false,"enabledForTemplateDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enableRbacAuthorization":false,"enablePurgeProtection":true,"vaultUri":"https://servicebus-kv000012.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "a16ec1df-b555-4191-bf58-04352f47c61d",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "ed729ef[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://servicebus-kv000012.vault.azure.net/keys/key1/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://servicebus-kv000012.vault.azure.net/keys/key1/create?api-version=7.6-preview.2
  response:
    body:
      string: '{"key":{"kid":"https://servicebus-kv000012.vault.azure.net/keys/key1/e1ded81252ed4fd78632e6ca9b3c1e98","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"qu2dmtMlsFDumZGLLapj8nDLZQUPxPU0wRPeBfX4MoZ6lFGErKXLEdr1iRgB5cFZiHU5ohufl3emP0cSIT3kjFmBD877xzkzVZFpYLi7F2o74ca-ZPrRpyoMf_47kb2adiiPmOGk4lvlhaKBgDScasuQwdpdTxtIWwpJSs1V9q5jxj6KhfxbenX1_zPfi6fzsSwu50fkJOMARB7gBlqexTDEyP6ipUt760RaMB2e6-KZ9HGiY4Pbnwwtq1RGrcfZXztI2wL-IQJbsJ9xYWYhgjeoJm8RgZ8MMW5M_UOEF_6s7e4_NAxLk-CeflaI_Rsn3WYXZdLV39m8wP6IzIgVIQ","e":"AQAB"},"attributes":{"enabled":true,"key_size":2048,"created":1763961645,"updated":1763961645,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false,"hsmPlatform":"0"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "northeurope", "sku":
      {"name": "Premium", "tier": "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"northeurope","tags":{},"properties":{"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"northeurope","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":1,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"provisioningState":"Creating","status":"Creating","createdAt":"2025-11-24T05:20:51.3656143Z","updatedAt":"2025-11-24T05:20:51Z","metricId":"6a07d018-378c-4224-968b-468f214b3c16:servicebus-nscli000003","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/"},"identity":{"principalId":"00356a3e-844a-438a-8002-3646250d6288","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"sku":{"name":"Premium","tier":"Premium","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/8bed6e06-55f1-4e8a-a588-b1e4e0e18ce0?isAsyncHeader=true&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995584516467363&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/8bed6e06-55f1-4e8a-a588-b1e4e0e18ce0?isAsyncHeader=true&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995584516467363&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"northeurope","tags":{},"properties":{"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"northeurope","roleType":"Primary","replicaState":"Ready"}]},"premiumMessagingPartitions":1,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"provisioningState":"Succeeded","status":"Active","createdAt":"2025-11-24T05:20:51.3656143Z","updatedAt":"2025-11-24T05:22:04Z","metricId":"6a07d018-378c-4224-968b-468f214b3c16:servicebus-nscli000003","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/"},"identity":{"principalId":"00356a3e-844a-438a-8002-3646250d6288","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"sku":{"name":"Premium","tier":"Premium","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - a9d21aed-0bd1-4a40-a8de-65a76f527953
      x-ms-messaging-routing-id:
      - PROD|NORTHEUROPE|NORTHEUROPE|G12|2025-11-24T05:22:25
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "northeurope", "properties":
      {"disableLocalAuth": false, "encryption": {"keySource": "Microsoft.KeyVault",
      "keyVaultProperties": [{"keyName": "key1", "keyVaultUri": "https://servicebus-kv000012.vault.azure.net",
      "keyVersion": ""}, {"keyName": "key2", "keyVaultUri": "https://servicebus-kv000012.vault.azure.net",
      "keyVersion": ""}], "requireInfrastructureEncryption": true}, "geoDataReplication":
      {"locations": [{"locationName": "northeurope", "roleType": "Primary"}], "maxReplicationLagDurationInSeconds":
      0}, "minimumTlsVersion": "1.2", "premiumMessagingPartitions": 1, "publicNetworkAccess":
      "Enabled", "zoneRedundant": true}, "sku": {"capacity": 1, "name": "Premium",
      "tier": "Premium"}, "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/8bed6e06-55f1-4e8a-a588-b1e4e0e18ce0?isAsyncHeader=true&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995585526152295&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}}}, "location": "northeurope", "properties": {"encryption": {"keySource":
      "Microsoft.KeyVault", "keyVaultProperties": [{"identity": {"userAssignedIdentity":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008"},
      "keyName": "key1", "keyVaultUri": "https://servicebus-kv000012.vault.azure.net",
      "keyVersion": ""}, {"identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995585910739516&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995586900929229&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995587275008992&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995587652014338&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Active&t=638995588019805834&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/8bed6e06-55f1-4e8a-a588-b1e4e0e18ce0?isAsyncHeader=true&resourceName=servicebus-nscli000003&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638995588359327270&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLG[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/northeurope/namespaceOperationResults/9ae3ef53-d135-468c-ba6f-eaca4c4ad516?isAsyncHeader=true&resourceName=servicebus-nscli000002&resourceType=namespace&api-version=2023-01-01-preview&operationType=Deleted&t=638995589302249673&c=MIIHhzCCBm-gAwIBAgITfAla5jyv8QRP_5ow7AAACVrmPDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLG[...]
[...]
