interactions:
- request:
    body: '{"location": "westus", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002","name":"sb-nscli000002","type":"Microsoft.ServiceBus/Namespaces","location":"westus","tags":{},"properties":{"ipAddressType":"IPv4","dnsNamePolicy":"Standard","platformCapabilities":{"confidentialCompute":{"mode":"Disabled"}},"errors":[],"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":0,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"Creating","status":"Creating","createdAt":"2026-08-31T09:58:14.7251302Z","updatedAt":"2026-08-31T09:58:14.7251302Z","metricId":"326100e2-f69d-4268-8503-075374f62b6e:sb-nscli000002","serviceBusEndpoint":"https://sb-nscli000002.servicebus.windows.net:443/"},"sku":{"name":"Standard","tier":"Standard"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus/namespaceOperationResults/1bb31326-7885-4d81-8523-badbc10a9a6e?isAsyncHeader=true&resourceName=sb-nscli000002&resourceType=namespace&api-version=2026-07-01-preview&operationType=Active&t=639237670964501886&c=MIIHlDCCBnygAwIBAgIQSel6vxplVFkOEN4XtSZkvTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDgxMTE2MDMyNloXDTI3MDIwNj[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus/namespaceOperationResults/1bb31326-7885-4d81-8523-badbc10a9a6e?isAsyncHeader=true&resourceName=sb-nscli000002&resourceType=namespace&api-version=2026-07-01-preview&operationType=Active&t=639237670964501886&c=MIIHlDCCBnygAwIBAgIQSel6vxplVFkOEN4XtSZkvTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0Eg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus/namespaceOperationResults/1bb31326-7885-4d81-8523-badbc10a9a6e?isAsyncHeader=false&resourceName=sb-nscli000002&resourceType=namespace&api-version=2026-07-01-preview&operationType=Active&t=639237670964501886&c=MIIHlDCCBnygAwIBAgIQSel6vxplVFkOEN4XtSZkvTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0E[...]
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - c22fa86e-0062-44e8-90e2-ca323ef509e7
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G4|2026-08-31T09:58:59
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules?api-version=2026-07-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen","Manage","Send"]}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 1f627277-daaa-4a51-8f8e-22094ee98158
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G2|2026-08-31T09:59:12
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/RootManageSharedAccessKey?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/authorizationrules/RootManageSharedAccessKey","name":"RootManageSharedAccessKey","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westus","properties":{"rights":["Listen","Manage","Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - c91f4d8f-4749-4f4a-947e-80f0ead97520
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G3|2026-08-31T09:59:13
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/listKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 4c892da9-2b1e-463f-a7a8-e58068241ab0
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G3|2026-08-31T09:59:15
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/regenerateKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 599b8f8c-6f2a-476e-84d5-fd00b45fe01b
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G3|2026-08-31T09:59:22
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"key": "***", "keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/AuthorizationRules/cliAutho000003/regenerateKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - c299ef19-56d1-41f8-8c27-1e909a7c9253
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G4|2026-08-31T09:59:36
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004","name":"cli_topic000004","type":"Microsoft.ServiceBus/namespaces/topics","location":"westus","properties":{"maxMessageSizeInKilobytes":256,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2026-08-31T09:59:46.09Z","updatedAt":"2026-08-31T09:59:46.123Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 0b47382a-5430-4560-a468-3c34cb20834c
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G4|2026-08-31T09:59:46
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/namespaces/topics/authorizationrules","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 2bfaea02-56b5-43fb-b1c4-6a7e07365a0a
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G1|2026-08-31T09:59:48
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003/listKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=cli_topic000004","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=cli_topic000004","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - dc99347c-9417-4c38-b10d-d54b0f1e758c
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G2|2026-08-31T09:59:53
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/topics/cli_topic000004/authorizationRules/cliAutho000003/regenerateKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=cli_topic000004","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=cli_topic000004","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 0ec930c9-b26b-408b-b994-9f48898120a1
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G1|2026-08-31T09:59:55
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005","name":"sb-queuecli000005","type":"Microsoft.ServiceBus/namespaces/queues","location":"westus","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2026-08-31T10:00:01.733Z","updatedAt":"2026-08-31T10:00:01.76Z","accessedAt":"0001-01-01T00:00:00"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 47e4556b-c02d-41ff-ad69-0f6140b336de
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G2|2026-08-31T10:00:02
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send", "Listen", "Manage"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003?api-version=2026-07-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003","name":"cliAutho000003","type":"Microsoft.ServiceBus/namespaces/queues/authorizationrules","properties":{"rights":["Send","Listen","Manage"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - f9fcdeff-bdab-4c1c-ad1d-9f4b4f6c0794
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G4|2026-08-31T10:00:04
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003/listKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=sb-queuecli000005","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=sb-queuecli000005","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 07342ec8-4406-4335-a554-07c240fd01ea
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G4|2026-08-31T10:00:09
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyType": "PrimaryKey"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_sb_auth_rule000001/providers/Microsoft.ServiceBus/namespaces/sb-nscli000002/queues/sb-queuecli000005/authorizationRules/cliAutho000003/regenerateKeys?api-version=2026-07-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=sb-queuecli000005","secondaryConnectionString":"Endpoint=sb://sb-nscli000002.servicebus.windows.net/;SharedAccessKeyName=cliAutho000003;SharedAccessKey=***;EntityPath=sb-queuecli000005","primaryKey":"***","secondaryKey":"***","keyName":"cliAutho000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 6db5fc9e-ef5a-458f-919f-ae53d662a4de
      x-ms-messaging-routing-id:
      - PROD|WESTUS|WESTUS|G1|2026-08-31T10:00:11
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus/namespaceOperationResults/1bb31326-7885-4d81-8523-badbc10a9a6e?isAsyncHeader=true&resourceName=sb-nscli000002&resourceType=namespace&api-version=2026-07-01-preview&operationType=Deleted&t=639237672170850973&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0E[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus/namespaceOperationResults/1bb31326-7885-4d81-8523-badbc10a9a6e?isAsyncHeader=false&resourceName=sb-nscli000002&resourceType=namespace&api-version=2026-07-01-preview&operationType=Deleted&t=639237672171163470&c=MIIIJjCCBw6gAwIBAgIQKYrI_-G8focilGMVljTIzTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0[...]
