interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001","name":"cli_test_eh_namespace000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-02-09T06:06:32Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008?api-version=2022-01-31-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008","name":"sb-identity1000008","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"5ca97d36-4676-4be3-8c8f-1718ae6b68af","clientId":"9095ac87-72ab-4e69-acf6-179b398cc0b7"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.KeyVault/vaults/eventhubs-kv000012''
        under resource group ''cli_test_eh_namespace000001'' was not found. For more
        details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/me
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users/$entity","businessPhones":[],"displayName":"Shubham
        Chaudhari","givenName":"Shubham","jobTitle":"SOFTWARE ENGINEER","mail":"schaudhari@microsoft.com","mobilePhone":null,"officeLocation":"BENGALURU
        LUXOR-MIRPL/Mobile","preferredLanguage":null,"surname":"Chaudhari","userPrincipalName":"schaudhari@microsoft.com","id":"eea76376-6cf2-4f48-a713-64382d4b9625"}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South Central US","Slice":"E","Ring":"5","ScaleUnit":"004","RoleInstance":"SA2PEPF00000865"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "eea76376-6cf2-4f48-a713-64382d4b9625",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}], "enableSoftDelete": true, "softDeleteRetentionInDays":
      7, "enablePurgeProtection": true, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012?api-version=2022-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.KeyVault/vaults/eventhubs-kv000012","name":"eventhubs-kv000012","type":"Microsoft.KeyVault/vaults","location":"northeurope","tags":{},"systemData":{"createdBy":"schaudhari@microsoft.com","createdByType":"User","createdAt":"2023-02-09T06:06:54.629Z","lastModifiedBy":"schaudhari@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-09T06:06:54.629Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"eea76376-6cf2-4f48-a713-64382d4b9625","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":["all"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":7,"enablePurgeProtection":true,"vaultUri":"https://eventhubs-kv000012.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "tags": {}, "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "eea76376-6cf2-4f48-a713-64382d4b9625",
      "permissions": {"keys": ["all"], "secrets": ["all"], "certificates": ["all"],
      "storage": ["all"]}}, {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId":
      "5ca97d3[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"AKV10000: Request is missing
        a Bearer or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://eventhubs-kv000012.vault.azure.net/keys/key1/create?api-version=7.4-preview.1
  response:
    body:
      string: '{"key":{"kid":"https://eventhubs-kv000012.vault.azure.net/keys/key1/3068dff62644438390f67e5ff520cca0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"2wX_HMmbV8OhQlL3z-bkVCau44N9w9BfpgkAGsz5UViOyan8npFQ-40u2zQEkPRKmcWByPClch5_qwBtu3ny7w4YgO91o3zVs66O3OdzR1qv9Uyv89Y2FMmWg_uuU-COKa_j1gYD4NxrlTysOQl-ngN0ESp6sXjgGf1j3ha66VcSH3iTtuIBbTkO2WrtBSxubBVClDTRwLyuvhXM0aGo5rf4Vb0I6k3lazwt4vLd3Fr0_EdGVVxVNJ1n1AR788MczlCxTPdXea3yg9fzYvb0PwCaZjweHiNfVWECinFcgTf-jOnZ4BhlSV9efvUQXaORmR8-SUjphcuQvMixKeIL_Q","e":"AQAB"},"attributes":{"enabled":true,"created":1675922857,"updated":1675922857,"recoveryLevel":"CustomizedRecoverable","recoverableDays":7,"exportable":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned"}, "properties": {"publicNetworkAccess":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"f50ee604-8933-4d08-beea-de7c4d756328","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"ActivatingIdentity","metricId":"326100e2-f69d-4268-8503-075374f62b6e:servicebus-nscli000003","createdAt":"2023-02-09T06:07:43.18Z","updatedAt":"2023-02-09T06:07:43.18Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "North Europe", "tags": {}, "sku": {"name": "Premium", "tier":
      "Premium", "capacity": 1}, "identity": {"type": "SystemAssigned"}, "properties":
      {"minimumTlsVersion": "1.2", "zoneRedundant": false, "encryption": {"keyVaultProperties":
      [{"keyName": "key1", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}, {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": ""}], "keySource": "Microsoft.KeyVault"}, "disableLocalAuth":
      false, "publicNetworkAccess": "Enabled"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"error":{"message":"Request to Key Vault failed. This can happen if
        you are trying to configure an unsupported KeyVault key type, such as EC.
        Currently only RSA keys are supported. CorrelationId: 6ea2fd6a-10e4-4135-bdc8-3e64a3675a21","code":"InternalServerError"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-failure-cause:
      - service
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003?api-version=2022-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_eh_namespace000001/providers/Microsoft.ServiceBus/namespaces/servicebus-nscli000003","name":"servicebus-nscli000003","type":"Microsoft.ServiceBus/Namespaces","location":"North
        Europe","tags":{},"identity":{"principalId":"f50ee604-8933-4d08-beea-de7c4d756328","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"properties":{"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"encryption":{"keySource":"Microsoft.KeyVault","keyVaultProperties":[{"keyName":"key1","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""},{"keyName":"key2","keyVaultUri":"https://eventhubs-kv000012.vault.azure.net","keyVersion":""}],"requireInfrastructureEncryption":false},"provisioningState":"Succeeded","metricId":"326100e2-f69d-4268-8503-075374f62b6e:servicebus-nscli000003","createdAt":"2023-02-09T06:07:43.18Z","updatedAt":"2023-02-09T06:15:40.463Z","serviceBusEndpoint":"https://servicebus-nscli000003.servicebus.windows.net:443/","status":"Active"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "northeurope", "sku": {"name": "Premium", "tier": "Premium"},
      "identity": {"type": "SystemAssigned, UserAssigned", "userAssignedIdentities":
      {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008":
      {}, "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity2000009":
      {}}}, "properties": {"encryption": {"keyVaultProperties": [{"keyName": "key1",
      "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net", "keyVersion": "",
      "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008"}},
      {"keyName": "key2", "keyVaultUri": "https://eventhubs-kv000012.vault.azure.net",
      "keyVersion": "", "identity": {"userAssignedIdentity": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_eh_namespace000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sb-identity1000008[...]
[...]
