interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionNotFound","message":"The policy definition
        ''96670d01-0a4d-4649-9c89-2d3abc0a5025'' could not be found."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"displayName":"Require a tag on resource groups","policyType":"BuiltIn","mode":"All","description":"Enforces
        existence of a tag on resource groups.","metadata":{"version":"1.0.0","category":"Tags"},"parameters":{"tagName":{"type":"String","metadata":{"displayName":"Tag
        Name","description":"Name of the tag, such as ''environment''"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Resources/subscriptions/resourceGroups"},{"field":"[concat(''tags['',
        parameters(''tagName''), '']'')]","exists":"false"}]},"then":{"effect":"deny"}}},"id":"/providers/Microsoft.Authorization/policyDefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025","type":"Microsoft.Authorization/policyDefinitions","name":"96670d01-0a4d-4649-9c89-2d3abc0a5025"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025",
      "parameters": {"tagName": {"value": "notThere"}}, "enforcementMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_triggerscan000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_triggerscan000001","parameters":{"tagName":{"value":"notThere"}},"metadata":{"createdBy":"141fb5c0-e620-44a7-b52a-98ead875e310","createdOn":"2022-05-04T23:23:18.5496454Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_triggerscan000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000002","systemData":{"createdBy":"najagasi@microsoft.com","createdByType":"User","createdAt":"2022-05-04T23:23:18.4247069Z","lastModifiedBy":"najagasi@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2022-05-04T23:23:18.4247069Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkRDM0VFQ0RCQi4xLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '143'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '9'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_triggerscan000001/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkRCQ0Y0NkMyOS4xLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '147'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '9'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkRCQ0Y0NkMyOS4xLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/asyncOperationResults/eyJpZCI6IlBTUkFKb2I6MkRCQ0Y0NkMyOS4xLjAiLCJsb2NhdGlvbiI6IiJ9?api-version=2019-10-01
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '145'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_triggerscan000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2019-10-01&$filter=isCompliant%20eq%20false
  response:
    body:
      string: '{"@odata.nextLink":null,"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_triggerscan000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest","@odata.count":1,"value":[{"@odata.id":null,"@odata.context":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_triggerscan000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000002/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity","timestamp":"2022-05-04T23:24:41.6680408Z","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_triggerscan000001","policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_triggerscan000001/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000002","policyDefinitionId":"/providers/microsoft.authorization/policydefinitions/96670d01-0a4d-4649-9c89-2d3abc0a5025","effectiveParameters":"","isCompliant":false,"subscriptionId":"3593b919-b078-4cc1-902f-201232a97ac0","resourceType":"Microsoft.Resources/subscriptions/resourceGroups","resourceLocation":"westus","resourceGroup":"cli_test_triggerscan000001","resourceTags":"tbd","policyAssignmentName":"azurecli-test-policy-assignment000002","policyAssignmentOwner":"tbd","policyAssignmentParameters":"","policyAssignmentScope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_triggerscan000001","policyDefinitionName":"96670d01-0a4d-4649-9c89-2d3abc0a5025","policyDefinitionAction":"deny","policyDefinitionCategory":"tbd","policySetDefinitionId":"","policySetDefinitionName":"","policySetDefinitionOwner":"","policySetDefinitionCategory":"","policySetDefinitionParameters":"","managementGroupIds":"AzGovPerfTest,72f988bf-86f1-41af-91ab-2d7cd011db47","policyDefinitionReferenceId":"","complianceState":"NonCompliant","policyDefinitionGroupNames":[""],"policyDefinitionVersion":"1.0.0","policySetDefinitionVersion":"","policyAssignmentVersion":"","complianceReasonCode":""}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '149'
    status:
      code: 200
      message: OK
version: 1
