interactions:
- request:
    body: '{"properties": {"policyDefinitions": [{"policyDefinitionId": "/providers/microsoft.authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d",
      "policyDefinitionReferenceId": "cli-test-reference-id000004"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/azurecli-test-policy-set000002?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"policyType":"Custom","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-09T22:59:02.1931189Z","updatedBy":null,"updatedOn":null},"version":"1.0.0","policyDefinitions":[{"policyDefinitionReferenceId":"cli-test-reference-id000004","policyDefinitionId":"/providers/microsoft.authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","definitionVersion":"1.*.*"}],"versions":["1.0.0"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/azurecli-test-policy-set000002","type":"Microsoft.Authorization/policySetDefinitions","name":"azurecli-test-policy-set000002","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-09T22:59:02.0594316Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-09T22:59:02.0594316Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policySetDefinitions/azurecli-test-policy-set000002?api-version=2025-11-01
  response:
    body:
      string: '{"error":{"code":"PolicySetDefinitionNotFound","message":"The policy
        set definition ''azurecli-test-policy-set000002'' could not be found."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"properties": {"enforcementMode": "Default", "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/azurecli-test-policy-set000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000001?api-version=2025-11-01
  response:
    body:
      string: '{"properties":{"policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/azurecli-test-policy-set000002","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","metadata":{"createdBy":"638d92d9-ae3b-4f1d-be91-382dcc631f82","createdOn":"2026-06-09T22:59:10.7489122Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default","instanceId":"870e20ba-f36f-43cb-a747-d7d161abddac"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000001","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000001","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-09T22:59:10.6967589Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-09T22:59:10.6967589Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2021-06-01
  response:
    body:
      string: "{\"value\":[{\"identity\":{\"principalId\":\"4115adc8-7d8f-462b-8b3b-f08fb4fda645\",\"tenantId\":\"72f988bf-86f1-41af-91ab-2d7cd011db47\",\"type\":\"SystemAssigned\"},\"properties\":{\"displayName\":\"robga
        - Disallowed locations for resource groups\",\"policyDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/125b7269-7ec9-47bf-8beb-8865b61c2c95\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000\",\"notScopes\":[],\"parameters\":{\"listOfNotAllowedLocations\":{\"value\":[\"ukwest\"]}},\"metadata\":{\"createdBy\":\"0dc80135-ae53-4da3-8695-220a2d93aad8\",\"createdOn\":\"2025-01-24T01:00:32.3155063Z\",\"updatedBy\":\"0dc80135-ae53-4da3-8695-220a2d93aad8\",\"updatedOn\":\"2025-01-24T01:00:53.5226695Z\"},\"enforcementMode\":\"Enroll\",\"nonComplianceMessages\":[]},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/robgaPolicyAssig\",\"type\":\"Microsoft.Authorization/policyAssignments\",\"name\":\"robgaPolicyAssig\",\"location\":\"westus2\",\"systemData\":{\"createdBy\":\"test@example.com\",\"createdByType\":\"User\",\"createdAt\":\"2025-01-24T01:00:31.3364549Z\",\"lastModifiedBy\":\"test@example.com\",\"lastModifiedByType\":\"User\",\"lastModifiedAt\":\"2025-01-24T01:00:53.0082311Z\"}},{\"properties\":{\"displayName\":\"robga
        - Disallowed locations for resource groups\",\"policyDefinitionId\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/581adeb9-9542-4aaa-87a2-626830ade66b\",\"scope\":\"/subscriptions/00000000-0000-0000-0000-000000000000\",\"notScopes\":[],\"parameters\":{\"listOfDisallowedLocations\":{\"value\":[\"ukwest\"]}},\"metadata\":{\"parameterScopes\":{},\"createdBy\":\"0dc80135-ae53-4da3-8695-220a2d93aad8\",\"createdOn\":\"2024-11-18T21:42:48.9252829Z\",\"updatedBy\":null,\"updatedOn\":null},\"enforcementMode\":\"Default\",\"nonComplianceMessages\":[]},\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/57c952adbd0849ca8a7a3520\",\"type\":\"Microsoft.Authorization/policyAssignments\",\"name\":\"57c952adbd0849ca8a7a3520\",\"systemData\":{\"createdBy\":\"test@example.com\",\"createdB[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000001",
      "policyDefinitionReferenceId": "cli-test-reference-id000004"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000003?api-version=2021-10-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000001","policyDefinitionReferenceId":"cli-test-reference-id000004","provisioningState":"Succeeded","createdOn":"2026-06-09T22:59:16.3989788Z","lastUpdatedOn":"2026-06-09T22:59:16.39914Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant","correlationId":"2a4b346b-ddf6-4c39-89b8-45424f63fce2"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000003","name":"azurecli-test-remediation000003","type":"Microsoft.PolicyInsights/remediations","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-06-09T22:59:15.8920568Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-06-09T22:59:15.8920568Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '98'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000001","policyDefinitionReferenceId":"cli-test-reference-id000004[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000003/listDeployments?api-version=2021-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '99'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
