interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d?api-version=2019-01-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionNotFound","message":"The policy definition
        ''06a78e20-9358-41c9-923c-fb736d382a4d'' could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d?api-version=2019-01-01
  response:
    body:
      string: '{"properties":{"displayName":"Audit VMs that do not use managed disks","policyType":"BuiltIn","mode":"All","description":"This
        policy audits VMs that do not use managed disks","metadata":{"category":"Compute"},"parameters":{},"policyRule":{"if":{"anyOf":[{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"field":"Microsoft.Compute/virtualMachines/osDisk.uri","exists":"True"}]},{"allOf":[{"field":"type","equals":"Microsoft.Compute/VirtualMachineScaleSets"},{"anyOf":[{"field":"Microsoft.Compute/VirtualMachineScaleSets/osDisk.vhdContainers","exists":"True"},{"field":"Microsoft.Compute/VirtualMachineScaleSets/osdisk.imageUrl","exists":"True"}]}]}]},"then":{"effect":"audit"}}},"id":"/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","type":"Microsoft.Authorization/policyDefinitions","name":"06a78e20-9358-41c9-923c-fb736d382a4d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d",
      "scope": "/subscriptions/00000000-0000-0000-0000-000000000000"}, "sku": {"name":
      "A0", "tier": "Free"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003?api-version=2019-01-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","metadata":{"createdBy":"82f25a3e-d28d-4c27-90d6-d92c79d98936","createdOn":"2019-08-05T20:53:50.9022888Z","updatedBy":null,"updatedOn":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2019-01-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"[Preview]:
        Enable Monitoring in Azure Security Center","policyDefinitionId":"/providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","notScopes":[],"parameters":{},"metadata":{"assignedBy":"Sandip
        Shahane","parameterScopes":{}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/1e4e70f9cd4846268b6998ee","type":"Microsoft.Authorization/policyAssignments","name":"1e4e70f9cd4846268b6998ee","location":"eastus"},{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"VMs
        with no Managed Disk","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/95696b24-404f-4376-a9a6-7fa8ba91e4d5","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","notScopes":[],"parameters":{},"metadata":{"assignedBy":"Tigran
        Shahbazian","parameterScopes":{}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/p[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004?api-version=2018-07-01-preview
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Succeeded","createdOn":"2019-08-05T20:53:52.5038916Z","lastUpdatedOn":"2019-08-05T20:53:52.5663567Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '599'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Succeeded","createdOn":"2019-08-05T20:53:52.5038916Z","lastUpdatedOn":"2019-08-05T20:53:52.5663567Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '598'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004/listDeployments?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '597'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003",
      "filters": {"locations": ["westus"]}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004?api-version=2018-07-01-preview
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Succeeded","createdOn":"2019-08-05T20:53:57.3832736Z","lastUpdatedOn":"2019-08-05T20:53:57.4457152Z","filters":{"locations":["westus"]},"deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '598'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Succeeded","createdOn":"2019-08-05T20:53:57.3832736Z","lastUpdatedOn":"2019-08-05T20:53:57.4457152Z","filters":{"locations":["westus"]},"deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '599'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004/listDeployments?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '596'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Storage/storageAccounts/cliremediation000002/provider[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Storage/storageAccounts/cliremediation000002/providers/Microsoft.PolicyInsights/remediations?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Succeeded","createdOn":"2019-08-05T20:54:02.459106Z","lastUpdatedOn":"2019-08-05T20:54:02.5215095Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.storage/storageaccounts/cliremediation000002/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '598'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Storage/storageAccounts/cliremediation000002/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004/listDeployments?api-version=2018-07-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '599'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003?api-version=2019-01-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","metadata":{"createdBy":"82f25a3e-d28d-4c27-90d6-d92c79d98936","createdOn":"2019-08-05T20:53:50.9022888Z","updatedBy":null,"updatedOn":null}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000003"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
