interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.Authorization/policyAssignments/09d18943ace14946aff83c21?api-version=2019-09-01
  response:
    body:
      string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"chegg
        guest config for CLI","policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/e0efc13a-122a-47c5-b817-2ccfe5d12615","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test","notScopes":[],"parameters":{"ExecutionPolicy":{"value":"RemoteSigned"}},"description":"asdf","metadata":{"assignedBy":"Chris
        Eggert","parameterScopes":{},"createdBy":"36e2f355-d2e2-4fbc-88ab-4281639dff94","createdOn":"2020-01-08T20:44:44.0451452Z","updatedBy":"36e2f355-d2e2-4fbc-88ab-4281639dff94","updatedOn":"2020-01-08T20:48:07.3265981Z"},"enforcementMode":"DoNotEnforce"},"identity":{"principalId":"8d766872-6e0e-4a2e-9c11-990308d4ebbb","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.Authorization/policyAssignments/09d18943ace14946aff83c21","type":"Microsoft.Authorization/policyAssignments","name":"09d18943ace14946aff83c21","location":"eastus"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"Test
        Modify initiative","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policySetDefinitions/55afae72-[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.Authorization/policyAssignments/09d18943ace14946aff83c21"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000001?api-version=2019-07-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.authorization/policyassignments/09d18943ace14946aff83c21","provisioningState":"Accepted","createdOn":"2020-01-08T21:57:59.4223762Z","lastUpdatedOn":"2020-01-08T21:57:59.7817217Z","deploymentStatus":{"totalDeployments":2,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000001","name":"azurecli-test-remediation000001","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '598'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.PolicyInsights/remediations?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.authorization/policyassignments/09d18943ace[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000001/listDeployments?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"remediatedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.compute/virtualmachines/cheggvm2","status":"NotStarted","resourceLocation":"westus2","createdOn":"2020-01-08T21:57:59.4223762Z","lastUpdatedOn":"2020-01-08T21:57:59.5007847Z"},{"remediatedResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.compute/virtualmachines/cheggvm1","status":"NotStarted","resourceLocation":"eastus","createdOn":"2020-01-08T21:57:59.4223762Z","lastUpdatedOn":"2020-01-08T21:57:59.5007847Z"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '596'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/az-cli-policy-insights-test/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000001/cancel?api-version=2019-07-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.authorization/policyassignments/09d18943ace14946aff83c21","provisioningState":"Cancelling","createdOn":"2020-01-08T21:57:59.4223762Z","lastUpdatedOn":"2020-01-08T21:58:03.6596643Z","deploymentStatus":{"totalDeployments":2,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/az-cli-policy-insights-test/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000001","name":"azurecli-test-remediation000001","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-policy-insights-requests:
      - '599'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
