interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management/register?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourceTypes":[{"resourceType":"resources","locations":[],"apiVersions":["2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"managementGroups","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview","2017-11-01-preview","2017-08-31-preview","2017-06-30-preview","2017-05-31-preview"],"capabilities":"None"},{"resourceType":"getEntities","locations":[],"apiVersions":["2021-04-01","2020-10-01","2020-05-01","2020-02-01","2019-11-01","2018-03-01-preview","2018-03-01-beta","2018-01-01-preview"],"capabil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Management","namespace":"Microsoft.Management","authorization":{"applicationId":"f2c304cf-8e7e-4c3f-8164-16299ad9d272","roleDefinitionId":"c1cf3708-588a-4647-be7f-f400bbe214cf"},"resourc[...]
- request:
    body: '{"name": "cli-test-mg000003", "properties": {"details": {"parent": {}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mg000003","status":"NotStarted"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.20211102
      x-ms-ratelimit-remaining-managementgroups-requests:
      - '59'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mg000003","status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/create/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mg000003","status":"Succeeded","properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"cli-test-mg000003","details":{"version":1,"updatedTime":"2021-11-23T00:37:21.1188471Z","updatedBy":"0dc80135-ae53-4da3-8695-220a2d93aad8","parent":{"id":"/providers/Microsoft.Management/managementGroups/72f988bf-86f1-41af-91ab-2d7cd011db47","name":"72f988bf-86f1-41af-91ab-2d7cd011db47","displayName":"72f988bf-86f1-41af-91ab-2d7cd011db47"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionNotFound","message":"The policy definition
        ''06a78e20-9358-41c9-923c-fb736d382a4d'' could not be found."}}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"displayName":"Audit VMs that do not use managed disks","policyType":"BuiltIn","mode":"All","description":"This
        policy audits VMs that do not use managed disks","metadata":{"version":"1.0.0","category":"Compute"},"parameters":{},"policyRule":{"if":{"anyOf":[{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"field":"Microsoft.Compute/virtualMachines/osDisk.uri","exists":"True"}]},{"allOf":[{"field":"type","equals":"Microsoft.Compute/VirtualMachineScaleSets"},{"anyOf":[{"field":"Microsoft.Compute/VirtualMachineScaleSets/osDisk.vhdContainers","exists":"True"},{"field":"Microsoft.Compute/VirtualMachineScaleSets/osdisk.imageUrl","exists":"True"}]}]}]},"then":{"effect":"audit"}}},"id":"/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","type":"Microsoft.Authorization/policyDefinitions","name":"06a78e20-9358-41c9-923c-fb736d382a4d"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d",
      "enforcementMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.Authorization/policyAssignments/cli-test-pa000001?api-version=2021-06-01
  response:
    body:
      string: '{"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/06a78e20-9358-41c9-923c-fb736d382a4d","scope":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003","metadata":{"createdBy":"0dc80135-ae53-4da3-8695-220a2d93aad8","createdOn":"2021-11-23T00:37:38.6097395Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default"},"id":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.Authorization/policyAssignments/cli-test-pa000001","type":"Microsoft.Authorization/policyAssignments","name":"cli-test-pa000001","systemData":{"createdBy":"robga@microsoft.com","createdByType":"User","createdAt":"2021-11-23T00:37:38.5822543Z","lastModifiedBy":"robga@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2021-11-23T00:37:38.5822543Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"policyAssignmentId": "/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.authorization/policyassignments/cli-test-pa000001"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.PolicyInsights/remediations/cli-test-remediation000002?api-version=2019-07-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.authorization/policyassignments/cli-test-pa000001","provisioningState":"Succeeded","createdOn":"2021-11-23T00:37:40.1272819Z","lastUpdatedOn":"2021-11-23T00:37:40.1273693Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant"},"id":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.policyinsights/remediations/cli-test-remediation000002","name":"cli-test-remediation000002","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '149'
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.PolicyInsights/remediations?api-version=2019-07-01
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.authorization/policyassignments/cli-test-pa000001","provisioningState":"Succeeded","createdOn":"2021-11-23T00:37:40.1272819Z","lastUpdatedOn":"2021-11-23T00:37:40.1273693Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant"},"id":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.policyinsights/remediations/cli-test-remediation000002","name":"cli-test-remediation000002","type":"Microsoft.PolicyInsights/remediations"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.PolicyInsights/remediations/cli-test-remediation000002/listDeployments?api-version=2019-07-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '149'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/providers/Microsoft.Management/managementGroups/cli-test-mg000003/providers/Microsoft.PolicyInsights/remediations/cli-test-remediation000002?api-version=2019-07-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.authorization/policyassignments/cli-test-pa000001","provisioningState":"Succeeded","createdOn":"2021-11-23T00:37:40.1272819Z","lastUpdatedOn":"2021-11-23T00:37:40.1273693Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ExistingNonCompliant"},"id":"/providers/microsoft.management/managementgroups/cli-test-mg000003/providers/microsoft.policyinsights/remediations/cli-test-remediation000002","name":"cli-test-remediation000002","type":"Microsoft.PolicyInsights/remediations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '148'
      x-ms-ratelimit-remaining-tenant-deletes:
      - '14999'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Management/operationResults/delete/managementGroups/cli-test-mg000003?api-version=2018-03-01-preview
  response:
    body:
      string: '{"id":"/providers/Microsoft.Management/managementGroups/cli-test-mg000003","type":"/providers/Microsoft.Management/managementGroups","name":"cli-test-mg000003","status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ba-restapi:
      - 1.0.3.20211102
    status:
      code: 200
      message: OK
version: 1
