interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/5ffd78d9-436d-4b41-a421-5baa819e3008?api-version=2023-04-01
  response:
    body:
      string: '{"error":{"code":"PolicyDefinitionNotFound","message":"The policy definition
        ''5ffd78d9-436d-4b41-a421-5baa819e3008'' could not be found."}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Authorization/policyDefinitions/5ffd78d9-436d-4b41-a421-5baa819e3008?api-version=2023-04-01
  response:
    body:
      string: '{"properties":{"displayName":"Add or replace a tag on resources","policyType":"BuiltIn","mode":"Indexed","description":"Adds
        or replaces the specified tag and value when any resource is created or updated.
        Existing resources can be remediated by triggering a remediation task. Does
        not modify tags on resource groups.","metadata":{"version":"1.0.0","category":"Tags"},"version":"1.0.0","parameters":{"tagName":{"type":"String","metadata":{"displayName":"Tag
        Name","description":"Name of the tag, such as ''environment''"}},"tagValue":{"type":"String","metadata":{"displayName":"Tag
        Value","description":"Value of the tag, such as ''production''"}}},"policyRule":{"if":{"field":"[concat(''tags['',
        parameters(''tagName''), '']'')]","notEquals":"[parameters(''tagValue'')]"},"then":{"effect":"modify","details":{"roleDefinitionIds":["/providers/microsoft.authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"],"operations":[{"operation":"addOrReplace","field":"[concat(''tags['',
        parameters(''tagName''), '']'')]","value":"[parameters(''tagValue'')]"}]}}},"versions":["1.0.0"]},"id":"/providers/Microsoft.Authorization/policyDefinitions/5ffd78d9-436d-4b41-a421-5baa819e3008","type":"Microsoft.Authorization/policyDefinitions","name":"5ffd78d9-436d-4b41-a421-5baa819e3008"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "identity": {"type": "SystemAssigned"}, "properties":
      {"policyDefinitionId": "/providers/Microsoft.Authorization/policyDefinitions/5ffd78d9-436d-4b41-a421-5baa819e3008",
      "parameters": {"tagName": {"value": "cliTagKey"}, "tagValue": {"value": "cliTagValue"}},
      "enforcementMode": "Default"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003?api-version=2023-04-01
  response:
    body:
      string: '{"identity":{"principalId":"22741ba4-fe56-4682-8a86-009f7acff268","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","type":"SystemAssigned"},"properties":{"policyDefinitionId":"/providers/Microsoft.Authorization/policyDefinitions/5ffd78d9-436d-4b41-a421-5baa819e3008","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001","parameters":{"tagName":{"value":"cliTagKey"},"tagValue":{"value":"cliTagValue"}},"metadata":{"createdBy":"d44a2991-98c6-47c3-b59b-2b30d72cfcc2","createdOn":"2025-07-07T10:27:31.6840424Z","updatedBy":null,"updatedOn":null},"enforcementMode":"Default"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003","type":"Microsoft.Authorization/policyAssignments","name":"azurecli-test-policy-assignment000003","location":"westus","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-07T10:27:30.0640344Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T10:27:30.0640344Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments?api-version=2023-04-01
  response:
    body:
      string: '{"value":[{"properties":{"displayName":"deny-nsg-rule-internet-inbound","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/deny-nsg-rule-internet-inbound","definitionVersion":"1.*.*","scope":"/subscriptions/00000000-0000-0000-0000-000000000000","notScopes":[],"parameters":{},"description":"The
        policy block deployment of domain service, I deleted the policy in my resource
        group, and found that will apply to the whole subscription. Assign the policy
        again.","metadata":{"assignedBy":"test@example.com","parameterScopes":{},"createdBy":"97233d81-8d2d-4e63-8bd2-ae5707805489","createdOn":"2020-03-04T10:07:29.1757898Z","updatedBy":"9ac534f1-d577-4034-a32d-48de400dacbf","updatedOn":"2021-08-30T08:23:20.4306328Z"},"enforcementMode":"DoNotEnforce","nonComplianceMessages":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/36e07b214d59455886a2b76b","type":"Microsoft.Authorization/policyAssignments","name":"36e07b214d59455886a2b76b","systemData":{"lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2021-08-30T08:23:20.325117Z"}},{"properties":{"displayName":"deny-nsg-internet-inbound","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microso[...]
- request:
    body: '{"properties": {"policyAssignmentId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.Authorization/policyAssignments/azurecli-test-policy-assignment000003",
      "resourceDiscoveryMode": "ReEvaluateCompliance"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004?api-version=2021-10-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.authorization/policyassignments/azurecli-test-policy-assignment000003","provisioningState":"Accepted","createdOn":"2025-07-07T10:27:33.7486841Z","lastUpdatedOn":"2025-07-07T10:27:33.7487864Z","deploymentStatus":{"totalDeployments":0,"successfulDeployments":0,"failedDeployments":0},"resourceDiscoveryMode":"ReEvaluateCompliance","correlationId":"d057125c-b5cf-4861-bd24-07b6bdc17aab"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.policyinsights/remediations/azurecli-test-remediation000004","name":"azurecli-test-remediation000004","type":"Microsoft.PolicyInsights/remediations","systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2025-07-07T10:27:33.0955566Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2025-07-07T10:27:33.0955566Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '147'
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.authorization/policyassignments/azurecli-test[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004/listDeployments?api-version=2021-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-policy-insights-requests:
      - '149'
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_remediation000001/providers/Microsoft.PolicyInsights/remediations/azurecli-test-remediation000004/cancel?api-version=2021-10-01
  response:
    body:
      string: '{"properties":{"policyAssignmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_remediation000001/providers/microsoft.authorization/p[...]
