interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "japanwest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/cb3fcc70-e3bd-4b49-8759-727d5f1065c9?api-version=2017-05-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/cb3fcc70-e3bd-4b49-8759-727d5f1065c9?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"japanwest","properties":{"accountEndpoint":"clibatch000002.japanwest.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D49C7B384D9E05"']
      last-modified: ['Tue, 16 May 2017 16:47:20 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"bYmN8lvxG7u0yu5/Ja4AO+6VvOr+za7+2kvPvxXy6YefJSHYcJfxm5LHaqzpzVcJVM88RD+1pA2OLLOFj1CebA==","secondary":"xcfzrCnYGN+uwTYe+V3nixssT85IiTZ78z1D+cORK0SCm5FL6WIV/lIOHu8w91KBJE5GrAuJQZnioDCPuyheSg=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "xplatCreatedPool", "startTask": {"commandLine": "cmd /c echo test",
      "userIdentity": {"autoUser": {"elevationLevel": "admin", "scope": "task"}},
      "waitForSuccess": true}, "cloudServiceConfiguration": {"targetOSVersion": "*",
      "osFamily": "4"}, "vmSize": "small"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:47:22 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools?api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5hfrpdhi5kqh3h2g.japanwest.batch.azure.com/pools/xplatCreatedPool']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B3A1C8635']
      last-modified: ['Tue, 16 May 2017 16:47:23 GMT']
      location: ['https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:47:23 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D49C7B3A1C8635\",\"lastModified\":\"2017-05-16T16:47:23.5940917Z\"\
        ,\"creationTime\":\"2017-05-16T16:47:23.5940917Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T16:47:23.5940917Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-05-16T16:47:23.7231557Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\":\"admin\"\
        \r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\":true\r\n \
        \ },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B3A1C8635']
      last-modified: ['Tue, 16 May 2017 16:47:23 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetLowPriorityNodes": 3, "targetDedicatedNodes": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:47:23 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5hfrpdhi5kqh3h2g.japanwest.batch.azure.com/pools/xplatCreatedPool/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B3ABE4441']
      last-modified: ['Tue, 16 May 2017 16:47:24 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:47:24 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5hfrpdhi5kqh3h2g.japanwest.batch.azure.com/pools/xplatCreatedPool/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B3B6421C9']
      last-modified: ['Tue, 16 May 2017 16:47:25 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:49:25 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D49C7B3B6421C9\",\"lastModified\":\"2017-05-16T16:47:25.7411017Z\"\
        ,\"creationTime\":\"2017-05-16T16:47:23.5940917Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T16:47:23.5940917Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-05-16T16:47:38.4953581Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":5,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :3,\"resizeErrors\":[\r\n    {\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of dedicated nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    },{\r\n      \"code\":\"ResizeStopped\",\"message\"\
        :\"Desired number of low priority nodes could not be allocated due to a stop\
        \ resize operation\"\r\n    }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\"\
        :\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B3B6421C9']
      last-modified: ['Tue, 16 May 2017 16:47:25 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"certificateReferences": [], "startTask": {"commandLine": "cmd /c echo
      updated", "waitForSuccess": true}, "applicationPackageReferences": [], "metadata":
      []}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:49:26 GMT']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5hfrpdhi5kqh3h2g.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B83A253D3']
      last-modified: ['Tue, 16 May 2017 16:49:26 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:49:26 GMT']
    method: GET
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool?api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.japanwest.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.jap[...]
- request:
    body: '{"certificateReferences": [], "startTask": {"commandLine": "hostname"},
      "applicationPackageReferences": [], "metadata": [{"value": "b", "name": "a"},
      {"value": "d", "name": "c"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 16:49:27 GMT']
    method: POST
    uri: https://clibatch000002.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5hfrpdhi5kqh3h2g.japanwest.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C7B8457EAF1']
      last-modified: ['Tue, 16 May 2017 16:49:28 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkc1UkVSUVpFNjdVMlo0VVYzNFM1VVpGU05TWFFIRVJGVERPU3w5NTIzNDcyQUM5NUEwNUE5LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1191']
    status: {code: 202, message: Accepted}
version: 1
