interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "ukwest"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"ukwest","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"kind": "Storage", "location": "ukwest", "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7?api-version=2016-12-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/084019bd-16d4-4f2d-bfa8-55033d65ac93?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/084019bd-16d4-4f2d-bfa8-55033d65ac93?monitor=true&api-version=2016-12-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","kind":"Storage","location":"ukwest","name":"clibatchteststorage7","properties":{"creationTime":"2017-04-28T21:49:18.7230377Z","primaryEndpoints":{"blob":"https://clibatchteststorage7.blob.core.windows.net/","file":"https://clibatchteststorage7.file.core.windows.net/","queue":"https://clibatchteststorage7.queue.core.windows.net/","table":"https://clibatchteststorage7.table.core.windows.net/"},"primaryLocation":"ukwest","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "ukwest", "properties": {"autoStorage": {"storageAccountId":
      "/subscriptions/603663e9-700c-46de-9d41-e080ff1d461e/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7"}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/fa76b7f8-deda-4c67-a19c-7a7e6ded95fb?api-version=2017-01-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/operationResults/fa76b7f8-deda-4c67-a19c-7a7e6ded95fb?api-version=2017-01-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7","name":"clibatchtest7","type":"Microsoft.Batch/batchAccounts","location":"ukwest","properties":{"accountEndpoint":"clibatchtest7.ukwest.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"autoStorage":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clibatchteststorage7","lastKeySync":"2017-04-28T21:49:41.1845029Z"},"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D48E808402E4F5']
      last-modified: ['Fri, 28 Apr 2017 21:49:58 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"allowUpdates": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2017-01-01
  response:
    body: {string: '{"id":"testapp","packages":[],"allowUpdates":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications?api-version=2017-01-01
  response:
    body: {string: '{"value":[{"id":"testapp","packages":[],"allowUpdates":true}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2017-01-01
  response:
    body: {string: '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-237dac03-715e-455a-bb68-2f40c452ff52?sv=2015-04-05&sr=b&sig=mvMrYh9ZVsw5FtDADtbnNPTDtxhpfMbS5n1Q426nhAI%3D&st=2017-04-28T21%3A45%3A05Z&se=2017-04-29T01%3A50%3A05Z&sp=rw","storageUrlExpiry":"2017-04-29T01:50:05.8215151Z","state":"pending"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: storage blob test sample file
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 28 Apr 2017 21:50:05 GMT']
      x-ms-version: ['2016-05-31']
    method: PUT
    uri: https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-237dac03-715e-455a-bb68-2f40c452ff52?sv=2015-04-05&sr=b&sig=mvMrYh9ZVsw5FtDADtbnNPTDtxhpfMbS5n1Q426nhAI%3D&st=2017-04-28T21%3A45%3A05Z&se=2017-04-29T01%3A50%3A05Z&sp=rw
  response:
    body: {string: ''}
    headers:
      content-md5: [JeBon6PeparxrbCKMR+6hw==]
      etag: ['"0x8D48E80888A6823"']
      last-modified: ['Fri, 28 Apr 2017 21:50:06 GMT']
      x-ms-request-server-encrypted: ['false']
      x-ms-version: ['2016-05-31']
    status: {code: 201, message: Created}
- request:
    body: '{"format": "zip"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0/activate?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      etag: ['0x8D48E8087E8FD27']
      last-modified: ['Fri, 28 Apr 2017 21:50:05 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp/versions/1.0?api-version=2017-01-01
  response:
    body: {string: '{"id":"testapp","version":"1.0","storageUrl":"https://clibatchteststorage7.blob.core.windows.net/app-testapp-4a19557dc1b96c20dfa19772af36624f6913ae44/testapp-1.0-237dac03-715e-455a-bb68-2f40c452ff52?sv=2015-04-05&sr=b&sig=3VpZ4IXIyBctdMwTTdqWHp%2FmUNHiW71B5uo5QCkWsqI%3D&st=2017-04-28T21%3A45%3A08Z&se=2017-04-29T01%3A50%3A08Z&sp=rw","storageUrlExpiry":"2017-04-29T01:50:08.5678996Z","state":"active","format":"zip","lastActivationTime":"2017-04-28T21:50:07.6081278Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D48E80892A1B73']
      last-modified: ['Fri, 28 Apr 2017 21:50:07 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"defaultVersion": "1.0"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatchtest7/applications/testapp?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      etag: ['0x8D48E80850E0942']
      last-modified: ['Fri, 28 Apr 2017 21:50:00 GMT']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 204, message: No Content}
[...]
