interactions:
- request:
    body: '{"tags": {"use": "az-test"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westcentralus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-01-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/e54af7bd-b0fc-446c-a673-82fae2073a6b?api-version=2017-01-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/e54af7bd-b0fc-446c-a673-82fae2073a6b?api-version=2017-01-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westcentralus","properties":{"accountEndpoint":"clibatch000002.westcentralus.batch.azure.com","provisioningState":"Succeeded","coreQuota":20,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['0x8D48E618375A870']
      last-modified: ['Fri, 28 Apr 2017 18:08:03 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-01-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"pAm7hiS8zPOCBnaKaq9SwjXOEt390NF5CMdWeTRDNWIPy3hYGLLVNltYprEPitlmVnUGKEHC2j6K2OOWbqWjIw==","secondary":"zJVYeBaZ4mwPVGhkVhUXBR4aUtzBiZR2NH/9wrPCP4DZidbo4aF3ZHuX4RD+3JZq77BiiFL1jojYd+ZcxZkHcA=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"targetDedicated": 0, "vmSize": "small", "cloudServiceConfiguration":
      {"targetOSVersion": "*", "osFamily": "4"}, "id": "xplatCreatedPool", "startTask":
      {"waitForSuccess": true, "commandLine": "cmd /c echo test", "userIdentity":
      {"autoUser": {"scope": "task", "elevationLevel": "admin"}}}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:08:06 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools?api-version=2017-01-01.4.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5d3edc3368d6eebb.westcentralus.batch.azure.com/pools/xplatCreatedPool']
      dataserviceversion: ['3.0']
      etag: ['0x8D48E6184B0918C']
      last-modified: ['Fri, 28 Apr 2017 18:08:05 GMT']
      location: ['https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:08:06 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool?api-version=2017-01-01.4.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D48E6184B0918C\",\"lastModified\":\"2017-04-28T18:08:05.5218572Z\"\
        ,\"creationTime\":\"2017-04-28T18:08:05.5218572Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-04-28T18:08:05.5218572Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-04-28T18:08:05.6249234Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicated\":0,\"\
        targetDedicated\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\"\
        :\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D48E6184B0918C']
      last-modified: ['Fri, 28 Apr 2017 18:08:05 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicated": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:08:06 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool/resize?api-version=2017-01-01.4.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5d3edc3368d6eebb.westcentralus.batch.azure.com/pools/xplatCreatedPool/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D48E6184FA1B54']
      last-modified: ['Fri, 28 Apr 2017 18:08:06 GMT']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:08:07 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool/stopresize?api-version=2017-01-01.4.0&timeout=30
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5d3edc3368d6eebb.westcentralus.batch.azure.com/pools/xplatCreatedPool/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D48E61853DA4AA']
      last-modified: ['Fri, 28 Apr 2017 18:08:06 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:10:07 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool?api-version=2017-01-01.4.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D48E61853DA4AA\",\"lastModified\":\"2017-04-28T18:08:06.4464042Z\"\
        ,\"creationTime\":\"2017-04-28T18:08:05.5218572Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-04-28T18:08:05.5218572Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-04-28T18:08:17.5398001Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"resizeError\":{\r\n  \
        \  \"code\":\"ResizeStopped\",\"message\":\"Desired number of dedicated nodes\
        \ could not be allocated due to a stop resize operation\"\r\n  },\"currentDedicated\"\
        :0,\"targetDedicated\":5,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"autoUser\":{\r\n        \"scope\":\"task\",\"elevationLevel\"\
        :\"admin\"\r\n      }\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\"\
        :\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n    \"osFamily\":\"\
        4\",\"targetOSVersion\":\"*\",\"currentOSVersion\":\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D48E61853DA4AA']
      last-modified: ['Fri, 28 Apr 2017 18:08:06 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"certificateReferences": [], "startTask": {"waitForSuccess": true, "commandLine":
      "cmd /c echo updated"}, "applicationPackageReferences": [], "metadata": []}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:10:08 GMT']
    method: POST
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5d3edc3368d6eebb.westcentralus.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D48E61CD27E40A']
      last-modified: ['Fri, 28 Apr 2017 18:10:07 GMT']
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:10:08 GMT']
    method: GET
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool?api-version=2017-01-01.4.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westcentralus.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"xplatCreatedPool\",\"url\":\"https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool\"\
        ,\"eTag\":\"0x8D48E61CD27E40A\",\"lastModified\":\"2017-04-28T18:10:07.0998026Z\"\
        ,\"creationTime\":\"2017-04-28T18:08:05.5218572Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-04-28T18:08:05.5218572Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-04-28T18:08:17.5398001Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"resizeError\":{\r\n  \
        \  \"code\":\"ResizeStopped\",\"message\":\"Desired number of dedicated nodes\
        \ could not be allocated due to a stop resize operation\"\r\n  },\"currentDedicated\"\
        :0,\"targetDedicated\":5,\"enableAutoScale\":false,\"enableInterNodeCommunication\"\
        :false,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo updated\",\"maxTaskRetryCount\"\
        :0,\"waitForSuccess\":true\r\n  },\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\"\
        :{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\"\
        :\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D48E61CD27E40A']
      last-modified: ['Fri, 28 Apr 2017 18:10:07 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"certificateReferences": [], "startTask": {"commandLine": "hostname"},
      "applicationPackageReferences": [], "metadata": [{"value": "b", "name": "a"},
      {"value": "d", "name": "c"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Fri, 28 Apr 2017 18:10:08 GMT']
    method: POST
    uri: https://clibatch000002.westcentralus.batch.azure.com/pools/xplatCreatedPool/updateproperties?api-version=2017-01-01.4.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatch5d3edc3368d6eebb.westcentralus.batch.azure.com/pools/xplatCreatedPool/updateproperties']
      dataserviceversion: ['3.0']
      etag: ['0x8D48E61CD7466F8']
      last-modified: ['Fri, 28 Apr 2017 18:10:07 GMT']
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdFMkI5RDFDQzk1RUJEMTA2MjRENUU1REMxNjVCODNDMTJDN3wwNEJBMjBCMTgyRDNGNkRBLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
version: 1
