interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"location": "westeurope"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002?api-version=2017-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9c156ede-9d67-4470-87c7-0cea2fd513c0?api-version=2017-05-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/operationResults/9c156ede-9d67-4470-87c7-0cea2fd513c0?api-version=2017-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002","name":"clibatch000002","type":"Microsoft.Batch/batchAccounts","location":"westeurope","properties":{"accountEndpoint":"clibatch000002.westeurope.batch.azure.com","provisioningState":"Succeeded","dedicatedCoreQuota":20,"lowPriorityCoreQuota":50,"poolQuota":20,"activeJobAndJobScheduleQuota":20,"poolAllocationMode":"batchservice"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"0x8D49C91F058474B"']
      last-modified: ['Tue, 16 May 2017 19:29:58 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Batch/batchAccounts/clibatch000002/listKeys?api-version=2017-05-01
  response:
    body: {string: '{"accountName":"clibatch000002","primary":"Hzy+fkoFkbZKHSlhQVXIf/wOXlAlKj13EgzxkQ2s+10hF1Rof60IZQZpx7oGoEHihNZ1YWIZqJst18xgBBVsjA==","secondary":"adgI/XvvqavTOyO6QZvdYU/81y0Lb7CH+scnI5lWWbgVc2IdVl7pYXihYPUsae/pZIR+KXPh6FEzS9/ZeOVGlw=="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"id": "azure-cli-test-paas", "cloudServiceConfiguration": {"osFamily":
      "4"}, "vmSize": "small"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:01 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-paas']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F29989FD']
      last-modified: ['Tue, 16 May 2017 19:30:02 GMT']
      location: ['https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas']
    status: {code: 201, message: Created}
- request:
    body: '{"id": "azure-cli-test-iaas", "vmSize": "Standard_A1", "virtualMachineConfiguration":
      {"imageReference": {"offer": "UbuntuServer", "version": "latest", "sku": "16.04.0-LTS",
      "publisher": "Canonical"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:02 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-iaas']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F31CFC29']
      last-modified: ['Tue, 16 May 2017 19:30:02 GMT']
      location: ['https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas']
    status: {code: 201, message: Created}
- request:
    body: '{"startTask": {"waitForSuccess": true, "commandLine": "cmd /c echo test",
      "userIdentity": {"username": "cliTestUser"}}, "id": "azure-cli-test-json", "cloudServiceConfiguration":
      {"targetOSVersion": "*", "osFamily": "4"}, "vmSize": "small", "userAccounts":
      [{"name": "cliTestUser", "password": "SRYES@#%#_DSFH", "elevationLevel": "admin"}],
      "resizeTimeout": "PT15M"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:03 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-json']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F3AE5893']
      last-modified: ['Tue, 16 May 2017 19:30:03 GMT']
      location: ['https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-json']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:03 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-json?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools/@Element\"\
        ,\"id\":\"azure-cli-test-json\",\"url\":\"https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-json\"\
        ,\"eTag\":\"0x8D49C91F3AE5893\",\"lastModified\":\"2017-05-16T19:30:03.8562963Z\"\
        ,\"creationTime\":\"2017-05-16T19:30:03.8562963Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T19:30:03.8562963Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-05-16T19:30:04.0212944Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"startTask\"\
        :{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\":{\r\n    \
        \  \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"waitForSuccess\"\
        :true\r\n  },\"userAccounts\":[\r\n    {\r\n      \"name\":\"cliTestUser\"\
        ,\"elevationLevel\":\"admin\"\r\n    }\r\n  ],\"maxTasksPerNode\":1,\"taskSchedulingPolicy\"\
        :{\r\n    \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\"\
        :{\r\n    \"osFamily\":\"4\",\"targetOSVersion\":\"*\",\"currentOSVersion\"\
        :\"*\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F3AE5893']
      last-modified: ['Tue, 16 May 2017 19:30:03 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:04 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?maxresults=1000&timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-iaas\",\"url\":\"https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas\"\
        ,\"eTag\":\"0x8D49C91F31CFC29\",\"lastModified\":\"2017-05-16T19:30:02.9036585Z\"\
        ,\"creationTime\":\"2017-05-16T19:30:02.9036585Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T19:30:02.9036585Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-05-16T19:30:03.5616531Z\"\
        ,\"vmSize\":\"standard_a1\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"virtualMachineConfiguration\":{\r\n        \"imageReference\":{\r\
        \n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\"\
        :\"16.04.0-LTS\",\"version\":\"latest\"\r\n        },\"nodeAgentSKUId\":\"\
        batch.node.ubuntu 16.04\"\r\n      }\r\n    },{\r\n      \"id\":\"azure-cli-test-json\"\
        ,\"url\":\"https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-json\"\
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:05 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?maxresults=1000&$filter=id%20eq%20%27azure-cli-test-paas%27&api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools\"\
        ,\"value\":[\r\n    {\r\n      \"id\":\"azure-cli-test-paas\",\"url\":\"https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas\"\
        ,\"eTag\":\"0x8D49C91F29989FD\",\"lastModified\":\"2017-05-16T19:30:02.0422141Z\"\
        ,\"creationTime\":\"2017-05-16T19:30:02.0422141Z\",\"state\":\"active\",\"\
        stateTransitionTime\":\"2017-05-16T19:30:02.0422141Z\",\"allocationState\"\
        :\"steady\",\"allocationStateTransitionTime\":\"2017-05-16T19:30:02.2383335Z\"\
        ,\"vmSize\":\"small\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\"\
        :0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\"\
        :0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"maxTasksPerNode\"\
        :1,\"taskSchedulingPolicy\":{\r\n        \"nodeFillType\":\"Spread\"\r\n \
        \     },\"cloudServiceConfiguration\":{\r\n        \"osFamily\":\"4\",\"targetOSVersion\"\
        :\"*\",\"currentOSVersion\":\"*\"\r\n      }\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: '{"targetDedicatedNodes": 5}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:06 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas/resize?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-paas/resize']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F5966B3C']
      last-modified: ['Tue, 16 May 2017 19:30:07 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:07 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas?$select=allocationState%2C%20targetDedicatedNodes&api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools/@Element\"\
        ,\"allocationState\":\"resizing\",\"targetDedicatedNodes\":5\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F5966B3C']
      last-modified: ['Tue, 16 May 2017 19:30:07 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:07 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas/stopresize?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-paas/stopresize']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F67F8722']
      last-modified: ['Tue, 16 May 2017 19:30:08 GMT']
    status: {code: 202, message: Accepted}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:08 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-iaas/enableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F6EF9D69']
      last-modified: ['Tue, 16 May 2017 19:30:09 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:09 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas?$select=enableAutoScale&api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools/@Element\"\
        ,\"enableAutoScale\":true\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F6EF9D69']
      last-modified: ['Tue, 16 May 2017 19:30:09 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:10 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\"\
        ,\"timestamp\":\"2017-05-16T19:30:10.442468Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\
        \r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-iaas/evaluateautoscale']
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:10 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceid: ['https://clibatchjy3pkxmfsvtaieuy.westeurope.batch.azure.com/pools/azure-cli-test-iaas/disableautoscale']
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F856DF51']
      last-modified: ['Tue, 16 May 2017 19:30:11 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:12 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/poolusagemetrics?maxresults=1000&timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#poolusagemetrics\"\
        ,\"value\":[\r\n    \r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:13 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-json?$select=startTask&api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools/@Element\"\
        ,\"startTask\":{\r\n    \"commandLine\":\"cmd /c echo test\",\"userIdentity\"\
        :{\r\n      \"username\":\"cliTestUser\"\r\n    },\"maxTaskRetryCount\":0,\"\
        waitForSuccess\":true\r\n  }\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91F3AE5893']
      last-modified: ['Tue, 16 May 2017 19:30:03 GMT']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:15 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/nodeagentskus?maxresults=1000&timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#nodeagentskus\"\
        ,\"v[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:16 GMT']
      return-client-request-id: ['false']
    method: DELETE
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: ''}
    headers:
      dataserviceversion: ['3.0']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:16 GMT']
      return-client-request-id: ['false']
    method: GET
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-iaas?$select=state&api-version=2017-05-01.5.0&timeout=30
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#pools/@Element\"\
        ,\"state\":\"deleting\"\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
      etag: ['0x8D49C91FB6E2B15']
      last-modified: ['Tue, 16 May 2017 19:30:16 GMT']
    status: {code: 200, message: OK}
- request:
    body: '{"id": "app_package_test", "cloudServiceConfiguration": {"osFamily": "4"},
      "vmSize": "small", "applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:17 GMT']
      return-client-request-id: ['false']
    method: POST
    uri: https://clibatch000002.westeurope.batch.azure.com/pools?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:441929a7-2e45-4d34-a4c8-e8fbc6615973\\\
        nTime:2017-05-16T19:30:18.8712133Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
- request:
    body: '{"applicationPackageReferences": [{"applicationId": "does-not-exist"}]}'
    headers:
      Content-Type: [application/json; odata=minimalmetadata; charset=utf-8]
      ocp-date: ['Tue, 16 May 2017 19:30:18 GMT']
      return-client-request-id: ['false']
    method: PATCH
    uri: https://clibatch000002.westeurope.batch.azure.com/pools/azure-cli-test-paas?timeout=30&api-version=2017-05-01.5.0
  response:
    body: {string: "{\r\n  \"odata.metadata\":\"https://clibatch000002.westeurope.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\"\
        ,\"code\":\"InvalidApplicationPackageReferences\",\"message\":{\r\n    \"\
        lang\":\"en-US\",\"value\":\"One or more of the specified application package\
        \ references are invalid.\\nRequestId:3203ce82-c2ed-4456-9f92-ac4d3ef0f2df\\\
        nTime:2017-05-16T19:30:19.0467677Z\"\r\n  },\"values\":[\r\n    {\r\n    \
        \  \"key\":\"does-not-exist\",\"value\":\"The specified application package\
        \ does not exist.\"\r\n    }\r\n  ]\r\n}"}
    headers:
      content-type: [application/json;odata=minimalmetadata]
      dataserviceversion: ['3.0']
    status: {code: 409, message: One or more of the specified application package
        references are invalid.}
[...]
