interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-09T07:33:56Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "sku": {"name": "Standard_D13_v2", "capacity": 4,
      "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2019-01-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"\"","location":"westus","sku":{"name":"Standard_D13_v2","tier":"Standard","capacity":4},"properties":{"state":"Creating","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/959aad97-9c5b-4e6e-aff8-cdc6326e3144?api-version=2019-01-21
      content-type:
      - application/json; charset=utf-8
      etag:
      - '""'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationResults/959aad97-9c5b-4e6e-aff8-cdc6326e3144?api-version=2019-01-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/westus/operationresults/959aad97-9c5b-4e6e-aff8-cdc6326e3144","name":"959aad97-9c5b-4e6e-aff8-cdc6326e3144","status":"Running","startTime":"2023-01-09T07:34:03.0439213Z","endTime":"2023-01-09T07:34:03.0439213Z","percentComplete":0.5,"properties":{"operationKind":"ClusterCreateExternal","provisioningState":"Running","operationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-operation-root-activity-id:
      - 6d79f595-94b3-42c9-af31-4cfe73aecb1e
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/clusters/test000002?api-version=2019-01-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Kusto/Clusters/test000002","name":"test000002","type":"Microsoft.Kusto/Clusters","etag":"\"2023-01-09T07:45:42.4168802Z\"","location":"West
        US","sku":{"name":"Standard_D13_v2","tier":"Standard","capacity":4},"tags":{},"properties":{"state":"Running","uri":"https://test000002.westus.kusto.windows.net","dataIngestionUri":"https://ingest-test000002.westus.kusto.windows.net","trustedExternalTenants":[{"value":"*"}],"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2023-01-09T07:45:42.4168802Z"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/f9db74e1-8649-4166-9606-47e2172b5cfa?api-version=2019-01-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/f9db74e1-8649-4166-9606-47e2172b5cfa","name":"f9db74e1-8649-4166-9606-47e2172b5cfa","status":"Running","startTime":"2023-01-09T07:46:01.4025438Z","endTime":"2023-01-09T07:46:03.5745603Z","percentComplete":0.5,"properties":{"operationKind":"ServiceConfigurationAlter","provisioningState":"Running","operationState":"InProgress"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-operation-root-activity-id:
      - 8a23d3c4-8c46-4511-bb52-2f40493b3096
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US/operationResults/7499796f-b5f7-418c-b2d5-5841ecdc9a50?api-version=2019-01-21
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West
        US/operationresults/7499796f-b5f7-418c-b2d5-5841ecdc9a50","name":"7499796f-b5f7-418c-b2d5-5841ecdc9a50","status":"Succeeded","startTime":"2023-01-09T07:56:42.4704268Z","endTime":"2023-01-09T08:04:05.9564121Z","percentComplete":1.0,"properties":{"operationKind":"ClusterDelete","provisioningState":"Succeeded","operationState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-operation-root-activity-id:
      - 95d9c6d4-90e9-4b9d-9644-6135ed098a7d
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '299'
    status:
      code: 200
      message: OK
version: 1
