interactions:
- request:
    body: '{"properties": {"value": "2000", "source": "user-override"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/configurations/lock_timeout?api-version=2020-02-14-preview
  response:
    body:
      string: '{"operation":"UpdateConfigurationManagementOperation","startTime":"2021-02-24T07:45:29.743Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/9e302c6d-d730-41f5-85d2-93c897af28fb?api-version=2020-02-14-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/9e302c6d-d730-41f5-85d2-93c897af28fb?api-version=2020-02-14-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/9e302c6d-d730-41f5-85d2-93c897af28fb?api-version=2020-02-14-preview
  response:
    body:
      string: '{"name":"9e302c6d-d730-41f5-85d2-93c897af28fb","status":"Succeeded","startTime":"2021-02-24T07:45:29.743Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/configurations/lock_timeout?api-version=2020-02-14-preview
  response:
    body:
      string: '{"properties":{"value":"2000","description":"Sets the maximum allowed
        duration (in milliseconds) of any wait for a lock. 0 turns this off.","defaultValue":"0","dataType":"Integer","allowedValues":"0-2147483647","source":"user-override"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/serversv2/azuredbclitest-000002/configurations/lock_timeout","name":"lock_timeout","type":"Microsoft.DBforPostgreSQL/flexibleServers/configurations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
