interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_postgres_flexible_server_restore_mgmt","date":"2024-05-16T22:51:46Z","module":"rdbms"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "azuredbclitest-000002", "type": "Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/checkNameAvailability?api-version=2023-12-01-preview
  response:
    body:
      string: '{"name":"azuredbclitest-000002","type":"Microsoft.DBforPostgreSQL/flexibleServers","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?api-version=2023-12-01-preview
  response:
    body:
      string: '{"value":[{"name":"FlexibleServerCapabilities","supportedServerEditions":[{"name":"Burstable","defaultSkuName":"Standard_B1ms","supportedStorageEditions":[{"name":"ManagedDisk","defaultStorageSizeMb":32768,"supportedStorageMb":[{"supportedIops":120,"storageSizeMb":32768,"defaultIopsTier":"P4","supportedIopsTiers":[{"name":"P4","iops":120},{"name":"P6","iops":240},{"name":"P10","iops":500},{"name":"P15","iops":1100},{"name":"P20","iops":2300},{"name":"P30","iops":5000},{"name":"P40","iops":7500},{"name":"P50","iops":7500}]},{"supportedIops":240,"storageSizeMb":65536,"defaultIopsTier":"P6","supportedIopsTiers":[{"name":"P6","iops":240},{"name":"P10","iops":500},{"name":"P15","iops":1100},{"name":"P20","iops":2300},{"name":"P30","iops":5000},{"name":"P40","iops":7500},{"name":"P50","iops":7500}]},{"supportedIops":500,"storageSi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network","namespace":"Microsoft.Network","authorizations":[{"applicationId":"2cf9eb86-36b5-49dc-86ae-9a63135dfa8c","roleDefinitionId":"13ba9ab4-19f0-4804-adc4-14ece36cc7a1"},{"applicationId":"7c33bfcb-8d33-48d6-8e60-dc6404003489","roleDefinitionId":"ad6261e4-fa9a-4642-aa5f-104f1b67e9e3"},{"applicationId":"1e3e4475-288f-4018-a376-df66fd7fac5f","roleDefinitionId":"1d538b69-3d87-4e56-8ff8-25786fd48261"},{"applicationId":"a0be0c72-870e-46f0-9c49-c98333a996f7","roleDefinitionId":"7ce22727-ffce-45a9-930c-ddb2e56fa131"},{"applicationId":"486c78bf-a0f7-45f1-92fd-37215929e116","roleDefinitionId":"98a9e526-0a60-4c1f-a33a-ae46e1f8dc0d"},{"applicationId":"19947cfd-0303-466c-ac3c-fcc19a7a1570","roleDefinitionId":"d813ab6c-bfb7-413e-9462-005b21f0ce09"},{"applicationId":"341b7f3d-69b3-47f9-9ce7-5b7f4945fdbd","roleDefinitionId":"8141843c-c51c-4c1e-a5bf-0d351594b86c"},{"applicationId":"328fd23b-de6e-462c-9433-e207470a5727","roleDefinitionId":"79e29e06-4056-41e5-a6b2-959f1f47747e"},{"applicationId":"6d057c82-a784-47ae-8d12-ca7b38cf06b4","roleDefinitionId":"c27dd31e-c1e5-4ab0-93e1-a12ba34f182e","managedByRoleDefinitionId":"82e8942a-bcb6-444a-b1c4-31a3ea463a7d"},{"applicationId":"b4ca0290-4e73-4e31-ade0-c82ecfaabf6a","roleDefinitionId":"18363e25-ff21-4159-ae8d-7dfecb5bd001"},{"applicationId":"79d7fb34-4bef-4417-8184-ff713af7a679","roleDefinitionId":"1c1f11ef-abfa-4abe-a02b-226771d07fc7"},{"applicationId":"38808189-fa7a-4d8a-807f-eba01edacca6","roleDefinitionId":"7dbad3e2-b105-40d5-8fe4-4a9ff6c17ae6"},{"applicationId":"6e02f8e9-db9b-4eb5-aa5a-7c8968375f68","roleDefinitionId":"787424c7-f9d2-416b-a939-4d59deb2d259"},{"applicationId":"60b2e7d5-a27f-426d-a6b1-acced0846fdf","roleDefinitionId":"0edb7c43-ed90-4da9-9ca2-e9a5d1521b00"}],"resourceTypes":[{"resourceType":"dnsResolvers","locations":["West
        Central US","East US 2","West Europe","North Europe","Australia East","UK
        South","South Central US","East US","North Central US","West US 2","West US
        3","Southeast Asia","Central India","Canada Central","Central US","France
        Central","Japan East","Germany West Central","South Africa North","Korea Central","Sweden
        Central","East Asia","Switzerland North","Brazil South","West US","Norway
        East","UAE North","Australia Southeast","Canada East","Japan West","Italy
        North","Israel Central","Uk West","South India","Qatar Central","Poland Central","Central
        US EUAP","East US 2 EUAP"],"apiVersions":["2023-07-01-preview","2023-07-01","2022-07-01","2020-04-01-preview"],"defaultApiVersion":"2020-04-01-preview","capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"dnsResolvers/inboundEndpoints","locations":["West
        Central US","East US 2","West Europe","North Europe","Australia East","UK
        South","South Central US","East US","North Central US","West US 2","West US
        3","Southeast Asia","Central India","Canada Central","Central US","France
        Central","Japan East","Germany West Central","South Africa North","Korea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008?api-version=2023-11-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/VNET000008''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"VNET000008\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008\",\r\n
        \ \"etag\": \"W/\\\"8738241d-e607-4779-a66e-576cc2ad52c2\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"5fec9188-e0ac-41cb-9b7e-a703ce089b75\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
        \ }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/87aa7d37-484c-418e-8146-d4808f1718ee?api-version=2022-01-01&t=638514967166146042&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDI0ODU4WhcNMjUwNTA0MDI0ODU4WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLmN[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/87aa7d37-484c-418e-8146-d4808f1718ee?api-version=2022-01-01&t=638514967166146042&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDI0ODU4WhcNMjUwNTA0MDI0ODU4WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009?api-version=2023-11-01
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009
        not found.","details":[]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"name": "SUBNET000009", "properties": {"addressPrefix": "10.0.0.0/24",
      "delegations": [{"name": "Microsoft.DBforPostgreSQL/flexibleServers", "properties":
      {"serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"SUBNET000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009\",\r\n
        \ \"etag\": \"W/\\\"890f78bb-aaf5-445e-bfa5-89aa09795bc4\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009/delegations/Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"etag\": \"W/\\\"890f78bb-aaf5-445e-bfa5-89aa09795bc4\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \         \"actions\": [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d9a894ae-8cd2-4eb0-913d-fa1f2cea8628?api-version=2022-01-01&t=638514967351819515&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBG[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/d9a894ae-8cd2-4eb0-913d-fa1f2cea8628?api-version=2022-01-01&t=638514967351819515&c=MIIHpTCCBo2gAwIBAgITfwMunW8nlxll1Cny0gAEAy6dbzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTA5MDI0ODU4WhcNMjUwNTA0MDI0ODU4WjBAMT4wPAYDVQQDE[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/providers/Microsoft.DBforPostgreSQL/getPrivateDnsZoneSuffix?api-version=2023-12-01-preview
  response:
    body:
      string: '"postgres.database.azure.com"'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com?api-version=2020-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Net[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRQcml2YXRlRG5zWm9uZTs1OTgyZTIzNy1mYWZhLTRhYWUtYjhmYy05MGZmYTQxNzg5OWFfYWMwMjcxZDYtNDI2Yi00YjBkLWI4OGQtMGQwZTRiZDY5M2Fl?api-version=2018-09-01&t=638514967525464595&c=MIIHhzCCBm-gAwIBAgITfATUDnhanTLRPeyZxwAABNQOeDANBgkqhkiG9w0BAQsFA[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/privateDnsZones\/azuredbclitest-000002.private.postgres.database.azure.com","name":"azuredbclitest-000002.private.postgres.database.azure.com","type":"Microsoft.Network\/privateDnsZones","etag":"f83f2834-886d-4d8a-b831-46c6549a7bd3","location":"global","properties":{"maxNumberOfRecordSets":25000,"maxNumberOfVirtualNetworkLinks":1000,"maxNumberOfVirtualNetworkLinksWithRegistration":100,"numberOfRecordSets":1,"numberOfVirtualNetworkLinks":0,"numberOfVirtualNetworkLinksWithRegistration":0,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - f83f2834-886d-4d8a-b831-46c6549a7bd3
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "properties": {"virtualNetwork": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008"},
      "registrationEnabled": false}}'
    headers:
      Content-Type:
      - application/json
      If-None-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com/virtualNetworkLinks/VNET000008-link?api-version=2018-09-01
  response:
    body:
      string: '{}'
    headers:
      azure-asyncoperation:
      - https://man[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsOperationStatuses/RnJvbnRFbmRBc3luY09wZXJhdGlvbjtVcHNlcnRWaXJ0dWFsTmV0d29ya0xpbms7ZTNkNmQxODAtNjRhOC00NTljLWEzYzEtYWM0ZmE3YmU1NzM4X2FjMDI3MWQ2LTQyNmItNGIwZC1iODhkLTBkMGU0YmQ2OTNhZQ==?api-version=2018-09-01&t=638514967876464558&c=MIIHhzCCBm-gAwIBAgITfATUDnhanTLRPeyZxwAABNQOeDANBgkqhkiG9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com/virtualNetworkLinks/VNET000008-link?api-version=2018-09-01
  response:
    body:
      string: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/privateDnsZones\/azuredbclitest-000002.private.postgres.database.azure.com\/virtualNetworkLinks\/vnet5e7eua755iu7tiby-link","name":"vnet5e7eua755iu7tiby-link","type":"Microsoft.Network\/privateDnsZones\/virtualNetworkLinks","etag":"\"7b00e875-0000-0100-0000-66468e630000\"","location":"global","properties":{"provisioningState":"Succeeded","registrationEnabled":false,"virtualNetwork":{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/clitest.rg000001\/providers\/Microsoft.Network\/virtualNetworks\/VNET000008"},"virtualNetworkLinkState":"Completed"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7b00e875-0000-0100-0000-66468e630000"'
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_D2s_v3", "tier": "GeneralPurpose"},
      "properties": {"administratorLogin": "starchyorange4", "administratorLoginPassword":
      "92NVzCXJhJBQTL8DhQQNFg", "version": "13", "storage": {"storageSizeGB": 128,
      "autoGrow": "Disabled"}, "authConfig": {"activeDirectoryAuth": "Disabled", "passwordAuth":
      "Enabled", "tenantId": ""}, "backup": {"backupRetentionDays": 7, "geoRedundantBackup":
      "Disabled"}, "network": {"delegatedSubnetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009",
      "privateDnsZoneArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com"},
      "highAvailability": {"mode": "Disabled"}, "createMode": "Create"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002?api-version=2023-12-01-preview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2024-05-16T22:53:41.857Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/4ae14640-c229-4ac8-97b1-b54d98c4437b?api-version=2023-12-01-preview&t=638514968218938390&c=MIIHhzCCBm-gAwIBAgITfATUDnhanTLRPeyZxwAABNQOeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTA5MTgwOT[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/4ae14640-c229-4ac8-97b1-b54d98c4437b?api-version=2023-12-01-preview&t=638514968218938390&c=MIIHhzCCBm-gAwIBAgITfATUDnhanTLRPeyZxwAABNQOeDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTA5MTgwOTM3WhcNMjUwNTA0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002?api-version=2023-12-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose"},"systemData":{"createdAt":"2024-05-16T22:53:52.2784016Z"},"properties":{"replica":{"role":"Primary","capacity":5},"storage":{"type":"","iops":500,"tier":"P10","storageSizeGB":128,"autoGrow":"Disabled"},"network":{"publicNetworkAccess":"Disabled","delegatedSubnetResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNET000008/subnets/SUBNET000009","privateDnsZoneArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateDnsZones/azuredbclitest-000002.private.postgres.database.azure.com"},"dataEncryption":{"type":"SystemManaged"},"authConfig":{"activeDirectoryAuth":"Disabled","passwordAuth":"Enabled"},"fullyQualifiedDomainName":"azuredbclitest-000002.postgres.database.azure.com","version":"13","minorVersion":"14","administratorLogin":"starchyorange4","state":"Ready","availabilityZone":"3","backup":{"backupRetentionDays":7,"geoRedundantBackup":"Disabled","earliestRestoreDate":"2024-05-16T22:53:52.2784016+00:00"},"highAvailability":{"mode":"Disabled","state":"NotEnabled"},"maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"Primary","replicaCapacity":5},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002","name":"azuredbclitest-000002","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"charset": "utf8", "collation": "en_US.utf8"}}'
    headers:
 