interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/stop?api-version=2020-02-14-preview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2021-02-24T07:54:57.48Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/035d4607-0ae5-43fc-957a-1b562debbc6c?api-version=2020-02-14-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/035d4607-0ae5-43fc-957a-1b562debbc6c?api-version=2020-02-14-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/035d4607-0ae5-43fc-957a-1b562debbc6c?api-version=2020-02-14-preview
  response:
    body:
      string: '{"name":"035d4607-0ae5-43fc-957a-1b562debbc6c","status":"InProgress","startTime":"2021-02-24T07:54:57.48Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/035d4607-0ae5-43fc-957a-1b562debbc6c?api-version=2020-02-14-preview
  response:
    body:
      string: '{"name":"035d4607-0ae5-43fc-957a-1b562debbc6c","status":"Succeeded","startTime":"2021-02-24T07:54:57.48Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
