interactions:
- request:
    body: '{"sku": {"name": "GP_Gen5_2"}, "properties": {"storageProfile": {"backupRetentionDays":
      10, "geoRedundantBackup": "Enabled", "storageAutogrow": "Enabled"}, "createMode":
      "Default", "administratorLogin": "cloudsa", "administratorLoginPassword": "SecretPassword123"},
      "location": "eastus", "tags": {"key": "1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/servers/azuredbclitest000003?api-version=2017-12-01
  response:
    body:
      string: '{"operation":"UpsertElasticServer","startTime":"2020-03-03T02:29:10.653Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/2abc9078-1487-4233-85a0-72c33b3ebc29?api-version=2017-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/2abc9078-1487-4233-85a0-72c33b3ebc29?api-version=2017-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/2abc9078-1487-4233-85a0-72c33b3ebc29?api-version=2017-12-01
  response:
    body:
      string: '{"name":"2abc9078-1487-4233-85a0-72c33b3ebc29","status":"InProgress","startTime":"2020-03-03T02:29:10.653Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/servers/azuredbclitest000003?api-version=2017-12-01
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5_2","tier":"GeneralPurpose","family":"Gen5","capacity":2},"properties":{"administratorLogin":"cloudsa","storageProfile":{"storageMB":5120,"backupRetentionDays":10,"geoRedundantBackup":"Enabled","storageAutogrow":"Enabled"},"version":"9.6","sslEnforcement":"Enabled","minimalTlsVersion":"TLSEnforcementDisabled","userVisibleState":"Ready","fullyQualifiedDomainName":"azuredbclitest000003.postgres.database.azure.com","earliestRestoreDate":"2020-03-03T02:39:10.997+00:00","replicationRole":"None","masterServerId":"","replicaCapacity":5,"byokEnforcement":"Disabled","privateEndpointConnections":[],"infrastructureEncryption":"Enabled"},"location":"eastus","tags":{"key":"1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/servers/azuredbclitest000003","name":"azuredbclitest000003","type":"Microsoft.DBforPostgreSQL/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"properties": {"createMode": "PointInTimeRestore", "sourceServerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/servers/azuredbclitest000003",
      "restorePointInTime": "2020-03-03T02:43:26.276291Z"}, "location": "eastus"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforPostgreSQL/servers/azuredbclirestore000004?api-version=2017-12-01
  response:
    body:
      string: '{"operation":"RestoreElasticServer","startTime":"2020-03-03T02:43:27.593Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/4552aa23-970b-4635-a1df-124e448a671a?api-version=2017-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/4552aa23-970b-4635-a1df-124e448a671a?api-version=2017-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: 'b''{"sku": {"name": "GP_Gen5_2"}, "properties": {"storageProfile": {"backupRetentionDays":
      20, "geoRedundantBackup": "Disabled"}, "createMode": "GeoRestore", "sourceServerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/servers/azuredbclitest000003"},
      "location": "eastus"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforPostgreSQL/servers/azuredbcligeorestore000005?api-version=2017-12-01
  response:
    body:
      string: '{"operation":"RestoreElasticServer","startTime":"2020-03-03T02:51:27.457Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/6108610b-3ec1-4345-b033-3397d56e3153?api-version=2017-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/6108610b-3ec1-4345-b033-3397d56e3153?api-version=2017-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/6108610b-3ec1-4345-b033-3397d56e3153?api-version=2017-12-01
  response:
    body:
      string: '{"name":"6108610b-3ec1-4345-b033-3397d56e3153","status":"Failed","startTime":"2020-03-03T02:51:27.457Z","error":{"code":"SubscriptionDoesNotHaveServer","message":"Subscription
        ''cb33edf0-f7b3-405b-a766-592dd69a1987'' does not have the server ''azuredbclitest000003''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforPostgreSQL/servers?api-version=2017-12-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"GP_Gen5_2","tier":"GeneralPurpose","family":"Gen5","capacity":2},"properties":{"administratorLogin":"cloudsa","storageProfile":{"storageMB":5120,"backupRetentionDays":10,"geoRedundantBackup":"Enabled","storageAutogrow":"Enabled"},"version":"9.6","sslEnforcement":"Enabled","minimalTlsVersion":"TLSEnforcementDisabled","userVisibleState":"Ready","fullyQualifiedDomainName":"azuredbclirestore000004.postgres.database.azure.com","earliestRestoreDate":"2020-03-03T02:53:27.937+00:00","replicationRole":"","masterServerId":"","byokEnforcement":"Disabled","privateEndpointConnections":[],"infrastructureEncryption":"Enabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforPostgreSQL/servers/azuredbclirestore000004","name":"azuredbclirestore000004","type":"Microsoft.DBforPostgreSQL/servers"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/servers?api-version=2017-12-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"GP_Gen5_2","tier":"GeneralPurpose","family":"Gen5","capacity":2},"properties":{"administratorLogin":"azureuser","storageProfile":{"storageMB":51200,"backupRetentionDays":7,"geoRedundantBackup":"Disabled","storageAutogrow":"Disabled"},"version":"10","sslEnforcement":"Enabled","minimalTlsVersion":"TLSEnforcementDisabled","userVisibleState":"Ready","fullyQualifiedDomainName":"pg-xbb6aj4xo3p6e.postgres.database.azure.com","earliestRestoreDate":"2020-02-25T02:51:40.3421345+00:00","replicationRole":"","masterServerId":"","byokEnforcement":"Disabled","privateEndpointConnections":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ramp3/providers/Microsoft.DBforPostgreSQL/servers/pg-xbb6aj4xo3p6e/privateEndpointConnections/MyPrivateEndpointPostgreSql-xbb6aj4xo3p6e-d208e08c-2885-41a0-ba29-4520388305ce","properties":{"privateEndpoint":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ramp3/providers/Microsoft.Network/privateEndpoints/MyPrivateEndpointPostgreSql-xbb6aj4xo3p6e/privateLinkServiceConnections/MyConnection"},"privateLinkServiceConnectionState":{"status":"Approved","description":"Auto-approved","actionsRequired":"None"},"provisioningState":"Ready"}}],"infrastructureEncryption":"Enabled"},"location":"australiaeast","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ramp3/providers/Microsoft.DBforPostgreSQL/servers/pg-xbb6aj4xo3p6e","name":"pg-xbb6aj4xo3p6e","type":"Microsoft.DBforPostgreSQL/servers"},{"sku":{"name":"GP_Gen5_16","tier":"GeneralPurpose","family":"Gen5","capacity":16},"properties":{"administratorLogin":"pguser","storageProfile":{"storageMB":104448,"backupRetentionDays":7,"geoRedundantBackup":"Dis[...]
[...]
