interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/start?api-version=2020-02-14-preview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2021-02-25T01:37:45.34Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4a09fc75-2afa-460e-8fa3-78062b1ca43e?api-version=2020-02-14-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/operationResults/4a09fc75-2afa-460e-8fa3-78062b1ca43e?api-version=2020-02-14-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4a09fc75-2afa-460e-8fa3-78062b1ca43e?api-version=2020-02-14-preview
  response:
    body:
      string: '{"name":"4a09fc75-2afa-460e-8fa3-78062b1ca43e","status":"InProgress","startTime":"2021-02-25T01:37:45.34Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus2euap/azureAsyncOperation/4a09fc75-2afa-460e-8fa3-78062b1ca43e?api-version=2020-02-14-preview
  response:
    body:
      string: '{"name":"4a09fc75-2afa-460e-8fa3-78062b1ca43e","status":"Succeeded","startTime":"2021-02-25T01:37:45.34Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
