interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/start?api-version=2020-07-01-preview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2021-05-05T06:50:49.667Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/azureAsyncOperation/a1b9bcb6-9154-4da5-bf7a-35c693231c6c?api-version=2020-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/operationResults/a1b9bcb6-9154-4da5-bf7a-35c693231c6c?api-version=2020-07-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/azureAsyncOperation/a1b9bcb6-9154-4da5-bf7a-35c693231c6c?api-version=2020-07-01-preview
  response:
    body:
      string: '{"name":"a1b9bcb6-9154-4da5-bf7a-35c693231c6c","status":"InProgress","startTime":"2021-05-05T06:50:49.667Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/operationResults/a1b9bcb6-9154-4da5-bf7a-35c693231c6c?api-version=2020-07-01-preview
  response:
    body:
      string: '{"name":"azuredbclitest-000002","type":"MySQL"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
