interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/daeunyim/providers/Microsoft.DBForPostgreSql/flexibleServers/daeun-server?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"sku":{"name":"","tier":"GeneralPurpose","capacity":4},"properties":{"fullyQualifiedDomainName":"daeun-server.postgres.database.azure.com","version":"12","standbyCount":0,"walReplicaCount":0,"administratorLogin":"pguser","publicNetworkAccess":"Disabled","logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","storageProfile":{"storageMB":524288,"backupRetentionDays":7}},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/daeunyim/providers/Microsoft.DBforPostgreSQL/flexibleServers/daeun-server","name":"daeun-server","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/daeunyim/providers/Microsoft.DBForPostgreSql/flexibleServers?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"","tier":"GeneralPurpose","capacity":4},"properties":{"fullyQualifiedDomainName":"daeun-server.postgres.database.azure.com","version":"12","standbyCount":0,"walReplicaCount":0,"administratorLogin":"pguser","publicNetworkAccess":"Disabled","logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","storageProfile":{"storageMB":524288,"backupRetentionDays":7}},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/daeunyim/providers/Microsoft.DBforPostgreSQL/flexibleServers/daeun-server","name":"daeun-server","type":"Microsoft.DBforPostgreSQL/flexibleServers"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
