interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/locations/southeastasia/capabilities?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"zone":"none","supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupRetentionDays":7,"maxBackupRetentionDays":35,"supportedStorageMB":[],"status":"Default"}],"supportedServerVersions":[{"name":"5.7","supportedVcores":[{"name":"Standard_B1s","vCores":1,"supportedIOPS":320,"supportedMemoryPerVcoreMB":1024,"status":"Available"},{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Default"}],"status":"Default"}],"status":"Available"},{"name":"GeneralPurpose","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupReten[...]
- request:
    body: '{"name": "azuredbclitest-000002", "type": "Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/checkNameAvailability?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"location": "southeastasia", "sku": {"name": "Standard_B1ms", "tier":
      "Burstable"}, "properties": {"administratorLogin": "longingGoshawk6", "administratorLoginPassword":
      "GOTVsHf3iCSkM33S25WyBg", "version": "5.7", "haEnabled": "Disabled", "storageProfile":
      {"backupRetentionDays": 7, "storageMB": 10240}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-12-08T03:07:34.517Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/6110f0a7-f3fb-4097-82fd-06ec9b2eb564?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/6110f0a7-f3fb-4097-82fd-06ec9b2eb564?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/6110f0a7-f3fb-4097-82fd-06ec9b2eb564?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"6110f0a7-f3fb-4097-82fd-06ec9b2eb564","status":"InProgress","startTime":"2020-12-08T03:07:34.517Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_B1ms","tier":"Burstable","capacity":0},"properties":{"administratorLogin":"longingGoshawk6","storageProfile":{"storageMB":10240,"storageIops":0,"backupRetentionDays":7,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"azuredbclitest-000002.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Enabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-12-08T03:18:45.1093364+00:00","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"None","replicaCapacity":10,"byokEnforcement":"Disabled"},"location":"Southeast
        Asia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002","name":"azuredbclitest-000002","type":"Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.DBforMySQL/flexibleServers/databases'' with name ''flexibleserverdb''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"charset": "utf8"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerDatabaseManagementOperation","startTime":"2020-12-08T03:18:47.523Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/190729a4-04fe-42e7-9a69-b229d6c306be?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/190729a4-04fe-42e7-9a69-b229d6c306be?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"properties":{"charset":"latin1","collation":"latin1_swedish_ci"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb","name":"flexibleserverdb","type":"Microsoft.DBforMySQL/flexibleServers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "southeastasia", "sku": {"name": "Standard_D2ds_v4", "tier":
      "GeneralPurpose"}, "properties": {"administratorLogin": "cruelGerbil7", "administratorLoginPassword":
      "J9tMhKsC9kvZcaQmDtuP3Q", "version": "5.7", "haEnabled": "Disabled", "storageProfile":
      {"backupRetentionDays": 7, "storageMB": 10240}, "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/server999348108/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.DBforMySQL/flexibleServers/databases'' with name ''flexibleserverdb''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: '{"sku": {"name": "Standard_D2ds_v4", "tier": "GeneralPurpose"}, "properties":
      {"storageProfile": {"backupRetentionDays": 17, "storageMB": 262144, "storageIops":
      0, "storageAutogrow": "Disabled"}, "maintenanceWindow": {"customWindow": "Disabled",
      "startHour": 0, "startMinute": 0, "dayOfWeek": 0}}, "tags": {"key": "3"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-12-08T03:46:48.257Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/332513b2-a557-4860-8d3d-f86a6fa2da17?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/332513b2-a557-4860-8d3d-f86a6fa2da17?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"location": "Southeast Asia", "properties": {"sourceServerId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002",
      "restorePointInTime": "2020-12-08T03:29:05.021888Z", "createMode": "PointInTimeRestore"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/restore-azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"RestoreSnapshotManagementOperation","startTime":"2020-12-08T03:47:58.463Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/762129a3-2fb0-4c9e-b5a2-682f063491b8?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/762129a3-2fb0-4c9e-b5a2-682f063491b8?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/restart?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"RestartServerManagementOperation","startTime":"2020-12-08T04:05:16.267Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/c87a8293-675b-4f09-ad03-378960d2a2c8?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/c87a8293-675b-4f09-ad03-378960d2a2c8?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/stop?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2020-12-08T04:07:19.707Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/af1d1c96-1050-4a70-876c-2d9d19f13aeb?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/af1d1c96-1050-4a70-876c-2d9d19f13aeb?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/start?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2020-12-08T04:11:25.68Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/0d2ae204-1a64-4c7d-a85f-54121a734cff?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/operationResults/0d2ae204-1a64-4c7d-a85f-54121a734cff?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose","capacity":0},"properties":{"administratorLogin":"longingGoshawk6","storageProfile":{"storageMB":262144,"storageIops":0,"backupRetenti[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/Southeast%20Asia/azureAsyncOperation/260bd528-e320-499c-a0fd-72226a3d2d5e?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"260bd528-e320-499c-a0fd-72226a3d2d5e","status":"InProgress","startTime":"2020-12-08T04:13:31.66Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
