interactions:
- request:
    body: '{"name": "daad8592-d2cf-4052-835e-d4c8f55238f2", "type": "Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/checkMigrationNameAvailability?api-version=2023-12-01-preview
  response:
    body:
      string: '{"name":"daad8592-d2cf-4052-835e-d4c8f55238f2","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations","nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sterling2MeruRG?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sterling2MeruRG?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG","name":"Sterling2MeruRG","type":"Microsoft.Resources/resourceGroups","location":"northeurope","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"migrationMode": "offline",
      "migrationOption": "Validate", "sourceType": "OnPremises", "sslMode": "Prefer",
      "sourceDbServerResourceId": "20.66.25.58:5432@postgres", "secretParameters":
      {"adminCredentials": {"sourceServerPassword": "XXXXXXXXX", "targetServerPassword":
      "XXXXXXXXX"}, "targetServerUsername": "target_user"}, "dbsToMigrate": ["dvdrental"],
      "setupLogicalReplicationOnSourceDbIfNeeded": "False", "overwriteDbsInTarget":
      "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/daad8592-d2cf-4052-835e-d4c8f55238f2?api-version=2023-12-01-preview
  response:
    body:
      string: '{"properties":{"migrationId":"ab73285b-2781-4f72-a39a-63eb81b346ba","currentStatus":{"state":"InProgress"},"migrationMode":"Offline","sourceDbServerResourceId":"20.66.25.58:5432@postgres","targetDbServerResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul","dbsToMigrate":["dvdrental"],"setupLogicalReplicationOnSourceDbIfNeeded":"False","overwriteDbsInTarget":"True","migrationWindowStartTimeInUtc":"2024-05-03T19:17:38.587565Z","triggerCutover":"True","migrationOption":"Validate","sourceType":"OnPremises","sslMode":"Prefer"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/daad8592-d2cf-4052-835e-d4c8f55238f2","name":"daad8592-d2cf-4052-835e-d4c8f55238f2","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/daad8592-d2cf-4052-835e-d4c8f55238f2?api-version=2023-12-01-preview
  response:
    body:
      string: '{"properties":{"migrationId":"ab73285b-2781-4f72-a39a-63eb81b346ba","currentStatus":{"state":"InProgress","currentSubStateDetails":{"currentSubState":"PerformingPreRequisiteSteps","dbDetails":{}}},"migrationMode":"Offline","sourceDbServerResourceId":"20.66.25.58:5432@postgres","targetDbServerResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul","dbsToMigrate":["dvdrental"],"setupLogicalReplicationOnSourceDbIfNeeded":"False","overwriteDbsInTarget":"True","migrationWindowStartTimeInUtc":"2024-05-03T19:17:38.587565Z","triggerCutover":"True","migrateRoles":"False","targetDbServerMetadata":{"location":"East
        US","version":"14","storageMb":131072,"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose"}},"migrationOption":"Validate","sourceType":"OnPremises","sslMode":"Prefer"},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/daad8592-d2cf-4052-835e-d4c8f55238f2","name":"daad8592-d2cf-4052-835e-d4c8f55238f2","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
