interactions:
- request:
    body: '{"name": "7540ca51-69aa-4b19-ac32-591595e4f5e0", "type": "Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/checkMigrationNameAvailability?api-version=2023-12-01-preview
  response:
    body:
      string: '{"name":"7540ca51-69aa-4b19-ac32-591595e4f5e0","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations","nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sterling2MeruRG?api-version=2022-09-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sterling2MeruRG?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG","name":"Sterling2MeruRG","type":"Microsoft.Resources/resourceGroups","location":"northeurope","properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"migrationMode": "offline",
      "migrationOption": "Validate", "sourceType": "OnPremises", "sslMode": "Prefer",
      "sourceDbServerResourceId": "20.66.25.58:5432@postgres", "secretParameters":
      {"adminCredentials": {"sourceServerPassword": "XXXXXXXXX", "targetServerPassword":
      "XXXXXXXXX"}, "targetServerUsername": "target_user"}, "dbsToMigrate": ["dvdrental"],
      "setupLogicalReplicationOnSourceDbIfNeeded": "False", "overwriteDbsInTarget":
      "True"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/7540ca51-69aa-4b19-ac32-591595e4f5e0?api-version=2023-12-01-preview
  response:
    body:
      string: '{"properties":{"migrationId":"e5a646b6-e348-4ee8-bec1-40fb3a7ddd3f","currentStatus":{"state":"InProgress"},"migrationMode":"Offline","sourceDbServerResourceId":"20.66.25.58:5432@postgres","targetDbServerResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul","dbsToMigrate":["dvdrental"],"setupLogicalReplicationOnSourceDbIfNeeded":"False","overwriteDbsInTarget":"True","migrationWindowStartTimeInUtc":"2024-04-23T15:34:06.8729257Z","triggerCutover":"True","migrationOption":"Validate","sourceType":"OnPremises","sslMode":"Prefer"},"location":"northeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/7540ca51-69aa-4b19-ac32-591595e4f5e0","name":"7540ca51-69aa-4b19-ac32-591595e4f5e0","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/7540ca51-69aa-4b19-ac32-591595e4f5e0?api-version=2023-12-01-preview
  response:
    body:
      string: '{"properties":{"migrationId":"e5a646b6-e348-4ee8-bec1-40fb3a7ddd3f","currentStatus":{"state":"InProgress","currentSubStateDetails":{"currentSubState":"PerformingPreRequisiteSteps","dbDetails":{}}},"migrationMode":"Offline","sourceDbServerResourceId":"20.66.25.58:5432@postgres","targetDbServerResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul","dbsToMigrate":["dvdrental"],"setupLogicalReplicationOnSourceDbIfNeeded":"False","overwriteDbsInTarget":"True","migrationWindowStartTimeInUtc":"2024-04-23T15:34:06.8729257Z","triggerCutover":"True","migrateRoles":"False","targetDbServerMetadata":{"location":"East
        US","version":"14","storageMb":131072,"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose"}},"migrationOption":"Validate","sourceType":"OnPremises","sslMode":"Prefer"},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/7540ca51-69aa-4b19-ac32-591595e4f5e0","name":"7540ca51-69aa-4b19-ac32-591595e4f5e0","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/473a7364-5f50-4f75-9f96-a645100b454e?api-version=2023-12-01-preview
  response:
    body:
      string: '{"properties":{"migrationId":"deac75cd-974d-474d-884c-a447864036d8","currentStatus":{"state":"CleaningUp","error":"There
        is already an active Migration Running on this target.","currentSubStateDetails":{"currentSubState":"CompletingMigration","dbDetails":{}}},"migrationMode":"Offline","sourceDbServerResourceId":"20.66.25.58:5432@postgres","targetDbServerResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul","dbsToMigrate":["dvdrental"],"setupLogicalReplicationOnSourceDbIfNeeded":"False","overwriteDbsInTarget":"True","migrationWindowStartTimeInUtc":"2024-04-23T15:34:08.7166647Z","triggerCutover":"True","migrateRoles":"False","targetDbServerMetadata":{"location":"East
        US","version":"14","storageMb":131072,"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose"}},"migrationOption":"ValidateAndMigrate","sourceType":"OnPremises","sslMode":"Prefer"},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sterling2MeruRG/providers/Microsoft.DBforPostgreSQL/flexibleServers/target-server-longhaul/migrations/473a7364-5f50-4f75-9f96-a645100b454e","name":"473a7364-5f50-4f75-9f96-a645100b454e","type":"Microsoft.DBforPostgreSQL/flexibleServers/migrations"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
