interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForPostgreSql/locations/eastus/capabilities?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"zone":"none","supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"ManagedDisk","supportedStorageMB":[{"name":"32768","supportedIOPS":120,"storageSizeMB":32768,"status":"Available"},{"name":"65536","supportedIOPS":240,"storageSizeMB":65536,"status":"Available"},{"name":"131072","supportedIOPS":500,"storageSizeMB":131072,"status":"Available"},{"name":"262144","supportedIOPS":1100,"storageSizeMB":262144,"status":"Available"},{"name":"524288","supportedIOPS":2300,"storageSizeMB":524288,"status":"Available"},{"name":"1048576","supportedIOPS":5000,"storageSizeMB":1048576,"status":"Available"},{"name":"2097152","supportedIOPS":7500,"storageSizeMB":2097152,"status":"Available"},{"name":"4194304","supportedIOPS":7500,"storageSizeMB":4194304,"status":"Available"},{"name":"8388608","supportedIOPS":16000,"storageSizeMB":8388608,"status":"Available"},{"name":"16777216","supportedIOPS":18000,"storageSizeMB":16777216,"status":"Available"},{"name":"33554432","supportedIOPS":20000,"storageSizeMB":33554432,"status":"Available"}],"status":"Default"}],"supportedServerVersions":[{"name":"11","supportedVcores":[{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Available"}],"status":"Available"},{"name":"12","supportedVcores":[{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Available"}],"status":"Available"},{"name":"12.0","supportedVcores":[{"name":"Standard_B1ms","vCores[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"location": "eastus", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"azuredbclitest-000002VNET\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET\",\r\n
        \ \"etag\": \"W/\\\"5886d5cd-0a5c-4cad-b1ef-be23f4241236\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"4ee90e63-4f71-477f-a7b7-40108a2c054f\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n
        \   \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8ef3ae4c-13eb-4869-9142-d93d031947cb?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.DBforPostgreSQL/flexibleServers"}, "name": "Microsoft.DBforPostgreSQL/flexibleServers"}]},
      "name": "azuredbclitest-000002Subnet"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet?api-version=2018-08-01
  response:
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/8ef3ae4c-13eb-4869-9142-d93d031947cb?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Canceled\",\r\n  \"error\": {\r\n    \"code\":
        \"Canceled\",\r\n    \"message\": \"Operation was canceled.\",\r\n    \"details\":
        [\r\n      {\r\n        \"code\": \"CanceledAndSupersededDueToAnotherOperation\",\r\n
        \       \"message\": \"Operation PutVirtualNetworkOperation (8ef3ae4c-13eb-4869-9142-d93d031947cb)
        was canceled and superseded by operation PutSubnetOperation (718ff71f-95b8-4b7f-b602-678271a1fdb2).\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      canceled-by-azure-asyncoperation:
      - https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.Network/locations/eastus/operations/718ff71f-95b8-4b7f-b602-678271a1fdb2?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"azuredbclitest-000002Subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet\",\r\n
        \ \"etag\": \"W/\\\"f992c3c6-30a7-4120-9ce2-3644d7f5b195\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet/delegations/Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \       \"etag\": \"W/\\\"f992c3c6-30a7-4120-9ce2-3644d7f5b195\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.DBforPostgreSQL/flexibleServers\",\r\n
        \         \"actions\": [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ],\r\n    \"subnetID\": 0\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f992c3c6-30a7-4120-9ce2-3644d7f5b195"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForPostgreSql/flexibleServers?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"","tier":"GeneralPurpose","capacity":8},"properties":{"fullyQualifiedDomainName":"chelian-prod-t0002-u05.postgres.database.azure.com","version":"12","standbyCount":1,"haEnabled":"Enabled","administratorLogin":"cloudsa","publicNetworkAccess":"Enabled","logBackupStorageSku":"Standard_ZRS","haState":"Healthy","state":"Ready","availabilityZone":"1","storageProfile":{"storageMB":65536},"earliestRestoreDate":"2020-08-24T18:42:47.0231388+00:00","byokEnforcement":"Disabled"},"location":"West
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/chelian-prod-t0002/providers/Microsoft.DBforPostgreSQL/flexibleServers/chelian-prod-t0002-u05-qgic","name":"chelian-prod-t0002-u05","type":"Microsoft.DBforPostgreSQL/flexibleServers"},{"sku":{"name":"","tier":"GeneralPurpose","capacity":4},"properties":{"fullyQualifiedDomainName":"dacarbaj-sspg-westus2.postgres.database.azure.com","version":"12","standbyCount":0,"haEnabled":"Disabled","administratorLogin":"cloudsa","publicNetworkAccess":"Enabled","logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","availabilityZone":"2","storageProfile":{"storageMB":524288,"backupRetentionDays":7},"earliestRestoreDate":"2020-09-21T18:42:47.0231388+00:00","byokEnforcement":"Disabled"},"location":"West
        US 2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dacarbaj-sspg-rg/providers/Microsoft.DBforPostgreSQL/flexibleServers/dacarbaj-sspg-westus2","name":"dacarbaj-sspg-westus2","type":"Microsoft.DBforPostgreSQL/flexibleServers"},{"sku":{"name":"Standard_D4s_v3","tier":"GeneralPurpose","capacity":4},"properties":{"fullyQualifiedDomainName":"huihvnetjae09212033fspg.postgres.database.azure.com","version":"12","standbyCount":0,"haEnabled":"Disabled","administratorLogin":"postgres","publicNetworkAccess":"Disabled","delegatedSubnetArguments":{"subnetArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/huihvnetjae09212033/providers/Microsoft.Network/virtualNetworks/huihvnetjae09212033-vnet/subnets/huihvnetjae09212033-vnet-subnet"},"logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","storageProfile":{"storageMB":2097152,"backupRetentionDays":7},"earliestRestoreDate":"2020-09-22T02:36:00.7646841+00:00","byokEnforcement":"Disabled"},"location":"West
        US 2","id":"/subscriptions/00000000-0000-0000-000[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard_D2s_v3", "tier": "GeneralPurpose"},
      "properties": {"administratorLogin": "shyFerret7", "administratorLoginPassword":
      "OqzI07gYjq:OIo_7NvSOzQ", "version": "12", "storageProfile": {"backupRetentionDays":
      7, "storageMB": 131072}, "haEnabled": "Disabled", "delegatedSubnetArguments":
      {"subnetArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet"},
      "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-09-28T18:43:09.84Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/99ff7c36-ae88-4fe8-a285-e06c1c997e4f?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/99ff7c36-ae88-4fe8-a285-e06c1c997e4f?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/99ff7c36-ae88-4fe8-a285-e06c1c997e4f?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"name":"99ff7c36-ae88-4fe8-a285-e06c1c997e4f","status":"InProgress","startTime":"2020-09-28T18:43:09.84Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose","capacity":2},"properties":{"fullyQualifiedDomainName":"azuredbclitest-000002.postgres.database.azure.com","version":"12","standbyCount":0,"haEnabled":"Disabled","administratorLogin":"shyFerret7","publicNetworkAccess":"Disabled","delegatedSubnetArguments":{"subnetArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000002VNET/subnets/azuredbclitest-000002Subnet"},"logBackupStorageSku":"Standard_ZRS","haState":"NotEnabled","state":"Ready","availabilityZone":"1","storageProfile":{"storageMB":131072,"backupRetentionDays":7},"earliestRestoreDate":"2020-09-28T18:52:13.4647466+00:00","byokEnforcement":"Disabled","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0}},"location":"East
        US","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002","name":"azuredbclitest-000002","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sku": {"name": "Standard_B1ms", "tier": "Burstable"}, "properties": {"storageProfile":
      {"backupRetentionDays": 17, "storageMB": 262144}, "maintenanceWindow": {"customWindow":
      "Enabled", "startHour": 1, "startMinute": 30, "dayOfWeek": 1}}, "tags": {"key":
      "3"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-09-28T19:11:40.143Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/6464dcca-dbd6-4211-b9b5-91fba61685e9?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/6464dcca-dbd6-4211-b9b5-91fba61685e9?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"location": "East US", "properties": {"sourceServerName": "azuredbclitest-000002",
      "pointInTimeUTC": "2020-09-28T19:02:13.697691Z", "createMode": "PointInTimeRestore"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/restore-azuredbclitest-000002?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"RestoreSnapshotManagementOperation","startTime":"2020-09-28T19:12:43.51Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/b923a9dd-6b4d-4440-a00f-8a9c1a229d09?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/b923a9dd-6b4d-4440-a00f-8a9c1a229d09?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/restart?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"RestartServerManagementOperation","startTime":"2020-09-28T19:24:49.337Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/64a4d306-44b0-4a12-99f3-25493249289b?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/64a4d306-44b0-4a12-99f3-25493249289b?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/stop?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2020-09-28T19:25:51.353Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/ff61e236-6528-4bad-9b74-f540f148f7d6?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/ff61e236-6528-4bad-9b74-f540f148f7d6?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers/azuredbclitest-000002/start?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2020-09-28T19:27:53.15Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/99b0e8a2-a3c3-49d1-93d2-506c37d1f68a?api-version=2020-02-14-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/99b0e8a2-a3c3-49d1-93d2-506c37d1f68a?api-version=2020-02-14-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForPostgreSql/flexibleServers?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_B1ms","tier":"Burstable","capacity":1},"properties":{"fullyQualifiedDomainName":"azuredbclitest-000002.postgres.database.azure.com","version":"12","standbyCount":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/East%20US/azureAsyncOperation/3b448291-ad87-4136-9029-3e94292c086d?api-version=2020-02-14-privatepreview
  response:
    body:
      string: '{"name":"3b448291-ad87-4136-9029-3e94292c086d","status":"InProgress","startTime":"2020-09-28T19:32:57.2Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
