interactions:
- request:
    body: '{"sku": {"name": "GP_Gen5_2"}, "properties": {"minimalTlsVersion": "TLS1_1",
      "publicNetworkAccess": "Disabled", "storageProfile": {"backupRetentionDays":
      10, "geoRedundantBackup": "Enabled", "storageAutogrow": "Enabled"}, "createMode":
      "Default", "administratorLogin": "cloudsa", "administratorLoginPassword": "SecretPassword123"},
      "location": "eastus", "tags": {"key": "1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/servers/azuredbclitest000003?api-version=2017-12-01
  response:
    body:
      string: '{"operation":"UpsertElasticServer","startTime":"2020-03-24T19:49:25.463Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/6bfff042-9586-459a-b726-85246a54d8f1?api-version=2017-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/operationResults/6bfff042-9586-459a-b726-85246a54d8f1?api-version=2017-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/6bfff042-9586-459a-b726-85246a54d8f1?api-version=2017-12-01
  response:
    body:
      string: '{"name":"6bfff042-9586-459a-b726-85246a54d8f1","status":"InProgress","startTime":"2020-03-24T19:49:25.463Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/servers/azuredbclitest000003?api-version=2017-12-01
  response:
    body:
      string: '{"sku":{"name":"GP_Gen5_2","tier":"GeneralPurpose","family":"Gen5","capacity":2},"properties":{"administratorLogin":"cloudsa","storageProfile":{"storageMB":5120,"backupRetentionDays":10,"geoRedundantBackup":"Enabled","storageAutogrow":"Enabled"},"version":"5.7","sslEnforcement":"Enabled","minimalTlsVersion":"TLS1_1","userVisibleState":"Ready","fullyQualifiedDomainName":"azuredbclitest000003.mysql.database.azure.com","earliestRestoreDate":"2020-03-24T19:59:25.697+00:00","replicationRole":"None","masterServerId":"","replicaCapacity":5,"byokEnforcement":"Disabled","privateEndpointConnections":[],"infrastructureEncryption":"Disabled","publicNetworkAccess":"Disabled"},"location":"eastus","tags":{"key":"1"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/servers/azuredbclitest000003","name":"azuredbclitest000003","type":"Microsoft.DBforMySQL/servers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"sku": {"name": "GP_Gen5_2"}, "properties": {"storageProfile": {"backupRetentionDays":
      20, "geoRedundantBackup": "Disabled"}, "createMode": "GeoRestore", "sourceServerId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/servers/azuredbclitest000003"},
      "location": "eastus"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforMySQL/servers/azuredbcligeorestore000005?api-version=2017-12-01
  response:
    body:
      string: '{"operation":"RestoreElasticServer","startTime":"2020-03-24T19:56:44.86Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/c6b32963-cca1-454e-8c0a-455040378b7c?api-version=2017-12-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/operationResults/c6b32963-cca1-454e-8c0a-455040378b7c?api-version=2017-12-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus/azureAsyncOperation/c6b32963-cca1-454e-8c0a-455040378b7c?api-version=2017-12-01
  response:
    body:
      string: '{"name":"c6b32963-cca1-454e-8c0a-455040378b7c","status":"Failed","startTime":"2020-03-24T19:56:44.86Z","error":{"code":"SubscriptionDoesNotHaveServer","message":"Subscription
        ''8403da61-2731-4c0e-a00c-1ecd41e0d247'' does not have the server ''azuredbclitest000003''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforMySQL/servers?api-version=2017-12-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/servers?api-version=2017-12-01
  response:
    body:
      string: '{"value":[{"identity":{"principalId":"e6c12c2d-23ee-4c66-a02f-0dfd94784c18","type":"SystemAssigned","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"sku":{"name":"GP_Gen5_4","tier":"GeneralPurpose","family":"Gen5","capacity":4},"properties":{"administratorLogin":"shinim","storageProfile":{"storageMB":102400,"backupRetentionDays":7,"geoRedundantBackup":"Disabled","storageAutogrow":"Enabled"},"version":"5.7","sslEnforcement":"Enabled","minimalTlsVersion":"TLSEnforcementDisabled","userVisibleState":"Inaccessible","fullyQualifiedDomainName":"testorcasmysql.mysql.database.azure.com","earliestRestoreDate":"[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000002/providers/Microsoft.DBforMySQL/servers/azuredbclirestore000004?api-version=2017-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
[...]
