interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2022-10-21T11:02:28Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "azuredbclitest-000002", "type": "Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/checkNameAvailability?api-version=2022-03-08-preview
  response:
    body:
      string: '{"name":"azuredbclitest-000002","type":"Microsoft.DBforPostgreSQL/flexibleServers","nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?api-version=2022-03-08-preview
  response:
    body:
      string: '{"value":[{"zone":"none","geoBackupSupported":true,"zoneRedundantHaSupported":true,"zoneRedundantHaAndGeoBackupSupported":true,"supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"ManagedDisk","supportedStorageMB":[{"name":"32768","supportedIOPS":120,"storageSizeMB":32768,"supportedUpgradableTierList":[{"name":"P4","tierName":"P4","iops":120,"isBaseline":true,"status":"Available"},{"name":"P6","tierName":"P6","iops":240,"isBaseline":false,"status":"Available"},{"name":"P10","tierName":"P10","iops":500,"isBaseline":false,"status":"Available"},{"name":"P15","tierName":"P15","iops":1100,"isBaseline":false,"status":"Available"},{"name":"P20","tierName":"P20","iops":2300,"isBaseline":false,"status":"Available"},{"name":"P30","tierName":"P30","iops":5000,"isBaseline":false,"status":"Available"},{"name":"P40","tierName":"P40","iops":7500,"isBaseline":f[...]
- request:
    body: '{"tags": {"keys": "3"}, "location": "eastus", "sku": {"name": "Standard_D2s_v3",
      "tier": "GeneralPurpose"}, "properties": {"administratorLogin": "dbadmin", "administratorLoginPassword":
      "08Z4SMwL9nBQxWPeL2BP8A", "version": "12", "storage": {"storageSizeGB": 128},
      "backup": {"backupRetentionDays": 7, "geoRedundantBackup": "Disabled"}, "network":
      {"delegatedSubnetResourceId": "", "privateDnsZoneArmResourceId": ""}, "highAvailability":
      {"mode": "ZoneRedundant"}, "availabilityZone": "1", "createMode": "Create"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2022-10-21T11:02:36.567Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/8bb5a61b-66c8-493b-b135-71778315c500?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/8bb5a61b-66c8-493b-b135-71778315c500?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/8bb5a61b-66c8-493b-b135-71778315c500?api-version=2022-03-08-preview
  response:
    body:
      string: '{"name":"8bb5a61b-66c8-493b-b135-71778315c500","status":"InProgress","startTime":"2022-10-21T11:02:36.567Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002?api-version=2022-03-08-preview
  response:
    body:
      string: '{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose"},"systemData":{"createdAt":"2022-10-21T11:02:41.3048705Z"},"properties":{"dataEncryption":{"type":"SystemManaged"},"authConfig":{"activeDirectoryAuthEnabled":false},"fullyQualifiedDomainName":"azuredbclitest-000002.postgres.database.azure.com","version":"12","minorVersion":"11","administratorLogin":"dbadmin","state":"Ready","availabilityZone":"1","storage":{"storageSizeGB":128},"backup":{"backupRetentionDays":7,"geoRedundantBackup":"Disabled","earliestRestoreDate":"2022-10-21T11:12:07.2298519+00:00"},"network":{"publicNetworkAccess":"Enabled"},"highAvailability":{"mode":"ZoneRedundant","state":"Healthy","standbyAvailabilityZone":"2"},"maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"Primary","replicaCapacity":5,"storageAutoGrowth":false},"location":"East
        US","tags":{"keys":"3"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002","name":"azuredbclitest-000002","type":"Microsoft.DBforPostgreSQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"charset": "utf8", "collation": "en_US.utf8"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002/databases/testdb?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"UpsertServerDatabaseManagementOperation","startTime":"2022-10-21T11:15:43.497Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/b7d9b9aa-9fe2-4099-81f8-df7b5561401c?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/b7d9b9aa-9fe2-4099-81f8-df7b5561401c?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/capabilities?serverName=azuredbclitest-000002&api-version=2022-03-08-preview
  response:
    body:
      string: '{"value":[{"zone":"none","geoBackupSupported":true,"zoneRedundantHaSupported":true,"zoneRedundantHaAndGeoBackupSupported":true,"supportedFlexibleServerEditions":[{"name":"Burstable","suppor[...]
[...]
- request:
    body: '{"restartWithFailover": false}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002/restart?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"RestartServerManagementOperation","startTime":"2022-10-21T11:47:30.217Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/7cb01ab7-446c-46f6-9e83-0e63c1ae8f15?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/7cb01ab7-446c-46f6-9e83-0e63c1ae8f15?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/7cb01ab7-446c-46f6-9e83-0e63c1ae8f15?api-version=2022-03-08-preview
  response:
    body:
      string: '{"properties":{},"name":"azuredbclitest-000002","type":"PostgreSQL"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002/stop?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"StopServerManagementOperation","startTime":"2022-10-21T11:48:32.13Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/a026d592-e569-42f8-a9b7-6c0eaf2b8659?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/a026d592-e569-42f8-a9b7-6c0eaf2b8659?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002/start?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2022-10-21T11:55:36.343Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/e3b05512-598a-4cb8-924c-35633083540b?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/e3b05512-598a-4cb8-924c-35633083540b?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers?api-version=2022-03-08-preview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_E2ds_v4","tier":"MemoryOptimized"},"systemData":{"createdAt":"2022-10-21T11:02:41.3048705Z"},"properties":{"dataEncryption":{"type":"SystemManaged"},"authConfig":{"activ[...]
[...]
- request:
    body: '{"location": "eastus", "properties": {"sourceServerResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/azuredbclitest-000002",
      "pointInTimeUTC": "2022-10-21T11:59:39.000Z", "createMode": "PointInTimeRestore"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforPostgreSQL/flexibleServers/restore-azuredbclitest-000002?api-version=2022-03-08-preview
  response:
    body:
      string: '{"operation":"RestoreSnapshotManagementOperation","startTime":"2022-10-21T11:59:45.373Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/azureAsyncOperation/eccea501-0d61-4429-878a-7da0f339b63d?api-version=2022-03-08-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforPostgreSQL/locations/eastus/operationResults/eccea501-0d61-4429-878a-7da0f339b63d?api-version=2022-03-08-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
