interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/start?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"StartServerManagementOperation","startTime":"2021-01-28T17:30:52.27Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/azureAsyncOperation/719597e8-bcb9-4611-a915-5a0ffa15fbb7?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/operationResults/719597e8-bcb9-4611-a915-5a0ffa15fbb7?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/azureAsyncOperation/719597e8-bcb9-4611-a915-5a0ffa15fbb7?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"719597e8-bcb9-4611-a915-5a0ffa15fbb7","status":"InProgress","startTime":"2021-01-28T17:30:52.27Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2euap/azureAsyncOperation/719597e8-bcb9-4611-a915-5a0ffa15fbb7?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"719597e8-bcb9-4611-a915-5a0ffa15fbb7","status":"Succeeded","startTime":"2021-01-28T17:30:52.27Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK

version: 1
