interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/locations/southeastasia/capabilities?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"zone":"none","supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupRetentionDays":7,"maxBackupRetentionDays":35,"supportedStorageMB":[],"status":"Default"}],"supportedServerVersions":[{"name":"5.7","supportedVcores":[{"name":"Standard_B1s","vCores":1,"supportedIOPS":320,"supportedMemoryPerVcoreMB":1024,"status":"Available"},{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Default"}],"status":"Default"}],"status":"Available"},{"name":"GeneralPurpose","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupReten[...]
- request:
    body: '{"name": "azuredbclitest-000002", "type": "Microsoft.DBforMySQL/flexibleServers"}'
<<<<<<< HEAD
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/checkNameAvailability?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
=======
>>>>>>> azure-cli/dev
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/checkNameAvailability?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"nameAvailable":true,"message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 07 Oct 2020 19:40:32 GMT
=======
      - Fri, 04 Dec 2020 06:02:30 GMT
>>>>>>> azure-cli/dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-network/12.0.0 Azure-SDK-For-Python AZURECLI/2.12.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNETbclitest-mkeg6?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"name\": \"VNETbclitest-mkeg6\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNETbclitest-mkeg6\",\r\n
        \ \"etag\": \"W/\\\"b5cea5ee-a7a4-4b80-9925-7e0780f4d1bc\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"e502ba70-af22-4241-9abe-c4c749204f82\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n
        \   \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/ff1cf0ee-77ac-4b71-a4e5-a24ec8f8d855?api-version=2020-06-01
      content-type:
      - application/json; charset=utf-8
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-resource/10.2.0 Azure-SDK-For-Python AZURECLI/2.15.1
      accept-language:
      - en-US
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
>>>>>>> azure-cli/dev
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-ms-arm-service-request-id:
      - 85d6772d-a6fc-4dd0-9e88-54fea5263ba6
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
=======
>>>>>>> azure-cli/dev
    status:
      code: 204
      message: No Content
- request:
<<<<<<< HEAD
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.DBforMySQL/flexibleServers"}, "name": "Microsoft.DBforMySQL/flexibleServers"}]},
      "name": "Subnetbclitest-mkeg6"}'
=======
    body: '{"location": "southeastasia", "sku": {"name": "Standard_B1ms", "tier":
      "Burstable"}, "properties": {"administratorLogin": "crankyBuffalo6", "administratorLoginPassword":
      "Sm2U1bwPMx6fvln1LNwczg", "version": "5.7", "haEnabled": "Disabled", "storageProfile":
      {"backupRetentionDays": 7, "storageMB": 10240}, "createMode": "Default"}}'
>>>>>>> azure-cli/dev
    headers:
<<<<<<< HEAD
      - '218'
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-network/12.0.0 Azure-SDK-For-Python AZURECLI/2.12.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNETbclitest-mkeg6/subnets/Subnetbclitest-mkeg6?api-version=2020-06-01
  response:
    body:
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-network/12.0.0 Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/ff1cf0ee-77ac-4b71-a4e5-a24ec8f8d855?api-version=2020-06-01
  response:
    body:
      string: "{\r\n  \"status\": \"Canceled\",\r\n  \"error\": {\r\n    \"code\":
        \"Canceled\",\r\n    \"message\": \"Operation was canceled.\",\r\n    \"details\":
        [\r\n      {\r\n        \"code\": \"CanceledAndSupersededDueToAnotherOperation\",\r\n
        \       \"message\": \"Operation PutVirtualNetworkOperation (ff1cf0ee-77ac-4b71-a4e5-a24ec8f8d855)
        was canceled and superseded by operation PutSubnetOperation (e48544bb-9152-4153-aee9-31087d60a7c6).\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      canceled-by-azure-asyncoperation:
      - https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.Network/locations/westus2/operations/e48544bb-9152-4153-aee9-31087d60a7c6?api-version=2020-06-01
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/7b433561-16d9-4ccb-924f-a0922aa2f695?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"7b433561-16d9-4ccb-924f-a0922aa2f695","status":"InProgress","startTime":"2020-12-04T06:02:39.443Z"}'
    headers:
>>>>>>> azure-cli/dev
      content-length:
      - '108'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Wed, 07 Oct 2020 19:40:36 GMT
=======
      - Fri, 04 Dec 2020 06:03:40 GMT
>>>>>>> azure-cli/dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-ms-arm-service-request-id:
      - 8dea2ace-692b-47ea-ae70-b5dc88ac8cc2
=======
>>>>>>> azure-cli/dev
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard_B1ms", "tier": "Burstable"},
      "properties": {"administratorLogin": "liquidOpossum0", "administratorLoginPassword":
      "oqOYyaLkWylkvyLsVmTRiA", "version": "5.7", "haEnabled": "Disabled", "storageProfile":
      {"backupRetentionDays": 7, "storageMB": 10240}, "delegatedSubnetArguments":
      {"subnetArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/VNETbclitest-mkeg6/subnets/Subnetbclitest-mkeg6"},
      "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-10-07T19:40:39.237Z"}'
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/southeastasia/azureAsyncOperation/7b433561-16d9-[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/8c81ec82-3726-4147-9c5c-cd277f76185c?api-version=2020-07-01-privatepr[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/8c81ec82-3726-4147-9c5c-cd277f76185c?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"8c81ec82-3726-4147-9c5c-cd277f76185c","status":"InProgress","startTime":"2020-10-07T19:40:39.237Z"}'
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_B1ms","tier":"Burstable","capacity":0},"properties":{"administratorLogin":"crankyBuffalo6","storageProfile":{"storageMB":10240,"storageIops":0,"backupRetentionDays":7,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"azuredbclitest-000002.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Enabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-12-04T06:14:54.3407021+00:00","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"None","replicaCapacity":10,"byokEnforcement":"Disabled"},"location":"Southeast
        Asia","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002","name":"azuredbclitest-000002","type":"Microsoft.DBforMySQL/flexibleServers"}'
>>>>>>> azure-cli/dev
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 07 Oct 2020 19:49:40 GMT
=======
      - Fri, 04 Dec 2020 06:14:54 GMT
>>>>>>> azure-cli/dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"charset": "utf8"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/8c81ec82-3726-4147-9c5c-[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/8c81ec82-3726-4147-9c5c-cd277f76185c?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"8c81ec82-3726-4147-9c5c-cd277f76185c","status":"InProgress","startTime":"2020-10-07T19:40:39.237Z"}'
=======
      - -l -g -n --public-access
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"properties":{"charset":"latin1","collation":"latin1_swedish_ci"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002/databases/flexibleserverdb","name":"flexibleserverdb","type":"Microsoft.DBforMySQL/flexibleServers/databases"}'
>>>>>>> azure-cli/dev
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 07 Oct 2020 19:53:40 GMT
=======
      - Fri, 04 Dec 2020 06:15:13 GMT
>>>>>>> azure-cli/dev
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"startIpAddress": "10.10.10.10", "endIpAddress": "12.12.12.12"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/8c81ec82-3726-414[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -g --name --rule-name --start-ip-address --end-ip-address
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Pyth[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
      accept-language:
      - en-US
=======
      - -g --name --rule-name --start-ip-address --end-ip-address
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -l -g -n
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -g --name --rule-name
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/firewallRules/firewall_test_rule?api-version=2020-07-01-privatepreview
  response:
    body:
<<<<<<< HEAD
      string: '{"operation":"UpsertServerDatabaseManagementOperation","startTime":"2020-10-07T19:54:42.823Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/azureAsyncOperation/e71dbc64-99b1-406e-b6dd-860735b8ef4b?api-version=2020-07-01-privatepreview
=======
      string: '{"properties":{"startIpAddress":"10.10.10.10","endIpAddress":"12.12.12.12"},"name":"firewall_test_rule","type":"Microsoft.DBforMySQL/flexibleServers/firewallRules"}'
    headers:
>>>>>>> azure-cli/dev
      cache-control:
      - no-cache
      content-length:
      - '164'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Wed, 07 Oct 2020 19:54:42 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/westus2/operationResults/e71dbc64-99b1-406e-b6dd-860735b8ef4b?api-version=2020-07-01-privatepreview
=======
      - Fri, 04 Dec 2020 06:16:20 GMT
      expires:
      - '-1'
>>>>>>> azure-cli/dev
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
<<<<<<< HEAD
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
=======
>>>>>>> azure-cli/dev
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g --name --rule-name --start-ip-address
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -g -n --rule-name --start-ip-address --end-ip-address
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-priva[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - -g --name --rule-name --end-ip-address
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - -g --name
      User-Agent:
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1[...]
- request:
<<<<<<< HEAD
    body: '{"properties": {"startIpAddress": "10.10.10.10", "endIpAddress": "12.12.12.12"}}'
=======
    body: null
>>>>>>> azure-cli/dev
    headers:
<<<<<<< HEAD
      - mysql flexible-server firewall-rule create
      Connection:
      - keep-alive
      Content-Length:
      - '80'
      Content-Type:
      - application/json; charset=utf-8
      ParameterSetName:
      - -g -n --rule-name --start-ip-address --end-ip-address
      User-Agent:
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGr[...]
[...]
- request:
    body: null
    headers:
=======
>>>>>>> azure-cli/dev
      - mysql flexible-server parameter list
      Connection:
      - keep-alive
      ParameterSetName:
      - -g -s
      User-Agent:
<<<<<<< HEAD
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000002/configurations?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"properties":{"value":"OFF","description":"Tell the server
        to enable or disable archive engine.","defaultValue":"OFF","dataType":"Enumeration","allowedValues":"ON,OFF","source":"system-default","isConfigPendingRestart":"True","isDynamicConfig":"False","isReadOnly":"True"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000002/configurations/archive","name":"archive","type":"Microsoft.DBforMySQL/flexibleServers/configurations"},{"properties":{"value":"OFF","description":"Allow
        to audit the log.","defaultValue":"OFF","dataType":"Enumeration","allowedValues":"ON,OFF","source":"system-default","isConfigPendingRestart":"True","isDynamicConfig":"True"[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: GET
    uri: https://manageme[...]
[...]
- request:
    body: '{"properties": {"collation": "utf8"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
=======
      - python/3.7.4 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.15.1
>>>>>>> azure-cli/dev
      accept-language:
      - en-US
    method: GET
    uri: https://manageme[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.7 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-rdbms/2020-07-01-privatepreview Azure-SDK-For-Python AZURECLI/2.12.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/West%20US%202/azureAsyncOperation/a4879598-b21a-4342-a358-4dd7d184777f?api-version=2020-07-01-privatepreview
  response:
    body:
 [...]
[...]
