interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/locations/eastus2/capabilities?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"zone":"none","supportedFlexibleServerEditions":[{"name":"Burstable","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupRetentionDays":7,"maxBackupRetentionDays":35,"supportedStorageMB":[],"status":"Default"}],"supportedServerVersions":[{"name":"5.7","supportedVcores":[{"name":"Standard_B1s","vCores":1,"supportedIOPS":320,"supportedMemoryPerVcoreMB":1024,"status":"Available"},{"name":"Standard_B1ms","vCores":1,"supportedIOPS":640,"supportedMemoryPerVcoreMB":2048,"status":"Available"},{"name":"Standard_B2s","vCores":2,"supportedIOPS":1280,"supportedMemoryPerVcoreMB":2048,"status":"Default"}],"status":"Default"}],"status":"Available"},{"name":"GeneralPurpose","supportedStorageEditions":[{"name":"PremiumFileShare","minStorageSize":{"name":"5120","storageSizeMB":5120},"maxStorageSize":{"name":"16777216","storageSizeMB":16777216},"minBackupReten[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-06-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '{"location": "eastus2", "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "enableDdosProtection": false, "enableVmProtection": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"azuredbclitest-000005VNET\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET\",\r\n
        \ \"etag\": \"W/\\\"01e31358-1f77-4fe7-a232-020652a460c5\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2\",\r\n
        \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
        \"3dc0675a-dbdd-40cd-9547-a172a20ea02a\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
        [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
        \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false,\r\n
        \   \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/c324d2a6-9bbd-46d9-8d0f-23666aa4633a?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties":
      {"serviceName": "Microsoft.DBforMySQL/flexibleServers"}, "name": "Microsoft.DBforMySQL/flexibleServers"}]},
      "name": "azuredbclitest-000005Subnet"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet?api-version=2018-08-01
  response:
    body:
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2/operations/c324d2a6-9bbd-46d9-8d0f-23666aa4633a?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"status\": \"Canceled\",\r\n  \"error\": {\r\n    \"code\":
        \"Canceled\",\r\n    \"message\": \"Operation was canceled.\",\r\n    \"details\":
        [\r\n      {\r\n        \"code\": \"CanceledAndSupersededDueToAnotherOperation\",\r\n
        \       \"message\": \"Operation PutVirtualNetworkOperation (c324d2a6-9bbd-46d9-8d0f-23666aa4633a)
        was canceled and superseded by operation PutSubnetOperation (b3fb5ef4-9d2f-4ed6-bb52-48df3fae45b8).\"\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      canceled-by-azure-asyncoperation:
      - https://management.azure.com/subscriptions/7fec3109-5b78-4a24-b834-5d47d63e2596/providers/Microsoft.Network/locations/eastus2/operations/b3fb5ef4-9d2f-4ed6-bb52-48df3fae45b8?api-version=2018-08-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet?api-version=2018-08-01
  response:
    body:
      string: "{\r\n  \"name\": \"azuredbclitest-000005Subnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet\",\r\n
        \ \"etag\": \"W/\\\"fb17027b-144d-4108-94a8-eb85251bf063\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [\r\n      {\r\n        \"name\": \"Microsoft.DBforMySQL/flexibleServers\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet/delegations/Microsoft.DBforMySQL/flexibleServers\",\r\n
        \       \"etag\": \"W/\\\"fb17027b-144d-4108-94a8-eb85251bf063\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n
        \         \"serviceName\": \"Microsoft.DBforMySQL/flexibleServers\",\r\n          \"actions\":
        [\r\n            \"Microsoft.Network/virtualNetworks/subnets/join/action\"\r\n
        \         ]\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets/delegations\"\r\n
        \     }\r\n    ]\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fb17027b-144d-4108-94a8-eb85251bf063"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBForMySql/flexibleServers?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose","capacity":0},"properties":{"administratorLogin":"joyfulVulture2","storageProfile":{"storageMB":20480,"storageIops":0,"backupRetentionDays":10,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"azuredbclitest-aqh7yal4eb42trm.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Disabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-09-22T21:46:17.454768+00:00","replicationRole":"None","replicaCapacity":10,"delegatedSubnetArguments":{"subnetArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3qwmrmzjcnflsrhuk6la45g6bklplf55owvs6k24qyq7hrdnhzsvm5fgwxqjeks5r/providers/Microsoft.Network/virtualNetworks/azuredbclitest-aqh7yal4eb42trmVNET/subnets/azuredbclitest-aqh7yal4eb42trmSubnet"},"byokEnforcement":"Disabled"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg3qwmrmzjcnflsrhuk6la45g6bklplf55owvs6k24qyq7hrdnhzsvm5fgwxqjeks5r/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-aqh7yal4eb42trm","name":"azuredbclitest-aqh7yal4eb42trm","type":"Microsoft.DBforMySQL/flexibleServers"},{"sku":{"name":"Standard_D2s_v3","tier":"GeneralPurpose","capacity":0},"properties":{"administratorLogin":"juniorCobra4","storageProfile":{"st[...]
- request:
    body: '{"location": "eastus2", "sku": {"name": "Standard_D2ds_v4", "tier": "GeneralPurpose"},
      "properties": {"administratorLogin": "bossyBagels5", "administratorLoginPassword":
      "mNBtuc9oQVz0c3ZkqI!pFA", "version": "5.7", "haEnabled": "Disabled", "storageProfile":
      {"backupRetentionDays": 10, "storageMB": 20480}, "delegatedSubnetArguments":
      {"subnetArmResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet"},
      "createMode": "Default"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000005?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerManagementOperationV2","startTime":"2020-09-22T23:14:18.627Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2/azureAsyncOperation/fd9731d6-ebbc-47b0-9a13-bd494f4afa69?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2/operationResults/fd9731d6-ebbc-47b0-9a13-bd494f4afa69?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2/azureAsyncOperation/fd9731d6-ebbc-47b0-9a13-bd494f4afa69?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"fd9731d6-ebbc-47b0-9a13-bd494f4afa69","status":"InProgress","startTime":"2020-09-22T23:14:18.627Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000005?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"sku":{"name":"Standard_D2ds_v4","tier":"GeneralPurpose","capacity":0},"properties":{"administratorLogin":"bossyBagels5","storageProfile":{"storageMB":20480,"storageIops":0,"backupRetentionDays":10,"storageAutogrow":"Disabled","fileStorageSkuName":"Premium_LRS"},"version":"5.7","state":"Ready","haState":"NotEnabled","fullyQualifiedDomainName":"azuredbclitest-000005.mysql.database.azure.com","sourceServerId":"","publicNetworkAccess":"Disabled","sslEnforcement":"Disabled","haEnabled":"Disabled","earliestRestoreDate":"2020-09-22T23:29:20.9553483+00:00","maintenanceWindow":{"customWindow":"Disabled","dayOfWeek":0,"startHour":0,"startMinute":0},"replicationRole":"None","replicaCapacity":10,"delegatedSubnetArguments":{"subnetArmResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/azuredbclitest-000005VNET/subnets/azuredbclitest-000005Subnet"},"byokEnforcement":"Disabled"},"location":"East
        US 2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000005","name":"azuredbclitest-000005","type":"Microsoft.DBforMySQL/flexibleServers"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000005/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The requested resource
        of type ''Microsoft.DBforMySQL/flexibleServers/databases'' with name ''flexibleserverdb''
        was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"charset": "utf8"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000005/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"operation":"UpsertServerDatabaseManagementOperation","startTime":"2020-09-22T23:35:27.633Z"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2/azureAsyncOperation/9be6b945-224a-4937-a7d2-ebb1f0d4026a?api-version=2020-07-01-privatepreview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/eastus2/operationResults/9be6b945-224a-4937-a7d2-ebb1f0d4026a?api-version=2020-07-01-privatepreview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBForMySql/flexibleServers/azuredbclitest-000005/databases/flexibleserverdb?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"properties":{"charset":"latin1","collation":"latin1_swedish_ci"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.DBforMySQL/flexibleServers/azuredbclitest-000005/databases/flexibleserverdb","name":"flexibleserverdb","type":"Microsoft.DBforMySQL/flexibleServers/databases"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DBforMySQL/locations/East%20US%202/azureAsyncOperation/573fef9f-6a72-4d03-9011-51e1a00b0a0a?api-version=2020-07-01-privatepreview
  response:
    body:
      string: '{"name":"573fef9f-6a72-4d03-9011-51e1a00b0a0a","status":"InProgress","startTime":"2020-09-22T23:35:49.117Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
