interactions:
- request:
    body: '{"name": "iotc-cli-test000002", "type": "IoTApps"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkNameAvailability?api-version=2018-09-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"
      x-iot-cluster:
      - iotcprodwestus02
      x-iot-correlation:
      - c7fjb5p4.0
      x-iot-version:
      - 082119.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "iotc-cli-test000002", "type": "IoTApps"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.IoTCentral/checkSubdomainAvailability?api-version=2018-09-01
  response:
    body:
      string: '{"nameAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"16-4/x+wI91pK3bZiWtoOg+Zr/n2HE"
      x-iot-cluster:
      - iotcprodwestus02
      x-iot-correlation:
      - 33avh9ba.0
      x-iot-version:
      - 082119.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2019-05-10
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-08-21T20:46:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"displayName": "iotc-cli-test000002",
      "subdomain": "iotc-cli-test000002"}, "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"cc25551a-7d2f-4687-b3f7-377de99fe35d","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2019-08-21T20:46:11.654Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"0200ad7c-0000-0100-0000-5d5dad930000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0200ad7c-0000-0100-0000-5d5dad930000"'
      x-iot-cluster:
      - iotcprodwestus02
      x-iot-correlation:
      - o76az0.0
      x-iot-version:
      - 082119.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "westus", "properties": {"displayName": "My Custom App Display
      Name", "subdomain": "iotc-cli-test000002-template", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-temp[...]
[...]
- request:
    body: '{"location": "westus", "tags": {}, "properties": {"displayName": "iotc-cli-test000002update",
      "subdomain": "iotc-cli-test000002update", "template": "iotc-devkit-sample@1.0.0"},
      "sku": {"name": "S1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      IF-MATCH:
      - '"6400a8ce-0000-0100-0000-5d5dadb80000"'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template?api-version=2018-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002-template","name":"iotc-cli-test000002-template","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"313fe43a-5742-43de-a797-4ee2545952ed","state":"created","displayName":"iotc-cli-test000002update","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002update","createdDate":"2019-08-21T20:46:48.281Z","lastUpdated":"2019-08-21T20:47:25.275Z","template":"iotc-devkit-sample@1.0.0"},"sku":{"name":"S1"},"etag":"\"6400a4d2-0000-0100-0000-5d5daddd0000\""}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6400a4d2-0000-0100-0000-5d5daddd0000"
      x-iot-cluster:
      - iotcprodwestus02
      x-iot-correlation:
      - bjah9mmz.0
      x-iot-version:
      - 082119.0002-release
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps?api-version=2018-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002","name":"iotc-cli-test000002","type":"Microsoft.IoTCentral/IoTApps","location":"westus","tags":{},"properties":{"applicationId":"cc25551a-7d2f-4687-b3f7-377de99fe35d","state":"created","displayName":"iotc-cli-test000002","tenant":"72f988bf-86f1-41af-91ab-2d7cd011db47","capabilities":{},"subdomain":"iotc-cli-test000002","createdDate":"2019-08-21T20:46:11.654Z","template":"iotc-default@1.0.0"},"sku":{"name":"S1"},"etag":"\"0200ad7c-0000-0100-0000-5d5dad930000\""}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2d2-lh4uFNEVf/OU0TZBGwJVGmeNmeU"
      x-iot-cluster:
      - iotcprodwestus02
      x-iot-correlation:
      - 6p9u2nqj.0
      x-iot-version:
      - 082119.0002-release
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.IoTCentral/IoTApps/iotc-cli-test000002?api-version=2018-09-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      x-iot-cluster:
      - iotcprodwestus03
      x-iot-correlation:
      - 6s590wpk.0
      x-iot-version:
      - 082119.0002-release
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
