interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"type": "Microsoft.ContainerRegistry/registries", "name": "webappacrtest1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2017-03-01
  response:
    body: {string: '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"type": "Microsoft.Storage/storageAccounts", "name": "webappacrtest1213546"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/checkNameAvailability?api-version=2016-12-01
  response:
    body: {string: '{"nameAvailable":true}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"parameters": {"registrySku": {"value": "Basic"}, "registryLocation":
      {"value": "westus"}, "adminUserEnabled": {"value": true}, "registryName": {"value":
      "webappacrtest1"}, "storageAccountName": {"value": "webappacrtest1213546"}},
      "mode": "Incremental", "template": {"resources": [{"location": "[parameters(''registryLocation'')]",
      "sku": {"name": "[parameters(''storageAccountSku'')]"}, "type": "Microsoft.Storage/storageAccounts",
      "properties": {"encryption": {"keySource": "Microsoft.Storage", "services":
      {"blob": {"enabled": true}}}}, "apiVersion": "2016-12-01", "tags": {"containerregistry":
      "[parameters(''registryName'')]"}, "kind": "Storage", "name": "[parameters(''storageAccountName'')]"},
      {"location": "[parameters(''registryLocation'')]", "sku": {"name": "[parameters(''registrySku'')]"},
      "type": "Microsoft.ContainerRegistry/registries", "properties": {"adminUserEnabled":
      "[parameters(''adminUserEnabled'')]", "storageAccount": {"accessKey": "[listKeys(resourceId(''Microsoft.Storage/storageAccounts'',
      parameters(''storageAccountName'')), ''2016-12-01'').keys[0].value]", "name":
      "[parameters(''storageAccountName'')]"}}, "apiVersion": "[parameters(''registryApiVersion'')]",
      "dependsOn": ["[resourceId(''Microsoft.Storage/storageAccounts'', parameters(''storageAccountName''))]"],
      "name": "[parameters(''registryName'')]"}], "parameters": {"registrySku": {"metadata":
      {"description": "The SKU of the container registry."}, "defaultValue": "Basic",
      "type": "string"}, "registryLocation": {"metadata": {"description": "The location
      of the container registry. This cannot be changed after the resource is created."},
      "type": "string"}, "registryName": {"metadata": {"description": "The name of
      the container registry."}, "type": "string"}, "registryApiVersion": {"metadata":
      {"description": "The API version of the container registry."}, "defaultValue":
      "2017-03-01", "type": "string"}, "storageAccountName": {"metadata": {"description":
      "The name of the storage account used by the container registry."}, "type":
      "string"}, "adminUserEnabled": {"metadata": {"description": "The value that
      indicates whether the admin user is enabled."}, "defaultValue": false, "type":
      "bool"}, "storageAccountSku": {"metadata": {"description": "The SKU of the storage
      account."}, "defaultValue": "Standard_LRS", "type": "string"}}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry_599","name":"Microsoft.ContainerRegistry_599","properties":{"templateHash":"8542452086937829005","parameters":{"registrySku":{"type":"String","value":"Basic"},"registryLocation":{"type":"String","value":"westus"},"registryName":{"type":"String","value":"webappacrtest1"},"registryApiVersion":{"type":"String","value":"2017-03-01"},"storageAccountName":{"type":"String","value":"webappacrtest1213546"},"adminUserEnabled":{"type":"Bool","value":true},"storageAccountSku":{"type":"String","value":"Standard_LRS"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2017-06-26T21:35:48.5892745Z","duration":"PT0.4684637S","correlationId":"83469301-7535-488d-a5fa-2b184369db62","providers":[{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["westus"]}]},{"namespace":"Microsoft.ContainerRegistry","resourceTypes":[{"resourceType":"registries","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/webappacrtest1213546","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"webappacrtest1213546"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/webappacrtest1213546","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"webappacrtest1213546","actionName":"listKeys","apiVersion":"2016-12-01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest1","resourceType":"Microsoft.ContainerRegistry/registries","resourceName":"webappacrtest1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/Microsoft.ContainerRegistry_599/operationStatuses/08587030939373568132?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08587030939373568132?api-version=2017-05-10
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest1?api-version=2017-03-01
  response:
    body: {string: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest1","name":"webappacrtest1","location":"westus","tags":{},"properties":{"loginServer":"webappacrtest1.azurecr.io","creationDate":"2017-06-26T21:36:19.1463918Z","provisioningState":"Succeeded","adminUserEnabled":true,"storageAccount":{"name":"webappacrtest1213546"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"perSiteScaling": false, "reserved": true, "name": "plan1"},
      "location": "westus", "sku": {"tier": "STANDARD", "capacity": 1, "name": "S1"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan1?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan1","name":"plan1","type":"Microsoft.Web/serverfarms","kind":"linux","location":"West
        US","properties":{"serverFarmId":0,"name":"plan1","workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"clitest.rg000001-WestUSwebspace","subscription":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"numberOfSites":0,"hostingEnvironmentId":null,"tags":null,"kind":"linux","resourceGroup":"clitest.rg000001","reserved":true,"mdmId":"waws-prod-bay-063_7546","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"scmSiteAlsoStopped": false, "serverFarmId": "plan1", "microService":
      "WebSites", "siteConfig": {"localMySqlEnabled": false, "netFrameworkVersion":
      "v4.6", "appSettings": []}, "reserved": false}, "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1","name":"webappacrtest1","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"webappacrtest1","state":"Running","hostNames":["webappacrtest1.azurewebsites.net"],"webSpace":"clitest.rg000001-WestUSwebspace","selfLink":"https://waws-prod-bay-063.api.azurewebsites.windows.net/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/clitest.rg000001-WestUSwebspace/sites/webappacrtest1","repositorySiteName":"webappacrtest1","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["webappacrtest1.azurewebsites.net","webappacrtest1.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"webappacrtest1.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"webappacrtest1.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/serverfarms/plan1","reserved":true,"lastModifiedTimeUtc":"2017-06-26T21:37:00.3333333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"webappacrtest1","trafficManagerHostNames":null,"sku":"Standard","premiumAppDeployed":null,"scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"13.93.220.109,13.93.205.56,52.160.105.227,104.209.45.67,13.91.108.234","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-063","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"clitest.rg000001","defaultHostName":"webappacrtest1.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      content-type: [application/json]
      etag: ['"1D2EEC4582FE420"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/publishxml?api-version=2016-08-01
  response:
    body: {string: '<publishData><publishProfile profileName="webappacrtest1 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="webappacrtest1.scm.azurewebsites.net:443"
        msdeploySite="webappacrtest1" userName="$webappacrtest1" userPWD="dh7WsexxlCvLpgffXMyCWLadj1CZLgSdqt8KcdWiinSR9gCDbQw3mbBH4yKh"
        destinationAppUrl="http://webappacrtest1.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="webappacrtest1
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-063.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="webappacrtest1\$webappacrtest1" userPWD="dh7WsexxlCvLpgffXMyCWLadj1CZLgSdqt8KcdWiinSR9gCDbQw3mbBH4yKh"
        destinationAppUrl="http://webappacrtest1.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>'}
    headers:
      content-type: [application/xml]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2017-05-10&$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest1","name":"webappacrtest1","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yugangwacr/providers/Microsoft.ContainerRegistry/registries/yugangwacr","name":"yugangwacr","type":"Microsoft.ContainerRegistry/registries","sku":{"name":"Basic","tier":"Basic"},"location":"westus","tags":{}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/webappacrtest1/listCredentials?api-version=2017-03-01
  response:
    body: {string: '{"username":"webappacrtest1","passwords":[{"name":"password","value":"j+uas/OK/=G++j/F+/=W+fvDbH97/1Rt"},{"name":"password2","value":"7jA/f/+O++iwEA+TO/d14ZuuHW4RmL+l"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/web","name":"webappacrtest1","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"numberOfWorkers":1,"defaultDocuments":["Default.htm","Default.html","Default.asp","index.htm","index.html","iisstart.htm","default.aspx","index.php","hostingstart.html"],"netFrameworkVersion":"v4.0","phpVersion":"","pythonVersion":"","nodeVersion":"","linuxFxVersion":"","requestTracingEnabled":false,"remoteDebuggingEnabled":false,"remoteDebuggingVersion":null,"httpLoggingEnabled":false,"logsDirectorySizeLimit":35,"detailedErrorLoggingEnabled":false,"publishingUsername":"$webappacrtest1","publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":"None","use32BitWorkerProcess":true,"webSocketsEnabled":false,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":"","managedPipelineMode":"Integrated","virtualApplications":[{"virtualPath":"/","physicalPath":"site\\wwwroot","preloadEnabled":false,"virtualDirectories":null}],"winAuthAdminState":0,"winAuthTenantState":0,"customAppPoolIdentityAdminState":false,"customAppPoolIdentityTenantState":false,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":"LeastRequests","routingRules":[],"experiments":{"rampUpRules":[]},"limits":null,"autoHealEnabled":false,"autoHealRules":{"triggers":null,"actions":null},"tracingOptions":null,"vnetName":"","siteAuthEnabled":false,"siteAuthSettings":{"enabled":null,"unauthenticatedClientAction":null,"tokenStoreEnabled":null,"allowedExternalRedirectUrls":null,"defaultProvider":null,"clientId":null,"clientSecret":null,"issuer":null,"allowedAudiences":null,"additionalLoginParams":null,"isAadAutoProvisioned":false,"googleClientId":null,"googleClientSecret":null,"googleOAuthScopes":null,"facebookAppId":null,"facebookAppSecret":null,"facebookOAuthScopes":null,"twitterConsumerKey":null,"twitterConsumerSecret":null,"microsoftAccountClientId":null,"microsoftAccountClientSecret":null,"microsoftAccountOAuthScopes":null},"cors":null,"push":null,"apiDefinition":null,"autoSwapSlotName":null,"localMySqlEnabled":false,"ipSecurityRestrictions":null}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"alwaysOn": false, "webSocketsEnabled": false, "virtualApplications":
      [{"virtualPath": "/", "physicalPath": "site\\wwwroot", "preloadEnabled": false}],
      "experiments": {"rampUpRules": []}, "numberOfWorkers": 1, "netFrameworkVersion":
      "v4.0", "scmType": "None", "vnetName": "", "pythonVersion": "", "use32BitWorkerProcess":
      true, "appCommandLine": "", "nodeVersion": "", "autoHealEnabled": false, "requestTracingEnabled":
      false, "load[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "West US", "properties": {"DOCKER_REGISTRY_SERVER_PASSWORD":
      "j+uas/OK/=G++j/F+/=W+fvDbH97/1Rt", "DOCKER_REGISTRY_SERVER_USERNAME": "webappacrtest1",
      "DOCKER_REGISTRY_SERVER_URL": "https://webappacrtest1.azurecr.io", "DOCKER_CUSTOM_IMAGE_NAME":
      "webappacrtest1.azurecr.io/image-name:latest"}, "type": "Microsoft.Web/sites/config",
      "name": "appsettings"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"DOCKER_REGISTRY_SERVER_PASSWORD":"j+uas/OK/=G++j/F+/=W+fvDbH97/1Rt","DOCKER_REGISTRY_SERVER_USERNAME":"webappacrtest1","DOCKER_REGISTRY_SERVER_URL":"https://webappacrtest1.azurecr.io","DOCKER_CUSTOM_IMAGE_NAME":"webappacrtest1.azurecr.io/image-name:latest"}}'}
    headers:
      content-type: [application/json]
      etag: ['"1D2EEC463F0ECA0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Web/sites/webappacrtest1/config/slotConfigNames?api-version=2016-08-01
  response:
    body: {string: '{"id":null,"name":"webappacrtest1","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":null,"appSettingNames":null}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdUMzNRUVNLRERPSUFRRVlKSTVISlVPV0Q0NlVNSEhXVzNOVXw3RUVEMjFCM0MxM0FCQTQwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
