interactions:
- request:
    body: '{"kind": "Storage", "location": "westus", "sku": {"name": "Standard_LRS"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage?api-version=2017-06-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Storage/operations/e25bbc08-3606-440d-9737-b88d22cc666f?monitor=true&api-version=2017-06-01']
      Retry-After: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/e25bbc08-3606-440d-9737-b88d22cc666f?monitor=true&api-version=2017-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage","kind":"Storage","location":"westus","name":"functionaconstorage","properties":{"creationTime":"2017-05-08T22:49:48.8099861Z","primaryEndpoints":{"blob":"https://functionaconstorage.blob.core.windows.net/","file":"https://functionaconstorage.file.core.windows.net/","queue":"https://functionaconstorage.queue.core.windows.net/","table":"https://functionaconstorage.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available","supportsHttpsTrafficOnly":false},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions?api-version=2016-03-01&sku=Dynamic
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/South
        Central US","name":"South Central US","type":"Microsoft.Web/geoRegions","properties":{"name":"South
        Central US","description":null,"sortOrder":0,"displayName":"South Central
        US"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/North
        Europe","name":"North Europe","type":"Microsoft.Web/geoRegions","properties":{"name":"North
        Europe","description":null,"sortOrder":1,"displayName":"North Europe"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/geoRegions/West
        Europe","name":"West Europe","type":"Microsoft.Web/geoRegions","properties":{"name":[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Storage/storageAccounts/functionaconstorage/listKeys?api-version=2017-06-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","permissions":"Full","value":"iPnXCV4e+anF8KJ5grCrY+nMlrzq2VTAaXG0UYBtaQwvFyimye5udKP3VpyRxf/qceDbaqtjuTGtVCTdGhmA/w=="},{"keyName":"key2","permissions":"Full","value":"/mhL+9xpddHs36mJ+NvNWkR1Jh86CErEL3INNt9H57UNdn0BZLud/Hyjf1BqGPfRiSwqArQ+mbPuCM38qQt4fg=="}]}

        '}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: '{"kind": "functionapp", "properties": {"scmSiteAlsoStopped": false, "microService":
      "WebSites", "reserved": false, "siteConfig": {"localMySqlEnabled": false, "netFrameworkVersion":
      "v4.6", "appSettings": [{"name": "AzureWebJobsStorage", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=functionaconstorage;AccountKey=iPnXCV4e+anF8KJ5grCrY+nMlrzq2VTAaXG0UYBtaQwvFyimye5udKP3VpyRxf/qceDbaqtjuTGtVCTdGhmA/w=="},
      {"name": "AzureWebJobsDashboard", "value": "DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=functionaconstorage;AccountKey=iPnXCV4e+anF8KJ5grCrY+nMlrzq2VTAaXG0UYBtaQwvFyimye5udKP3VpyRxf/qceDbaqtjuTGtVCTdGhmA/w=="},
      {"na[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-functionapp-c-e2e/providers/Microsoft.Web/sites/functionappconsumption?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D2C84D7379E110"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
version: 1
