interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli-webapp-slot?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot","name":"cli-webapp-slot","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"name": "webapp-slot-test-plan1", "perSiteScaling": false},
      "sku": {"capacity": 1, "name": "S1", "tier": "STANDARD"}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1?api-version=2016-09-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1","name":"webapp-slot-test-plan1","type":"Microsoft.Web/serverfarms","kind":"app","location":"West
        US","properties":{"serverFarmId":0,"name":"webapp-slot-test-plan1","workerSize":"Default","workerSizeId":0,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"Default","currentWorkerSizeId":0,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"cli-webapp-slot-WestUSwebspace","subscription":"0d3ae56c-deaf-4982-b514-33d016d4a683","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":10,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":null,"geoRegion":"West
        US","perSiteScaling":false,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"cli-webapp-slot","reserved":false,"mdmId":"waws-prod-bay-083_5346","targetWorkerCount":0,"targetWorkerSizeId":0,"provisioningState":"Succeeded"},"sku":{"name":"S1","tier":"Standard","size":"S1","family":"S","capacity":1}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"scmSiteAlsoStopped": false, "reserved": false, "microService":
      "WebSites", "serverFarmId": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1",
      "siteConfig": {"localMySqlEnabled": false, "netFrameworkVersion": "v4.6"}},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1","name":"web-slot-test1","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"web-slot-test1","state":"Running","hostNames":["web-slot-test1.azurewebsites.net"],"webSpace":"cli-webapp-slot-WestUSwebspace","selfLink":"https://waws-prod-bay-083.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli-webapp-slot-WestUSwebspace/sites/web-slot-test1","repositorySiteName":"web-slot-test1","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["web-slot-test1.azurewebsites.net","web-slot-test1.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"web-slot-test1.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"web-slot-test1.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1","reserved":false,"lastModifiedTimeUtc":"2017-10-03T18:16:22.63","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"web-slot-test1","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"40.118.246.51,40.78.98.75,40.86.187.157,40.78.101.192,40.78.97.93","possibleOutboundIpAddresses":"40.118.246.51,40.78.98.75,40.86.187.157,40.78.101.192,40.78.97.93,40.85.159.5,13.91.108.158","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-083","cloningInfo":null,"snapshotInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli-webapp-slot","defaultHostName":"web-slot-test1.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C73B80439EB"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/publishxml?api-version=2016-08-01
  response:
    body: {string: '<publishData><publishProfile profileName="web-slot-test1 - Web
        Deploy" publishMethod="MSDeploy" publishUrl="web-slot-test1.scm.azurewebsites.net:443"
        msdeploySite="web-slot-test1" userName="$web-slot-test1" userPWD="JSGjMrmAZemjsXdjMXePva8FB9grtWvmgNKLSE5l5hLMu7m7oDZvbjLx16JA"
        destinationAppUrl="http://web-slot-test1.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="web-slot-test1
        - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-083.ftp.azurewebsites.windows.net/site/wwwroot"
        ftpPassiveMode="True" userName="web-slot-test1\$web-slot-test1" userPWD="JSGjMrmAZemjsXdjMXePva8FB9grtWvmgNKLSE5l5hLMu7m7oDZvbjLx16JA"
        destinationAppUrl="http://web-slot-test1.azurewebsites.net" SQLServerDBConnectionString=""
        mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="http://windows.azure.com"
        webSystem="WebSites"><databases /></publishProfile></publishData>'}
    headers:
      Content-Type: [application/xml]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"WEBSITE_NODE_DEFAULT_VERSION": "6.9.1", "s2": "v2", "s1":
      "v1"}, "kind": "<class ''str''>"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s2":"v2","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C73BAFF2A6B"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/slotConfigNames?api-version=2016-08-01
  response:
    body: {string: '{"id":null,"name":"web-slot-test1","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":["c2"],"appSettingNames":["s2","s4"]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"scmSiteAlsoStopped": false, "reserved": false, "microService":
      "WebSites", "serverFarmId": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1",
      "siteConfig": {"localMySqlEnabled": false, "netFrameworkVersion": "v4.6"}},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://managem[...]
[...]
- request:
    body: '{"properties": {"isManualIntegration": true, "branch": "staging", "repoUrl":
      "https://github.com/yugangw-msft/azure-site-test", "isMercurial": false}, "kind":
      "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/sourcecontrols/web","name":"web-slot-test1","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":true,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C73C844CA15"']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/sourcecontrols/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/sourcecontrols/web","name":"web-slot-test1","type":"Microsoft.Web/sites/sourcecontrols","location":"West
        US","properties":{"repoUrl":"https://github.com/yugangw-msft/azure-site-test","branch":"staging","isManualIntegration":true,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2017-10-03T18:17:20.3042169
        https://web-slot-test1-staging.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2017-10-03_18-17-08Z"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C73C844CA15"']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"targetSlot": "staging", "preserveVnet": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D33C73BAFF2A6B"']
      Location: ['https://management.azure.com/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/operationresults/fb85fce1-9309-4b69-b91a-c67f8b3914e7?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/operationresults/fb85fce1-9309-4b69-b91a-c67f8b3914e7?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/operationresults/fb85fce1-9309-4b69-b91a-c67f8b3914e7?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s1":"v1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/web","name":"web-slot-test1","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"numberOfWorkers":1,"defaultDocuments":["Default.htm","Default.html","Default.asp","index.htm","index.html","iisstart.htm","default.aspx","index.php","hostingstart.html"],"netFrameworkVersion":"v4.0","phpVersion":"5.6","pythonVersion":"","nodeVersion":"","linuxFxVersion":"","requestTracingEnabled":false,"remoteDebuggingEnabled":false,"remoteDebuggingVersion":null,"httpLoggingEnabled":false,"logsDirectorySizeLimit":35,"detailedErrorLoggingEnabled":false,"publishingUsername":"$web-slot-test1","publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":"None","use32BitWorkerProcess":true,"webSocketsEnabled":false,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":"","managedPipelineMode":"Integrated","virtualApplications":[{"virtualPath":"/","physicalPath":"site\\wwwroot","preloadEnabled":false,"virtualDirectories":null}],"winAuthAdminState":0,"winAuthTenantState":0,"customAppPoolIdentityAdminState":false,"customAppPoolIdentityTenantState":false,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":"LeastRequests","routingRules":[],"experiments":{"rampUpRules":[]},"limits":null,"autoHealEnabled":false,"autoHealRules":{"triggers":null,"actions":null},"tracingOptions":null,"vnetName":"","siteAuthEnabled":false,"siteAuthSettings":{"enabled":null,"unauthenticatedClientAction":null,"tokenStoreEnabled":null,"allowedExternalRedirectUrls":null,"defaultProvider":null,"clientId":null,"clientSecret":null,"issuer":null,"allowedAudiences":null,"additionalLoginParams":null,"isAadAutoProvisioned":false,"googleClientId":null,"googleClientSecret":null,"googleOAuthScopes":null,"facebookAppId":null,"facebookAppSecret":null,"facebookOAuthScopes":null,"twitterConsumerKey":null,"twitterConsumerSecret":null,"microsoftAccountClientId":null,"microsoftAccountClientSecret":null,"microsoftAccountOAuthScopes":null},"cors":null,"push":null,"apiDefinition":null,"autoSwapSlotName":null,"localMySqlEnabled":false,"ipSecurityRestrictions":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"logsDirectorySizeLimit": 35, "httpLoggingEnabled": false,
      "localMySqlEnabled": false, "virtualApplications": [{"preloadEnabled": false,
      "physicalPath": "site\\wwwroot", "virtualPath": "/"}], "loadBalancing": "LeastRequests",
      "numberOfWorkers": 1, "use32BitWorkerProcess": true, "alwaysOn": false, "detailedErrorLoggingEnabled":
      false, "autoHealEnabled": false, "linuxFxVersion": "", "appCommandLine": "",
      "defaultDocuments": ["Defa[...]
[...]
- request:
    body: '{"properties": {"scmSiteAlsoStopped": false, "reserved": false, "microService":
      "WebSites", "serverFarmId": "/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/serverfarms/webapp-slot-test-plan1",
      "siteConfig": {"localMySqlEnabled": false, "netFrameworkVersion": "v4.6"}},
      "location": "West US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://managem[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"WEBSITE_NODE_DEFAULT_VERSION": "6.9.1"}, "kind": "<class
      ''str''>"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C741EB5980B"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {}, "kind": "<class ''str''>"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C741FAD4B80"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/confi[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"s3": "v3", "WEBSITE_NODE_DEFAULT_VERSION": "6.9.1", "s4":
      "v4"}, "kind": "<class ''str''>"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"s3":"v3","WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s4":"v4"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C7421664620"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"c2": {"type": "MySql", "value": "connection2"}, "c1":
      {"type": "MySql", "value": "connection1"}}, "kind": "<class ''str''>"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"c2":{"value":"connection2","type":"MySql"},"c1":{"value":"connection1","type":"MySql"}}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C742326E1E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"targetSlot": "dev", "preserveVnet": true}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/slotsswap?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D33C7415BFB075"']
      Location: ['https://management.azure.com/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/operationresults/bf5c7607-a9bc-45b0-8693-180f40c9afec?api-version=2016-08-01']
      Retry-After: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/operationresults/bf5c7607-a9bc-45b0-8693-180f40c9afec?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      Location: ['https://management.azure.com/subscriptions/0d3ae56c-deaf-4982-b514-33d016d4a683/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/operationresults/bf5c7607-a9bc-45b0-8693-180f40c9afec?api-version=2016-08-01']
      Retry-After: ['15']
    status: {code: 202, message: Accepted}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"c1":{"value":"connection1","type":"MySql"}}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/dev","name":"w[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-slot/providers/Microsoft.Web/sites/web-slot-test1/slots/staging?api-version=2016-08-01
  response:
    body: {string: ''}
    headers:
      ETag: ['"1D33C743E5D896B"']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
version: 1
