interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/web?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/web","name":"webapp-config-test","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"numberOfWorkers":1,"defaultDocuments":["Default.htm","Default.html","Default.asp","index.htm","index.html","iisstart.htm","default.aspx","index.php","hostingstart.html"],"netFrameworkVersion":"v4.0","phpVersion":"5.6","pythonVersion":"","nodeVersion":"","linuxFxVersion":"","requestTracingEnabled":false,"remoteDebuggingEnabled":false,"remoteDebuggingVersion":null,"httpLoggingEnabled":false,"logsDirectorySizeLimit":35,"detailedErrorLoggingEnabled":false,"publishingUsername":"$webapp-config-test","publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":"None","use32BitWorkerProcess":true,"webSocketsEnabled":false,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":"","managedPipelineMode":"Integrated","virtualApplications":[{"virtualPath":"/","physicalPath":"site\\wwwroot","preloadEnabled":false,"virtualDirectories":null}],"winAuthAdminState":0,"winAuthTenantState":0,"customAppPoolIdentityAdminState":false,"customAppPoolIdentityTenantState":false,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":"LeastRequests","routingRules":[],"experiments":{"rampUpRules":[]},"limits":null,"autoHealEnabled":false,"autoHealRules":null,"tracingOptions":null,"vnetName":"","siteAuthEnabled":false,"siteAuthSettings":{"enabled":null,"unauthenticatedClientAction":null,"tokenStoreEnabled":null,"allowedExternalRedirectUrls":null,"defaultProvider":null,"clientId":null,"clientSecret":null,"issuer":null,"allowedAudiences":null,"additionalLoginParams":null,"isAadAutoProvisioned":false,"googleClientId":null,"googleClientSecret":null,"googleOAuthScopes":null,"facebookAppId":null,"facebookAppSecret":null,"facebookOAuthScopes":null,"twitterConsumerKey":null,"twitterConsumerSecret":null,"microsoftAccountClientId":null,"microsoftAccountClientSecret":null,"microsoftAccountOAuthScopes":null},"cors":null,"push":null,"apiDefinition":null,"autoSwapSlotName":null,"localMySqlEnabled":false,"ipSecurityRestrictions":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "West US", "properties": {"nodeVersion": "", "linuxFxVersion":
      "", "pythonVersion": "3.4", "publishingUsername": "$webapp-config-test", "numberOfWorkers":
      1, "phpVersion": "7.0", "managedPipelineMode": "Integrated", "appCommandLine":
      "", "autoHealEnabled": true, "netFrameworkVersion": "v3.5", "logsDirectorySizeLimit":
      35, "scmType": "None", "vnetName": "", "requestTracingEnabled": false, "webSocketsEnabled":
      true, "defaultDocuments[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/appsettings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"WEBSITE_NODE_DEFAULT_VERSION":"6.9.1"}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "West US", "name": "appsettings", "type": "Microsoft.Web/sites/config",
      "properties": {"s2": "bar", "s1": "foo", "WEBSITE_NODE_DEFAULT_VERSION": "6.9.1",
      "s3": "bar2"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/appsettings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/appsettings","name":"appsettings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"s2":"bar","s1":"foo","WEBSITE_NODE_DEFAULT_VERSION":"6.9.1","s3":"bar2"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2B5762DE54195"']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/slotConfigNames?api-version=2016-08-01
  response:
    body: {string: '{"id":null,"name":"webapp-config-test","type":"Microsoft.Web/sites","location":"West
        US","properties":{"connectionStringNames":null,"appSettingNames":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/hostNameBindings?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/hostNameBindings/webapp-config-test.azurewebsites.net","name":"webapp-config-test/webapp-config-test.azurewebsites.net","type":"Microsoft.Web/sites/hostNameBindings","location":"West
        US","properties":{"siteName":"webapp-config-test","domainId":null,"hostNameType":"Verified"}}],"nextLink":null,"id":null}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2B5763074E020"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/connectionstrings/list?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['11999']
    status: {code: 200, message: OK}
- request:
    body: '{"location": "West US", "name": "connectionstrings", "type": "Microsoft.Web/sites/config",
      "properties": {"c1": {"type": "MySql", "value": "conn1"}, "c2": {"type": "MySql",
      "value": "conn2"}, "c3": {"type": "MySql", "value": "conn3"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/connectionstrings?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/azurecli-webapp-config/providers/Microsoft.Web/sites/webapp-config-test/config/connectionstrings","name":"connectionstrings","type":"Microsoft.Web/sites/config","location":"West
        US","properties":{"c1":{"value":"conn1","type":"MySql"},"c2":{"value":"conn2","type":"MySql"},"c3":{"value":"conn3","type":"MySql"}}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D2B576334209E0"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Web/publishingUsers/web?api-version=2016-03-01
  response:
    body: {string: '{"id":null,"name":"web","type":"Microsoft.Web/publishingUsers/web","properties":{"name":null,"publishingUserName":null,"publishingPassword":null,"publishingPasswordHash":null,"publishingPasswordHashSalt":null,"metadata":null,"isDeleted":false,"scmUri":null}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
