interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001","name":"cli_test_monitor_autoscale_fixed000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json
  response:
    body: {string: !!python/unicode "{\n  \"$schema\":\"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\":\"1.0.0.0\",\n  \"parameters\":{},\n  \"variables\"\
        :{},\n  \"resources\":[],\n\n  \"outputs\":{\n    \"aliases\":{\n      \"\
        type\":\"object\",\n      \"value\":{\n\n        \"Linux\":{\n          \"\
        CentOS\":{\n            \"publisher\":\"OpenLogic\",\n            \"offer\"\
        :\"CentOS\",\n            \"sku\":\"7.3\",\n            \"version\":\"latest\"\
        \n          },\n          \"CoreOS\":{\n            \"publisher\":\"CoreOS\"\
        ,\n            \"offer\":\"CoreOS\",\n            \"sku\":\"Stable\",\n  \
        \          \"version\":\"latest\"\n          },\n          \"Debian\":{\n\
        \            \"publisher\":\"credativ\",\n            \"offer\":\"Debian\"\
        ,\n            \"sku\":\"8\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"openSUSE-Leap\": {\n            \"publisher\":\"SUSE\"\
        ,\n            \"offer\":\"openSUSE-Leap\",\n            \"sku\":\"42.2\"\
        ,\n            \"version\": \"latest\"\n          },\n          \"RHEL\":{\n\
        \            \"publisher\":\"RedHat\",\n            \"offer\":\"RHEL\",\n\
        \            \"sku\":\"7.3\",\n            \"version\":\"latest\"\n      \
        \    },\n          \"SLES\":{\n            \"publisher\":\"SUSE\",\n     \
        \       \"offer\":\"SLES\",\n            \"sku\":\"12-SP2\",\n           \
        \ \"version\":\"latest\"\n          },\n          \"UbuntuLTS\":{\n      \
        \      \"publisher\":\"Canonical\",\n            \"offer\":\"UbuntuServer\"\
        ,\n            \"sku\":\"16.04-LTS\",\n            \"version\":\"latest\"\n\
        \          }\n        },\n\n        \"Windows\":{\n          \"Win2016Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2016-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2012R2Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-R2-Datacenter\",\n\
        \            \"version\":\"latest\"\n          },\n          \"Win2012Datacenter\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2012-Datacenter\",\n   \
        \         \"version\":\"latest\"\n          },\n          \"Win2008R2SP1\"\
        :{\n            \"publisher\":\"MicrosoftWindowsServer\",\n            \"\
        offer\":\"WindowsServer\",\n            \"sku\":\"2008-R2-SP1\",\n       \
        \     \"version\":\"latest\"\n          }\n        }\n      }\n    }\n  }\n\
        }\n"}
    headers:
      content-type: [text/plain; charset=utf-8]
      etag: ['"d6824855d13e27c5258a680eb60f635d088fd05e"']
      source-age: ['0']
      x-fastly-request-id: [b0944ce1e088203bf43ea50326aa194debe77429]
      x-geo-block-list: ['']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/virtualNetworks?api-version=2017-11-01
  response:
    body: {string: !!python/unicode '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"mode": "Incremental", "parameters": {},
      "template": {"parameters": {}, "outputs": {"VMSS": {"type": "object", "value":
      "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'', ''vmss1''),providers(''Microsoft.Compute'',
      ''virtualMachineScaleSets'').apiVersions[0])]"}}, "variables": {}, "contentVersion":
      "1.0.0.0", "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "resources": [{"name": "vmss1VNET", "tags": {}, "apiVersion": "2015-06-15",
      "location": "westus", "dependsOn": [], "type": "Microsoft.Network/virtualNetworks",
      "properties": {"subnets": [{"name": "vmss1Subnet", "properties": {"addressPrefix":
      "10.0.0.0/24"}}], "addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}}}, {"sku":
      {"name": "Basic"}, "name": "vmss1LBPublicIP", "tags": {}, "apiVersion": "2017-11-01",
      "location": "westus", "dependsOn": [], "type": "Microsoft.Network/publicIPAddresses",
      "properties": {"publicIPAllocationMethod": "Dynamic"}}, {"sku": {"name": "Basic"},
      "name": "vmss1LB", "tags": {}, "apiVersion": "2017-11-01", "location": "westus",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "type": "Microsoft.Network/loadBalancers", "properties": {"frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "inboundNatPools": [{"name": "vmss1LBNatPool", "properties": {"protocol": "tcp",
      "backendPort": 22, "frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119"}}], "backendAddressPools":
      [{"name": "vmss1LBBEPool"}]}}, {"sku": {"capacity": 2, "name": "Standard_D1_v2"},
      "name": "vmss1", "tags": {}, "apiVersion": "2017-12-01", "location": "westus",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/loadBalancers/vmss1LB"],
      "type": "Microsoft.Compute/virtualMachineScaleSets", "properties": {"overprovision":
      true, "virtualMachineProfile": {"storageProfile": {"imageReference": {"sku":
      "16.04-LTS", "publisher": "Canonical", "version": "latest", "offer": "UbuntuServer"},
      "osDisk": {"caching": "ReadWrite", "managedDisk": {"storageAccountType": null},
      "createOption": "FromImage"}}, "osProfile": {"computerNamePrefix": "vmss12056",
      "adminUsername": "travisprescott", "linuxConfiguration": {"ssh": {"publicKeys":
      [{"path": "/home/travisprescott/.ssh/authorized_keys", "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDBaoge9zybnViQvRAgwTnO6yshWCxJxcTKYAPj79TWjBZ1h21hGLs5L/UWhgAGG6Hcd+ID1IHSbTWTL/8HGug8/x07IzgiiCWXh9htPGhNAE/LdNoMXl1ahjABHj9s/NxNkbK4Z/1SFFPGScIJw5hKiDrQ0j4NNMPW1O37Ln2h/Txr9KTAqT75miJN+mamH3Ijcm4ox0Xjy4mOPrjg+27a1PtYFTJ6w5mOUyr1gLCtuDvfI96vioMzClbzGX3lw4vqUAA9I86Agmko+FIS33q+OwGBA0T79OhMOHSqZkd6WEqAqlTREnubXXe15VBCtRjz4A1hhvQj8hDtCiRQwCV/OCG+HvCp2K/RfTkYlROLtFxDRruXXuHNoPsAsJYVV3P5zk96fO56piPNYqhoY6nSNCZDe/NRkWGVDwR55kBRESOzm7jPvxzZZZSplXoKG8yqCybD+LjtpbznL8Vz94JrbjOCSqD3JKAHKnP6+fBsF8FdAcxN4ujqVKoIqX1RDQEoM/fBqp1Z2YUg4E+fg3LUAgDdLi7ds8KjBFn1o7ZCbZ129O7aBCLdMMrsTx8kxRmdOGhCFXjajwLbZNr+ivN4l8KcNEMYPHpHkE9qpopBnah01i/4/Kiubsj4UDf6CHD8LAg1CHoibodG0O7LJvTo5/cmgTo+NXlzPezS4T2YtQ==
      trpresco@microsoft.com\n"}]}, "disablePasswordAuthentication": true}}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vmss12056Nic", "properties": {"primary":
      "true", "ipConfigurations": [{"name": "vmss12056IPConfig", "properties": {"subnet":
      {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerInboundNatPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool"}],
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]}}]}}]}},
      "singlePlacementGroup": true, "upgradePolicy": {"mode": "manual"}}}]}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Resources/deployments/vmss_deploy_cChppInMvDlCwv8OnejABuMldEqsB4X3","name":"vmss_deploy_cChppInMvDlCwv8OnejABuMldEqsB4X3","properties":{"templateHash":"11542067431103400139","parameters":{},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2018-03-08T17:44:12.9952665Z","duration":"PT0.5412234S","correlationId":"5ef3d1ee-4d82-47dd-8481-6adfcdeea518","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceName":"vmss1LB"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","resourceType":"Microsoft.Compute/virtualMachineScaleSets","resourceName":"vmss1"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Resources/deployments/vmss_deploy_cChppInMvDlCwv8OnejABuMldEqsB4X3/operationStatuses/08586810758330235825?api-version=2017-05-10']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08586810758330235825?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2017-05-10
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/provi[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2017-12-01
  response:
    body: {string: !!python/unicode "{\r\n  \"sku\": {\r\n    \"name\": \"Standard_D1_v2\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\"\
        : {\r\n    \"singlePlacementGroup\": true,\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\",\r\n      \"automaticOSUpgrade\": false\r\n  \
        \  },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n  \
        \      \"computerNamePrefix\": \"vmss12056\",\r\n        \"adminUsername\"\
        : \"travisprescott\",\r\n        \"linuxConfiguration\": {\r\n          \"\
        disablePasswordAuthentication\": true,\r\n          \"ssh\": {\r\n       \
        \     \"publicKeys\": [\r\n              {\r\n                \"path\": \"\
        /home/travisprescott/.ssh/authorized_keys\",\r\n                \"keyData\"\
        : \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDBaoge9zybnViQvRAgwTnO6yshWCxJxcTKYAPj79TWjBZ1h21hGLs5L/UWhgAGG6Hcd+ID1IHSbTWTL/8HGug8/x07IzgiiCWXh9htPGhNAE/LdNoMXl1ahjABHj9s/NxNkbK4Z/1SFFPGScIJw5hKiDrQ0j4NNMPW1O37Ln2h/Txr9KTAqT75miJN+mamH3Ijcm4ox0Xjy4mOPrjg+27a1PtYFTJ6w5mOUyr1gLCtuDvfI96vioMzClbzGX3lw4vqUAA9I86Agmko+FIS33q+OwGBA0T79OhMOHSqZkd6WEqAqlTREnubXXe15VBCtRjz4A1hhvQj8hDtCiRQwCV/OCG+HvCp2K/RfTkYlROLtFxDRruXXuHNoPsAsJYVV3P5zk96fO56piPNYqhoY6nSNCZDe/NRkWGVDwR55kBRESOzm7jPvxzZZZSplXoKG8yqCybD+LjtpbznL8Vz94JrbjOCSqD3JKAHKnP6+fBsF8FdAcxN4ujqVKoIqX1RDQEoM/fBqp1Z2YUg4E+fg3LUAgDdLi7ds8KjBFn1o7ZCbZ129O7aBCLdMMrsTx8kxRmdOGhCFXjajwLbZNr+ivN4l8KcNEMYPHpHkE9qpopBnah01i/4/Kiubsj4UDf6CHD8LAg1CHoibodG0O7LJvTo5/cmgTo+NXlzPezS4T2YtQ==\
        \ trpresco@microsoft.com\\n\"\r\n              }\r\n            ]\r\n    \
        \      }\r\n        },\r\n        \"secrets\": []\r\n      },\r\n      \"\
        storageProfile\": {\r\n        \"osDisk\": {\r\n          \"createOption\"\
        : \"FromImage\",\r\n          \"caching\": \"ReadWrite\",\r\n          \"\
        managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\
        \n          }\r\n        },\r\n        \"imageReference\": {\r\n         \
        \ \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\
        \n          \"sku\": \"16.04-LTS\",\r\n          \"version\": \"latest\"\r\
        \n        }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\"\
        :[{\"name\":\"vmss12056Nic\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\"\
        :false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"\
        ipConfigurations\":[{\"name\":\"vmss12056IPConfig\",\"properties\":{\"subnet\"\
        :{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerBackendAddressPools\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Network/loadBalancers/vmss1LB/inboundNatPools/vmss1LBNatPool\"\
        }]}}]}}]}\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"\
        overprovision\": true,\r\n    \"uniqueId\": \"a555895f-f58a-483e-8742-df3a24983110\"\
        \r\n  },\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n\
        \  \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"name\": \"vmss1\"\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-resource: ['Microsoft.Compute/GetVMScaleSet3Min;183,Microsoft.Compute/GetVMScaleSet30Min;963']
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"notifications": [{"webhooks": [], "operation":
      "Scale", "email": {"customEmails": []}}], "targetResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1",
      "enabled": true, "name": "vmss1", "profiles": [{"rules": [], "capacity": {"default":
      "3", "minimum": "3", "maximum": "3"}, "name": "default"}]}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/microsoft.insights/autoscalesettings/vmss1?api-version=2015-04-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/microsoft.insights/autoscalesettings/vmss1","name":"vmss1","type":"Microsoft.Insights/autoscaleSettings","location":"westus","tags":{"$type":"Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
        Microsoft.WindowsAzure.Management.Common.Storage"},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"3","maximum":"3","default":"3"},"rules":[]}],"enabled":true,"name":"vmss1","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed000001/providers/microsoft.insights/autoscalesettings/vmss1?api-version=2015-04-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/microsoft.insights/autoscalesettings/vmss1","name":"vmss1","type":"Microsoft.Insights/autoscaleSettings","location":"westus","tags":{"$type":"Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
        Microsoft.WindowsAzure.Management.Common.Storage"},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"3","maximum":"3","default":"3"},"rules":[]}],"enabled":true,"name":"vmss1","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"location": "westus", "properties": {"notifications":
      [{"webhooks": [], "operation": "Scale", "email": {"sendToSubscriptionCoAdministrators":
      false, "customEmails": [], "sendToSubscriptionAdministrator": false}}], "targetResourceUri":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_fixed000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1",
      "enabled": true, "name": "vmss1", "profiles": [{"rules": [], "capacity": {"default":
      "3", "minimum": "3", "maximum": "3"}, "name": "default"}, {"rules": [], "fixedDate":
      {"start": "2018-12-24T00:00:00.000Z", "end": "2018-12-26T00:00:00.000Z", "timeZone":
      "Pacific Standard Time"}, "capacity": {"default": "5", "minimum": "5", "maximum":
      "5"}, "name": "Christmas"}]}, "tags": {"$type": "Microsoft.WindowsAzure.Management.Common.Storage.CasePreservedDictionary,
      Microsoft.WindowsAzure.Management.Common.Storage"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_fixed0000[...]
[...]
