interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7","name":"azurecli-webapp-backuptest7","type":"Microsoft.Web/sites","kind":"app","location":"West
        US","properties":{"name":"azurecli-webapp-backuptest7","state":"Running","hostNames":["azurecli-webapp-backuptest7.azurewebsites.net"],"webSpace":"cli-webapp-backup-WestUSwebspace","selfLink":"https://waws-prod-bay-085.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/cli-webapp-backup-WestUSwebspace/sites/azurecli-webapp-backuptest7","repositorySiteName":"azurecli-webapp-backuptest7","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"enabledHostNames":["azurecli-webapp-backuptest7.azurewebsites.net","azurecli-webapp-backuptest7.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"azurecli-webapp-backuptest7.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"azurecli-webapp-backuptest7.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"thumbprint":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/serverfarms/webapp-backup-plan2","reserved":false,"lastModifiedTimeUtc":"2017-10-03T23:08:40.7466667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","siteConfig":null,"deploymentId":"azurecli-webapp-backuptest7","trafficManagerHostNames":null,"sku":"Standard","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientCertEnabled":false,"hostNamesDisabled":false,"domainVerificationIdentifiers":null,"kind":"app","outboundIpAddresses":"104.40.53.219,104.42.226.43,104.42.227.57,104.42.228.164,104.42.230.5","possibleOutboundIpAddresses":"104.40.53.219,104.42.226.43,104.42.227.57,104.42.228.164,104.42.230.5,104.42.229.180,104.42.227.131","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-bay-085","cloningInfo":null,"snapshotInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"cli-webapp-backup","defaultHostName":"azurecli-webapp-backuptest7.azurewebsites.net","slotSwapStatus":null}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C9C8D52FAAB"']
    status: {code: 200, message: OK}
- request:
    body: '{"kind": "West US", "properties": {"name": "mybackup", "databases": [{"databaseType":
      "SqlAzure", "name": "cli-db", "connectionString": "Server=tcp:cli-backup.database.windows.net,1433;Initial
      Catalog=cli-db;Persist Security Info=False;User ID=cliuser;Password=cli!password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection
      Timeout=30;"}], "storageAccountUrl": "https://azureclistore.blob.core.windows.net/sitebackups?st=2017-10-03T16%3A52%3A00Z&se=2017-10-04T16%3A52%3A00Z&sp=rwdl&sv=2016-05-31&sr=c&sig=YC1rbFebcY6Ku0xCI9Nj3C50%2Fk3e8%2BpdgB9W805Lz1s%3D"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7/backup?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7","name":"azurecli-webapp-backuptest7","type":"Microsoft.Web/sites","location":"West
        US","properties":{"id":44,"storageAccountUrl":"https://azureclistore.blob.core.windows.net/sitebackups?st=2017-10-03T16%3A52%3A00Z&se=2017-10-04T16%3A52%3A00Z&sp=rwdl&sv=2016-05-31&sr=c&sig=YC1rbFebcY6Ku0xCI9Nj3C50%2Fk3e8%2BpdgB9W805Lz1s%3D","blobName":"mybackup","name":"mybackup","status":"Created","sizeInBytes":0,"created":"2017-10-03T23:08:46.0002583Z","log":null,"databases":[{"databaseType":"SqlAzure","name":"cli-db","connectionStringName":null,"connectionString":"Server=tcp:cli-backup.database.windows.net,1433;Initial
        Catalog=cli-db;Persist Security Info=False;User ID=cliuser;Password=cli!password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection
        Timeout=30;"}],"scheduled":false,"correlationId":"7fdbc37e-e451-4ee3-ae87-af70ef042eb8","websiteSizeInBytes":null}}'}
    headers:
      Content-Type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7/backups?api-version=2016-08-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7/backups/44","name":"44","type":"Microsoft.Web/sites/backups","location":"West
        US","properties":{"id":44,"storageAccountUrl":"https://azureclistore.blob.core.windows.net/sitebackups?st=2017-10-03T16%3A52%3A00Z&se=2017-10-04T16%3A52%3A00Z&sp=rwdl&sv=2016-05-31&sr=c&sig=YC1rbFebcY6Ku0xCI9Nj3C50%2Fk3e8%2BpdgB9W805Lz1s%3D","blobName":"mybackup","name":"mybackup","status":"Created","sizeInBytes":0,"created":"2017-10-03T23:08:46.0002583","log":null,"databases":[{"databaseType":"SqlAzure","name":"cli-db","connectionStringName":null,"connectionString":"Server=tcp:cli-backup.database.windows.net,1433;Initial
        Catalog=cli-db;Persist Security Info=False;User ID=cliuser;Password=cli!password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection
        Timeout=30;"}],"scheduled":false,"correlationId":"7fdbc37e-e451-4ee3-ae87-af70ef042eb8","websiteSizeInBytes":null}}],"nextLink":null,"id":null}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"kind": "West US", "properties": {"operationType": "Default", "databases":
      [{"databaseType": "SqlAzure", "name": "cli-db", "connectionString": "Server=tcp:cli-backup.database.windows.net,1433;Initial
      Catalog=cli-db;Persist Security Info=False;User ID=cliuser;Password=cli!password1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection
      Timeout=30;"}], "ignoreConflictingHostNames": true, "appServicePlan": "webapp-backup-plan2",
      "overwrite": true, "storageAccountUrl": "https://azureclistore.blob.core.windows.net/sitebackups?st=2017-10-03T16%3A52%3A00Z&se=2017-10-04T16%3A52%3A00Z&sp=rwdl&sv=2016-05-31&sr=c&sig=YC1rbFebcY6Ku0xCI9Nj3C50%2Fk3e8%2BpdgB9W805Lz1s%3D",
      "blobName": "mybackup.zip", "ignoreDatabases": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7/backups/0/restore?api-version=2016-08-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli-webapp-backup/providers/Microsoft.Web/sites/azurecli-webapp-backuptest7","name":"azurecli-webapp-backuptest7","type":"Microsoft.Web/sites","properties":{"operationId":"07005963-cb7b-461e-9464-eb32e5c01974"}}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"1D33C9C8D52FAAB"']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
version: 1
