interactions:
- request:
    body: '{"location": "Global", "properties": {"enabled": true, "groupShortName":
      "cliactiongro"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_notifications000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_notifications000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]}}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 32ee3e9a-f0ec-11ef-a7e9-c8d9d2028398
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - WUS2ONEIM000000
    status:
      code: 201
      message: Created
- request:
    body: '{"alertType": "budget", "armRoleReceivers": [{"name": "alicearmrole", "roleId":
      "11111111-1111-1111-1111-111111111111", "useCommonAlertSchema": true}], "automationRunbookReceivers":
      [{"automationAccountId": "alice_runbook", "isGlobalRunbook": false, "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest",
      "runbookName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest/webhooks/Alert1510184037084",
      "serviceUri": "http://example.com", "useCommonAlertSchema": true, "webhookResourceId":
      "test_runbook"}], "azureAppPushReceivers": [{"emailAddress": "alice@example.com",
      "name": "alice_apppush"}], "azureFunctionReceivers": [{"functionAppResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aznsTest/providers/Microsoft.Web/sites/testFunctionApp",
      "functionName": "HttpTriggerCSharp1", "httpTriggerUrl": "http://test.me", "name":
      "azfunc", "useCommonAlertSchema": true}], "emailReceivers": [{"emailAddress":
      "alice@example.com", "name": "alice", "useCommonAlertSchema": true}], "eventHubReceivers":
      [{"eventHubName": "187f412d-1758-44d9-b052-169e2564721d", "eventHubNameSpace":
      "testEventHub", "name": "alice_eventhub", "subscriptionId": "testEventHubNameSpace",
      "useCommonAlertSchema": false}], "logicAppReceivers": [{"callbackUrl": "http://callback",
      "name": "alice_logicapp", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/LogicApp/providers/Microsoft.Logic/workflows/testLogicApp",
      "useCommonAlertSchema": false}], "webhookReceivers": [{"name": "alice_web",
      "serviceUri": "https://www.example.com/alert?name=alice", "useAadAuth": false,
      "useCommonAlertSchema": true}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_notifications000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002/createNotifications?api-version=2022-06-01
  response:
    body:
      string: '{"code":"NotSupportedArmRole","message":"NotSupportedArmRole"}'
    headers:
      api-supported-versions:
      - 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview, 2023-05-01-preview,
        2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 346e372b-f0ec-11ef-998e-c8d9d2028398
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
      x-servedby:
      - WUS2ONEIM000000
    status:
      code: 400
      message: Bad Request
version: 1
