interactions:
- request:
    body: '{"location": "eastus2", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/queryPacks/clitest000002?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"1501c0d2-0000-0200-0000-67b981c30000\\\"\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"microsoft.operationalinsights/querypacks\",\r\n
        \ \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n
        \   \"queryPackId\": \"0fae7d87-ccd9-4151-a067-79f589d4ffdf\",\r\n    \"timeCreated\":
        \"2025-02-22T07:50:27.0757793Z\",\r\n    \"timeModified\": \"2025-02-22T07:50:27.0757793Z\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2", "properties": {}, "tags": {"flag1": "v1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/queryPacks/clitest000002?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"1501ead2-0000-0200-0000-67b981c80000\\\"\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"microsoft.operationalinsights/querypacks\",\r\n
        \ \"location\": \"eastus2\",\r\n  \"tags\": {\r\n    \"flag1\": \"v1\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"queryPackId\": \"0fae7d87-ccd9-4151-a067-79f589d4ffdf\",\r\n
        \   \"timeCreated\": \"2025-02-22T07:50:27.0757793Z\",\r\n    \"timeModified\":
        \"2025-02-22T07:50:32.4092077Z\",\r\n    \"provisioningState\": \"Succeeded\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2997'
      x-ms-ratelimit-remaining-subscription-writes:
      - '197'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/queryPacks?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"kind":null,"etag":"\"1501ead2-0000-0200-0000-67b981c80000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002","name":"clitest000002","type":"microsoft.operationalinsights/querypacks","location":"eastus2","tags":{"flag1":"v1"},"properties":{"queryPackId":"0fae7d87-ccd9-4151-a067-79f589d4ffdf","timeCreated":"2025-02-22T07:50:27.0757793Z","timeModified":"2025-02-22T07:50:32.4092077Z","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/queryPacks?api-version=2019-09-01
  response:
    body:
      string: '{"value":[{"kind":null,"etag":"\"1501ead2-0000-0200-0000-67b981c80000\"","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002","name":"clitest000002","type":"microsoft.operationalinsights/querypacks","location":"eastus2","tags":{"flag1":"v1"},"properties":{"queryPackId":"0fae7d87-ccd9-4151-a067-79f589d4ffdf","timeCreated":"2025-02-22T07:50:27.0757793Z","timeModified":"2025-02-22T07:50:32.4092077Z","provisioningState":"Succeeded"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3747'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_crud000001/providers/Microsoft.OperationalInsights/queryPacks?api-version=2019-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
version: 1
