interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2021-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"southcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2021-05-12T02:29:13.5674614Z","key2":"2021-05-12T02:29:13.5674614Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-12T02:29:13.5674614Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2021-05-12T02:29:13.5674614Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2021-05-12T02:29:13.4893387Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"southcentralus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/diagnosticSettings/clitestcorfw646k65ba","type":"Microsoft.Insights/diagnosticSettings","name":"clitestcorfw646k65ba","location":"global","properties":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgqxnxpkokybut3prcgrqfmqqjqxzbl2nuzaug7kqqzumpw3jbggk5m4vd3tu6mbbgw/providers/Microsoft.Storage/storageAccounts/clitestuqmj3aa6gep63iby5","workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rgqxnxpkokybut3prcgrqfmqqjqxzbl2nuzaug7kqqzumpw3jbggk5m4vd3tu6mbbgw/providers/microsoft.operationalinsights/workspaces/cliwshccs6lbmncspp5p","logs":[{"category":"Security","enabled":true,"categoryGroup":null},{"category":"Administrative","enabled":true,"categoryGroup":null},{"category":"ServiceHealth","enabled":true,"categoryGroup":null},{"category":"Alert","enabled":true,"categoryGroup":null},{"category":"Recommendation","enabled":true,"categoryGroup":null},{"category":"Policy","enabled":true,"categoryGroup":null},{"category":"Autoscale","enabled":true,"categoryGroup":null},{"category":"ResourceHealth","enabled":true,"categoryGroup":null}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitestcorfw646k65ba?api-version=2017-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14995'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002",
      "logs": [{"category": "Security", "enabled": true}, {"category": "Administrative",
      "enabled": true}, {"category": "ServiceHealth", "enabled": true}, {"category":
      "Alert", "enabled": true}, {"category": "Recommendation", "enabled": true},
      {"category": "Policy", "enabled": true}, {"category": "Autoscale", "enabled":
      true}, {"category": "ResourceHealth", "enabled": true}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitest000003?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/diagnosticSettings/clitest000003","type":"Microsoft.Insights/diagnosticSettings","name":"clitest000003","location":"global","properties":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","logs":[{"category":"Security","enabled":true,"categoryGroup":null},{"category":"Administrative","enabled":true,"categoryGroup":null},{"category":"ServiceHealth","enabled":true,"categoryGroup":null},{"category":"Alert","enabled":true,"categoryGroup":null},{"category":"Recommendation","enabled":true,"categoryGroup":null},{"category":"Policy","enabled":true,"categoryGroup":null},{"category":"Autoscale","enabled":true,"categoryGroup":null},{"category":"ResourceHealth","enabled":true,"categoryGroup":null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2020-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-12T02:29:04Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"453aea82-847f-4f1c-93ff-f13398e8cfad\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Wed, 12 May 2021 02:29:59 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Wed, 12 May 2021 10:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Wed, 12 May 2021 02:29:59 GMT\",\r\n
        \   \"modifiedDate\": \"Wed, 12 May 2021 02:29:59 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/cliws000004\",\r\n
        \ \"name\": \"cliws000004\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"southcentralus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1188'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitest000003?api-version=2017-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14992'
    status:
      code: 200
      message: OK
version: 1
