interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2022-08-04T01:42:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "global", "properties": {"groupShortName": "cliact3yptob",
      "enabled": true, "emailReceivers": [], "smsReceivers": [], "webhookReceivers":
      [], "itsmReceivers": [], "azureAppPushReceivers": [], "automationRunbookReceivers":
      [], "voiceReceivers": [], "logicAppReceivers": [], "azureFunctionReceivers":
      [], "armRoleReceivers": [], "eventHubReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/actionGroups/cliact000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/actionGroups/cliact000002","type":"Microsoft.Insights/ActionGroups","name":"cliact000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliact3yptob","enabled":true,"tags":null,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/activityLogAlerts/clialert000003?api-version=2017-04-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/activityLogAlerts/clialert000003''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "global", "properties": {"scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001"],
      "condition": {"allOf": [{"field": "category", "equals": "Security"}, {"field":
      "level", "equals": "Error"}]}, "actions": {"actionGroups": [{"actionGroupId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/actionGroups/cliact000002"}]},
      "enabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/activityLogAlerts/clialert000003?api-version=2017-04-01
  response:
    body:
      string: "{\r\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/activityLogAlerts?api-version=2017-04-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/activityLogAlerts/clialert000003\",\r\n
        \     \"name\": \"clialert000003\",\r\n      \"type\": \"Microsoft.Insights/ActivityLogAlerts\",\r\n
        \     \"location\": \"Global\",\r\n      \"tags\": {},\r\n      \"properties\":
        {\r\n        \"scopes\": [\r\n          \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001\"\r\n
        \       ],\r\n        \"condition\": {\r\n          \"allOf\": [\r\n            {\r\n
        \             \"field\": \"category\",\r\n              \"equals\": \"Security\"\r\n
        \           },\r\n            {\r\n              \"field\": \"level\",\r\n
        \             \"equals\": \"Error\"\r\n            }\r\n          ]\r\n        },\r\n
        \       \"actions\": {\r\n          \"actionGroups\": [\r\n            {\r\n
        \             \"actionGroupId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/actionGroups/cliact000002\"\r\n
        \           }\r\n          ]\r\n        },\r\n        \"enabled\": false\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      api-supported-versions:
      - 2017-03-01-preview, 2017-04-01, 2020-10-01
      arr-disable-session-affinity:
      - 'true'
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Insights/eventcategories?api-version=2015-04-01
  response:
    body:
      string: '{"value":[{"value":"Administrative","localizedValue":"Administrative"},{"value":"Security","localizedValue":"Security"},{"value":"ServiceHealth","localizedValue":"Service
        Health"},{"value":"Alert","localizedValue":"Alert"},{"value":"Recommendation","localizedValue":"Recommendation"},{"value":"Policy","localizedValue":"Policy"},{"value":"Autoscale","localizedValue":"Autoscale"},{"value":"ResourceHealth","localizedValue":"Resource
        Health"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
