interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_recover000001","name":"cli_test_monitor_workspace_recover000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-01-24T02:27:51Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"sku": {"name": "CapacityReservation",
      "capacityReservationLevel": 100}, "retentionInDays": 30, "workspaceCapping":
      {"dailyQuotaGb": 1.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"13a7b946-c80d-4d31-95e8-232991107970\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"capacityreservation\",\r\n      \"capacityReservationLevel\":
        100,\r\n      \"lastSkuUpdate\": \"Mon, 24 Jan 2022 02:28:01 GMT\"\r\n    },\r\n
        \   \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n
        \     \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\":
        true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n
        \     \"quotaNextResetTime\": \"Mon, 24 Jan 2022 15:00:00 GMT\",\r\n      \"dataIngestionStatus\":
        \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n
        \   \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\":
        \"Mon, 24 Jan 2022 02:28:01 GMT\",\r\n    \"modifiedDate\": \"Mon, 24 Jan
        2022 02:28:01 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/microsoft.operationalinsights/workspaces/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westeurope\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/Syslog?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"totalRetentionInDays\": 30,\r\n    \"archiveRetentionInDays\":
        0,\r\n    \"plan\": \"Analytics\",\r\n    \"schema\": {\r\n      \"tableSubType\":
        \"Any\",\r\n      \"name\": \"Syslog\",\r\n      \"tableType\": \"Microsoft\",\r\n
        \     \"standardColumns\": [\r\n        {\r\n          \"name\": \"TenantId\",\r\n
        \         \"type\": \"guid\",\r\n          \"description\": \"ID of the workspace
        that stores this record\",\r\n          \"isDefaultDisplay\": true,\r\n          \"isHidden\":
        true\r\n        },\r\n        {\r\n          \"name\": \"SourceSystem\",\r\n
        \         \"type\": \"string\",\r\n          \"description\": \"Type of agent
        the data was collected from. For syslog the value is typically Linux.\",\r\n
        \         \"isDefaultDisplay\": true,\r\n          \"isHidden\": false\r\n
        \       },\r\n        {\r\n          \"name\": \"TimeGenerated\",\r\n          \"type\":
        \"datetime\",\r\n          \"description\": \"Date and [...]
- request:
    body: '{"properties": {"retentionInDays": 30, "totalRetentionInDays": 30, "plan":
      "Analytics", "schema": {"name": "Syslog"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/Syslog?api-version=2021-12-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/6487e21a-124b-4f29-9648-b39915122082?api-version=2015-11-01-preview
      cachecontrol:
      - no-cache
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/Syslog/operationresults/6487e21a-124b-4f29-9648-b39915122082?api-version=2021-12-01-preview
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/6487e21a-124b-4f29-9648-b39915122082?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"6487e21a-124b-4f29-9648-b39915122082\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/6487e21a-124b-4f29-9648-b39915122082\",\r\n
        \ \"startTime\": \"Mon, 24 Jan 2022 02:28:40 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/6487e21a-124b-4f29-9648-b39915122082?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"6487e21a-124b-4f29-9648-b39915122082\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/6487e21a-124b-4f29-9648-b39915122082\",\r\n
        \ \"startTime\": \"Mon, 24 Jan 2022 02:28:40 GMT\",\r\n  \"endTime\": \"Mon,
        24 Jan 2022 02:30:01 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/Syslog?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"totalRetentionInDays\": 30,\r\n    \"archiveRetentionInDays\":
        0,\r\n    \"plan\": \"Analytics\",\r\n    \"lastPlanModifiedDate\": \"Mon,
        24 Jan 2022 02:28:39 GMT\",\r\n    \"schema\": {\r\n      \"tableSubType\":
        \"DataCollectionRuleBased\",\r\n      \"name\": \"Syslog\",\r\n      \"tableType\":
        \"Microsoft\",\r\n      \"columns\": [],\r\n      \"standardColumns\": [\r\n
        \       {\r\n          \"name\": \"TenantId\",\r\n          \"type\": \"guid\",\r\n
        \         \"description\": \"ID of the workspace that stores this record\",\r\n
        \         \"isDefaultDisplay\": true,\r\n          \"isHidden\": true\r\n
        \       },\r\n        {\r\n          \"name\": \"SourceSystem\",\r\n          \"type\":
        \"string\",\r\n          \"description\": \"Type of agent the data was collected
        from[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2021-12-01-preview&force=true
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2021-12-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.OperationalInsights/workspaces/clitest000002''
        under resource group ''cli_test_monitor_workspace_recover000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
