interactions:
- request:
    body: '{"location": "global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename\",\r\n
        \ \"name\": \"clitestscopename\",\r\n  \"type\": \"microsoft.insights/privatelinkscopes\",\r\n
        \ \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"kind\": null,\r\n  \"etag\":
        \"\\\"00008031-0000-0100-0000-5e8e86cf0000\\\"\",\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"fanqiu@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n
        \   \"createdAt\": \"2020-04-09T02:22:06.0531507Z\",\r\n    \"lastModifiedBy\":
        \"fanqiu@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2020-04-09T02:22:06.0531507Z\"\r\n  },\r\n  \"properties\": {\r\n    \"scopeId\":
        \"598f42a8-cd6d-44cb-a2b3-9d458369cc11\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"tags": {"tag1": "d1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename\",\r\n
        \     \"name\": \"clitestscopename\",\r\n      \"type\": \"microsoft.insights/privatelinkscopes\",\r\n
        \     \"location\": \"global\",\r\n      \"tags\": {\r\n        \"tag1\":
        \"d1\"\r\n      },\r\n      \"kind\": null,\r\n      \"etag\": \"\\\"00008131-0000-0100-0000-5e8e86d70000\\\"\",\r\n
        \     \"systemData\": {\r\n        \"createdBy\": \"fanqiu@microsoft.com\",\r\n
        \       \"createdByType\": \"User\",\r\n        \"createdAt\": \"2020-04-09T02:22:06.0531507Z\",\r\n
        \       \"lastModifiedBy\": \"fanqiu@microsoft.com\",\r\n        \"lastModifiedByType\":
        \"User\",\r\n        \"lastModifiedAt\": \"2020-04-09T02:22:14.1354495Z\"\r\n
        \     },\r\n      \"properties\": {\r\n        \"scopeId\": \"598f42a8-cd6d-44cb-a2b3-9d458369cc11\",\r\n
        \       \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ],\r\n
        \ \"nextLink\": null\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privateLinkScopes?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgydlds3zaa6b5b3ibdmrpgojckfujw2y2k4mvzjj76o5a55mgec2qtgirfa5xp5l7t/providers/microsoft.insights/privatelinkscopes/cli[...]
- request:
    body: '{"location": "eastus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest", "RetentionInDays":
      90}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/components/clitest000003?api-version=2018-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitest000003","name":"clitest000003","type":"microsoft.insights/components","location":"eastus","tags":{},"kind":"web","etag":"\"0b00b250-0000-0100-0000-5e8e86ef0000\"","properties":{"Ver":"v2","ApplicationId":"clitest000003","AppId":"70d24c4e-46e8-4497-9485-a93b36a9cd16","Application_Type":"web","Flow_Type":"Bluefield","Request_Source":"rest","InstrumentationKey":"cff30038-b822-4d3e-afa9-74c8aab73ad1","ConnectionString":"InstrumentationKey=cff30038-b822-4d3e-afa9-74c8aab73ad1","Name":"clitest000003","CreationDate":"2020-04-09T02:22:39.6025309+00:00","TenantId":"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5","provisioningState":"Succeeded","SamplingPercentage":null,"RetentionInDays":90,"Retention":"P90D","publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"93754a59-d829-43a3-a8cf-2f39b902e4b9\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 09 Apr 2020 02:22:55 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Thu, 09 Apr 2020 21:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus2euap\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"properties": {"linkedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitest000003"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedResources/assigned_app?api-version=2019-10-17-preview
  response:
    body[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedResources?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscop[...]
- request:
    body: 'b''{"properties": {"linkedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/clitest000002"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedRes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/privateLinkResources?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename/privatelinkresources/azuremonitor\",\r\n
        \     \"name\": \"azuremonitor\",\r\n      \"type\": \"microsoft.insights/privatelinkscopes/privatelinkresources\",\r\n
        \     \"properties\": {\r\n        \"groupId\": \"azuremonitor\",\r\n        \"requiredMembers\":
        [\r\n          \"oms-93754a59-d829-43a3-a8cf-2f39b902e4b9\",\r\n          \"ods-93754a59-d829-43a3-a8cf-2f39b902e4b9\",\r\n
        \         \"agent-93754a59-d829-43a3-a8cf-2f39b902e4b9\",\r\n          \"applicationinsights_ingestion\",\r\n
        \         \"api\",\r\n          \"live\",\r\n          \"profiler\",\r\n          \"snapshot\"\r\n
        \       ],\r\n        \"requiredZoneNames\": [\r\n          \"monitor.azure.com\",\r\n
        \         \"oms.opinsights.azure.com\",\r\n          \"ods.opinsights.azure.com\",\r\n
        \         \"agentsvc.azure-automation.net\"\r\n        ]\r\n      }\r\n    }\r\n
        \ ],\r\n  \"nextLink\": null\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "cli-subnet-000005"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"2fd2098b-dd39-4e9d-a895-94b5aba273ae\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"10db5ed0-b02d-4620-b482-04cd96814767\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"2fd2098b-dd39-4e9d-a895-94b5aba273ae\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/ff8fa22c-cd8d-4848-9cdb-606c82c13a9e?api-version=2019-11-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/ff8fa22c-cd8d-4848-9cdb-606c82c13a9e?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"2e032b24-39c1-4da7-b803-feda9d974d48\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2e032b24-39c1-4da7-b803-feda9d974d48"
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "eastus2euap", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"},
      "privateLinkServiceConnections": [{"properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename",
      "groupIds": ["azuremonitor"]}, "name": "cli-pec-000007"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2019-11-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/privateEndpointConnections/clitestscopename-7fe37571776940f39ba3520fc9f571e8?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename/privateendpointconnections/clitestscopename-7fe37571776940f39ba3520fc9f571e8\",\r\n
        \ \"name\": \"clitestscopename-7fe37571776940f39ba3520fc9f571e8\",\r\n  \"type\":
        \"microsoft.insights/privatelinkscopes/privateendpointconnections\",\r\n  \"etag\":
        \"\\\"00008731-0000-0100-0000-5e8e87970000\\\"\",\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpoint\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.network/privateendpoints/cli-pe-000006\"\r\n
        \   },\r\n    \"privateLinkServiceConnectionState\": {\r\n      \"status\":
        \"Approved\",\r\n      \"description\": \"Auto-Approved\",\r\n      \"actionsRequired\":
        \"None\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privatelinkscopeoperationstatuses/0da5fb32-b3d0-4679-bd9c-bf498eaeaa38?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privatelinkscopeoperationstatuses/0da5fb32-b3d0-4679-bd9c-bf498eaeaa38\",\r\n
        \ \"name\": \"0da5fb32-b3d0-4679-bd9c-bf498eaeaa38\",\r\n  \"type\": \"microsoft.insights/privatelinkscopeoperationstatuses\",\r\n
        \ \"properties\": {\r\n    \"scopeId\": \"598f42a8-cd6d-44cb-a2b3-9d458369cc11\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 200
      message: OK
version: 1
