interactions:
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus2euap", "properties":
      {"enabled": true, "groupShortName": "cliactiongro"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2024-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"eastus2euap","kind":null,"tags":null,"identity":{"type":"SystemAssigned","principalId":"e59a98cf-7608-4f4d-86a8-ddfc9c3c4cb5","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]}}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 01af0796-18f4-11f0-bcac-902e1671aeaf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - cbn2azns00000D
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "eastus2euap", "properties":
      {"armRoleReceivers": [], "automationRunbookReceivers": [], "azureAppPushReceivers":
      [], "azureFunctionReceivers": [], "emailReceivers": [], "enabled": true, "eventHubReceivers":
      [{"eventHubName": "testEventHub", "eventHubNameSpace": "testEventHubNameSpace",
      "managedIdentity": "e59a98cf-7608-4f4d-86a8-ddfc9c3c4cb5", "name": "test_eventhub",
      "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d"}], "groupShortName":
      "cliactiongro", "incidentReceivers": [], "itsmReceivers": [], "logicAppReceivers":
      [], "smsReceivers": [], "voiceReceivers": [], "webhookReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2024-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"eastus2euap","kind":null,"tags":null,"identity":{"type":"SystemAssigned","principalId":"e59a98cf-7608-4f4d-86a8-ddfc9c3c4cb5","tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"},"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[{"name":"test_eventhub","subscriptionId":"187f412d-1758-44d9-b052-169e2564721d","eventHubNameSpace":"testEventHubNameSpace","eventHubName":"testEventHub","useCommonAlertSchema":false,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","managedIdentity":"e59a98cf-7608-4f4d-86a8-ddfc9c3c4cb5"}],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[],"incidentReceivers":[]}}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 08223413-18f4-11f0-b3ef-902e1671aeaf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - CBN1AZNS00000D
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_ag_identity000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001","name":"cli_test_monitor_ag_identity000001","type":"Microsoft.Resources/resourceGroups","location":"eastus2euap","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_action_group_identity","date":"2025-04-14T05:47:49Z","module":"monitor","Creator":"v-ruih@microsoft.com","DateCreated":"2025-04-14T05:47:54Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/agid000003?api-version=2023-01-31
  response:
    body:
      string: '{"location":"eastus2euap","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/agid000003","name":"agid000003","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a","principalId":"db1f6937-9c9d-438c-af0b-d3e32fd72382","clientId":"af88c341-5b4a-4d13-b22e-1c9e67ee7af1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/agid000003
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: '{"identity": {"userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_ag_identity000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/agid000003":
      {}}, "type": "UserAssigned"}, "location": "Global", "properties": {"enabled":
      true, "groupShortName": "cliactiongro"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_moni[...]
[...]
