interactions:
- request:
    body: '{"location": "Global"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename\",\r\n
        \ \"name\": \"clitestscopename\",\r\n  \"type\": \"microsoft.insights/privatelinkscopes\",\r\n
        \ \"location\": \"global\",\r\n  \"tags\": {},\r\n  \"kind\": null,\r\n  \"etag\":
        \"\\\"0300284c-0000-0100-0000-5ea152380000\\\"\",\r\n  \"systemData\": {\r\n
        \   \"createdBy\": \"ychenu@microsoft.com\",\r\n    \"createdByType\": \"User\",\r\n
        \   \"createdAt\": \"2020-04-23T08:30:47.4021656Z\",\r\n    \"lastModifiedBy\":
        \"ychenu@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n    \"lastModifiedAt\":
        \"2020-04-23T08:30:47.4021656Z\"\r\n  },\r\n  \"properties\": {\r\n    \"scopeId\":
        \"aa4f6308-b844-4bf9-881e-aadc923694e9\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"tags": {"tag1": "d1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename\",\r\n
        \     \"name\": \"clitestscopename\",\r\n      \"type\": \"microsoft.insights/privatelinkscopes\",\r\n
        \     \"location\": \"global\",\r\n      \"tags\": {\r\n        \"tag1\":
        \"d1\"\r\n      },\r\n      \"kind\": null,\r\n      \"etag\": \"\\\"0300294c-0000-0100-0000-5ea1523e0000\\\"\",\r\n
        \     \"systemData\": {\r\n        \"createdBy\": \"ychenu@microsoft.com\",\r\n
        \       \"createdByType\": \"User\",\r\n        \"createdAt\": \"2020-04-23T08:30:47.4021656Z\",\r\n
        \       \"lastModifiedBy\": \"ychenu@microsoft.com\",\r\n        \"lastModifiedByType\":
        \"User\",\r\n        \"lastModifiedAt\": \"2020-04-23T08:30:53.0301984Z\"\r\n
        \     },\r\n      \"properties\": {\r\n        \"scopeId\": \"aa4f6308-b844-4bf9-881e-aadc923694e9\",\r\n
        \       \"provisioningState\": \"Succeeded\"\r\n      }\r\n    }\r\n  ],\r\n
        \ \"nextLink\": null\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privateLinkScopes?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/juliatestgroup/providers/microsoft.insights/privatelinkscopes/privatelinkscope2\",\r\n
        \     \"name\": \"privatelinksc[...]
- request:
    body: '{"location": "eastus", "kind": "web", "properties": {"Application_Type":
      "web", "Flow_Type": "Bluefield", "Request_Source": "rest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitest000003?api-version=2015-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitest000003","name":"clitest000003","type":"microsoft.insights/components","location":"eastus","tags":{},"kind":"web","etag":"\"510091b3-0000-0100-0000-5ea152620000\"","properties":{"Ver":"v2","ApplicationId":"clitest000003","AppId":"32ae71ee-ad33-4a35-8641-8e34380d6f67","Application_Type":"web","Flow_Type":"Bluefield","Request_Source":"rest","InstrumentationKey":"224b86c1-4d14-4641-9fc6-3ee00b3993b0","ConnectionString":"InstrumentationKey=224b86c1-4d14-4641-9fc6-3ee00b3993b0","Name":"clitest000003","CreationDate":"2020-04-23T08:31:29.994005+00:00","TenantId":"57947cb5-aadd-4b6c-9e8e-27f545bb7bf5","provisioningState":"Succeeded","SamplingPercentage":null,"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "properties": {"sku": {"name": "PerGB2018"},
      "retentionInDays": 30, "publicNetworkAccessForIngestion": "Enabled", "publicNetworkAccessForQuery":
      "Enabled"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"63eb7772-b15c-4255-914d-efb78fcaf146\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 23 Apr 2020 08:31:39 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Thu, 23 Apr 2020 19:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus2euap\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"properties": {"linkedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/components/clitest000003"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedResources/assigned_app?api-version=2019-10-17-preview
  response:
    body[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedResources?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscop[...]
- request:
    body: 'b''{"properties": {"linkedResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/clitest000002"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/scopedRes[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/privateLinkResources?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename/privatelinkresources/azuremonitor\",\r\n
        \     \"name\": \"azuremonitor\",\r\n      \"type\": \"microsoft.insights/privatelinkscopes/privatelinkresources\",\r\n
        \     \"properties\": {\r\n        \"groupId\": \"azuremonitor\",\r\n        \"requiredMembers\":
        [\r\n          \"oms-63eb7772-b15c-4255-914d-efb78fcaf146\",\r\n          \"ods-63eb7772-b15c-4255-914d-efb78fcaf146\",\r\n
        \         \"agent-63eb7772-b15c-4255-914d-efb78fcaf146\",\r\n          \"applicationinsights_ingestion\",\r\n
        \         \"api\",\r\n          \"live\",\r\n          \"profiler\",\r\n          \"snapshot\"\r\n
        \       ],\r\n        \"requiredZoneNames\": [\r\n          \"monitor.azure.com\",\r\n
        \         \"oms.opinsights.azure.com\",\r\n          \"ods.opinsights.azure.com\",\r\n
        \         \"agentsvc.azure-automation.net\"\r\n        ]\r\n      }\r\n    }\r\n
        \ ],\r\n  \"nextLink\": null\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus2euap", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24"}, "name": "cli-subnet-000005"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000004\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004\",\r\n
        \ \"etag\": \"W/\\\"00a09932-ccb7-41e8-818d-1dead5ee6726\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus2euap\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"4aa66aa3-892b-47df-9d85-abe5cc693f95\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [\r\n      {\r\n        \"name\": \"cli-subnet-000005\",\r\n
        \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \       \"etag\": \"W/\\\"00a09932-ccb7-41e8-818d-1dead5ee6726\\\"\",\r\n
        \       \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n
        \         \"addressPrefix\": \"10.0.0.0/24\",\r\n          \"delegations\":
        [],\r\n          \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n          \"privateLinkServiceNetworkPolicies\":
        \"Enabled\"\r\n        },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
        \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/c1626ea0-e8fb-4ad4-a9aa-ac64a83d5d86?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/c1626ea0-e8fb-4ad4-a9aa-ac64a83d5d86?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-subnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005\",\r\n
        \ \"etag\": \"W/\\\"f1c19dd0-846c-4d77-93f4-c511a7de18fc\\\"\",\r\n  \"properties\":
        {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
        \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
        \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f1c19dd0-846c-4d77-93f4-c511a7de18fc"
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "eastus2euap", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000004/subnets/cli-subnet-000005"},
      "privateLinkServiceConnections": [{"properties": {"privateLinkServiceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename",
      "groupIds": ["azuremonitor"]}, "name": "cli-pec-000007"}]}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/privateEndpoints/cli-pe-000006?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-pe-000006\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/privateLinkScopes/clitestscopename/privateEndpointConnections/connection-ba9981ff-5834-4fe1-9f35-c6f82f6411fd?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privatelinkscopes/clitestscopename/privateendpointconnections/connection-ba9981ff-5834-4fe1-9f35-c6f82f6411fd\",\r\n
        \ \"name\": \"connection-ba9981ff-5834-4fe1-9f35-c6f82f6411fd\",\r\n  \"type\":
        \"microsoft.insights/privatelinkscopes/privateendpointconnections\",\r\n  \"etag\":
        \"\\\"00007818-0000-0100-0000-5ea152f60000\\\"\",\r\n  \"properties\": {\r\n
        \   \"provisioningState\": \"Succeeded\",\r\n    \"privateEndpoint\": {\r\n
        \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.network/privateendpoints/cli-pe-000006\"\r\n
        \   },\r\n    \"privateLinkServiceConnectionState\": {\r\n      \"status\":
        \"Approved\",\r\n      \"description\": \"Auto-Approved\",\r\n      \"actionsRequired\":
        \"None\"\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privatelinkscopeoperationstatuses/12d5b87a-f04d-48b1-98be-80c53e2972ef?api-version=2019-10-17-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/privatelinkscopeoperationstatuses/12d5b87a-f04d-48b1-98be-80c53e2972ef\",\r\n
        \ \"name\": \"12d5b87a-f04d-48b1-98be-80c53e2972ef\",\r\n  \"type\": \"microsoft.insights/privatelinkscopeoperationstatuses\",\r\n
        \ \"properties\": {\r\n    \"scopeId\": \"aa4f6308-b844-4bf9-881e-aadc923694e9\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/microsoft.insights/privateLinkScopes/clitestscopename?api-version=2019-10-17-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/privateLinkScopes/clitestscopename''
        under resource group ''clitest.rg000001'' was not found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
