interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_metrics_list_by_sub","date":"2024-08-26T05:51:34Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS85Gen2\": {\n            \"publisher\":  \"OpenLogic\",\n          \
        \  \"offer\":  \"CentOS\",\n            \"sku\":  \"8_5-gen2\",\n        \
        \    \"version\":  \"latest\",\n            \"architecture\": \"x64\"\n  \
        \        },\n          \"Debian11\":  {\n            \"publisher\":  \"Debian\"\
        ,\n            \"offer\":  \"debian-11\",\n            \"sku\":  \"11-backports-gen2\"\
        ,\n            \"version\":  \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"FlatcarLinuxFreeGen2\":  {\n            \"\
        publisher\":  \"kinvolk\",\n            \"offer\":  \"flatcar-container-linux-free\"\
        ,\n            \"sku\":  \"stable-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\"\
        :  {\n            \"publisher\":  \"SUSE\",\n            \"offer\":  \"openSUSE-leap-15-4\"\
        ,\n            \"sku\":  \"gen2\",\n            \"version\":  \"latest\",\n\
        \            \"architecture\": \"x64\"\n          },\n          \"RHELRaw8LVMGen2\"\
        :  {\n            \"publisher\":  \"RedHat\",\n            \"offer\":  \"\
        RHEL\",\n            \"sku\":  \"8-lvm-gen2\",\n            \"version\": \
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"SuseSles15SP3\": {\n            \"publisher\": \"SUSE\",\n       \
        \     \"offer\": \"sles-15-sp3\",\n            \"sku\": \"gen2\",\n      \
        \      \"version\": \"latest\",\n            \"architecture\": \"x64\"\n \
        \         },\n          \"Ubuntu2204\":  {\n            \"publisher\":  \"\
        Canonical\",\n            \"offer\":  \"0001-com-ubuntu-server-jammy\",\n\
        \            \"sku\":  \"22_04-lts-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        },\n      \
        \  \"Windows\": {\n          \"Win2022Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2022-datacenter-g2\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Win2022AzureEditionCore\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2019Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2019-datacenter-gensecond\",\n            \"version\"\
        : \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2016Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2016-datacenter-gensecond\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"\
        publisher\": \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\"\
        ,\n            \"sku\": \"2012-R2-Datacenter\",\n            \"version\":\
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"8f34071e3f10c641931f33307d1319d34bae37f557ea31022a455502dae9ebc2"
      source-age:
      - '8'
      x-fastly-request-id:
      - c705e246410aa3cf8c52a1ecf1349fa310816c31
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"22.04.202408010\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202408010\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15996,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43996
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions/22.04.202408010?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\"\
        ,\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\"\
        : \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\
        \n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\"\
        : \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"westus\",\r\n  \"name\": \"22.04.202408010\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202408010\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12995,Microsoft.Compute/GetVMImageFromLocation30Min;73995
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vm1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vm1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vm1NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"apiVersion": "2022-01-01",
      "type": "Microsoft.Network/publicIPAddresses", "name": "vm1PublicIP", "location":
      "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"apiVersion": "2015-06-15", "type":
      "Microsoft.Network/networkInterfaces", "name": "vm1VMNic", "location": "westus",
      "tags": {}, "dependsOn": ["Microsoft.Network/virtualNetworks/vm1VNET", "Microsoft.Network/networkSecurityGroups/vm1NSG",
      "Microsoft.Network/publicIpAddresses/vm1PublicIP"], "properties": {"ipConfigurations":
      [{"name": "ipconfigvm1", "properties": {"privateIPAllocationMethod": "Dynamic",
      "subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet"},
      "publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP"}}}],
      "networkSecurityGroup": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG"}}},
      {"apiVersion": "2024-07-01", "type": "Microsoft.Compute/virtualMachines", "name":
      "vm1", "location": "westus", "tags": {}, "dependsOn": ["Microsoft.Network/networkInterfaces/vm1VMNic"],
      "properties": {"hardwareProfile": {"vmSize": "Standard_DS1_v2"}, "networkProfile":
      {"networkInterfaces": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic",
      "properties": {"deleteOption": null}}]}, "storageProfile": {"osDisk": {"createOption":
      "fromImage", "name": null, "caching": "ReadWrite", "managedDisk": {"storageAccountType":
      null}}, "imageReference": {"publisher": "Canonical", "offer": "0001-com-ubuntu-server-jammy",
      "sku": "22_04-lts-gen2", "version": "latest"}}, "osProfile": {"computerName":
      "vm1", "adminUsername": "testadmin", "adminPassword": "[parameters(''adminPassword'')]"},
      "securityProfile": {"securityType": "TrustedLaunch", "uefiSettings": {"secureBootEnabled":
      true, "vTpmEnabled": true}}}}], "outputs": {}}, "parameters": {"adminPassword":
      {"value": "TestPassword11!!"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_xDNcl3R70GFNYDbvL5XqVT4VmsZe0Iyd","name":"vm_deploy_xDNcl3R70GFNYDbvL5XqVT4VmsZe0Iyd","type":"Microsoft.Resources/deployments","properties":{"templateHash":"3160392714928714154","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-26T05:51:49.6891087Z","duration":"PT0.0006624S","correlationId":"aa26557e-c214-4034-a490-3a766635364b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"networkInterfaces","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vm1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG","resourceType":"Microsoft.Network/networkSecurityGroups","resourceName":"vm1NSG"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vm1PublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"vm1VMNic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"vm1"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/vm_deploy_xDNcl3R70GFNYDbvL5XqVT4VmsZe0Iyd/operationStatuses/08584769553781090715?api-version=2022-09-01
      content-type:
      - application/json; charset=utf-8
      x-ms-deployment-engine-version:
      - 1.95.0
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584769553781090715?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1?$expand=instanceView&api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"hardwareProfile\"\
        : {\r\n      \"vmSize\": \"Standard_DS1_v2\"\r\n    },\r\n    \"provisioningState\"\
        : \"Succeeded\",\r\n    \"vmId\": \"bb0e7f08-c7f0-45e5-8aa6-23a730162c6f\"\
        ,\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"\
        publisher\": \"Canonical\",\r\n        \"offer\": \"0001-com-ubuntu-server-jammy\"\
        ,\r\n        \"sku\": \"22_04-lts-gen2\",\r\n        \"version\": \"latest\"\
        ,\r\n        \"exactVersion\": \"22.04.202408010\"\r\n      },\r\n      \"\
        osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"vm1_OsDisk_1_8f6f87c447044378a066aacb4df2da24\"\
        ,\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\"\
        ,\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Premium_LRS\"\
        ,\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/disks/vm1_OsDisk_1_8f6f87c447044378a066aacb4df2da24\"\
        \r\n        },\r\n        \"deleteOption\": \"Detach\",\r\n        \"diskSizeGB\"\
        : 30\r\n      },\r\n      \"dataDisks\": [],\r\n      \"diskControllerType\"\
        : \"SCSI\"\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"\
        vm1\",\r\n      \"adminUsername\": \"testadmin\",\r\n      \"linuxConfiguration\"\
        : {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\"\
        : true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\
        ,\r\n          \"assessmentMode\": \"ImageDefault\"\r\n        }\r\n     \
        \ },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\
        \n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"securityProfile\"\
        : {\r\n      \"uefiSettings\": {\r\n        \"secureBootEnabled\": true,\r\
        \n        \"vTpmEnabled\": true\r\n      },\r\n      \"securityType\": \"\
        TrustedLaunch\"\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\"\
        :[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        }]},\r\n    \"instanceView\": {\r\n      \"computerName\": \"vm1\",\r\n  \
        \    \"osName\": \"ubuntu\",\r\n      \"osVersion\": \"22.04\",\r\n      \"\
        vmAgent\": {\r\n        \"vmAgentVersion\": \"2.11.1.4\",\r\n        \"statuses\"\
        : [\r\n          {\r\n            \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n            \"level\": \"Info\",\r\n            \"displayStatus\": \"\
        Ready\",\r\n            \"message\": \"Guest Agent is running\",\r\n     \
        \       \"time\": \"2024-08-26T05:52:52+00:00\"\r\n          }\r\n       \
        \ ],\r\n        \"extensionHandlers\": []\r\n      },\r\n      \"disks\":\
        \ [\r\n        {\r\n          \"name\": \"vm1_OsDisk_1_8f6f87c447044378a066aacb4df2da24\"\
        ,\r\n          \"statuses\": [\r\n            {\r\n              \"code\"\
        : \"ProvisioningState/succeeded\",\r\n              \"level\": \"Info\",\r\
        \n              \"displayStatus\": \"Provisioning succeeded\",\r\n       \
        \       \"time\": \"2024-08-26T05:52:04.2159947+00:00\"\r\n            }\r\
        \n          ]\r\n        }\r\n      ],\r\n      \"hyperVGeneration\": \"V2\"\
        ,\r\n      \"statuses\": [\r\n        {\r\n          \"code\": \"ProvisioningState/succeeded\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"Provisioning\
        \ succeeded\",\r\n          \"time\": \"2024-08-26T05:52:34.622783+00:00\"\
        \r\n        },\r\n        {\r\n          \"code\": \"PowerState/running\"\
        ,\r\n          \"level\": \"Info\",\r\n          \"displayStatus\": \"VM running\"\
        \r\n        }\r\n      ]\r\n    },\r\n    \"timeCreated\": \"2024-08-26T05:52:02.3097096+00:00\"\
        \r\n  },\r\n  \"etag\": \"\\\"2\\\"\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/LowCostGetSubscriptionMaximum;23987,Microsoft.Compute/LowCostGetResource;33
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1VMNic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic\"\
        ,\r\n  \"etag\": \"W/\\\"d72bbd77-b0a8-4f76-8d8e-d4b9adba3e7e\\\"\",\r\n \
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\
        ,\r\n    \"resourceGuid\": \"a09150af-4cca-483c-a746-9cd12dbbbcec\",\r\n \
        \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfigvm1\"\
        ,\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        ,\r\n        \"etag\": \"W/\\\"d72bbd77-b0a8-4f76-8d8e-d4b9adba3e7e\\\"\"\
        ,\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\"\
        ,\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\"\
        ,\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\"\
        : \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\":\
        \ \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        \r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/virtualNetworks/vm1VNET/subnets/vm1Subnet\"\
        \r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\"\
        : \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n\
        \      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"\
        internalDomainNameSuffix\": \"fhxijfaka1hudnk35tj5uhx4ag.dx.internal.cloudapp.net\"\
        \r\n    },\r\n    \"macAddress\": \"00-22-48-08-0D-C8\",\r\n    \"vnetEncryptionSupported\"\
        : false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\"\
        : {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkSecurityGroups/vm1NSG\"\
        \r\n    },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n    \
        \  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1\"\
        \r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\
        \n    \"nicType\": \"Standard\",\r\n    \"allowPort25Out\": true,\r\n    \"\
        auxiliaryMode\": \"None\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\
        ,\r\n  \"location\": \"westus\",\r\n  \"kind\": \"Regular\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d72bbd77-b0a8-4f76-8d8e-d4b9adba3e7e"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP?api-version=2022-01-01
  response:
    body:
      string: "{\r\n  \"name\": \"vm1PublicIP\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/publicIPAddresses/vm1PublicIP\"\
        ,\r\n  \"etag\": \"W/\\\"09a74175-b79b-4d56-938a-86db7ae9d602\\\"\",\r\n \
        \ \"location\": \"westus\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n\
        \    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"a5cf024b-7d62-4deb-820c-d1ebd7f4d211\"\
        ,\r\n    \"ipAddress\": \"13.91.38.86\",\r\n    \"publicIPAddressVersion\"\
        : \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\"\
        : 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\": {\r\n      \"id\"\
        : \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Network/networkInterfaces/vm1VMNic/ipConfigurations/ipconfigvm1\"\
        \r\n    }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\
        \n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\
        \r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"09a74175-b79b-4d56-938a-86db7ae9d602"
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1/providers/microsoft.insights/metricNamespaces?api-version=2017-12-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Compute/virtualMachines/vm1/providers/microsoft.insights/metricNamespaces/microsoft.compute-virtualmachines","name":"microsoft.compute-virtualmachines","type":"Microsoft.Insights/metricNamespaces","classification":"Platform","properties":{"metricNamespaceName":"microsoft.compute/virtualmachines"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/metricDefinitions?metricnamespace=microsoft.compute%2Fvirtualmachines&region=westus&api-version=2023-10-01
  response:
    body:
      string: '{"value":[{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/metricdefinitions/Percentage
        CPU","resourceId":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590","namespace":"microsoft.compute/virtualmachines","name":{"value":"Percentage
        CPU","localizedValue":"Percentage CPU"},"displayDescription":"The percentage
        of allocated compute units that are currently in use by the Virtual Machine(s)","isDimensionRequired":false,"unit":"Percent","primaryAggregationType":"Average","supportedAggregationTypes":["None","Average","Minimum","Maximum","Total","Count"],"metricAvailabilities":[{"timeGrain":"PT1M","retention":"P93D"},{"timeGrain":"PT5M","retention":"P93D"},{"timeGrain":"PT15M","retention":"P93D"},{"timeGrain":"PT30M","retention":"P93D"},{"timeGrain":"PT1H","retention":"P93D"},{"timeGrain":"PT6H","retention":"P93D"},{"timeGrain":"PT12H","retention":"P93D"},{"timeGrain":"P1D","retention":"P93D"}],"dimensions":[{"value":"Microsoft.ResourceId","localizedValue":"Microsoft.ResourceId"},{"value":"Microsoft.ResourceGroupName","localizedValue":"Microsoft.ResourceGroupName"}]},{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/metricdefinitions/Network
        In","resourceId":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590","namespace":"microsoft.compute/virtualmachines","name":{"value":"Network
        In","localizedValue":"Network In Billable (Deprecated)"},"display[...]
- request:
    body: '{"metricNames": "Data Disk Max Burst IOPS", "metricNamespace": "microsoft.compute/virtualmachines"}'
    headers:
      Content-Type:
      - application/json
    method: POST
[...]
