interactions:
- request:
    body: '{"location": "eastus2", "properties": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_query_crud000001/providers/Microsoft.OperationalInsights/queryPacks/clitest000002?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"cd00ce35-0000-0200-0000-67b8a2db0000\\\"\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_query_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"microsoft.operationalinsights/querypacks\",\r\n
        \ \"location\": \"eastus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n
        \   \"queryPackId\": \"84561176-dde6-4579-a9f8-23268d0e8ce0\",\r\n    \"timeCreated\":
        \"2025-02-21T15:59:23.8570107Z\",\r\n    \"timeModified\": \"2025-02-21T15:59:23.8570107Z\",\r\n
        \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 201
      message: Created
- request:
    body: '{"properties": {"body": "let newExceptionsTimeRange = 1d;let timeRangeToCheckBefore
      = 7d;exceptions | where timestamp < ago(timeRangeToCheckBefore) | summarize
      count() by problemId | join kind= rightanti (exceptions | where timestamp >=
      ago(newExceptionsTimeRange) | extend stack = tostring(details[0].rawStack) |
      summarize count(), dcount(user_AuthenticatedId), min(timestamp), max(timestamp),
      any(stack) by problemId) on problemId | order by  count_ desc", "description":
      "this is for test", "displayName": "query-test", "related": {"categories": ["network",
      "monitor"], "resourceTypes": ["microsoft.network/loadbalancers", "microsoft.insights/autoscalesettings"],
      "solutions": ["networkmonitoring"]}, "tags": {"version": ["v2022-01-01", "v2021-12-01"]}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_query_crud000001/providers/Microsoft.OperationalInsights/queryPacks/clitest000002/queries/5865fd70-3d2c-4c83-9423-7d204c3b3f90?api-version=2019-09-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_log_analytics_query_pack_query_crud000001/providers/Microsoft.OperationalInsights/querypacks/clitest000002/queries/5865fd70-3d2c-4c83-9423-7d204c3b3f90\",\r\n
        \ \"name\": \"5865fd70-3d2c-4c83-9423-7d204c3b3f90\",\r\n  \"type\": \"Microsoft.OperationalInsights/querypacks/queries\",\r\n
        \ \"etag\": \"\\\"5800e2d4-0000-0200-0000-67b8a2e20000\\\"\",\r\n  \"systemData\":
        {\r\n    \"createdBy\": \"zhiyihuang@microsoft.com\",\r\n    \"createdByType\":
        \"User\",\r\n    \"createdAt\": \"2025-02-21T15:59:26.643727Z\",\r\n    \"lastModifiedBy\":
        \"zhiyihuang@microsoft.com\",\r\n    \"lastModifiedByType\": \"User\",\r\n
        \   \"lastModifiedAt\": \"2025-02-21T15:59:26.643727Z\"\r\n  },\r\n  \"properties\":
        {\r\n    \"id\": \"5865fd70-3d2c-4c83-9423-7d204c3b3f90\",\r\n    \"displayName\":
        \"query-test\",\r\n    \"description\": \"this is for test\",\r\n    \"body\":
        \"let newExceptionsTimeRange = 1d;let timeRangeToCheckBefore = 7d;exceptions
        | where timestamp < ago(timeRangeToCheckBefore) | summarize count() by problemId
        | join kind= rightanti (exceptions | where timestamp >= ago(newExceptionsTimeRange)
        | extend stack = tostring(details[0].rawStack) | summarize count(), dcount(user_AuthenticatedId),
        min(timestamp), max(timestamp), any(stack) by problemId) on problemId | order
        by  count_ desc\",\r\n    \"related\": {\r\n      \"categories\": [\r\n        \"network\",\r\n
        \       \"monitor\"\r\n      ],\r\n      \"resourceTypes\": [\r\n        \"microsoft.network/loadbalancers\",\r\n
        \       \"microsoft.insights/autoscalesettings\"\r\n      ],\r\n      \"solutions\":
        [\r\n        \"networkmonitoring\"\r\n      ]\r\n    },\r\n    \"tags\": {\r\n
        \     \"version\": [\r\n        \"v2022-01-01\",\r\n        \"v2021-12-01\"\r\n
        \     ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 200
      message: OK
version: 1
