interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://aka.ms/azure-cli-extension-index-v1
    response:
      body:
        string: ''
      headers:
        location:
          - https://azurecliextensionsync.blob.core.windows.net/index1/index.json
        x-response-cache-status:
          - 'True'
      status:
        code: 301
        message: Moved Permanently
  - request:
      body: null
      headers:
      method: GET
      uri: https://azurecliextensionsync.blob.core.windows.net/index1/index.json
    response:
      body:
        string: "{\n    \"extensions\": {\n        \"account\": [\n            {\n                \"downloadUrl\":
        \"https://azurecliprod.blob.core.windows.net/cli-extensions/account-0.1.0-py2.py3-none-any.whl\",\n
        \               \"filename\": \"account-0.1.0-py2.py3-none-any.whl\",\n                \"metadata\":
        {\n                    \"azext.isExperimental\": true,\n                    \"azext.minCliCoreVersion\":
        \"2.3.1\",\n                    \"classifiers\": [\n                        \"Development
        Status :: 4 - Beta\",\n                        \"Intended Audience :: Developers\",\n
        \                       \"Intended Audience :: System Administrators\",\n
        \                       \"Programming Language :: Python\",\n                        \"Programming
        Language :: Python :: 3\",\n                        \"Programming Language
        :: Python :: 3.6\",\n                        \"Programming Language :: Python
        :: 3.7\",\n                        \"Programming Language :: Python :: 3.8\",\n
        \                       \"License :: OSI Approved :: MIT License\"\n                    ],\n
        \                   \"extensions\": {\n                        \"python.details\":
        {\n                            \"contacts\": [\n                                {\n
        \                                   \"email\": \"azpycli@microsoft.com\",\n
        \                                   \"name\": \"Microsoft Corporation\",\n
        \                                   \"role\": \"author\"\n                                }\n
        \                           ],\n                            \"document_names\":
        {\n                                \"description\": \"DESCRIPTION.rst\"\n
        \                           },\n                            \"project_urls\":
        {\n                                \"Home\": \"https://github.com/Azure/azure-cli-extensions\"\n
        \                           }\n                        }\n                    },\n
        \                   \"generator\": \"bdist_wheel (0.30.0)\",\n                    \"license\":
        \"MIT\",\n                    \"metadata_version\": \"2.0\",\n                    \"name\":
        \"account\",\n                    \"summary\": \"Microsoft Azure Command-Line
        Tools SubscriptionClient Extension\",\n                    \"version\": \"0.1.0\"\n
        \               },\n                \"sha256Digest\": \"badd35099d52efc5d8c337eee3ce3958005e6bfbb0c83798a74458b90ea6046b\"\n
        \           }\n        ],\n        \"aem\": [\n            {\n                \"downloadUrl\":
        \"https://azurecliprod.blob.core.windows.net/cli-extensions/aem-0.1.1-py2.py3-none-any.whl\",\n
        \               \"filename\": \"aem-0.1.1-py2.py3-none-any.whl\",\n                \"metadata\":
        {\n                    \"azext.minCliCoreVersion\": \"2.0.30\",\n                    \"classifiers\":
        [\n                        \"Development Status :: 4 - Beta\",\n                        \"Intended
        Audience :: De[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://azurecliprod.blob.core.windows.net/cli-extensions/spring_cloud-0.3.1-py2.py3-none-any.whl
    response:
      body:
        string: !!binary |
          UEsDBBQAAAAIAM4T6lCbDOpUwAEAAC0FAAAeAAAAYXpleHRfc3ByaW5nX2Nsb3VkL19faW5pdF9f
          LnB5tVJNa+swELwH8h8WcqgNqX9AwYfg9vAgaaHtXajyOtFDlsRKLkkf779X/kpsN86tOtiWPLM7
          M6sV3P/iWi5WkBl7Irk/eIhEDDspyDhT+HBO1hD30ugENkpBA3JA6JA+MU9q8lYK1A5zqHSOBP6A
          sPvz[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest?api-version=2020-06-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest","name":"clitest","type":"Microsoft.Resources/resourceGroups","location":"eastus","properties":{"provisioningState":"Succeeded"}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
  - request:
      body: '{"location": "eastus", "properties": {"profiles": [{"name": "default",
      "capacity": {"minimum": "1", "maximum": "3", "default": "1"}, "rules": []}],
      "notifications": [{"operation": "Scale", "email": {"customEmails": []}, "webhooks":
      []}], "enabled": true, "name": "clitest", "targetResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest/apps/app1/deployments/default"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      method: PUT
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest/providers/microsoft.insights/autoscalesettings/clitest?api-version=2015-04-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/microsoft.insights/autoscalesettings/clitest","name":"clitest","type":"Microsoft.Insights/autoscaleSettings","location":"eastus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"3","default":"1"},"rules":[]}],"enabled":true,"name":"clitest","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest/apps/app1/deployments/default","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}]}}'
      headers:
        content-type:
          - application/json; charset=utf-8
        x-ms-ratelimit-remaining-subscription-writes:
          - '1199'
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest/providers/microsoft.insights/autoscalesettings/clitest?api-version=2015-04-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/microsoft.insights/autoscalesettings/clitest","name":"clitest","type":"Microsoft.Insights/autoscaleSettings","location":"eastus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"3","default":"1"},"rules":[]}],"enabled":true,"name":"clitest","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest/apps/app1/deployments/default","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}]}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: '{"location": "eastus", "tags": {}, "properties": {"profiles": [{"name":
      "default", "capacity": {"minimum": "1", "maximum": "3", "default": "1"}, "rules":
      [{"metricTrigger": {"metricName": "tomcat.global.request.total.count", "metricNamespace":
      "Microsoft.AppPlatform/Spring", "metricResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest",
      "timeGrain": "PT1M", "statistic": "Average", "timeWindow": "PT3M", "timeAggregation":
      "Average", "operator": "GreaterThan", "threshold": 0.0, "dimensions": [{"DimensionName":
      "AppName", "Operator": "Equals", "Values": ["app1"]}, {"DimensionName": "Deployment",
      "Operator": "Equals", "Values": ["default"]}]}, "scaleAction": {"direction":
      "Increase", "type": "ChangeCount", "value": "1", "cooldown": "PT5M"}}]}], "notifications":
      [{"operation": "Scale", "email": {"sendToSubscriptionAdministrator": false,
      "sendToSubscriptionCoAdministrators": false, "customEmails": []}, "webhooks":
      []}], "enabled": true, "name": "clitest", "targetResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest/apps/app1/deployments/default"}}'
      headers:
        Content-Type:
          - application/json; charset=ut[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest/providers/microsoft.insights/autoscalesettings/clitest?api-version=2015-04-01
    response:
      body:
        string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/microsoft.insights/autoscalesettings/clitest","name":"clitest","type":"Microsoft.Insights/autoscaleSettings","location":"eastus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"3","default":"1"},"rules":[{"metricTrigger":{"metricName":"tomcat.global.request.total.count","metricNamespace":"Microsoft.AppPlatform/Spring","metricResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest","timeGrain":"PT1M","statistic":"Average","timeWindow":"PT3M","timeAggregation":"Average","operator":"GreaterThan","threshold":0.0,"dimensions":[{"DimensionName":"AppName","Operator":"Equals","Values":["app1"]},{"DimensionName":"Deployment","Operator":"Equals","Values":["default"]}],"dividePerInstance":false},"scaleAction":{"direction":"Increase","type":"ChangeCount","value":"1","cooldown":"PT5M"}}]}],"enabled":true,"name":"clitest","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest/providers/Microsoft.AppPlatform/Spring/clitest/apps/app1/deployments/default","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}]}}'
      headers:
        content-type:
          - application/json; charset=utf-8
      status:
        code: 200
        message: OK
[...]
