interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_monitor_log_analytics_workspace_link_target000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_monitor_log_analytics_workspace_link_target000001","name":"test_monitor_log_analytics_workspace_link_target000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_log_analytics_workspace_link_target_available_service","date":"2025-02-22T07:21:36Z","module":"monitor","DateCreated":"2025-02-22T07:21:39Z","Creator":"zhiyihuang@microsoft.com"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_monitor_log_analytics_workspace_link_target000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"9c60f7a1-5428-4d1e-a4b3-bb901a172ec7","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-02-22T07:21:43.0502589Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-02-23T00:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2025-02-22T07:21:43.0502589Z","modifiedDate":"2025-02-22T07:21:43.0502589Z"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_monitor_log_analytics_workspace_link_target000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002","name":"ws-000002","type":"Microsoft.OperationalInsights/workspaces","etag":"\"5e004b9d-0000-0700-0000-67b97b070000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_monitor_log_analytics_workspace_link_target000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_monitor_log_analytics_workspace_link_target000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"9c60f7a1-5428-4d1e-a4b3-bb901a172ec7","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-02-22T07:21:43.0502[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/linkTargets?api-version=2015-03-20
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3746'
    status:
      code: 404
      message: Not Found
version: 1
