interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings?api-version=2017-05-01-preview
  response:
    body:
      string: '{"value":[{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/diagnosticSettings/clitesta6mfh34sjboii","type":"Microsoft.Insights/diagnosticSettings","name":"clitesta6mfh34sjboii","location":"global","properties":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgwab3nfkxthikiesbnqm5obntqktgza3twzpupekhvcnz4u3fcdf56y6nc3vxmasnw/providers/Microsoft.Storage/storageAccounts/clitestfwnq5buc5kvgvzv2c","workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rgwab3nfkxthikiesbnqm5obntqktgza3twzpupekhvcnz4u3fcdf56y6nc3vxmasnw/providers/Microsoft.OperationalInsights/workspaces/cliwsieavoejgksg5jdq","logs":[{"category":"Security","enabled":true,"categoryGroup":null},{"category":"Administrative","enabled":true,"categoryGroup":null},{"category":"ServiceHealth","enabled":true,"categoryGroup":null},{"category":"Alert","enabled":true,"categoryGroup":null},{"category":"Recommendation","enabled":true,"categoryGroup":null},{"category":"Policy","enabled":true,"categoryGroup":null},{"category":"Autoscale","enabled":true,"categoryGroup":null},{"category":"ResourceHealth","enabled":true,"categoryGroup":null}]}},{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitesta6mfh34sjboii?api-version=2017-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14993'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitestfbjom3xrwnhzo?api-version=2017-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14994'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"logs": [{"category": "Security",
      "enabled": true}, {"category": "Administrative", "enabled": true}, {"category":
      "ServiceHealth", "enabled": true}, {"category": "Alert", "enabled": true}, {"category":
      "Recommendation", "enabled": true}, {"category": "Policy", "enabled": true},
      {"category": "Autoscale", "enabled": true}, {"category": "ResourceHealth", "enabled":
      true}], "storageAccountId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitest000003?api-version=2017-05-01-preview
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/microsoft.insights/diagnosticSettings/clitest000003","type":"Microsoft.Insights/diagnosticSettings","name":"clitest000003","location":"global","properties":{"storageAccountId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","logs":[{"category":"Security","enabled":true,"categoryGroup":null},{"category":"Administrative","enabled":true,"categoryGroup":null},{"category":"ServiceHealth","enabled":true,"categoryGroup":null},{"category":"Alert","enabled":true,"categoryGroup":null},{"category":"Recommendation","enabled":true,"categoryGroup":null},{"category":"Policy","enabled":true,"categoryGroup":null},{"category":"Autoscale","enabled":true,"categoryGroup":null},{"category":"ResourceHealth","enabled":true,"categoryGroup":null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '149'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T15:46:21Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"retentionInDays": 30, "sku":
      {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"1393554c-8db2-450f-8959-bee278f18c09","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-01-28T15:46:56.5151694Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-01-28T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-01-28T15:46:56.5151694Z","modifiedDate":"2023-01-28T15:46:56.5151694Z"},"location":"southcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004","name":"cliws000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004?api-version=2021-12-01-preview
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004?api-version=2021-12-01-preview
  response:
    body:
      string: '{"properties":{"customerId":"1393554c-8db2-450f-8959-bee278f18c09","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-01-28T15:46:56.5151694Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-01-28T19:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-01-28T15:46:56.5151694Z","modifiedDate":"2023-01-28T15:46:56.5151694Z"},"location":"southcentralus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/cliws000004","name":"cliws000004","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2021-12-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.insights/diagnosticSettings/clitest000003?api-version=2017-05-01-preview
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14995'
    status:
      code: 200
      message: OK
version: 1
