interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/workspace-test/providers/Microsoft.OperationalInsights/workspaces/clitestfailoverfailback?api-version=2025-02-01
  response:
    body:
      string: '{"properties":{"customerId":"b345d359-97f1-47af-a7d3-48db65114326","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-05-08T03:26:01.143531Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-05-08T05:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2025-05-08T03:26:01.143531Z","modifiedDate":"2025-05-08T03:26:56.5595122Z","replication":{"enabled":true,"location":"eastus","provisioningState":"Succeeded","createdDate":"2025-05-08T03:26:01.1435815Z","lastModifiedDate":"2025-05-08T03:26:01.1435815Z"}},"location":"westus","tags":{"clitest":"liwa"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspace-test/providers/Microsoft.OperationalInsights/workspaces/clitestfailoverfailback","name":"clitestfailoverfailback","type":"Microsoft.OperationalInsights/workspaces","etag":"\"20007ecd-0000-0700-0000-681c24800000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspace-test/providers/Microsoft.OperationalInsights/locations/eastus/workspaces/clitestfailoverfailback/failover?api-version=2025-02-01
  response:
    body:
      string: '{"error":{"code":"InvalidParameter","message":"Workspace failover can''t
        be triggered at this time because replication was enabled less than 24 hours
        ago. Please try again 24 hours after replication was enabled. Operation Id:
        ''e514a0711ff1d39a0cf8d760fc29fe69''"}}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json
      diagnostic-context:
      - e514a0711ff1d39a0cf8d760fc29fe69
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/workspace-test/providers/Microsoft.OperationalInsights/workspaces/clitestfailoverfailback/failback?api-version=2025-02-01
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Failover is not active for this
        workspace. Operation Id: ''268ecec0a9e30a655dd567b4e39c596a''"}}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json
      diagnostic-context:
      - 268ecec0a9e30a655dd567b4e39c596a
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 409
      message: Conflict
[...]
- request:
    body: '{"etag": "\"20007ecd-0000-0700-0000-681c24800000\"", "location": "westus",
      "properties": {"features": {"legacy": 0, "searchVersion": 1, "enableLogAccessUsingOnlyResourcePermissions":
      true}, "publicNetworkAccessForIngestion": "Enabled", "publicNetworkAccessForQuery":
      "Enabled", "replication": {"enabled": false, "location": "eastus"}, "retentionInDays":
      30, "sku": {"name": "PerGB2018"}, "workspaceCapping": {"dailyQuotaGb": -1.0}},
      "tags": {"clitest": "liwa"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/workspace-test/providers/Microsoft.OperationalInsights/workspaces/clitestfailoverfailback?api-version=2025-02-01
  response:
    body:
      string: '{"error":{"code":"InvalidParameter","message":"Workspace replication
        cannot be disabled at this time because it was enabled in the last hour. Operation
        Id: ''7d51120a4fe45872835926d7f2d7c399''","target":"properties.replication"}}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json
      diagnostic-context:
      - 7d51120a4fe45872835926d7f2d7c399
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/workspace-test/providers/Microsoft.OperationalInsights/workspaces/clitestfailoverfailback?api-version=2025-02-01
  response:
    body:
      string: '{"error":{"code":"Conflict","message":"Workspace ''clitestfailoverfailback''
        cannot be deleted because it is linked to DataCollectionEndpoint. Delete the
        linked-service first. Operation Id: ''8de4ae24e0f0c05098e733f499f14cb0''"}}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json
      diagnostic-context:
      - 8de4ae24e0f0c05098e733f499f14cb0
      x-ms-ratelimit-remaining-subscription-deletes:
      - '199'
      x-ms-ratelimit-remaining-subscription-global-deletes:
      - '2999'
    status:
      code: 409
      message: Conflict
version: 1
