interactions:
- request:
    body: '{"location": "global", "properties": {"groupShortName": "ag1", "enabled":
      true, "emailReceivers": [], "smsReceivers": [], "webhookReceivers": [], "itsmReceivers":
      [], "azureAppPushReceivers": [], "automationRunbookReceivers": [], "voiceReceivers":
      [], "logicAppReceivers": [], "azureFunctionReceivers": [], "armRoleReceivers":
      [], "eventHubReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/Microsoft.Insights/actionGroups/ag1?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/microsoft.insights/actionGroups/ag1","type":"Microsoft.Insights/ActionGroups","name":"ag1","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"ag1","enabled":true,"tags":null,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: '{"location": "global", "properties": {"description": "Test", "severity":
      2, "enabled": true, "scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/Microsoft.Storage/storageAccounts/clitest000002"],
      "evaluationFrequency": "PT1M", "windowSize": "PT5M", "targetResourceRegion":
      "westus", "criteria": {"odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
      "allOf": [{"criterionType": "StaticThresholdCriterion", "name": "cond0", "metricName":
      "transactions", "timeAggregation": "Total", "dimensions": [{"name": "ResponseType",
      "operator": "Include", "values": ["Success"]}, {"name": "ApiName", "operator":
      "Include", "values": ["GetBlob"]}], "operator": "GreaterThan", "threshold":
      5.0}, {"criterionType": "StaticThresholdCriterion", "name": "cond1", "metricName":
      "SuccessE2ELatency", "timeAggregation": "Average", "dimensions": [{"name": "ApiName",
      "operator": "Include", "values": ["GetBlob"]}], "operator": "GreaterThan", "threshold":
      250.0}]}, "actions": [{"actionGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/microsoft.insights/actionGroups/ag1"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/Microsoft.Insights/metricAlerts/alert1?api-version=2018-03-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Insights/metricAlerts?api-version=2018-03-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clonem66to7k32j6kakcn7gp6faenkllymndjovkk6jxo22no2xxf/providers/Microsoft.Insights/metricAlerts/alert1\",\r\n
        \     \"name\": \"alert1\",\r\n      \"type\": \"Microsoft.Insights/metricAlerts\",\r\n
        \     \"location\": \"global\",\r\n      \"properties\": {\r\n        \"description\":
        \"Test\",\r\n        \"severity\": 2,\r\n        \"enabled\": true,\r\n[...]
[...]
- request:
    body: '{"location": "global", "properties": {"description": "Test", "severity":
      2, "enabled": true, "scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_metric_alert_clone000001/providers/Microsoft.Storage/storageAccounts/clitest000003"],
      "evaluationFrequency": "PT1M", "windowSize": "PT5M", "targetResourceRegion":
      "westus", "criteria": {"odata.type": "Microsoft.Azure.Monitor.SingleResourceMultipleMetricCriteria",
      "allOf": [...]
