interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule1?api-version=2021-04-01
  response:
    body:
      string: '{"properties":{"immutableId":"dcr-53703e21510e49fcb46b80274508f48f","dataSources":{"performanceCounters":[{"streams":["Microsoft-InsightsMetrics"],"samplingFrequencyInSeconds":10,"counterSpecifiers":["\\Processor
        Information(_Total)\\% Processor Time","\\Processor Information(_Total)\\%
        Privileged Time","\\Processor Information(_Total)\\% User Time","\\Processor
        Information(_Total)\\Processor Frequency","\\System\\Processes","\\Process(_Total)\\Thread
        Count","\\Process(_Total)\\Handle Count","\\System\\System Up Time","\\System\\Context
        Switches/sec","\\System\\Processor Queue Length","\\Memory\\% Committed Bytes
        In Use","\\Memory\\Available B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/Microsoft.OperationalInsights/workspaces/wsn1?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"c6ae1a7b-1ab4-4dd6-80a4-39292d0514b7\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 20 Jan 2022 03:29:11 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Tue, 25 Jan 2022 06:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Thu, 20 Jan 2022 03:29:11 GMT\",\r\n
        \   \"modifiedDate\": \"Mon, 24 Jan 2022 07:56:05 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/microsoft.operationalinsights/workspaces/wsn1\",\r\n
        \ \"name\": \"wsn1\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westeurope\"\r\n}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"provisioningState": "Succeeded",
      "sku": {"name": "pergb2018"}, "retentionInDays": 30, "workspaceCapping": {"dailyQuotaGb":
      -1.0}, "publicNetworkAccessForIngestion": "Enabled", "publicNetworkAccessForQuery":
      "Enabled", "features": {"legacy": 0, "searchVersion": 1, "enableLogAccessUsingOnlyResourcePermissions":
      true}, "defaultDataCollectionRuleResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/Microsoft.OperationalInsights/workspaces/wsn1?api-version=2021-12-01-preview
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"This workspace is missing
        from data collection rule \/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/tbtest\/providers\/Microsoft.Insights\/dataCollectionRules\/rule1
        destination list.","target":"defaultDcrFullResourceId"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 400
      message: Bad Request
[...]
