interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_linked_storage000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001","name":"cli_test_monitor_workspace_linked_storage000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2023-01-28T15:11:26Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}, "tags": {"clitest": "myron"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.OperationalInsights/workspaces/clitest000006?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"8050a9c2-8c04-40f8-8a44-e4c0b7cf0a64\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Sat, 28 Jan 2023 15:12:53 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Sat, 28 Jan 2023 16:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Sat, 28 Jan 2023 15:12:53 GMT\",\r\n
        \   \"modifiedDate\": \"Sat, 28 Jan 2023 15:12:53 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_linked_storage000001/providers/microsoft.operationalinsights/workspaces/clitest000006\",\r\n
        \ \"name\": \"clitest000006\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"clitest\": \"myron\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1186'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"storageAccountIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.Storage/storageAccounts/saws1000002"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.OperationalInsights/workspaces/clitest000006/linkedStorageAccounts/CustomLogs?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"dataSourceType\": \"customlogs\",\r\n
        \   \"storageAccountIds\": [\r\n      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.Storage/storageAccounts/saws1000002\"\r\n
        \   ]\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.OperationalInsights/workspaces/clitest000006/linkedStorageAccounts/CustomLogs\",\r\n
        \ \"name\": \"customlogs\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces/linkedStorageAccounts\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1190'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"storageAccountIds": ["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.Storage/storageAccounts/saws1000002"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.OperationalInsigh[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.OperationalInsights/workspaces/clitest000006/linkedStorageAccounts?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"dataSourceType\":
        \"azurewatson\",\r\n        \"storageAccountIds\": [\r\n          \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Microsoft.Storage/storageAccounts/saws1000002\"\r\n
        \       ]\r\n      },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_linked_storage000001/providers/Mic[...]
[...]
