interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001","name":"cli_test_monitor_log_analytics_cluster_c000001","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-07T07:27:34Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "identity": {"type": "SystemAssigned"}, "sku":
      {"capacity": 1000, "name": "CapacityReservation"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: 'null'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/24478f28-c997-424c-a8e3-22d7d61ddfa9?api-version=2015-11-01-preview
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002/operationresults/24478f28-c997-424c-a8e3-22d7d61ddfa9?api-version=2020-10-01
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/24478f28-c997-424c-a8e3-22d7d61ddfa9?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"24478f28-c997-424c-a8e3-22d7d61ddfa9\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/24478f28-c997-424c-a8e3-22d7d61ddfa9\",\r\n
        \ \"startTime\": \"Fri, 07 May 2021 07:28:00 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/24478f28-c997-424c-a8e3-22d7d61ddfa9?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"24478f28-c997-424c-a8e3-22d7d61ddfa9\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/24478f28-c997-424c-a8e3-22d7d61ddfa9\",\r\n
        \ \"startTime\": \"Fri, 07 May 2021 07:28:00 GMT\",\r\n  \"endTime\": \"Fri,
        07 May 2021 08:53:50 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\":
        \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n    \"principalId\": \"c32075e8-14ed-4ab0-8fd9-d819dcfd2a5a\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"capacityreservation\",\r\n    \"capacity\":
        1000\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"clusterId\": \"702e51e0-2a78-4046-aaf3-7a51772d91ca\",\r\n    \"billingType\":
        \"Cluster\",\r\n    \"lastModifiedDate\": \"Fri, 07 May 2021 07:28:00 GMT\",\r\n
        \   \"createdDate\": \"Fri, 07 May 2021 07:28:00 GMT\",\r\n    \"isDoubleEncryptionEnabled\":
        true,\r\n    \"isAvailabilityZonesEnabled\": true,\r\n    \"associatedWorkspaces\":
        [],\r\n    \"capacityReservationProperties\": {\r\n      \"lastSkuUpdate\":
        \"Fri, 07 May 2021 07:28:00 GMT\",\r\n      \"minCapacity\": 1000,\r\n      \"maxCapacity\":
        10000\r\n    }\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002\",\r\n
        \ \"name\": \"clitest-cluster-000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/clusters\",\r\n
        \ \"location\": \"Central US\",\r\n  \"tags\": {}\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"identity\": {\r\n        \"type\":
        \"SystemAssigned\",\r\n        \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n
        \       \"principalId\": \"c32075e8-14ed-4ab0-8fd9-d819dcfd2a5a\"\r\n      },\r\n
        \     \"sku\": {\r\n        \"name\": \"capacityreservation\",\r\n        \"capacity\":
        2000\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"clusterId\": \"702e51e0-2a78-4046-a[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.OperationalInsights/clusters/clitest-cluster-000002''
        under resource group ''cli_test_monitor_log_analytics_cluster_c000001'' was
        not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
