interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_public_access000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001","name":"cli_test_monitor_workspace_public_access000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_log_analytics_workspace_public_access","date":"2024-02-21T04:24:17Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Disabled", "publicNetworkAccessForQuery": "Disabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}, "tags": {"clitest": "myron"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"3d89f5bc-ff31-415b-8524-986c74a6ef17","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-21T04:24:26.9059499Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2024-02-21T09:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Disabled","publicNetworkAccessForQuery":"Disabled","createdDate":"2024-02-21T04:24:26.9059499Z","modifiedDate":"2024-02-21T04:24:26.9059499Z"},"location":"eastus","tags":{"clitest":"myron"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002","name":"clitest000002","type":"Microsoft.OperationalInsights/workspaces","etag":"\"19003318-0000-0100-0000-65d57afa0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"3d89f5bc-ff31-415b-8524-986c74a6ef17","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2024-02-21T04:24:26.9059499[...]
[...]
