interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001","name":"cli_test_monitor_log_analytics_cluster_c000001","type":"Microsoft.Resources/resourceGroups","location":"centralus","tags":{"product":"azurecli","cause":"automation","date":"2022-07-01T12:53:50Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centralus", "identity": {"type": "SystemAssigned"}, "sku":
      {"capacity": 1000, "name": "CapacityReservation"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/e5b2d932-4f33-4e1d-bca4-757bac9b588e?api-version=2015-11-01-preview
      cachecontrol:
      - no-cache
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002/operationresults/e5b2d932-4f33-4e1d-bca4-757bac9b588e?api-version=2021-06-01
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/e5b2d932-4f33-4e1d-bca4-757bac9b588e?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"e5b2d932-4f33-4e1d-bca4-757bac9b588e\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/e5b2d932-4f33-4e1d-bca4-757bac9b588e\",\r\n
        \ \"startTime\": \"Fri, 01 Jul 2022 12:54:08 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/e5b2d932-4f33-4e1d-bca4-757bac9b588e?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"e5b2d932-4f33-4e1d-bca4-757bac9b588e\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/centralus/operationStatuses/e5b2d932-4f33-4e1d-bca4-757bac9b588e\",\r\n
        \ \"startTime\": \"Fri, 01 Jul 2022 12:54:08 GMT\",\r\n  \"endTime\": \"Fri,
        01 Jul 2022 13:19:58 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\":
        \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n    \"principalId\": \"aa1ff2d5-79d5-4d1a-9fbd-787d8b78b056\"\r\n
        \ },\r\n  \"sku\": {\r\n    \"name\": \"capacityreservation\",\r\n    \"capacity\":
        1000\r\n  },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
        \   \"clusterId\": \"db400913-d4ab-4ac5-8987-29bc59920336\",\r\n    \"billingType\":
        \"Cluster\",\r\n    \"lastModifiedDate\": \"Fri, 01 Jul 2022 12:54:08 GMT\",\r\n
        \   \"createdDate\": \"Fri, 01 Jul 2022 12:54:08 GMT\",\r\n    \"isDoubleEncryptionEnabled\":
        true,\r\n    \"isAvailabilityZonesEnabled\": true,\r\n    \"associatedWorkspaces\":
        [],\r\n    \"capacityReservationProperties\": {\r\n      \"lastSkuUpdate\":
        \"Fri, 01 Jul 2022 12:54:08 GMT\",\r\n      \"minCapacity\": 500\r\n    }\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002\",\r\n
        \ \"name\": \"clitest-cluster-000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/clusters\",\r\n
        \ \"location\": \"Central US\",\r\n  \"tags\": {}\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "Central US", "properties":
      {"billingType": "Cluster", "capacityReservationProperties": {}, "isAvailabilityZonesEnabled":
      true}, "sku": {"capacity": 2000, "name": "capacityreservation"}, "tags": {"key":
      "value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters/clitest-cluster-000002?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"tenantId\":
        \"54826b22-38d6-4fb2-bad9-b7b93a3e9[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters?api-version=2021-06-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"identity\": {\r\n        \"type\":
        \"SystemAssigned\",\r\n        \"tenantId\": \"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a\",\r\n
        \       \"principalId\": \"aa1ff2d5-79d5-4d1a-9fbd-787d8b78b056\"\r\n      },\r\n
        \     \"sku\": {\r\n        \"name\": \"capacityreservation\",\r\n        \"capacity\":
        2000\r\n      },\r\n      \"properties\": {\r\n        \"provisioningState\":
        \"Succeeded\",\r\n        \"clusterId\": \"db400913-d4ab-4ac5-8[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_log_analytics_cluster_c000001/providers/Microsoft.OperationalInsights/clusters?api-version=2021-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
