interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_saved_search000001","name":"cli_test_monitor_workspace_saved_search000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-06T07:51:16Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"tags": {"clitest": "myron"}, "location": "eastus", "properties": {"sku":
      {"name": "PerGB2018"}, "retentionInDays": 30, "workspaceCapping": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"451f9249-160e-4821-882f-40a5b340fca0\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"maxCapacityReservationLevel\":
        3000,\r\n      \"lastSkuUpdate\": \"Thu, 06 May 2021 07:51:26 GMT\"\r\n    },\r\n
        \   \"retentionInDays\": 30,\r\n    \"features\": {\r\n      \"legacy\": 0,\r\n
        \     \"searchVersion\": 1,\r\n      \"enableLogAccessUsingOnlyResourcePermissions\":
        true\r\n    },\r\n    \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n
        \     \"quotaNextResetTime\": \"Fri, 07 May 2021 07:00:00 GMT\",\r\n      \"dataIngestionStatus\":
        \"RespectQuota\"\r\n    },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n
        \   \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"createdDate\":
        \"Thu, 06 May 2021 07:51:26 GMT\",\r\n    \"modifiedDate\": \"Thu, 06 May
        2021 07:51:26 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001/providers/microsoft.operationalinsights/workspaces/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\",\r\n  \"tags\": {\r\n    \"clitest\": \"myron\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"category": "cli", "displayName": "myclitest", "query":
      "Heartbeat | getschema", "functionAlias": "myfun", "functionParameters": "a:string
      = value", "tags": [{"name": "a", "value": "b"}, {"name": "c", "value": "d"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/savedSearches/clitest?api-version=2020-08-01
  response:
    body:
      string: '{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/savedSearches/clitest","etag":"W/\"datetime''2021-05-06T07%3A52%3A02.7700867Z''\"","properties":{"Category":"cli","DisplayName":"myclitest","Query":"Heartbeat
        | getschema","Tags":[{"Name":"a","Value":"b"},{"Name":"c","Value":"d"}],"FunctionAlias":"myfun","FunctionParameters":"a:string
        = value","Version":2}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/savedSearches?api-version=2020-08-01
  response:
    body:
      string: '{"__metadata":{},"value":[{"id":"subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/savedSearches/clitest","etag":"W/\"datetime''2021-05-06T07%3A52%3A02.7700867Z''\"","properties":{"Category":"cli","DisplayName":"myclitest","Query":"Heartbeat
        | getschema","Tags":[{"Name":"a","Value":"b"},{"Name":"c","Value":"d"}],"FunctionAlias":"myfun","FunctionParameters":"a:string
        = [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_saved_search000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/savedSearches/clitest?api-version=2020-08-01
  response:
    body:
      string: '{"error":{"code":"SavedSearchNotFound","message":"Saved search ''clitest''
        could not be found."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
