interactions:
- request:
    body: '{"location": "global", "properties": {"groupShortName": "cliactiongro",
      "enabled": true, "emailReceivers": [], "smsReceivers": [], "webhookReceivers":
      [], "itsmReceivers": [], "azureAppPushReceivers": [], "automationRunbookReceivers":
      [], "voiceReceivers": [], "logicAppReceivers": [], "azureFunctionReceivers":
      [], "armRoleReceivers": [], "eventHubReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2021-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups?api-version=2021-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "Global", "tags": {"owner": "alice"}, "properties": {"groupShortName":
      "new_name", "enabled": true, "emailReceivers": [], "smsReceivers": [], "webhookReceivers":
      [], "itsmReceivers": [], "azureAppPushReceivers": [], "automationRunbookReceivers":
      [], "voiceReceivers": [], "logicAppReceivers": [], "azureFunctionReceivers":
      [], "armRoleReceivers": [], "eventHubReceivers": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions[...]
[...]
- request:
    body: '{"location": "Global", "tags": {"owner": "alice"}, "properties": {"groupShortName":
      "new_name", "enabled": true, "emailReceivers": [{"name": "alice", "emailAddress":
      "alice@example.com", "useCommonAlertSchema": true}], "smsReceivers": [{"name":
      "alice_sms", "countryCode": "1", "phoneNumber": "5551234567"}], "webhookReceivers":
      [{"name": "alice_web", "serviceUri": "https://www.example.com/alert?name=alice",
      "useCommonAlertSchema": true, "useAadAuth": false}], "itsmReceivers": [{"name":
      "alice_itsm", "workspaceId": "test_workspace", "connectionId": "test_conn",
      "ticketConfiguration": "ticket_blob", "region": "eastus"}], "azureAppPushReceivers":
      [{"name": "alice_apppush", "emailAddress": "alice@example.com"}], "automationRunbookReceivers":
      [{"automationAccountId": "test_account", "runbookName": "test_runbook", "webhookResourceId":
      "test_webhook", "isGlobalRunbook": true, "name": "alice_runbook", "serviceUri":
      "http://example.com", "useCommonAlertSchema": false}], "voiceReceivers": [{"name":
      "alice_voice", "countryCode": "1", "phoneNumber": "5551234567"}], "logicAppReceivers":
      [{"name": "alice_logicapp", "resourceId": "test_resource", "callbackUrl": "http://callback",
      "useCommonAlertSchema": false}], "azureFunctionReceivers": [{"name": "azfunc",
      "functionAppResourceId": "test_rsrc", "functionName": "test_func", "httpTriggerUrl":
      "http://trigger", "useCommonAlertSchema": true}], "armRoleReceivers": [{"name":
      "alicearmrole", "roleId": "abcde", "useCommonAlertSchema": true}], "eventHubReceivers":
      [{"name": "test_eventhub", "eventHubNameSpace": "eventhubNameSpace", "eventHubName":
      "testEventHubName", "useCommonAlertSchema": true, "subscriptionId": "5def922a-3ed4-49c1-b9fd-05ec533819a3"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2021-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":{"owner":"alice"},"properties":{"groupShortName":"new_name","enabled":true,"emailReceivers":[{"name":"alice","emailAddress":"alice@example.com","status":"Enabled","useCommonAlertSchema":true}],"smsReceivers":[{"name":"alice_sms","countryCode":"1","phoneNumber":"5551234567","status":"Enabled"}],"webhookReceivers":[{"name":"alice_web","serviceUri":"https://www.example.com/alert?name=alice","useCommonAlertSchema":true,"useAadAuth":false,"objectId":null,"identifierUri":null,"tenantId":null}],"eventHubReceivers":[{"name":"test_eventhub","subscriptionId":"5def922a-3ed4-49c1-b9fd-05ec533819a3","eventHubNameSpace":"eventhubNameSpace","eventHubName":"testEventHubName","useCommonAlertSchema":true,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}],"itsmReceivers":[{"name":"alice_itsm","workspaceId":"test_workspace","connectionId":"test_conn","ticketConfiguration":"ticket_blob","region":"eastus"}],"azureAppPushReceivers":[{"name":"alice_apppush","emailAddress":"alice@example.com"}],"automationRunbookReceivers":[{"name":"alice_runbook","serviceUri":"http://example.com","useCommonAlertSchema":false,"automationAccountId":"test_account","runbookName":"test_runbook","webhookResourceId":"test_webhook","isGlobalRunbook":true}],"voiceReceivers":[{"name":"alice_voice","countryCode":"1","phoneNumber":"5551234567"}],"logicAppReceivers":[{"name":"alice_logicapp","resourceId":"test_resource","callbackUrl":"http://callback","useCommonAlertSchema":false}],"azureFunctionReceivers":[{"name":"azfunc","functionAppResourceId":"test_rsrc","functionName":"test_func","httpTriggerUrl":"http://trigger","useCommonAlertSchema":true}],"armRoleReceivers":[{"name":"alicearmrole","roleId":"abcde","useCommonAlertSchema":true}]},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "Global", "tags": {"owner": "alice"}, "properties": {"groupShortName":
      "new_name", "enabled": true, "emailReceivers": [{"name": "alice", "emailAddress":
      "alice@example.com", "useCommonAlertSchema": true}], "smsReceivers": [{"name":
      "alice_sms", "countryCode": "1", "phoneNumber": "5551234567"}], "webhookReceivers":
      [], "itsmReceivers": [{"name": "alice_itsm", "workspaceId": "test_workspace",
      "connectionId": "test_conn", "ticketConfi[...]
- request:
    body: '{"receiverName": "nonexist"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002/subscribe?api-version=2021-09-01
  response:
    body:
      string: '{"code":"ReceiverNotFound","message":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups?api-version=2021-09-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
version: 1
