interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001","name":"cli_test_monitor_autoscale_rules000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_autoscale_rules","date":"2024-08-26T05:51:25Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
  response:
    body:
      string: "{\n  \"$schema\": \"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json\"\
        ,\n  \"contentVersion\": \"1.0.0.0\",\n  \"parameters\": {},\n  \"variables\"\
        : {},\n  \"resources\": [],\n  \"outputs\": {\n    \"aliases\": {\n      \"\
        type\": \"object\",\n      \"value\": {\n        \"Linux\": {\n          \"\
        CentOS85Gen2\": {\n            \"publisher\":  \"OpenLogic\",\n          \
        \  \"offer\":  \"CentOS\",\n            \"sku\":  \"8_5-gen2\",\n        \
        \    \"version\":  \"latest\",\n            \"architecture\": \"x64\"\n  \
        \        },\n          \"Debian11\":  {\n            \"publisher\":  \"Debian\"\
        ,\n            \"offer\":  \"debian-11\",\n            \"sku\":  \"11-backports-gen2\"\
        ,\n            \"version\":  \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"FlatcarLinuxFreeGen2\":  {\n            \"\
        publisher\":  \"kinvolk\",\n            \"offer\":  \"flatcar-container-linux-free\"\
        ,\n            \"sku\":  \"stable-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          },\n          \"OpenSuseLeap154Gen2\"\
        :  {\n            \"publisher\":  \"SUSE\",\n            \"offer\":  \"openSUSE-leap-15-4\"\
        ,\n            \"sku\":  \"gen2\",\n            \"version\":  \"latest\",\n\
        \            \"architecture\": \"x64\"\n          },\n          \"RHELRaw8LVMGen2\"\
        :  {\n            \"publisher\":  \"RedHat\",\n            \"offer\":  \"\
        RHEL\",\n            \"sku\":  \"8-lvm-gen2\",\n            \"version\": \
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"SuseSles15SP3\": {\n            \"publisher\": \"SUSE\",\n       \
        \     \"offer\": \"sles-15-sp3\",\n            \"sku\": \"gen2\",\n      \
        \      \"version\": \"latest\",\n            \"architecture\": \"x64\"\n \
        \         },\n          \"Ubuntu2204\":  {\n            \"publisher\":  \"\
        Canonical\",\n            \"offer\":  \"0001-com-ubuntu-server-jammy\",\n\
        \            \"sku\":  \"22_04-lts-gen2\",\n            \"version\":  \"latest\"\
        ,\n            \"architecture\": \"x64\"\n          }\n        },\n      \
        \  \"Windows\": {\n          \"Win2022Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2022-datacenter-g2\",\n            \"version\": \"\
        latest\",\n            \"architecture\": \"x64\"\n          },\n         \
        \ \"Win2022AzureEditionCore\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2022-datacenter-azure-edition-core\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2019Datacenter\": {\n            \"publisher\"\
        : \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\",\n\
        \            \"sku\": \"2019-datacenter-gensecond\",\n            \"version\"\
        : \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2016Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2016-datacenter-gensecond\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          },\n          \"Win2012R2Datacenter\": {\n            \"\
        publisher\": \"MicrosoftWindowsServer\",\n            \"offer\": \"WindowsServer\"\
        ,\n            \"sku\": \"2012-R2-Datacenter\",\n            \"version\":\
        \ \"latest\",\n            \"architecture\": \"x64\"\n          },\n     \
        \     \"Win2012Datacenter\": {\n            \"publisher\": \"MicrosoftWindowsServer\"\
        ,\n            \"offer\": \"WindowsServer\",\n            \"sku\": \"2012-Datacenter\"\
        ,\n            \"version\": \"latest\",\n            \"architecture\": \"\
        x64\"\n          }\n        }\n      }\n    }\n  }\n}\n"
    headers:
      content-type:
      - text/plain; charset=utf-8
      etag:
      - W/"8f34071e3f10c641931f33307d1319d34bae37f557ea31022a455502dae9ebc2"
      source-age:
      - '0'
      x-fastly-request-id:
      - f103dd2a96401b5dc51ea1a027b42edda45caf90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions?$top=1&$orderby=name%20desc&api-version=2024-07-01
  response:
    body:
      string: "[\r\n  {\r\n    \"location\": \"westus\",\r\n    \"name\": \"22.04.202408010\"\
        ,\r\n    \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202408010\"\
        \r\n  }\r\n]"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/ListVMImagesVersionsFromLocation3Min;15998,Microsoft.Compute/ListVMImagesVersionsFromLocation30Min;43998
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/0001-com-ubuntu-server-jammy/skus/22_04-lts-gen2/versions/22.04.202408010?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"hyperVGeneration\": \"V2\",\r\n \
        \   \"architecture\": \"x64\",\r\n    \"replicaType\": \"Managed\",\r\n  \
        \  \"replicaCount\": 10,\r\n    \"disallowed\": {\r\n      \"vmDiskType\"\
        : \"Unmanaged\"\r\n    },\r\n    \"automaticOSUpgradeProperties\": {\r\n \
        \     \"automaticOSUpgradeSupported\": false\r\n    },\r\n    \"imageDeprecationStatus\"\
        : {\r\n      \"imageState\": \"Active\"\r\n    },\r\n    \"features\": [\r\
        \n      {\r\n        \"name\": \"SecurityType\",\r\n        \"value\": \"\
        TrustedLaunchSupported\"\r\n      },\r\n      {\r\n        \"name\": \"IsAcceleratedNetworkSupported\"\
        ,\r\n        \"value\": \"True\"\r\n      },\r\n      {\r\n        \"name\"\
        : \"DiskControllerTypes\",\r\n        \"value\": \"SCSI, NVMe\"\r\n      },\r\
        \n      {\r\n        \"name\": \"IsHibernateSupported\",\r\n        \"value\"\
        : \"True\"\r\n      }\r\n    ],\r\n    \"osDiskImage\": {\r\n      \"operatingSystem\"\
        : \"Linux\",\r\n      \"sizeInGb\": 30\r\n    },\r\n    \"dataDiskImages\"\
        : []\r\n  },\r\n  \"location\": \"westus\",\r\n  \"name\": \"22.04.202408010\"\
        ,\r\n  \"id\": \"/Subscriptions/00000000-0000-0000-0000-000000000000/Providers/Microsoft.Compute/Locations/westus/Publishers/Canonical/ArtifactTypes/VMImage/Offers/0001-com-ubuntu-server-jammy/Skus/22_04-lts-gen2/Versions/22.04.202408010\"\
        \r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMImageFromLocation3Min;12998,Microsoft.Compute/GetVMImageFromLocation30Min;73998
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/virtualNetworks?api-version=2022-01-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3748'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"adminPassword": {"type": "securestring",
      "metadata": {"description": "Secure adminPassword"}}}, "variables": {}, "resources":
      [{"name": "vmss1VNET", "type": "Microsoft.Network/virtualNetworks", "location":
      "westus", "apiVersion": "2015-06-15", "dependsOn": [], "tags": {}, "properties":
      {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "subnets": [{"name":
      "vmss1Subnet", "properties": {"addressPrefix": "10.0.0.0/24"}}]}}, {"apiVersion":
      "2022-01-01", "type": "Microsoft.Network/publicIPAddresses", "name": "vmss1LBPublicIP",
      "location": "westus", "tags": {}, "dependsOn": [], "properties": {"publicIPAllocationMethod":
      "Static"}, "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/loadBalancers",
      "name": "vmss1LB", "location": "westus", "tags": {}, "apiVersion": "2022-01-01",
      "dependsOn": ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/publicIpAddresses/vmss1LBPublicIP"],
      "properties": {"backendAddressPools": [{"name": "vmss1LBBEPool"}], "frontendIPConfigurations":
      [{"name": "loadBalancerFrontEnd", "properties": {"publicIPAddress": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP"}}}],
      "loadBalancingRules": [{"name": "LBRule", "properties": {"frontendIPConfiguration":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"}, "backendAddressPool":
      {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'', ''vmss1LB''),
      ''/backendAddressPools/'', ''vmss1LBBEPool'')]"}, "protocol": "tcp", "frontendPort":
      80, "backendPort": 80, "enableFloatingIP": false, "idleTimeoutInMinutes": 5}}]},
      "sku": {"name": "Standard"}}, {"type": "Microsoft.Network/networkSecurityGroups",
      "name": "vmss1NSG", "apiVersion": "2015-06-15", "location": "westus", "tags":
      {}, "dependsOn": [], "properties": {"securityRules": [{"name": "default-allow-ssh",
      "properties": {"protocol": "Tcp", "sourcePortRange": "*", "destinationPortRange":
      "22", "sourceAddressPrefix": "*", "destinationAddressPrefix": "*", "access":
      "Allow", "priority": 1000, "direction": "Inbound"}}]}}, {"type": "Microsoft.Network/loadBalancers/inboundNatRules",
      "apiVersion": "2022-01-01", "name": "vmss1LB/NatRule", "location": "westus",
      "properties": {"frontendIPConfiguration": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/frontendIPConfigurations/'', ''loadBalancerFrontEnd'')]"},
      "backendAddressPool": {"id": "[concat(resourceId(''Microsoft.Network/loadBalancers'',
      ''vmss1LB''), ''/backendAddressPools/'', ''vmss1LBBEPool'')]"}, "backendPort":
      22, "frontendPortRangeStart": "50000", "frontendPortRangeEnd": "50119", "protocol":
      "tcp", "idleTimeoutInMinutes": 5}, "dependsOn": ["[concat(''Microsoft.Network/loadBalancers/'',
      ''vmss1LB'')]"]}, {"type": "Microsoft.Compute/virtualMachineScaleSets", "name":
      "vmss1", "location": "westus", "tags": {}, "apiVersion": "2024-07-01", "dependsOn":
      ["Microsoft.Network/virtualNetworks/vmss1VNET", "Microsoft.Network/loadBalancers/vmss1LB",
      "Microsoft.Network/networkSecurityGroups/vmss1NSG"], "properties": {"upgradePolicy":
      {"mode": "manual"}, "singlePlacementGroup": null, "platformFaultDomainCount":
      1, "virtualMachineProfile": {"storageProfile": {"osDisk": {"createOption": "FromImage",
      "caching": "ReadWrite", "managedDisk": {"storageAccountType": null}}, "imageReference":
      {"publisher": "Canonical", "offer": "0001-com-ubuntu-server-jammy", "sku": "22_04-lts-gen2",
      "version": "latest"}}, "osProfile": {"computerNamePrefix": "vmss1", "adminUsername":
      "testadmin", "adminPassword": "[parameters(''adminPassword'')]"}, "networkProfile":
      {"networkInterfaceConfigurations": [{"name": "vmss1c1bfNic", "properties": {"ipConfigurations":
      [{"name": "vmss1c1bfIPConfig", "properties": {"subnet": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet"},
      "loadBalancerBackendAddressPools": [{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool"}]}}],
      "networkSecurityGroup": {"id": "[resourceId(''Microsoft.Network/networkSecurityGroups'',
      ''vmss1NSG'')]"}, "primary": "true"}}], "networkApiVersion": "2020-11-01"}},
      "orchestrationMode": "Flexible"}, "sku": {"name": "Standard_DS1_v2", "capacity":
      2}}], "outputs": {"VMSS": {"type": "object", "value": "[reference(resourceId(''Microsoft.Compute/virtualMachineScaleSets'',
      ''vmss1''),providers(''Microsoft.Compute'', ''virtualMachineScaleSets'').apiVersions[0])]"}}},
      "parameters": {"adminPassword": {"value": "TestTest12#$"}}, "mode": "incremental"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Resources/deployments/mock-deployment?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Resources/deployments/vmss_deploy_mnNx1rP2Y14acOLmZj8WfTzzMqbac1s4","name":"vmss_deploy_mnNx1rP2Y14acOLmZj8WfTzzMqbac1s4","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6353120980943067094","parameters":{"adminPassword":{"type":"SecureString"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2024-08-26T05:51:41.5011055Z","duration":"PT0.0001568S","correlationId":"a49ae0a8-9033-49c1-9827-3c0d1e62f9c1","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus"]},{"resourceType":"publicIPAddresses","locations":["westus"]},{"resourceType":"loadBalancers","locations":["westus"]},{"resourceType":"networkSecurityGroups","locations":["westus"]},{"resourceType":"loadBalancers/inboundNatRules","locations":["westus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachineScaleSets","locations":["westus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET","resourceType":"Microsoft.Network/virtualNetworks","resourceName":"vmss1VNET"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/publicIPAddresses/vmss1LBPublicIP","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"vmss1LBPublicIP"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/loadBalancers/vmss1LB","resourceType":"Microsoft.Network/loadBalancers","resourceNa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Resources/deployments/mock-deployment/operationStatuses/08584769553863431347?api-version=2022-09-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1?api-version=2024-07-01
  response:
    body:
      string: "{\r\n  \"name\": \"vmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1\"\
        ,\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\"\
        : \"westus\",\r\n  \"tags\": {},\r\n  \"sku\": {\r\n    \"name\": \"Standard_DS1_v2\"\
        ,\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 2\r\n  },\r\n  \"etag\"\
        : \"\\\"1\\\"\",\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": false,\r\
        \n    \"orchestrationMode\": \"Flexible\",\r\n    \"upgradePolicy\": {\r\n\
        \      \"mode\": \"Manual\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\
        \n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"vmss1\",\r\n\
        \        \"adminUsername\": \"testadmin\",\r\n        \"linuxConfiguration\"\
        : {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"\
        provisionVMAgent\": true,\r\n          \"patchSettings\": {\r\n          \
        \  \"patchMode\": \"ImageDefault\",\r\n            \"assessmentMode\": \"\
        ImageDefault\"\r\n          }\r\n        },\r\n        \"secrets\": [],\r\n\
        \        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\"\
        : true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\
        \n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\"\
        ,\r\n          \"caching\": \"ReadWrite\",\r\n          \"managedDisk\": {\r\
        \n            \"storageAccountType\": \"Premium_LRS\"\r\n          },\r\n\
        \          \"deleteOption\": \"Delete\",\r\n          \"diskSizeGB\": 30\r\
        \n        },\r\n        \"imageReference\": {\r\n          \"publisher\":\
        \ \"Canonical\",\r\n          \"offer\": \"0001-com-ubuntu-server-jammy\"\
        ,\r\n          \"sku\": \"22_04-lts-gen2\",\r\n          \"version\": \"latest\"\
        \r\n        },\r\n        \"diskControllerType\": \"SCSI\"\r\n      },\r\n\
        \      \"networkProfile\": {\"networkApiVersion\":\"2020-11-01\",\"networkInterfaceConfigurations\"\
        :[{\"name\":\"vmss1c1bfNic\",\"properties\":{\"primary\":true,\"disableTcpStateTracking\"\
        :false,\"enableIPForwarding\":false,\"auxiliaryMode\":\"None\",\"auxiliarySku\"\
        :\"None\",\"deleteOption\":\"Delete\",\"ipConfigurations\":[{\"name\":\"vmss1c1bfIPConfig\"\
        ,\"properties\":{\"privateIPAddressVersion\":\"IPv4\",\"subnet\":{\"id\":\"\
        /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/virtualNetworks/vmss1VNET/subnets/vmss1Subnet\"\
        },\"applicationSecurityGroups\":[],\"loadBalancerBackendAddressPools\":[{\"\
        id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/loadBalancers/vmss1LB/backendAddressPools/vmss1LBBEPool\"\
        }],\"applicationGatewayBackendAddressPools\":[]}}],\"networkSecurityGroup\"\
        :{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Network/networkSecurityGroups/vmss1NSG\"\
        },\"dnsSettings\":{\"dnsServers\":[]}}}]},\r\n      \"timeCreated\": \"2024-08-26T05:51:55.5595808+00:00\"\
        \r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"uniqueId\"\
        : \"e4956767-dfb2-4251-93b0-01223bd15b8c\",\r\n    \"platformFaultDomainCount\"\
        : 1,\r\n    \"constrainedMaximumCapacity\": false,\r\n    \"timeCreated\"\
        : \"2024-08-26T05:51:55.5595808+00:00\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"1"'
      x-ms-ratelimit-remaining-resource:
      - Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2395,Microsoft.Compute/GetVMScaleSetResource;31
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001","name":"cli_test_monitor_autoscale_rules000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_autoscale_rules","date":"2024-08-26T05:51:25Z","module":"monitor","Creator":"v-jingszhang@microsoft.com","DateCreated":"2024-08-26T05:51:31Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"enabled": true, "name": "vmss1",
      "notifications": [{"email": {"customEmails": []}, "operation": "scale", "webhooks":
      []}], "profiles": [{"capacity": {"default": "3", "maximum": "5", "minimum":
      "1"}, "name": "default", "rules": []}], "targetResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Insights/autoscalesettings/vmss1?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/microsoft.insights/autoscalesettings/vmss1","name":"vmss1","type":"Microsoft.Insights/autoscaleSettings","location":"westus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"5","default":"3"},"rules":[]}],"enabled":true,"name":"vmss1","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}],"predictiveAutoscalePolicy":{"scaleMode":"Disabled","scaleLookAheadTime":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Insights/autoscalesettings/vmss1?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/microsoft.insights/autoscalesettings/vmss1","name":"vmss1","type":"Microsoft.Insights/autoscaleSettings","location":"westus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"5","default":"3"},"rules":[]}],"enabled":true,"name":"vmss1","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}],"predictiveAutoscalePolicy":{"scaleMode":"Disabled","scaleLookAheadTime":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"enabled": true, "name": "vmss1",
      "notifications": [{"email": {"customEmails": [], "sendToSubscriptionAdministrator":
      false, "sendToSubscriptionCoAdministrators": false}, "operation": "Scale", "webhooks":
      []}], "predictiveAutoscalePolicy": {"scaleMode": "Disabled"}, "profiles": [{"capacity":
      {"default": "3", "maximum": "5", "minimum": "1"}, "name": "default", "rules":
      [{"metricTrigger": {"metricName": "Percentage CPU", "metricResourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1",
      "operator": "GreaterThan", "statistic": "Average", "threshold": 75.0, "timeAggregation":
      "Average", "timeGrain": "PT1M", "timeWindow": "PT5M"}, "scaleAction": {"cooldown":
      "PT5M", "direction": "None", "type": "ExactCount", "value": "5"}}]}], "targetResourceUri":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1"},
      "tags": {}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Insights/autoscalesettings/vmss1?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/microsoft.insights/autoscalesettings/vmss1","name":"vmss1","type":"Microsoft.Insights/autoscaleSettings","location":"westus","tags":{},"properties":{"profiles":[{"name":"default","capacity":{"minimum":"1","maximum":"5","default":"3"},"rules":[{"metricTrigger":{"metricName":"Percentage
        CPU","metricNamespace":"","metricResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","timeGrain":"PT1M","statistic":"Average","timeWindow":"PT5M","timeAggregation":"Average","operator":"GreaterThan","threshold":75.0,"dimensions":null,"dividePerInstance":false},"scaleAction":{"direction":"None","type":"ExactCount","value":"5","cooldown":"PT5M"}}]}],"enabled":true,"name":"vmss1","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_autoscale_rules000001/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1","notifications":[{"operation":"Scale","email":{"sendToSubscriptionAdministrator":false,"sendToSubscriptionCoAdministrators":false,"customEmails":[]},"webhooks":[]}],"predictiveAutoscalePolicy":{"scaleMode":"Disabled","scaleLookAheadTime":null}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus", "properties": {"enabled": true, "name": "vmss1",
      "notifications": [{"email": {"customEmails": [], "sendToSubscriptionAdministrator":
      false, "sendToSubscriptionCoAdministrators": false}, "operation": "Scale", "webhooks":
      []}], "predictiveAutoscalePolicy": {"scaleMode": "Disabled"}, "profiles": [{"capacity":
      {"default": "3", "maximum": "5", "minimum": "1"}, "name": "default", "rules":
      []}, {"capacity": {"default": "3", "maximum": "5", "minimum": "1"}, "fixedDate":
[...]
