interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001","name":"cli_test_monitor_workspace_data_export000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","date":"2021-05-06T08:30:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"sku": {"name": "CapacityReservation",
      "capacityReservationLevel": 100}, "retentionInDays": 30, "workspaceCapping":
      {"dailyQuotaGb": 1.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"9a448cc4-2605-4025-ae06-2fc4b7282068\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"capacityreservation\",\r\n      \"capacityReservationLevel\":
        100,\r\n      \"maxCapacityReservationLevel\": 3000,\r\n      \"lastSkuUpdate\":
        \"Thu, 06 May 2021 08:30:48 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Thu, 06 May 2021 12:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Thu, 06 May 2021 08:30:48 GMT\",\r\n
        \   \"modifiedDate\": \"Thu, 06 May 2021 08:30:48 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/microsoft.operationalinsights/workspaces/clitest000003\",\r\n
        \ \"name\": \"clitest000003\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"tableNames": ["Syslog"], "enable": true, "destination":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.Storage/storageAccounts/saws1000002"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003/dataExports/clitest?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"dataExportId\": \"70625993-dc78-453d-d3d1-08d90fd21b31\",\r\n
        \   \"destination\": {\r\n      \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.Storage/storageAccounts/saws1000002\",\r\n
        \     \"type\": \"StorageAccount\",\r\n      \"metaData\": {}\r\n    },\r\n
        \   \"tableNames\": [\r\n      \"Syslog\"\r\n    ],\r\n    \"enable\": true,\r\n
        \   \"createdDate\": \"Thu, 06 May 2021 08:31:22 GMT\",\r\n    \"lastModifiedDate\":
        \"Thu, 06 May 2021 08:31:22 GMT\"\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/microsoft.operationalinsights/workspaces/clitest000003/dataexports/clitest\",\r\n
        \ \"name\": \"clitest\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces/export\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"tableNames": ["SecurityEvent Heartbeat"], "enable": true,
      "destination": {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.Storage/storageAccounts/saws1000002"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003/dataExports/clitest2?api-version=2020-08-01
  response:
    body:
      string: '{"error":{"code":"InvalidOperationArgument","message":"Table SecurityEvent
        Heartbeat does not exist in the workspace."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 404
      message: Table SecurityEvent Heartbeat does not exist in the workspace.
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003/dataExports?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"properties\": {\r\n        \"dataExportId\":
        \"70625993-dc78-453d-d3d1-08d90fd21b31\",\r\n        \"destination\": {\r\n
        \         \"resourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.Storage/storageAccounts/saws1000002\",\r\n
        \         \"type\": \"StorageAccount\",\r\n          \"metaData\": {}\r\n
        \       },\r\n        \"tableNames\": [\r\n          \"Syslog\"\r\n        ],\r\n
        \       \"enable\": true,\r\n        \"createdDate\": \"Thu, 06 May 2021 08:31:22
        GMT\",\r\n        \"lastModifiedDate\": \"Thu, 06 May 2021 08:31:22 GMT\"\r\n
        \     },\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/microsoft.operationalinsights/workspaces/clitest000003/dataexports/clitest\",\r\n
        \     \"name\": \"clitest\",\r\n      \"type\": \"Microsoft.OperationalInsights/workspaces/export\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004?api-version=2021-06-01-preview
  response:
    body:
      string: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004","name":"eventhubs-nscli000004","type":"Microsoft.EventHub/Namespaces","location":"East
        US","tags":{},"properties":{"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"0b1f6471-1bf0-4dda-aec3-cb9272f09590:eventhubs-nscli000004","createdAt":"2021-05-06T08:31:52.007Z","updatedAt":"2021-05-06T08:31:52.007Z","serviceBusEndpoint":"https://eventhubs-nscli000004.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004/eventhubs/hub_name?api-version=2021-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004/eventhubs/hub_name","name":"hub_name","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"East
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2021-05-06T08:32:57.317Z","updatedAt":"2021-05-06T08:32:57.53Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/SN1
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004/eventhubs?api-version=2021-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004/eventhubs/hub_name","name":"hub_name","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"East
        US","properties":{"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2021-05-06T08:32:57.317","updatedAt":"2021-05-06T08:32:57.53","partitionIds":["0","1","2","3"]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      server-sb:
      - Service-Bus-Resource-Provider/CH3
      x-ms-inline-count:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"tableNames": ["Syslog"], "enable": false, "destination":
      {"resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.EventHub/namespaces/eventhubs-nscli000004",
      "metaData": {"eventHubName": "hub_name"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003/dataExports/clitest?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"dataExportId\": \"b4622755-d24f-4ef7-0c3e-08d91069931a\",\r\n
        \   \"desti[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_data_export000001/providers/Microsoft.OperationalInsights/workspaces/clitest000003/dataExports/clitest?api-version=2020-08-01
  response:
    body:
      string: '"Export clitest does not exist in the workspace."'
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 404
      message: Not Found
version: 1
