interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001","name":"cli_test_monitor_workspace_table000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_log_analytics_workspace_table","date":"2023-07-20T10:33:14Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"4e1644bb-2fbb-47cf-8080-115ebbcf501d","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-20T10:33:24.6692936Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-20T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-20T10:33:24.6692936Z","modifiedDate":"2023-07-20T10:33:24.6692936Z"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002","name":"ws-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"4e1644bb-2fbb-47cf-8080-115ebbcf501d","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-20T10:33:24.6692936Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-20T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-20T10:33:24.6692936Z","modifiedDate":"2023-07-20T10:33:24.6692936Z"},"location":"westeurope","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002","name":"ws-000002","type":"Microsoft.OperationalInsights/workspaces"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"plan": "Analytics", "retentionInDays": 45, "schema": {"columns":
      [{"name": "col1", "type": "guid"}, {"name": "TimeGenerated", "type": "datetime"}],
      "name": "TB000003_CL"}, "totalRetentionInDays": 70}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview,
        2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2021-03-01-privatepreview,
        2021-07-01-privatepreview, 2021-12-01-preview, 2022-09-01-privatepreview,
        2022-10-01, 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/219bf00e-5a96-4d44-807d-ae9227b8b1e0?api-version=2022-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL/operationresults/219bf00e-5a96-4d44-807d-ae9227b8b1e0?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/219bf00e-5a96-4d44-807d-ae9227b8b1e0?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/219bf00e-5a96-4d44-807d-ae9227b8b1e0","name":"219bf00e-5a96-4d44-807d-ae9227b8b1e0","status":"Updating","startTime":"2023-07-20T10:33:29.4957507Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/219bf00e-5a96-4d44-807d-ae9227b8b1e0?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/219bf00e-5a96-4d44-807d-ae9227b8b1e0","name":"219bf00e-5a96-4d44-807d-ae9227b8b1e0","status":"Succeeded","startTime":"2023-07-20T10:33:29.4957507Z","endTime":"2023-07-20T10:33:30.8209489Z","properties":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"totalRetentionInDays":70,"archiveRetentionInDays":25,"plan":"Analytics","lastPlanModifiedDate":"2023-07-20T10:33:29.4950234Z","retentionInDaysAsDefault":false,"totalRetentionInDaysAsDefault":false,"schema":{"tableSubType":"DataCollectionRuleBased","name":"TB000003_CL","tableType":"CustomLog","columns":[{"name":"col1","type":"guid","isDefaultDisplay":false,"isHidden":false},{"name":"TimeGenerated","type":"datetime","isDefaultDisplay":false,"isHidden":false}],"standardColumns":[{"name":"TenantId","type":"guid","isDefaultDisplay":false,"isHidden":false}],"solutions":["LogManagement"],"isTroubleshootingAllowed":true},"provisioningState":"Succeeded","retentionInDays":45},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL","name":"TB000003_CL"}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview,
        2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2021-03-01-privatepreview,
        2021-07-01-privatepreview, 2021-12-01-preview, 2022-09-01-privatepreview,
        2022-10-01, 2023-01-01-preview
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"retentionInDays": 50, "searchResults": {"endSearchTime":
      "2021-08-01T21:29:18.000Z", "limit": 1, "query": "Heartbeat", "startSearchTime":
      "2021-07-31T21:29:18.000Z"}, "totalRetentionInDays": 80}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH?api-version=2022-10-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2015-03-20, 2015-11-01-preview, 2017-01-01-preview, 2017-03-03-preview, 2017-03-15-preview,
        2017-04-26-preview, 2020-03-01-preview, 2020-08-01, 2020-10-01, 2021-03-01-privatepreview,
        2021-07-01-privatepreview, 2021-12-01-preview, 2022-09-01-privatepreview,
        2022-10-01, 2023-01-01-preview
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/3d850792-b4f8-4efd-b760-941863cafd38?api-version=2022-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH/operationresults/3d850792-b4f8-4efd-b760-941863cafd38?api-version=2022-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/3d850792-b4f8-4efd-b760-941863cafd38?api-version=2022-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationstatuses/3d850792-b4f8-4efd-b760-941863cafd38","name":"3d850792-b4f8-4efd-b760-941863cafd38","status":"Succeeded","startTime":"2023-07-20T10:35:18.5801207Z","endTime":"2023-07-20T10:35:23.42001Z","properties":{"resultStatistics":{"progress":100.0,"ingestedRecords":0,"scannedGb":0.0}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"totalRetentionInDays":80,"archiveRetentionInDays":30,"searchResults":{"query":"Heartbeat","description":"This
        table was created using a Search Job with the following query: ''Heartbeat''.","limit":1,"startSearchTime":"2021-07-31T21:29:18Z","endSearchTime":"2021-08-01T21:29:18Z","sourceTable":"Heartbeat","azureAsyncOperationId":"3d850792-b4f8-4efd-b760-941863cafd38"},"plan":"Analytics","lastPlanModifiedDate":"2023-07-20T10:35:18.5788536Z","createDate":"2023-07-20T10:35:18.5796695Z","createdBy":"cded80ac-7840-4070-a783-db73a7c3ee4c","retentionInDaysAsDefault":false,"totalRetentionInDaysAsDefault":false,"schema":{"tableSubType":"DataCollectionRuleBased","name":"TB000004_SRCH","tableType":"SearchResults","columns":[{"name":"_OriginalTenantId","type":"string","isDefaultDisplay":false,"isHidden":false},{"name":"SourceSystem","type":"string","isDefaultDisplay":false,"isHidden":false},{"name":"_OriginalTimeGenerated","type":"datetime","isDefaultDisplay":false,"isHidden":false},{"name":"MG","[...]
