interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001?api-version=2020-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_recover000001","name":"cli_test_monitor_workspace_recover000001","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2020-07-17T08:26:05Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus", "properties": {"sku": {"name": "CapacityReservation",
      "capacityReservationLevel": 100}, "retentionInDays": 30, "workspaceCapping":
      {"dailyQuotaGb": 1.0}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"63e7ba20-da9d-4af6-aeed-56a85fe49fd5\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"capacityreservation\",\r\n      \"capacityReservationLevel\":
        100,\r\n      \"maxCapacityReservationLevel\": 3000,\r\n      \"lastSkuUpdate\":
        \"Fri, 17 Jul 2020 08:26:14 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Fri, 17 Jul 2020 15:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Fri, 17 Jul 2020 08:26:14 GMT\",\r\n
        \   \"modifiedDate\": \"Fri, 17 Jul 2020 08:26:14 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/microsoft.operationalinsights/workspaces/clitest000002\",\r\n
        \ \"name\": \"clitest000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1165'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"RetentionInDays":90},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/azureactivity","name":"AzureActivity"},{"properties":{"RetentionInDays":90},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/usage","name":"Usage"},{"properties":{"Retention[...]
- request:
    body: '{"properties": {"retentionInDays": 30}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002/tables/Syslog?api-version=2020-03-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"retentionInDays\": 30\r\n  },\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/microsoft.operationalinsights/workspaces/clitest000002/tables/syslog\",\r\n
        \ \"name\": \"Syslog\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1173'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/deletedWorkspaces?api-version=2020-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - 7ae2d71b-693f-4e5b-bc2d-caa595d863f2
      - a8ac2636-f400-42ca-a86d-b2a66e007427
      - 9d54d8f1-70b4-43b7-aac6-89cd004ff9ff
      - 0872e5fb-f5e9-4ec9-924e-e2f90555e7d1
      - 048cace8-8b06-4dac-8fa0-705c9c1b7009
      - 52216b33-6ec1-4e71-a368-69f40f46af52
      - b3ae2e14-735e-4f4b-8987-0220f223e10d
      - 9bfc4e27-7360-4d32-99e4-76c3d75b59c1
      - a758be8b-ec97-4247-a13c-707530c026cb
      - bbed2cef-04f4-45db-81d1-6c6c3fb035da
      - b8800885-b16c-405c-a317-6cab8c2a2274
      - 67bce701-3fd3-4e44-ae45-7750dba14457
      - 57d15489-23e1-486c-b7a4-eacb30cde60d
      - 15efeba6-5edd-4635-95e4-3fa79aa1ebe1
      - 217704aa-6113-4da4-9baf-71d286b992d3
      - b4202a02-4cd3-4d9e-b5ec-6b6f52a3d69c
      - c1b75987-5e73-44a8-97da-8ad01424c3c5
      - 5cedfea8-bdfe-48ce-a456-d17aa080adec
      - 468a3ae7-9123-4ab4-996e-6bed89f7ca41
      - c5d4d1f6-d182-4920-a6bb-c0fd4793800c
      - df478aca-26dd-44f0-9a1a-5ae582beb3b9
      - 01efa7c2-bffa-49b9-a9f4-911b1e00cc57
      - 03bff09d-f03f-47ba-9600-1b509d48c626
      - 415139d0-295e-4406-b527-8a44250b4d05
      - d86713d3-44d2-471b-9892-115f29cec997
      - 1eda195a-f5cb-43a2-a3ff-c4fba6a14593
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2020-03-01-preview&force=true
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14994'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_recover000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2020-03-01-preview
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.OperationalInsights/workspaces/clitest000002''
        under resource group ''cli_test_monitor_workspace_recover000001'' was not
        found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
version: 1
