interactions:
- request:
    body: '{"location": "Global", "properties": {"enabled": true, "groupShortName":
      "cliactiongro", "incidentReceivers": [{"connection": {"id": "8be638e7-1419-42d4-a059-437a5f4f4e4e",
      "name": "testconn"}, "incidentManagementService": "Icm", "mappings": {"Icm.title":
      "${data.essentials.severity}:${data.essentials.monitorCondition} ${data.essentials.monitoringService}:${data.essentials.signalType}
      ${data.essentials.alertTargetIds}", "Icm.occurringlocation.environment": "PROD",
      "Icm.routingid": "${data.essentials.monitoringService}://${data.essentials.signalType}",
      "Icm.automitigationenabled": "true", "Icm.monitorid": "${data.essentials.alertRule}",
      "Icm.correlationid": "${data.essentials.signalType}://${data.essentials.originAlertId}",
      "Icm.tsgid": "https://microsoft.com"}, "name": "testag"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_incident000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2024-10-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_incident000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[],"incidentReceivers":[{"name":"testag","connection":{"Name":"testconn","id":"8be638e7-1419-42d4-a059-437a5f4f4e4e"},"mappings":{"Icm.title":"${data.essentials.severity}:${data.essentials.monitorCondition}
        ${data.essentials.monitoringService}:${data.essentials.signalType} ${data.essentials.alertTargetIds}","Icm.occurringlocation.environment":"PROD","Icm.routingid":"${data.essentials.monitoringService}://${data.essentials.signalType}","Icm.automitigationenabled":"true","Icm.monitorid":"${data.essentials.alertRule}","Icm.correlationid":"${data.essentials.signalType}://${data.essentials.originAlertId}","Icm.tsgid":"https://microsoft.com"},"incidentManagementService":"Icm"}]}}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview, 2024-10-01-preview
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - a10267db-135d-11f0-8b37-902e1671aeaf
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - WUS2ONEIM000000
    status:
      code: 201
      message: Created
[...]
