interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_table000001","name":"cli_test_monitor_workspace_table000001","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"product":"azurecli","cause":"automation","date":"2022-09-23T08:05:36Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westeurope", "properties": {"retentionInDays": 30, "sku":
      {"name": "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"bc914d6d-6e64-48aa-ae71-fc018dc6ade2\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Fri, 23 Sep 2022 08:05:49 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Fri, 23 Sep 2022 09:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Fri, 23 Sep 2022 08:05:49 GMT\",\r\n
        \   \"modifiedDate\": \"Fri, 23 Sep 2022 08:05:49 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/microsoft.operationalinsights/workspaces/ws-000002\",\r\n
        \ \"name\": \"ws-000002\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"westeurope\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"plan": "Analytics", "retentionInDays": 45, "schema": {"columns":
      [{"name": "col1", "type": "guid"}, {"name": "TimeGenerated", "type": "datetime"}],
      "name": "TB000003_CL"}, "totalRetentionInDays": 70}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL?api-version=2021-12-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/e2d7191d-4e2d-450c-8f83-1d782420ad3c?api-version=2015-11-01-preview
      cachecontrol:
      - no-cache
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL/operationresults/e2d7191d-4e2d-450c-8f83-1d782420ad3c?api-version=2021-12-01-preview
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/e2d7191d-4e2d-450c-8f83-1d782420ad3c?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Updating\",\r\n  \"name\": \"e2d7191d-4e2d-450c-8f83-1d782420ad3c\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/e2d7191d-4e2d-450c-8f83-1d782420ad3c\",\r\n
        \ \"startTime\": \"Fri, 23 Sep 2022 08:06:25 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/e2d7191d-4e2d-450c-8f83-1d782420ad3c?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"e2d7191d-4e2d-450c-8f83-1d782420ad3c\",\r\n
        \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/e2d7191d-4e2d-450c-8f83-1d782420ad3c\",\r\n
        \ \"startTime\": \"Fri, 23 Sep 2022 08:06:25 GMT\",\r\n  \"endTime\": \"Fri,
        23 Sep 2022 08:07:33 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"totalRetentionInDays\": 70,\r\n    \"archiveRetentionInDays\":
        25,\r\n    \"plan\": \"Analytics\",\r\n    \"retentionInDaysAsDefault\": false,\r\n
        \   \"totalRetentionInDaysAsDefault\": false,\r\n    \"schema\": {\r\n      \"tableSubType\":
        \"DataCollectionRuleBased\",\r\n      \"name\": \"TB000003_CL\",\r\n      \"tableType\":
        \"CustomLog\",\r\n      \"columns\": [\r\n        {\r\n          \"name\":
        \"col1\",\r\n          \"type\": \"guid\",\r\n          \"isDefaultDisplay\":
        false,\r\n          \"isHidden\": false\r\n        },\r\n        {\r\n          \"name\":
        \"TimeGenerated\",\r\n          \"type\": \"datetime\",\r\n          \"isDefaultDisplay\":
        false,\r\n          \"isHidden\": false\r\n        }\r\n      ],\r\n      \"standardColumns\":
        [\r\n        {\r\n          \"name\": \"TenantId\",\r\n          \"type\":
        \"guid\",\r\n          \"isDefaultDisplay\": false,\r\n          \"isHidden\":
        false\r\n        }\r\n      ],\r\n      \"solutions\": [\r\n        \"LogManagement\"\r\n
        \     ],\r\n      \"isTroubleshootingAllowed\": true\r\n    },\r\n    \"provisioningState\":
        \"Succeeded\",\r\n    \"retentionInDays\": 45\r\n  },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000003_CL\",\r\n
        \ \"name\": \"TB000003_CL\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"retentionInDays": 50, "searchResults": {"endSearchTime":
      "2021-08-01T21:29:18.000Z", "limit": 1, "query": "Heartbeat", "startSearchTime":
      "2021-07-31T21:29:18.000Z"}, "totalRetentionInDays": 80}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH?api-version=2021-12-01-preview
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/a3e80b9e-59d2-43ee-ad57-145beb4e754c?api-version=2015-11-01-preview
      cachecontrol:
      - no-cache
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH/operationresults/a3e80b9e-59d2-43ee-ad57-145beb4e754c?api-version=2021-12-01-preview
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/a3e80b9e-59d2-43ee-ad57-145beb4e754c?api-version=2015-11-01-preview
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"a3e80b9e-59d2-43ee-ad57-145beb4e754c\",\r\n
        \ \"properties\": {\r\n    \"resultStatistics\": {\r\n      \"progress\":
        100.0,\r\n      \"ingestedRecords\": 0,\r\n      \"scannedGb\": 0.0\r\n    }\r\n
        \ },\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.OperationalInsights/locations/westeurope/operationStatuses/a3e80b9e-59d2-43ee-ad57-145beb4e754c\",\r\n
        \ \"startTime\": \"Fri, 23 Sep 2022 08:09:43 GMT\",\r\n  \"endTime\": \"Fri,
        23 Sep 2022 08:11:03 GMT\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_table000001/providers/Microsoft.OperationalInsights/workspaces/ws-000002/tables/TB000004_SRCH?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"totalRetentionInDays\": 80,\r\n    \"archiveRetentionInDays\":
        30,\r\n    \"plan\": \"Analytics\",\r\n    \"lastPlanModifiedDate\": \"2022-09-23T08:09:43.387Z\",\r\n
        \   \"createDate\": \"2022-09-23T08:09:43.463Z\",\r\n    \"createdBy\": \"d64e4618-a7a0-41ff-a20c-1594fdde8c87\",\r\n
        \   \"retentionInDaysAsDefault\": false,\r\n    \"totalRetentionInDaysAsDefault\":
        false,\r\n    \"schema\": {\r\n      \"tableSubType\": \"DataCollectionRuleBased\",\r\n
        \     \"name\": \"TB000004_SRCH\",\r\n      \"tableType\": \"SearchResults\",\r\n
        \     \"columns\": [\r\n        {\r\n          \"name\": \"SourceSystem\",\r\n
        \         \"type\": \"string\",\r\n          \"isDefaultDisplay\": false,\r\n
   [...]
