interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2025-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"southcentralus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_create_disabled_activity_log_alert","date":"2025-07-04T08:02:12Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3749'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/activityLogAlerts/clialert000002?api-version=2020-10-01
  response:
    body:
      string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Insights/activityLogAlerts/clialert000002''
        under resource group ''clitest.rg000001'' was not found. For more details
        please go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 404
      message: Not Found
- request:
    body: '{"location": "Global", "properties": {"actions": {"actionGroups": []},
      "condition": {"allOf": [{"equals": "ServiceHealth", "field": "category"}]},
      "enabled": false, "scopes": ["/subscriptions/00000000-0000-0000-0000-000000000000"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/activityLogAlerts/clialert000002?api-version=2020-10-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Insights/activityLogAlerts/clialert000002\",\r\n
        \ \"name\": \"clialert000002\",\r\n  \"type\": \"Microsoft.Insights/ActivityLogAlerts\",\r\n
        \ \"location\": \"Global\",\r\n  \"properties\": {\r\n    \"scopes\": [\r\n
        \     \"/subscriptions/00000000-0000-0000-0000-000000000000\"\r\n    ],\r\n
        \   \"condition\": {\r\n      \"allOf\": [\r\n        {\r\n          \"field\":
        \"category\",\r\n          \"equals\": \"ServiceHealth\"\r\n        }\r\n
        \     ]\r\n    },\r\n    \"actions\": {\r\n      \"actionGroups\": []\r\n
        \   },\r\n    \"enabled\": false\r\n  }\r\n}"
    headers:
      api-supported-versions:
      - 2017-03-01-preview, 2017-04-01, 2020-10-01, 2023-01-01-preview
      arr-disable-session-affinity:
      - 'true'
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '199'
    status:
      code: 201
      message: Created
version: 1
