interactions:
- request:
    body: '{"location": "Global", "properties": {"enabled": true, "groupShortName":
      "cliactiongro"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - f7d61626-4268-11ee-9f5f-acde48001122
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '24'
      x-servedby:
      - EUS2ONEIM000008
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups?api-version=2022-06-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"cliactiongro","enabled":true,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]},"identity":null}]}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - fb0af79e-4268-11ee-9f5f-acde48001122
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
      x-servedby:
      - EUS2ONEIM000001
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "Global", "properties": {"armRoleReceivers": [], "automationRunbookReceivers":
      [], "azureAppPushReceivers": [], "azureFunctionReceivers": [], "emailReceivers":
      [], "enabled": true, "eventHubReceivers": [], "groupShortName": "new_name",
      "itsmReceivers": [], "logicAppReceivers": [], "smsReceivers": [], "voiceReceivers":
      [], "webhookReceivers": []}, "tags": {"owner": "alice"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cli[...]
[...]
- request:
    body: '{"location": "Global", "properties": {"armRoleReceivers": [{"name": "alicearmrole",
      "roleId": "abcde", "useCommonAlertSchema": true}], "automationRunbookReceivers":
      [{"automationAccountId": "alice_runbook", "isGlobalRunbook": false, "name":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest",
      "runbookName": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runbookTest/providers/Microsoft.Automation/automationAccounts/runbooktest/webhooks/Alert1510184037084",
      "serviceUri": "http://example.com", "useCommonAlertSchema": true, "webhookResourceId":
      "test_runbook"}], "azureAppPushReceivers": [{"emailAddress": "alice@example.com",
      "name": "alice_apppush"}], "azureFunctionReceivers": [{"functionAppResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aznsTest/providers/Microsoft.Web/sites/testFunctionApp",
      "functionName": "HttpTriggerCSharp1", "httpTriggerUrl": "http://test.me", "name":
      "azfunc", "useCommonAlertSchema": true}], "emailReceivers": [{"emailAddress":
      "alice@example.com", "name": "alice", "useCommonAlertSchema": true}], "enabled":
      true, "eventHubReceivers": [{"eventHubName": "187f412d-1758-44d9-b052-169e2564721d",
      "eventHubNameSpace": "testEventHub", "name": "alice_eventhub", "subscriptionId":
      "testEventHubNameSpace", "useCommonAlertSchema": false}], "groupShortName":
      "new_name", "itsmReceivers": [], "logicAppReceivers": [{"callbackUrl": "http://callback",
      "name": "alice_logicapp", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/LogicApp/providers/Microsoft.Logic/workflows/testLogicApp",
      "useCommonAlertSchema": false}], "smsReceivers": [], "voiceReceivers": [], "webhookReceivers":
      [{"name": "alice_web", "serviceUri": "https://www.example.com/alert?name=alice",
      "useAadAuth": false, "useCommonAlertSchema": true}]}, "tags": {"owner": "alice"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002?api-version=2022-06-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/microsoft.insights/actionGroups/cliactiongrouptest000002","type":"Microsoft.Insights/ActionGroups","name":"cliactiongrouptest000002","location":"Global","kind":null,"tags":{"owner":"alice"},"properties":{"groupShortName":"new_name","enabled":true,"emailReceivers":[{"name":"alice","emailAddress":"alice@example.com","useCommonAlertSchema":true,"status":"Enabled"}],"smsReceivers":[],"webhookReceivers":[{"name":"alice_web","serviceUri":"https://www.example.com/alert?name=alice","useCommonAlertSchema":true,"useAadAuth":false,"objectId":null,"identifierUri":null,"tenantId":null}],"eventHubReceivers":[{"name":"alice_eventhub","subscriptionId":"testEventHubNameSpace","eventHubNameSpace":"testEventHub","eventHubName":"187f412d-1758-44d9-b052-169e2564721d","useCommonAlertSchema":false,"tenantId":"54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}],"itsmReceivers":[],"azureAppPushReceivers":[{"name":"alice_apppush","emailAddress":"alice@example.com"}],"automationRunbookReceivers":[{"name":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/runbookTest/providers/Mic[...]
[...]
- request:
    body: '{"receiverName": "nonexist"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups/cliactiongrouptest000002/subscribe?api-version=2022-06-01
  response:
    body:
      string: '{"code":"ReceiverNotFound","message":"Could not find receiver with
        name nonexist in action group with Id CLI:5FTEST:5FMONITOR:5FAG:5FBASIC3SS46E3C5S45T62VEER5XBDYGWWC7CIYASY2BNUIM5G25GJLHA-CLIACTIONGROUPTESTCGCWDEGREZ73NS"}'
    headers:
      api-supported-versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01
      content-type:
      - application/json; charset=utf-8
      x-activityid:
      - 04b63bdc-4269-11ee-9f5f-acde48001122
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-servedby:
      - WUS2ONEIM000003
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_ag_basic000001/providers/Microsoft.Insights/actionGroups?api-version=2022-06-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '249'
    status:
      code: 200
      message: OK
version: 1
