interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule11?api-version=2021-09-01-preview
  response:
    body:
      string: '{"properties":{"immutableId":"dcr-431db915b50b4e76bfdf22d245f38a36","dataSources":{"performanceCounters":[{"streams":["Microsoft-InsightsMetrics"],"samplingFrequencyInSeconds":60,"counterSpecifiers":["\\Processor
        Information(_Total)\\% Processor Time"],"name":"perfCounter01"}]},"destinations":{"logAnalytics":[{"workspaceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/microsoft.operationalinsights/workspaces/wsn1","workspaceId":"08ce4007-5313-4638-8f38-c7ff8ed220cc","name":"wsn1"}],"azureMonitorMetrics":{"name":"azureMonitorMetrics-default"}},"dataFlows":[{"streams":["Microsoft-InsightsMetrics"],"destinations":["azureMonitorMetrics-default"]}],"provisioningState":"Succeeded"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule11","name":"rule11","type":"Microsoft.Insights/dataCollectionRules","etag":"\"ac00e471-0000-0700-0000-64be26d80000\"","systemData":{"createdBy":"liwang3@microsoft.com","createdByType":"User","createdAt":"2023-07-24T07:23:02.3778623Z","lastModifiedBy":"liwang3@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-07-24T07:23:02.3778623Z"}}'
    headers:
      api-supported-versions:
      - 2019-11-01-preview, 2021-04-01, 2021-09-01-preview, 2022-06-01, 2023-03-11
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/Microsoft.OperationalInsights/workspaces/wsn1?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"08ce4007-5313-4638-8f38-c7ff8ed220cc","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-24T07:10:16.0301603Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2023-07-24T22:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Enabled","publicNetworkAccessForQuery":"Enabled","createdDate":"2023-07-24T07:10:16.0301603Z","modifiedDate":"2023-07-24T07:23:27.7118374Z","defaultDataCollectionRuleResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule11"},"location":"westus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.OperationalInsights/workspaces/wsn1","name":"wsn1","type":"Microsoft.OperationalInsights/workspaces","etag":"\"0a00eb0e-0000-0700-0000-64be23da0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"etag": "\"0a00eb0e-0000-0700-0000-64be23da0000\"", "location": "westus",
      "properties": {"defaultDataCollectionRuleResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/tbtest/providers/Microsoft.Insights/dataCollectionRules/rule11",
      "features": {"enableLogAccessUsingOnlyResourcePermissions": true}, "publicNetworkAccessForIngestion":
      "Enabled", "publicNetworkAccessForQuery": "Enabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}, "workspaceCapping": {"dailyQuotaGb": -1.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/tbtest/providers/Microsoft.OperationalInsights/workspaces/wsn1?api-version=2022-10-01
  response:
    body:
      string: '{"properties":{"customerId":"08ce4007-5313-4638-8f38-c7ff8ed220cc","provisioningState":"Succeeded","sku":{"name":"PerGB2018","lastSkuUpdate":"2023-07-24T07:10:16.0301603Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion[...]
