interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_public_access000001?api-version=2022-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001","name":"cli_test_monitor_workspace_public_access000001","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"product":"azurecli","cause":"automation","test":"test_monitor_log_analytics_workspace_public_access","date":"2025-02-22T07:23:37Z","module":"monitor"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '3746'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "eastus", "properties": {"publicNetworkAccessForIngestion":
      "Disabled", "publicNetworkAccessForQuery": "Disabled", "retentionInDays": 30,
      "sku": {"name": "PerGB2018"}}, "tags": {"clitest": "myron"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"f4972664-258a-4f62-80a2-867a70517abb","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-02-22T07:23:42.1473541Z"},"retentionInDays":30,"features":{"legacy":0,"searchVersion":1,"enableLogAccessUsingOnlyResourcePermissions":true},"workspaceCapping":{"dailyQuotaGb":-1.0,"quotaNextResetTime":"2025-02-22T23:00:00Z","dataIngestionStatus":"RespectQuota"},"publicNetworkAccessForIngestion":"Disabled","publicNetworkAccessForQuery":"Disabled","createdDate":"2025-02-22T07:23:42.1473541Z","modifiedDate":"2025-02-22T07:23:42.1473541Z"},"location":"eastus","tags":{"clitest":"myron"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002","name":"clitest000002","type":"Microsoft.OperationalInsights/workspaces","etag":"\"31001d5a-0000-0100-0000-67b97b7e0000\""}'
    headers:
      api-supported-versions:
      - 2015-03-20, 2020-08-01, 2020-10-01, 2021-06-01, 2022-10-01, 2023-09-01, 2025-02-01,
        2025-04-01
      content-type:
      - application/json; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2998'
      x-ms-ratelimit-remaining-subscription-writes:
      - '198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_monitor_workspace_public_access000001/providers/Microsoft.OperationalInsights/workspaces/clitest000002?api-version=2023-09-01
  response:
    body:
      string: '{"properties":{"customerId":"f4972664-258a-4f62-80a2-867a70517abb","provisioningState":"Creating","sku":{"name":"PerGB2018","lastSkuUpdate":"2025-02-22T07:23:42.1473541Z[...]
[...]
