interactions:
- request:
    body: !!python/unicode '{"location": "eastus", "tags": {"date": "2018-09-24T22:47:42Z",
      "product": "azurecli", "cause": "automation"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdicli-000001?api-version=2018-05-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001","name":"hdicli-000001","location":"eastus","tags":{"date":"2018-09-24T22:47:42Z","product":"azurecli","cause":"automation"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "properties":
      {"supportsHttpsTrafficOnly": false, "isHnsEnabled": false}, "location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/d392adfd-590a-4684-a64a-257bd3b29328?monitor=true&api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/d392adfd-590a-4684-a64a-257bd3b29328?monitor=true&api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"trustedDirectories":["72f988bf-86f1-41af-91ab-2d7cd011db47"],"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-09-24T22:47:45.6333597Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-09-24T22:47:45.6333597Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-09-24T22:47:45.4925150Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2018-03-01-preview
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","value":"UE3pUgqLUpsvNFraxcD6bdNeXK+nlDcMK5GpzC6O3yLvViP/yl/elrtTXVPuGVTlM9r0O4ezHjV9x1VuksOcUQ==","permissions":"FULL"},{"keyName":"key2","value":"411aTuc3FjioCUwFtIUg6NLobEMRhJPHuWWtHb7y9xapg98yk8xNyD5fVu1Dan6C+cRJtbq5gM72QphXxcZuBA==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"storageProfile": {"storageaccounts":
      [{"key": "UE3pUgqLUpsvNFraxcD6bdNeXK+nlDcMK5GpzC6O3yLvViP/yl/elrtTXVPuGVTlM9r0O4ezHjV9x1VuksOcUQ==",
      "container": "default", "name": "hdicli000002.blob.core.windows.net", "isDefault":
      true}]}, "computeProfile": {"roles": [{"hardwareProfile": {"vmSize": "large"},
      "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser", "password":
      "Password1!"}}, "targetInstanceCount": 2, "name": "headnode"}, {"hardwareProfile":
      {"vmSize": "large"}, "dataDisksGroups": [{"disksPerNode": 4}], "osProfile":
      {"linuxOperatingSystemProfile": {"username": "sshuser", "password": "Password1!"}},
      "targetInstanceCount": 3, "name": "workernode"}]}, "clusterVersion": "default",
      "osType": "Linux", "clusterDefinition": {"kind": "kafka", "configurations":
      {"gateway": {"restAuthCredential.isEnabled": "true", "restAuthCredential.username":
      "admin", "restAuthCredential.password": "Password1!"}}}}, "location": "eastus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2015-03-01-preview
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"East
        US","etag":"4116c4e3-acd6-4315-ba65-a428a420f8df","tags":null,"properties":{"clusterVersion":"3.6.1000.65","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/kafka-3.6.1000.65.1808181812.json","kind":"kafka","componentVersion":{"kafka":"1.0"}},"computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"dataDisksGroups":[{"disksPerNode":4,"storageAccountType":"Standard_LRS","diskSizeGB":1023}],"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2018-09-24T22:48:08.907","quotaInfo":{"coresUsed":20},"tier":"standard"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2015-03-01-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['"4116c4e3-acd6-4315-ba65-a428a420f8df"']
      x-ms-hdi-clusteruri: ['https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-2gyax/providers/Microsoft.HDInsight/clusters/hdicli-es73mlwnm?api-version=2015-03-01-preview']
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [eastus]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2015-03-01-preview
  response:
    body: {string: !!python/unicode '{"status":"InProgress"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [eastus]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdicli-000001?api-version=2018-05-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElDTEk6MkQyR1lBWC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
