interactions:
- request:
    body: '{"location": "northcentralus", "tags": {"product": "azurecli", "cause":
      "automation", "date": "2018-12-19T13:58:46Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdicli-000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001","name":"hdicli-000001","location":"northcentralus","tags":{"product":"azurecli","cause":"automation","date":"2018-12-19T13:58:46Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location": "northcentralus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002?api-version=2018-07-01
  response:
    body: {string: ''}
    headers:
      content-type: [text/plain; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northcentralus/asyncoperations/b86f4fc2-d936-4fd2-976c-8f6aab125e82?monitor=true&api-version=2018-07-01']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northcentralus/asyncoperations/b86f4fc2-d936-4fd2-976c-8f6aab125e82?monitor=true&api-version=2018-07-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002","name":"hdicli000002","type":"Microsoft.Storage/storageAccounts","location":"northcentralus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2018-12-19T13:58:57.1742657Z"},"blob":{"enabled":true,"lastEnabledTime":"2018-12-19T13:58:57.1742657Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2018-12-19T13:58:57.0960998Z","primaryEndpoints":{"blob":"https://hdicli000002.blob.core.windows.net/","queue":"https://hdicli000002.queue.core.windows.net/","table":"https://hdicli000002.table.core.windows.net/","file":"https://hdicli000002.file.core.windows.net/"},"primaryLocation":"northcentralus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.Storage/storageAccounts/hdicli000002/listKeys?api-version=2018-07-01
  response:
    body: {string: '{"keys": [{"keyName": "key1", "value": "veryFakedStorageAccountKey==",
        "permissions": "FULL"}, {"keyName": "key2", "value": "veryFakedStorageAccountKey==",
        "permissions": "FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "northcentralus", "properties": {"clusterVersion": "default",
      "osType": "Linux", "clusterDefinition": {"kind": "spark", "configurations":
      {"gateway": {"restAuthCredential.isEnabled": "true", "restAuthCredential.username":
      "admin", "restAuthCredential.password": "Password1!"}}}, "computeProfile": {"roles":
      [{"name": "headnode", "targetInstanceCount": 2, "hardwareProfile": {"vmSize":
      "large"}, "osProfile": {"linuxOperatingSystemProfile": {"username": "sshuser",
      "password": "Password1!"}}}, {"name": "workernode", "targetInstanceCount": 3,
      "hardwareProfile": {"vmSize": "large"}, "osProfile": {"linuxOperatingSystemProfile":
      {"username": "sshuser", "password": "Password1!"}}}]}, "storageProfile": {"storageaccounts":
      [{"name": "hdicli000002.blob.core.windows.net", "isDefault": true, "container":
      "default", "key": "XomhLGwOL5KQ8GBbvD5UFro+eTvuWJOe4BEQPg++iQVD8svG374Mif88YUBBPVu6nzgj7RPv/2YUInQm/DvKfg=="}]}}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003?api-version=2018-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003","name":"hdicli-000003","type":"Microsoft.HDInsight/clusters","location":"North
        Central US","etag":"111674c9-be71-43e1-a9f1-351f7d58d787","tags":null,"properties":{"clusterVersion":"3.6.1000.67","clusterHdpVersion":"","osType":"Linux","clusterDefinition":{"blueprint":"https://blueprints.azurehdinsight.net/spark-3.6.1000.67.1812120705.json","kind":"spark","componentVersion":{"spark":"2.3"}},"computeProfile":{"roles":[{"name":"headnode","targetInstanceCount":2,"hardwareProfile":{"vmSize":"large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false},{"name":"workernode","targetInstanceCount":3,"hardwareProfile":{"vmSize":"large"},"osProfile":{"linuxOperatingSystemProfile":{"username":"sshuser"}},"encryptDataDisks":false}]},"provisioningState":"InProgress","clusterState":"Accepted","createdDate":"2018-12-19T13:59:22.267","quotaInfo":{"coresUsed":20},"tier":"standard"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2018-06-01-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['"111674c9-be71-43e1-a9f1-351f7d58d787"']
      x-ms-hdi-clusteruri: ['https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-bw6a4/providers/Microsoft.HDInsight/clusters/hdicli-ydjnwnkac?api-version=2018-06-01-preview']
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2018-06-01-preview
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"computeProfile": {"roles": [{"name": "edgenode", "targetInstanceCount":
      1, "hardwareProfile": {"vmSize": "Standard_D3_V2"}}]}, "installScriptActions":
      [{"name": "InstallHue", "uri": "https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh",
      "parameters": "-version latest -port 20000", "roles": ["edgenode"]}], "httpsEndpoints":
      [], "sshEndpoints": [], "applicationType": "CustomApplication"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2018-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"19BB0644-2533-4B1F-9DE0-741F54A89851","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"hardwareProfile":{"vmSize":"Standard_D3_V2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[],"provisioningState":"InProgress","applicationState":"Accepted","createdDate":"2018-12-19T14:21:41.337","applicationType":"CustomApplication"}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/create?api-version=2018-06-01-preview']
      content-type: [application/json; charset=utf-8]
      etag: ['"19BB0644-2533-4B1F-9DE0-741F54A89851"']
      x-ms-hdi-appuri: ['https://management.azure.com/subscriptions/964c10bb-8a6c-43bc-83d3-6b318c6c7305/resourceGroups/hdicli-bw6a4/providers/Microsoft.HDInsight/clusters/hdicli-ydjnwnkac/applications/hdicliapp-owbz4k?api-version=2018-06-01-preview']
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2018-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"E2856319-8CC2-443B-B1A5-2DE866960182","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"hardwareProfile":{"vmSize":"Standard_D3_V2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[],"provisioningState":"InProgress","applicationState":"AzureVMConfiguration","createdDate":"2018-12-19T14:21:41.337","applicationType":"CustomApplication"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004?api-version=2018-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliapp-000004","type":"Microsoft.HDInsight/clusters/applications","etag":"C6C41965-C03D-4471-A573-146A2DFFDFB2","tags":null,"properties":{"computeProfile":{"roles":[{"name":"edgenode","targetInstanceCount":1,"hardwareProfile":{"vmSize":"Standard_D3_V2"},"encryptDataDisks":false}]},"installScriptActions":[{"name":"InstallHue","uri":"https://hdiconfigactions.blob.core.windows.net/linuxhueconfigactionv02/install-hue-uber-v02.sh","roles":["edgenode"]}],"uninstallScriptActions":[],"httpsEndpoints":[],"sshEndpoints":[{"location":null,"destinationPort":22,"publicPort":22}],"provisioningState":"InProgress","applicationState":"ApplicationConfiguration","createdDate":"2018-12-19T14:21:41.337","applicationType":"CustomApplication"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications?api-version=2018-06-01-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/applications/hdicliapp-000004","name":"hdicliap[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/hdicli-000001/providers/Microsoft.HDInsight/clusters/hdicli-000003/azureasyncoperations/031d07a7-fb0f-4b10-94cc-aeead12f7b6a-0-r?api-version=2018-06-01-preview
  response:
    body: {string: '{"status":"InProgress"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-hdi-matched-rule: [ClusterResourcesAndSubResources]
      x-ms-hdi-routed-to: [RegionalRp]
      x-ms-hdi-served-by: [northcentralus]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/hdicli-000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1IRElDTEk6MkRCVzZBNC1OT1JUSENFTlRSQUxVUyIsImpvYkxvY2F0aW9uIjoibm9ydGhjZW50cmFsdXMifQ?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
