interactions:
- request:
    body: !!python/unicode '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode '{"sku": {"name": "Standard_LRS"}, "kind": "Storage", "location":
      "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2016-12-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/6a37dcde-5a1a-4174-8793-646b5489313c?monitor=true&api-version=2016-12-01']
      retry-after: ['17']
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/operations/6a37dcde-5a1a-4174-8793-646b5489313c?monitor=true&api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","kind":"Storage","location":"westus","name":"clitest000002","properties":{"creationTime":"2017-03-08T19:45:35.4920495Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","file":"https://clitest000002.file.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/"},"primaryLocation":"westus","provisioningState":"Succeeded","statusOfPrimary":"available"},"sku":{"name":"Standard_LRS","tier":"Standard"},"tags":{},"type":"Microsoft.Storage/storageAccounts"}

'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"type": "Microsoft.ContainerRegistry/registries", "name":
      "clireg000004"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"nameAvailable":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceType%20eq%20%27Microsoft.Storage%2FstorageAccounts%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg06217a581eb5a4efcdd57ce091a0c81b5502c97158f6275ffaa4448102fe249b/providers/Microsoft.Storage/storageAccounts/clirege9bb8025b954231327","name":"clirege9bb8025b954231327","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"westus","tags":{"containerregistry":"clirege9bb8025b954f44a24be7c7fb4e6499219c2a1746ef9"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg06217a581eb5a4efcdd57ce091a0c81b5502c97158f6275ffaa4448102fe249b/providers/Microsoft.Storage/storageAccounts/cliteste92863d0d00967bac","name":"cliteste92863d0d00967bac","type":"Microsoft.Storage/storageAccounts","sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","location":"westus","tags":{}},{"id":"/subscriptions/00000000-0000-0000-0000-0000000[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2016-12-01
  response:
    body: {string: !!python/unicode '{"keys":[{"keyName":"key1","permissions":"Full","value":"81lCr4dSkXtuThmJGyLsS2/dWvsjDJZYulAtdd1C/xrpyR3LeLUjYAjfniXv6FwRUkLYV9ODs84ixxqM7HV8Hw=="},{"keyName":"key2","permissions":"Full","value":"9cCdqYVmI95StzLAIbtf2IAJKqJd/FRInNeyx3lqoyKpm+VMI2CPR0wNkfTUtR+4dZF6KophquwKz5OW8BzLtg=="}]}

'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1181']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"properties": {"storageAccount": {"accessKey": "81lCr4dSkXtuThmJGyLsS2/dWvsjDJZYulAtdd1C/xrpyR3LeLUjYAjfniXv6FwRUkLYV9ODs84ixxqM7HV8Hw==",
      "name": "clitest000002"}, "adminUserEnabled": false}, "location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{},"properties":{"loginServer":"clireg000004-microsoft.azurecr.io","creationDate":"2017-03-08T19:46:36.4725021Z","adminUserEnabled":false,"storageAccount":{"name":"clitest000002"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 200, message: OK}
- request:
    body: !!python/unicode '{"type": "Microsoft.ContainerRegistry/registries", "name":
      "clireg000004"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/checkNameAvailability?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"nameAvailable":false,"reason":"AlreadyExists","message":"The
        registry clireg000004 is already in use."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"value":[{"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{},"properties":{"loginServer":"clireg000004-microsoft.azurecr.io","creationDate":"2017-03-08T19:46:38.2679563Z","adminUserEnabled":false,"storageAccount":{"name":"clitest000002"}}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004/getCredentials?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"username":"clireg000004","password":"+6=/+E=+/Gwmv+f9FGXS=y+=/d8He6Aa"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1187']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004/regenerateCredentials?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"username":"clireg000004","password":"/++D7N+7J+m+WBx/r7+X+krfx0=S2rCo"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1185']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resources?api-version=2016-09-01&$filter=resourceType%20eq%20%27Microsoft.ContainerRegistry%2Fregistries%27
  response:
    body: {string: !!python/unicode '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg06217a581eb5a4efcdd57ce091a0c81b5502c97158f6275ffaa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://clireg000004-microsoft.azurecr.io/v2/_catalog
  response:
    body: {string: !!python/unicode '{"repositories":[]}

'}
    headers:
      content-type: [application/json; charset=utf-8]
      docker-distribution-api-version: [registry/2.0]
    status: {code: 200, message: OK}
[...]
- request:
    body: !!python/unicode '{"properties": {"storageAccount": {"accessKey": "AOZk2BaVqm5nozDAGOqAcL1o5WqURVOBwEW6HH90Iiw7NrmGM0qaOQvlebXHvs/gXLFQGcjZC4z+M47E/wvJSw==",
      "name": "clitest000003"}, "adminUserEnabled": false}, "tags": {"foo": "bar",
      "cat": ""}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004?api-version=2016-06-27-preview
  response:
    body: {string: !!python/unicode '{"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerRegistry/registries/clireg000004","name":"clireg000004","location":"westus","tags":{"foo":"bar","cat":""},"properties":{"loginServer":"clireg000004-microsoft.azurecr.io","creationDate":"2017-03-08T19:46:50.1951915Z","adminUserEnabled":false,"storageAccount":{"name":"clitest000003"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1184']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2016-09-01
  response:
    body: {string: !!python/unicode ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdEMzhCQ0IzODdCNkNGMzFFQTUyRUIxOUYzOTNFNzE0RDRDNnw4MUFGOUI1QTE5QkU0QkEyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2016-09-01']
      retry-after: ['15']
      x-ms-ratelimit-remaining-subscription-writes: ['1186']
    status: {code: 202, message: Accepted}
version: 1
