interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"WawtUbq4YqI3HA/9Vzfu+3PxoYh4Gl8IoMaRrDdMkquUcqyyoVBqfXDUQ9k5SHBpArcuKtWcG2BoRkAqMqm+5Q==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"keyName": "key2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/regenerateKey?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"WawtUbq4YqI3HA/9Vzfu+3PxoYh4Gl8IoMaRrDdMkquUcqyyoVBqfXDUQ9k5SHBpArcuKtWcG2BoRkAqMqm+5Q==","permissions":"FULL"},{"keyName":"key2","value":"dXxKRkQ+g3GlL5/1b2OnQ5PBCYEnBnesxgagdRebuYzgxSyVHeiaZKIWlxJ7EwP8bu5RXaF4BQuQk0G1ZCdwHA==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
