interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11980'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:36:51 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:36:53 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:36:55 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:36:58 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:01 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:04 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:13 GMT
      x-ms-version:
      - '2017-11-09'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de9d9b07-072e-40ed-86a0-2f495b523659</MessageId><InsertionTime>Mon,
        17 Aug 2020 08:37:14 GMT</InsertionTime><ExpirationTime>Mon, 24 Aug 2020 08:37:14
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAF/qKm3F01gE=</PopReceipt><TimeNextVisible>Mon,
        17 Aug 2020 08:37:14 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:14 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de9d9b07-072e-40ed-86a0-2f495b523659</MessageId><InsertionTime>Mon,
        17 Aug 2020 08:37:14 GMT</InsertionTime><ExpirationTime>Mon, 24 Aug 2020 08:37:14
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:18 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/de9d9b07-072e-40ed-86a0-2f495b523659?popreceipt=AgAAAAMAAAAAAAAAw8KUr3F01gE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAA6/BAn3F01gEBAAAA
      x-ms-time-next-visible:
      - Mon, 17 Aug 2020 08:37:20 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:27 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>de9d9b07-072e-40ed-86a0-2f495b523659</MessageId><InsertionTime>Mon,
        17 Aug 2020 08:37:14 GMT</InsertionTime><ExpirationTime>Mon, 24 Aug 2020 08:37:14
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>ac3bc298-0036-4b48-8f8e-467c4f3f0228</MessageId><InsertionTime>Mon,
        17 Aug 2020 08:37:25 GMT</InsertionTime><ExpirationTime>Mon, 24 Aug 2020 08:37:25
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>7b973226-fdae-4e9a-892b-a0ed60b6583e</MessageId><InsertionTime>Mon,
        17 Aug 2020 08:37:26 GMT</InsertionTime><ExpirationTime>Mon, 24 Aug 2020 08:37:26
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:30 GMT
      x-ms-version:
      - '2017-11-09'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/de9d9b07-072e-40ed-86a0-2f495b523659?popreceipt=AgAAAAMAAAAAAAAAq4QVt3F01gE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:41 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:4556ed37-e003-0100-6371-747736000000\nTime:2020-08-17T08:37:42.7759866Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - QueueNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 17 Aug 2020 08:37:42 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
version: 1
