interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:33 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F1FE8EC035"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:34 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:34 GMT
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F1FF32E0F1"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:35 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:36 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F1FE8EC035"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:34 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-share-quota:
      - '5120'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:37 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000004?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F1FF32E0F1"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:35 GMT
      x-ms-meta-cat:
      - hat
      x-ms-meta-foo:
      - bar
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:38 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/?comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\"><MaxResults>5000</MaxResults><Shares><Share><Name>share000003</Name><Properties><Last-Modified>Mon,\
        \ 15 Jul 2019 06:59:34 GMT</Last-Modified><Etag>\"0x8D708F1FE8EC035\"</Etag><Quota>5120</Quota></Properties></Share><Share><Name>share000004</Name><Properties><Last-Modified>Mon,\
        \ 15 Jul 2019 06:59:35 GMT</Last-Modified><Etag>\"0x8D708F1FF32E0F1\"</Etag><Quota>5120</Quota></Properties></Share></Shares><NextMarker\
        \ /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:39 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F2041B93C3"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:44 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:48 GMT
      x-ms-share-quota:
      - '3'
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F20713980D"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:49 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '131072'
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:50 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F2088B2FEB"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:51 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:53 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D708F209BFB4DA"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:53 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:54 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:56 GMT
      x-ms-range:
      - bytes=0-511
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 0-511/131072
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D708F209BFB4DA"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:53 GMT
      x-ms-server-encrypted:
      - 'true'
      x-ms-type:
      - File
      x-ms-version:
      - '2017-11-09'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-content-length:
      - '1234'
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:57 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F20CC3C498"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:58 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:59 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F20E0AEBA0"'
      last-modified:
      - Mon, 15 Jul 2019 07:00:00 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:04 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"\
        share000003\" DirectoryPath=\"\"><MaxResults>5000</MaxResults><Entries><File><Name>sample_file.bin</Name><Properties><Content-Length>1234</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-type:
      - test/type
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:05 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F21190F50E"'
      last-modified:
      - Mon, 15 Jul 2019 07:00:06 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:08 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/sample_file.bin
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:10 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F21426E621"'
      last-modified:
      - Mon, 15 Jul 2019 07:00:10 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:11 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=directory&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"\
        share000003\" DirectoryPath=\"\"><Entries><Directory><Name>dir000005</Name><Properties\
        \ /></Directory></Entries><NextMarker /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:13 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=metadata
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F2161ACAA9"'
      last-modified:
      - Mon, 15 Jul 2019 07:00:14 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-length:
      - '65536'
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:19 GMT
      x-ms-type:
      - file
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005/testfile.txt
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F219A281FE"'
      last-modified:
      - Mon, 15 Jul 2019 07:00:20 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
      \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:24 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory&comp=list&maxresults=5000
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.file.core.windows.net/\" ShareName=\"\
        share000003\" DirectoryPath=\"dir000005\"><MaxResults>5000</MaxResults><Entries><File><Name>testfile.txt</Name><Properties><Content-Length>65536</Content-Length></Properties></File></Entries><NextMarker\
        \ /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:25 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><ShareStats><ShareUsage>1</ShareUsage></ShareStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:27 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.file.core.windows.net/share000003/testfile.txt
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:29 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.file.core.windows.net/share000003/dir000005?restype=directory
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The\
        \ specified resource does not exist.\nRequestId:7debcfea-901a-0137-0dda-3ada8c000000\n\
        Time:2019-07-15T07:00:32.7978911Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - ResourceNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified resource does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 07:00:37 GMT
      x-ms-version:
      - '2017-11-09'
    method: DELETE
    uri: https://clitest000002.file.core.windows.net/share000003?restype=share
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 202
      message: Accepted
version: 1
