interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2019-03-19T16:37:22Z"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2019-03-19T16:37:22Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: '{"sku": {"name": "Standard_RAGRS"}, "kind": "Storage", "location": "westus",
      "properties": {"supportsHttpsTrafficOnly": false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2017-10-01
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/4b2d4832-df05-4ca5-8d50-2a103f7a1fb0?monitor=true&api-version=2017-10-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus/asyncoperations/4b2d4832-df05-4ca5-8d50-2a103f7a1fb0?monitor=true&api-version=2017-10-01
  response:
    body:
      string: '{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":false,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-03-19T16:37:25.0051743Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-03-19T16:37:25.0051743Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2019-03-19T16:37:24.8489421Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available","secondaryLocation":"eastus","statusOfSecondary":"available","secondaryEndpoints":{"blob":"https://clitest000002-secondary.blob.core.windows.net/","queue":"https://clitest000002-secondary.queue.core.windows.net/","table":"https://clitest000002-secondary.table.core.windows.net/"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:44 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:45 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:45 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:46 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:47 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: b"<?xml version='1.0' encoding='utf-8'?>\n<SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>"
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:47 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:51 GMT
      x-ms-version:
      - '2017-11-09'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a8de6a-c2d0-4d7b-bcd5-e4e7fcc68d19</MessageId><InsertionTime>Tue,
        19 Mar 2019 16:37:51 GMT</InsertionTime><ExpirationTime>Tue, 26 Mar 2019 16:37:51
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAiktUGHLe1AE=</PopReceipt><TimeNextVisible>Tue,
        19 Mar 2019 16:37:51 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:51 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a8de6a-c2d0-4d7b-bcd5-e4e7fcc68d19</MessageId><InsertionTime>Tue,
        19 Mar 2019 16:37:51 GMT</InsertionTime><ExpirationTime>Tue, 26 Mar 2019 16:37:51
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:52 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/59a8de6a-c2d0-4d7b-bcd5-e4e7fcc68d19?popreceipt=AgAAAAMAAAAAAAAASYKrKnLe1AE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAk2qbGXLe1AEBAAAA
      x-ms-time-next-visible:
      - Tue, 19 Mar 2019 16:37:53 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:56 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>59a8de6a-c2d0-4d7b-bcd5-e4e7fcc68d19</MessageId><InsertionTime>Tue,
        19 Mar 2019 16:37:51 GMT</InsertionTime><ExpirationTime>Tue, 26 Mar 2019 16:37:51
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>844fcb45-21e1-464f-8cb5-3d475f889226</MessageId><InsertionTime>Tue,
        19 Mar 2019 16:37:55 GMT</InsertionTime><ExpirationTime>Tue, 26 Mar 2019 16:37:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>815b959a-b36b-4c3b-8484-0120f626a173</MessageId><InsertionTime>Tue,
        19 Mar 2019 16:37:55 GMT</InsertionTime><ExpirationTime>Tue, 26 Mar 2019 16:37:55
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:56 GMT
      x-ms-version:
      - '2017-11-09'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/59a8de6a-c2d0-4d7b-bcd5-e4e7fcc68d19?popreceipt=AgAAAAMAAAAAAAAAlkUmLXLe1AE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-11-09'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:58 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:b9ffd731-d003-007a-3172-de3e99000000\nTime:2019-03-19T16:37:58.9099163Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - QueueNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Tue, 19 Mar 2019 16:37:59 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdDVFFENDNFQ0JTN0JPSUdIT0xHVU9YUktQQ0dLM0VIUFBBVHwyQzUwREY3RDkwNDYyNUU3LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
version: 1
