interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2017-10-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:34 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F1FEFBAA61"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:35 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:35 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body:
      string: ''
    headers:
      x-ms-error-code:
      - BlobNotFound
      x-ms-version:
      - '2017-11-09'
    status:
      code: 404
      message: The specified blob does not exist.
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:37 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body:
      string: ''
    headers:
      content-md5:
      - DzQ7CTESaiDxM9Z8KwGKOw==
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D708F2004A5AAE"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:37 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 15 Jul 2019 06:59:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:38 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container&comp=list&maxresults=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000004\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000003</Name><Properties><Creation-Time>Mon,\
        \ 15 Jul 2019 06:59:37 GMT</Creation-Time><Last-Modified>Mon, 15 Jul 2019\
        \ 06:59:37 GMT</Last-Modified><Etag>0x8D708F2004A5AAE</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5>DzQ7CTESaiDxM9Z8KwGKOw==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-type:
      - application/test-content
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:41 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003?comp=properties
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F202E4DF8B"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:41 GMT
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:45 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/?restype=service&comp=properties
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceProperties><Logging><Version>1.0</Version><Read>false</Read><Write>false</Write><Delete>false</Delete><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></Logging><HourMetrics><Version>1.0</Version><Enabled>true</Enabled><IncludeAPIs>true</IncludeAPIs><RetentionPolicy><Enabled>true</Enabled><Days>7</Days></RetentionPolicy></HourMetrics><MinuteMetrics><Version>1.0</Version><Enabled>false</Enabled><RetentionPolicy><Enabled>false</Enabled></RetentionPolicy></MinuteMetrics><Cors\
        \ /><DeleteRetentionPolicy><Enabled>false</Enabled></DeleteRetentionPolicy></StorageServiceProperties>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:46 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:47 GMT
      x-ms-range:
      - bytes=10-499
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000004/blob000003
  response:
    body:
      string: "\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\
        \0\0\0\0\0\0\0\0\0\0\0\0"
    headers:
      content-range:
      - bytes 10-499/1024
      etag:
      - '"0x8D708F20430608C"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:44 GMT
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 15 Jul 2019 06:59:37 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '1024'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:51 GMT
      x-ms-version:
      - '2017-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000006/blob000005
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D708F20909F32E"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:52 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:52 GMT
      x-ms-version:
      - '2017-11-09'
    method: HEAD
    uri: https://clitest000002.blob.core.windows.net/cont000006/blob000005
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D708F20909F32E"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:52 GMT
      x-ms-blob-sequence-number:
      - '0'
      x-ms-blob-type:
      - PageBlob
      x-ms-creation-time:
      - Mon, 15 Jul 2019 06:59:52 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:53 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000006?restype=container&comp=list&maxresults=1
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://clitest000002.blob.core.windows.net/\" ContainerName=\"\
        cont000006\"><MaxResults>1</MaxResults><Blobs><Blob><Name>blob000005</Name><Properties><Creation-Time>Mon,\
        \ 15 Jul 2019 06:59:52 GMT</Creation-Time><Last-Modified>Mon, 15 Jul 2019\
        \ 06:59:52 GMT</Last-Modified><Etag>0x8D708F20909F32E</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-MD5 /><Cache-Control /><Content-Disposition\
        \ /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 15 Jul 2019 06:59:55 GMT
      x-ms-version:
      - '2017-11-09'
    method: GET
    uri: https://clitest000002.blob.core.windows.net/cont000006/blob000005?comp=pagelist
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><PageList />"
    headers:
      content-type:
      - application/xml
      etag:
      - '"0x8D708F20909F32E"'
      last-modified:
      - Mon, 15 Jul 2019 06:59:52 GMT
      x-ms-blob-content-length:
      - '1024'
      x-ms-version:
      - '2017-11-09'
    status:
      code: 200
      message: OK
[...]
