interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations/250b059f-a064-105c-6856-d037c4aa3c85","name":"250b059f-a064-105c-6856-d037c4aa3c85","properties":{"category":"Security","impact":"High","impactedField":"","impactedValue":"","lastUpdated":"2017-11-16T00:08:22.0982391Z","risk":"None","shortDescription":{"problem":"Improve
        the security of your Azure resources","solution":"Follow Security Center recommendations"}},"type":"Microsoft.Advisor/recommendations"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/COSMOSDATA/providers/Microsoft.Compute/virtualMachines/azatestvm/providers/Microsoft.Advisor/recommendations/1ec598a8-b9c1-e94f-1ddc-764c7fb19de3","name":"1ec598a8-b9c1-e94f-1ddc-764c7fb19de3","properties":{"category":"Security","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"azatestvm","lastUpdated":"2017-11-16T00:08:22.0982391Z","risk":"None","shor[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19&$filter=Category%20eq%20%27cost%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/87138a17-05c2-cdbb-a981-177b7b25c347","name":"87138a17-05c2-cdbb-a981-177b7b25c347","properties":{"category":"Cost","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"vmnobackup1","lastUpdated":"2017-11-15T22:16:22.0021142Z","risk":"None","shortDescription":{"problem":"Your
        virtual machine has low usage","solution":"Right-size or shutdown underutilized
        virtual machines"},"suppressionIds":["6ea7a170-95fc-d03f-b77c-7df0dfe01c19"]},"type":"Microsoft.Advisor/recommendations","hardwareDetails":{"resourceId":"y8fx4nayf4ptcckwy6pri8bbx5z4mwufo9ax4nayrti71j3x5pdwtc7y4imyqeyy6a","size":"Standard_D1_v2"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iscutoff: ['False']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"ttl": "1:00:00:00"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/%2Fsubscriptions%2F658c8950-e79d-4704-a903-1df66ba90258%2FresourceGroups%2Ffunctionaltest%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fvmnobackup1/providers/Microsoft.Advisor/recommendations/87138a17-05c2-cdbb-a981-177b7b25c347/suppressions/e90eb746-caa0-4304-9e1d-88c4408878f5?api-version=2017-04-19
  response:
    body: {string: '{"properties":{"suppressionId":"064c4183-a163-0f54-d774-ef201a42b2b6","ttl":"1:00:00:00"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/suppressions?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/87138a17-05c2-cdbb-a981-177b7b25c347/suppressions/167bc146-7fe3-41ba-aca4-5c0cb4a0bd38","name":"167bc146-7fe3-41ba-aca4-5c0cb4a0bd38","type":"Microsoft.Advisor/suppressions","properties":{"suppressionId":"6ea7a170-95fc-d03f-b77c-7df0dfe01c19","ttl":"1.00:00:00"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/87138a17-05c2-cdbb-a981-177b7b25c347/suppressions/e90eb746-caa0-4304-9e1d-88c4408878f5","name":"e90eb746-caa0-4304-9e1d-88c4408878f5","type":"Microsoft.Advisor/suppressions","properties":{"suppressionId":"064c4183-a163-0f54-d774-ef201a42b2b6","ttl":"1.00:00:00"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19&$filter=ResourceId%20eq%20%27%2Fsubscriptions%2F658c8950-e79d-4704-a903-1df66ba90258%2FresourceGroups%2Ffunctionaltest%2Fproviders%2FMicrosoft.Compute%2FvirtualMachines%2Fvmnobackup1%27
  response:
    body: {string: '{"value":[{"id":"[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/recommendations?api-version=2017-04-19&$filter=Category%20eq%20%27cost%27
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/functionaltest/providers/Microsoft.Compute/virtualMachines/vmnobackup1/providers/Microsoft.Advisor/recommendations/87138a17-05c2-cdbb-a981-177b7b25c347","name":"87138a17-05c2-cdbb-a981-177b7b25c347","properties":{"category":"Cost","impact":"High","impactedField":"Microsoft.Compute/virtualMachines","impactedValue":"vmnobackup1","lastUpdated":"2017-11-15T22:16:22.0021142Z","risk":"None","shortDescription":{"problem":"Your
        virtual machine has low usage","solution":"Right-size or shutdown underutilized
        virtual machines"}},"type":"Microsoft.Advisor/recommendations","hardwareDetails":{"resourceId":"y8fx4nayf4ptcckwy6pri8bbx5z4mwufo9ax4nayrti71j3x5pdwtc7y4imyqeyy6a","size":"Standard_D1_v2"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iscutoff: ['False']
    status: {code: 200, message: OK}
version: 1
