interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations/70b0b95c-8a41-41c0-8e3f-3ed8351a2d61","type":"Microsoft.Advisor/Configurations","name":"70b0b95c-8a41-41c0-8e3f-3ed8351a2d61","properties":{"low_cpu_threshold":"5","exclude":false}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_advisorfbfyqsf7wjgqansie3ollxbyrdjm6ynngvyoutgebro6c5svyrj3tkqbrom/providers/Microsoft.Advisor/configurations/70b0b95c-8a41-41c0-8e3f-3ed8351a2d61-cli_test_advisorfbfyqsf7wjgqansie3ollxbyrdjm6ynngvyoutgebro6c5svyrj3tkqbrom","type":"Microsoft.Advisor/Configurations","name":"70b0b95c-8a41-41c0-8e3f-3ed8351a2d61-cli_test_advisorfbfyqsf7wjgqansie3ollxbyrdjm6ynngvyoutgebro6c5svyrj3tkqbrom","properties":{"exclude":false}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations?api-version=2017-04-19
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Advisor/configurations/70b0b95c-8a41-41c0-8e3f-3ed8351a2d61","type":"Microsoft.Advisor/Configurations","name":"70b0b95c-8a41-41c0-8e3f-3ed8351a2d61","properties":{"low_cpu_threshold":"5","exclude":true}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
