interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/07af58f9-026b-44a4-82e4-74b06e27f5a8/reservations/1c3d3e48-ed7d-437a-a37c-a45ba8147137?api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/07af58f9-026b-44a4-82e4-74b06e27f5a8/reservations/1c3d3e48-ed7d-437a-a37c-a45ba8147137","type":"Microsoft.Capacity/reservationOrders/reservations","name":"07af58f9-026b-44a4-82e4-74b06e27f5a8/1c3d3e48-ed7d-437a-a37c-a45ba8147137","etag":10,"location":"westus","properties":{"appliedScopeType":"Shared","quantity":1,"provisioningState":"Cancelled","expiryDate":"2022-10-15","displayName":"VM_RI_10-14-2019_23-41","effectiveDateTime":"2019-10-15T08:15:08.6179574Z","extendedStatusInfo":{"statusCode":"Expired","message":"This
        reservation was expired and is no longer active."},"lastUpdatedDateTime":"2019-10-15T08:15:08.6179574Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"On","skuDescription":"Reserved
        VM Instance, Standard_D1, US West, 3 Years","renew":false,"term":"P3Y","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"Upfront"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
