interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/69c59535-a242-489b-8a0b-9d535318fab9?api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/69c59535-a242-489b-8a0b-9d535318fab9","type":"Microsoft.Capacity/reservationOrders/reservations","name":"7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/69c59535-a242-489b-8a0b-9d535318fab9","etag":4,"location":"westus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":2,"provisioningState":"Succeeded","expiryDate":"2022-11-05","displayName":"VM_RI_11-04-2019_23-34","effectiveDateTime":"2019-11-08T02:37:08.2001182Z","lastUpdatedDateTime":"2019-11-08T02:37:12.9641567Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"Off","skuDescription":"Reserved
        VM Instance, Standard_D1, US West, 3 Years","mergeProperties":{"mergeSources":["/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/aa3ad76a-d798-4ba2-a73d-fb9abd055ba8","/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6346cb8-fb54-40af-bc13-50f6d4cd7ce5"]},"capabilities":"ApiReturnEnabled,
        ApiExchangeEnabled","renew":false,"term":"P3Y","billingScopeId":"/subscriptions/00000000-0000-0000-0000-000000000000","billingPlan":"Upfront"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"quantities": [1, 1], "reservationId": "/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/69c59535-a242-489b-8a0b-9d535318fab9"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/split?api-version=2019-04-01
  response:
    body:
      string: '[{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6b58eb8-9294-47c3-a298-44629c6c516e","type":"Microsoft.Capacity/reservationOrders/reservations","name":"7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/e6b58eb8-9294-47c3-a298-44629c6c516e","etag":2,"location":"westus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":1,"provisioningState":"Succeeded","expiryDate":"2022-11-05","displayName":"VM_RI_11-04-2019_23-34","effectiveDateTime":"2019-11-08T02:40:23.6615208Z","lastUpdatedDateTime":"2019-11-08T02:40:27.0377191Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"Off","skuDescription":"Reserved
        VM Instance, Standard_D1, US West, 3 Years","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/69c59535-a242-489b-8a0b-9d535318fab9"},"renew":false}},{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/67914187-2ec9-413b-bf23-2ecc71b36761","type":"Microsoft.Capacity/reservationOrders/reservations","name":"7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/67914187-2ec9-413b-bf23-2ecc71b36761","etag":2,"location":"westus","pr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationorders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/splitoperationresults/69c59535-a242-489b-8a0b-9d535318fab9_5?api-version=2019-04-01
  response:
    body:
      string: '[{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6b58eb8-9294-47c3-a298-44629c6c516e","type":"Micr[...]
[...]
- request:
    body: '{"properties": {"sources": ["/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6b58eb8-9294-47c3-a298-44629c6c516e",
      "/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/67914187-2ec9-413b-bf23-2ecc71b36761"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/merge?api-version=2019-04-01
  response:
    body:
      string: '[{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6b58eb8-9294-47c3-a298-44629c6c516e","type":"Microsoft.Capacity/reservationOrders/reservations","name":"7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/e6b58eb8-9294-47c3-a298-44629c6c516e","etag":5,"location":"westus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":1,"provisioningState":"Cancelled","expiryDate":"2022-11-05","displayName":"VM_RI_11-04-2019_23-34","effectiveDateTime":"2019-11-08T02:40:44.0177683Z","extendedStatusInfo":{"statusCode":"Merged","message":"This
        reservation was merged and is no longer active"},"lastUpdatedDateTime":"2019-11-08T02:40:44.0177683Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"Off","skuDescription":"Reserved
        VM Instance, Standard_D1, US West, 3 Years","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/69c59535-a242-489b-8a0b-9d535318fab9"},"mergeProperties":{"mergeDestination":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/04c5ea31-ad9b-4f73-825b-44bc4a1e37ff"},"renew":false}},{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/67914187-2ec9-413b-bf23-2ecc71b36761","type":"Microsoft.Capacity/reservationOrders/reservations","name":"7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/67914187-2ec9-413b-bf23-2ecc71b36761","etag":4,"location":"westus","pr[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationorders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/mergeoperationresults/e6b58eb8-9294-47c3-a298-44629c6c516e_3?api-version=2019-04-01
  response:
    body:
      string: '[{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/7c2f2e2d-3186-45fe-ac35-e60925b6f4b6/reservations/e6b58eb8-9294-47c3-a298-44629c6c516e","type":"Micr[...]
