interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"appliedScopeType": "Single", "appliedScopes": ["/subscriptions/00000000-0000-0000-0000-000000000000"],
      "instanceFlexibility": "Off"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders/c2152650-9ae0-4cc1-bd6c-afd872f297fd/reservations/9cd38589-b906-46b0-a7da-0e0349d9078f?api-version=2019-04-01
  response:
    body:
      string: '{"sku":{"name":"Standard_D1"},"id":"/providers/microsoft.capacity/reservationOrders/c2152650-9ae0-4cc1-bd6c-afd872f297fd/reservations/9cd38589-b906-46b0-a7da-0e0349d9078f","type":"Microsoft.Capacity/reservationOrders/reservations","name":"c2152650-9ae0-4cc1-bd6c-afd872f297fd/9cd38589-b906-46b0-a7da-0e0349d9078f","etag":4,"location":"westus","properties":{"appliedScopes":["/subscriptions/00000000-0000-0000-0000-000000000000"],"appliedScopeType":"Single","quantity":1,"provisioningState":"Succeeded","expiryDate":"2022-11-08","displayName":"CLCICLCICLCI","effectiveDateTime":"2019-11-08T02:47:25.887759Z","lastUpdatedDateTime":"2019-11-08T02:47:30.340889Z","reservedResourceType":"VirtualMachines","instanceFlexibility":"Off","skuDescription":"Reserved
        VM Instance, Standard_D1, US West, 3 Years","splitProperties":{"splitSource":"/providers/microsoft.capacity/reservationOrders/c2152650-9ae0-4cc1-bd6c-afd872f297fd/reservations/b230225a-2c2d-4352-a810-d16a63ac4f0c"},"renew":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1198'
      x-ms-test:
      - '{"contact":"xishan","scenarios":"AeoEmailTest,CSZ,GtmRiPurchase","retention":"2/6/2020
        2:24:46 AM"}'
    status:
      code: 200
      message: OK
[...]
