interactions:
- request:
    body: null
    headers:
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - win32
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: GET
    uri: https://login.windows.net/common/discovery/instance?authorization_endpoint=https%3A%2F%2Flogin.windows-ppe.net%2F84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2%2Foauth2%2Fauthorize&api-version=1.0
  response:
    body:
      string: '{"tenant_discovery_endpoint":"https://login.windows-ppe.net/84d1dc3d-cdcd-4bdd-9f5d-9290b7d1a3f2/.well-known/openid-configuration"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api-dogfood.resources.windows-int.net/providers/Microsoft.Capacity/reservationOrders?api-version=2019-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/microsoft.capacity/reservationOrders/07af58f9-026b-44a4-82e4-74b06e27f5a8","type":"Microsoft.Capacity/reservationOrders","name":"07af58f9-026b-44a4-82e4-74b06e27f5a8","etag":10,"properties":{"displayName":"VM_RI_10-14-2019_23-41","requestDateTime":"2019-10-15T06:42:13.0813647Z","createdDateTime":"2019-10-15T06:44:31.3388468Z","expiryDate":"2022-10-15","term":"P3Y","provisioningState":"Cancelled","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/07af58f9-026b-44a4-82e4-74b06e27f5a8/reservations/1c3d3e48-ed7d-437a-a37c-a45ba8147137"}],"originalQuantity":1,"billingPlan":"Upfront"}},{"id":"/providers/microsoft.capacity/reservationOrders/d1c3f4a1-96b5-4f69-a6c3-9ab159267192","type":"Microsoft.Capacity/reservationOrders","name":"d1c3f4a1-96b5-4f69-a6c3-9ab159267192","etag":11,"properties":{"displayName":"VM_RI_10-16-2019_15-11","requestDateTime":"2019-10-16T22:12:15.9165472Z","createdDateTime":"2019-10-16T22:14:15.7140786Z","expiryDate":"2022-10-16","term":"P3Y","provisioningState":"Succeeded","reservations":[{"id":"/providers/microsoft.capacity/reservationOrders/[...]
