interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: http://eddertester.westus2.cloudapp.azure.com:19080/Services/System/FailoverManagerService/$/GetDescription?api-version=3.0&timeout=60
  response:
    body: {string: !!python/unicode '{"ServiceKind":"Stateful","ApplicationName":"fabric:\/System","ServiceName":"fabric:\/System\/FailoverManagerService","ServiceTypeName":"FMServiceType","InitializationData":[],"PartitionDescription":{"PartitionScheme":"Singleton"},"TargetReplicaSetSize":1,"MinReplicaSetSize":1,"HasPersistedState":true,"PlacementConstraints":"NodeTypeName==basic","CorrelationScheme":[],"ServiceLoadMetrics":[],"ServicePlacementPolicies":[],"Flags":7,"ReplicaRestartWaitDurationSeconds":1800,"QuorumLossWaitDurationSeconds":3214202341,"StandByReplicaKeepDurationSeconds":604800,"DefaultMoveCost":"Low","IsDefaultMoveCostSpecified":true,"ServicePackageActivationMode":"SharedProcess","ServiceDnsName":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
