interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations?api-version=2015-06-01-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus","name":"centralus","type":"Microsoft.Security/locations","properties":{"homeRegionName":"centralus"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['99']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/tasks?api-version=2015-06-01-preview
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus/tasks/05e4625a-3ba1-5ce5-badc-bde930a8becd","name":"05e4625a-3ba1-5ce5-badc-bde930a8becd","type":"Microsoft.Security/locations/centralus/tasks","properties":{"state":"Active","subState":"NA","creationTimeUtc":"2018-09-15T10:12:44.4149947Z","lastStateChangeTimeUtc":"2018-09-15T10:12:44.4149947Z","securityTaskParameters":{"subscriptionId":"487bb485-b5b0-471e-9c0d-10717612f869","baselineRuleId":"b75811fe-ac22-4171-9511-27fec5177351","baselineName":"Windows
        Firewall: Domain: Allow unicast response","baselineCceId":"AZ-WIN-00088","osName":"Windows
        Server 2016 Datacenter","severity":"Warning","ruleType":"RegistryKey","workspaces":[{"workspaceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-weu/providers/microsoft.operationalinsights/workspaces/defaultworkspace-487bb485-b5b0-471e-9c0d-10717612f869-weu","serverCount":1}],"totalNumberOfDefectedMachines":1,"name":"Subscription
        has machines with failed baseline rule","uniqueKey":"487bb485-b5b0-471e-9c0d-10717612f869_b75811fe-ac22-4171-9511-27fec5177351","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000"}}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus/tasks/08357a1e-c534-756f-cbb9-7b45e73f3137","name":"08357a1e-c534-756f-cbb9-7b45e73f3137","type":"Microsoft.Security/locations/centralus/tasks","properties":{"state":"Dismissed","subState":"NA","creationTimeUtc":"2018-07-05T12:08:08.7774195Z","lastStateChangeTimeUtc":"2018-07-09T17:45:42.7431861Z","securityTaskParameters":{"subscript[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-cus/providers/Microsoft.Security/locations/centralus/tasks/955341c6-0c5c-6965-6ac2-3b75b04b9eb3?api-version=2015-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/defaultresourcegroup-cus/providers/Microsoft.Security/locations/centralus/tasks/955341c6-0c5c-6965-6ac2-3b75b04b9eb3","name":"955341c6-0c5c-6965-6ac2-3b75b04b9eb3","type":"Microsoft.Security/locations/centralus/tasks","properties":{"state":"Active","subState":"NA","creationTimeUtc":"2018-12-26T21:10:21.4198326Z","lastStateChangeTimeUtc":"2018-12-26T21:10:21.4198326Z","securityTaskParameters":{"resourceType":"StorageAccount","category":"Data","assessmentKey":"45d313c3-3fca-5040-035f-d61928366d31","policyName":"Disable
        unrestricted network access to storage account","policyDefinitionId":"/providers/microsoft.authorization/policydefinitions/34c877ad-507e-4c82-993e-3452a6e0ad3c","severity":"High","name":"GenericSecuirtyTask","uniqueKey":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-cus/providers/microsoft.storage/storageaccounts/samplestorageaccount2_45d313c3-3fca-5040-035f-d61928366d31","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/defaultresourcegroup-cus/providers/microsoft.storage/storageaccounts/samplestorageaccount2"}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['99']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus/tasks/05e4625a-3ba1-5ce5-badc-bde930a8becd?api-version=2015-06-01-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/locations/centralus/tasks/05e4625a-3ba1-5ce5-badc-bde930a8becd","name":"05e4625a-3ba1-5ce5-badc-bde930a8becd","ty[...]
