interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-10-08T20:50:41Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-10-08T20:50:41Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"containers": [{"name":
      "clicontainer000002", "properties": {"image": "nginx", "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0}}, "volumeMounts": [{"name": "gitrepo", "mountPath":
      "/src"}]}}], "restartPolicy": "Always", "osType": "Linux", "volumes": [{"name":
      "gitrepo", "gitRepo": {"directory": "./test", "repository": "https://github.com/yolo3301/dumb-flow.git",
      "revision": "5604f0a8f11bfe13e621418ab6f6a71973e208ce"}}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"nginx","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Waiting","detailStatus":"ContainerCreating"}},"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}},"volumeMounts":[{"name":"gitrepo","mountPath":"/src"}]}}],"restartPolicy":"Always","osType":"Linux","volumes":[{"name":"gitrepo","gitRepo":{"repository":"https://github.com/yolo3301/dumb-flow.git","directory":"./test","revision":"5604f0a8f11bfe13e621418ab6f6a71973e208ce"}}],"instanceView":{"state":"Pending"}},"identity":{"type":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/b346c61e-9b9d-41a0-a4c6-bf6123c303e8?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['94']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['98']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/b346c61e-9b9d-41a0-a4c6-bf6123c303e8?api-version=2018-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2018-10-08T20:50:45.3790898Z","properties":{"events":[{"count":1,"firstTimestamp":"2018-10-08T20:50:49Z","lastTimestamp":"2018-10-08T20:50:49Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-08T20:50:59Z","lastTimestamp":"2018-10-08T20:50:59Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-08T20:50:59Z","lastTimestamp":"2018-10-08T20:50:59Z","name":"Created","message":"Created
        container with id 5651311cafdb180c7af9a1ab9854eb72d807b2c1836a560979a272ce4e940952","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-08T20:50:59Z","lastTimestamp":"2018-10-08T20:50:59Z","name":"Started","message":"Started
        container with id 5651311cafdb180c7af9a1ab9854eb72d807b2c1836a560979a272ce4e940952","type":"Normal"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"curre[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdWSUhINFBBSVFSMk1EMkNISzU2SVhIMlhTVEtOREg2M0FIVHw5NzBDM0YwODdBNTcwRTgzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
