interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-10-29T23:38:58Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-10-29T23:38:58Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"containers": [{"name":
      "clicontainer000002", "properties": {"image": "nginx:latest", "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0}}}}], "restartPolicy": "Always", "osType": "Linux"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","osType":"Linux","instanceView":{"state":"Pending"}},"identity":{"type":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/56f4cbaf-76a8-4a9f-9e1b-a998093499f1?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['81']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['95']
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/56f4cbaf-76a8-4a9f-9e1b-a998093499f1?api-version=2018-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2018-10-29T23:39:02.8892634Z","properties":{"events":[{"count":1,"firstTimestamp":"2018-10-29T23:39:06Z","lastTimestamp":"2018-10-29T23:39:06Z","name":"Pulling","message":"pulling
        image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Pulled","message":"Successfully
        pulled image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Created","message":"Created
        container with id 28199eebde8f0d4ff6215153b73fcc75fe59323b76843e0502f86a092fe9c514","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Started","message":"Started
        container with id 28199eebde8f0d4ff6215153b73fcc75fe59323b76843e0502f86a092fe9c514","type":"Normal"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Running","startTime":"2018-10-29T23:39:16Z","detailStatus":""},"events":[{"count":1,"firstTimestamp":"2018-10-29T23:39:06Z","lastTimestamp":"2018-10-29T23:39:06Z","name":"Pulling","message":"pulling
        image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Pulled","message":"Successfully
        pulled image \"nginx:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Created","message":"Created
        container with id 28199eebde8f0d4ff6215153b73fcc75fe59323b76843e0502f86a092fe9c514","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-29T23:39:16Z","lastTimestamp":"2018-10-29T23:39:16Z","name":"Started","message":"Started
        container with id 28199eebde8f0d4ff6215153b73fcc75fe59323b76843e0502f86a092fe9c514","type":"Normal"}]},"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","osType":"Linux","instanceView":{"events":[],"state":"Running"}},"identity":{"type":"None"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx:latest","ports":[],"env[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdOWUNYTTZOQlQ3S0JaWllGWEFNTzQ3RzZLWkJJU1RZN01TWXxBNUUwNkNENDJBODFBOUIyLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
