interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-09-13T21:24:36Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-09-13T21:24:36Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "properties": {"containers": [{"name":
      "clicontainer000002", "properties": {"image": "nginx", "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0}}, "volumeMounts": [{"name": "gitrepo", "mountPath":
      "/src"}]}}], "restartPolicy": "Always", "osType": "Linux", "volumes": [{"name":
      "gitrepo", "gitRepo": {"directory": "./test", "repository": "https://github.com/yolo3301/dumb-flow.git",
      "revision": "5604f0a8f11bfe13e621418ab6f6a71973e208ce"}}]}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-09-01
  response:
    body: {string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"nginx","ports":[],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}},"volumeMounts":[{"name":"gitrepo","mountPath":"/src"}]}}],"restartPolicy":"Always","osType":"Linux","volumes":[{"name":"gitrepo","gitRepo":{"repository":"https://github.com/yolo3301/dumb-flow.git","directory":"./test","revision":"5604f0a8f11bfe13e621418ab6f6a71973e208ce"}}],"instanceView":{"state":"Pending"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/2f61535b-a2cc-4320-9fbc-4077a4e1a451?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['72']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['97']
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/2f61535b-a2cc-4320-9fbc-4077a4e1a451?api-version=2018-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2018-09-13T21:24:41.3360931Z","properties":{"events":[{"count":1,"firstTimestamp":"2018-09-13T21:24:46Z","lastTimestamp":"2018-09-13T21:24:46Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:53Z","lastTimestamp":"2018-09-13T21:24:53Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:58Z","lastTimestamp":"2018-09-13T21:24:58Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:59Z","lastTimestamp":"2018-09-13T21:24:59Z","name":"Started","message":"Started
        container","type":"Normal"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-09-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"nginx","ports":[],"environmentVariables":[],"instanceView":{"restartCount":0,"currentState":{"state":"Running","startTime":"2018-09-13T21:24:59Z","detailStatus":""},"events":[{"count":1,"firstTimestamp":"2018-09-13T21:24:46Z","lastTimestamp":"2018-09-13T21:24:46Z","name":"Pulling","message":"pulling
        image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:53Z","lastTimestamp":"2018-09-13T21:24:53Z","name":"Pulled","message":"Successfully
        pulled image \"nginx\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:58Z","lastTimestamp":"2018-09-13T21:24:58Z","name":"Created","message":"Created
        container","type":"Normal"},{"count":1,"firstTimestamp":"2018-09-13T21:24:59Z","lastTimestamp":"2018-09-13T21:24:59Z","name":"Started","message":"Started
        container","type":"Normal"}]},"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}},"volumeMounts":[{"name":"gitrepo","mountPath":"/src"}]}}],"restartPolicy":"Always","osType":"Linux","volumes":[{"name":"gitrepo","gitRepo":{"repository":"https://github.com/yolo3301/dumb-flow.git","directory":"./test","revision":"5604f0a8f11bfe13e621418ab6f6a71973e208ce"}}],"instanceView":{"events":[],"state":"Running"}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdHRlpGS1NHSktOQkZXRjdBNE5DUTNCRFNUMlZSQk9QSU9PWHxCQkYwQ0MwM0E2MTkxQkRFLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14998']
    status: {code: 202, message: Accepted}
version: 1
