interactions:
- request:
    body: '{"location": "westus", "tags": {"product": "azurecli", "cause": "automation",
      "date": "2018-10-09T22:15:39Z"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"product":"azurecli","cause":"automation","date":"2018-10-09T22:15:39Z"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005?api-version=2015-08-31-preview
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005","name":"cliaciidentity000005","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"4bcbb5c3-4c15-48de-9442-adbd32ad93ed","clientId":"2aa393be-8bfb-430b-a4b9-a0bb403649a6","clientSecretUrl":"https://control-westus.identity.azure.net/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005/credentials?tid=72f988bf-86f1-41af-91ab-2d7cd011db47&oid=4bcbb5c3-4c15-48de-9442-adbd32ad93ed&aid=2aa393be-8bfb-430b-a4b9-a0bb403649a6"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
[...]
- request:
    body: 'b''{"location": "westus", "tags": {}, "identity": {"type": "SystemAssigned"},
      "properties": {"containers": [{"name": "clicontainer000002", "properties": {"image":
      "alpine:latest", "ports": [{"protocol": "TCP", "port": 80}], "resources": {"requests":
      {"memoryInGB": 1.5, "cpu": 1.0}}}}], "restartPolicy": "Always", "ipAddress":
      {"ports": [{"protocol": "TCP", "port": 80}], "type": "Public"}, "osType": "Linux"}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Pending","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"resources":{"requests":{"memoryInGB":1.5,"cpu":1.0}}}}],"restartPolicy":"Always","ipAddress":{"ports":[{"protocol":"TCP","port":80}],"ip":"168.61.17.91","type":"Public"},"osType":"Linux","instanceView":{"state":"Pending"}},"identity":{"principalId":"f414fa19-31b8-46f8-843e-f73bc7b11fa9","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","type":"SystemAssigned"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","name":"clicontainer000002","type":"Microsoft.ContainerInstance/containerGroups","location":"westus","tags":{}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/a72f504f-a8fc-42b4-b11b-c78daa4ae314?api-version=2018-06-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests-pt1h: ['83']
      x-ms-ratelimit-remaining-subscription-resource-requests-pt5m: ['97']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerInstance/locations/westus/operations/a72f504f-a8fc-42b4-b11b-c78daa4ae314?api-version=2018-06-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002","status":"Succeeded","startTime":"2018-10-09T22:15:52.5521865Z","properties":{"events":[{"count":2,"firstTimestamp":"2018-10-09T22:16:01Z","lastTimestamp":"2018-10-09T22:16:04Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":2,"firstTimestamp":"2018-10-09T22:16:03Z","lastTimestamp":"2018-10-09T22:16:06Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-09T22:16:03Z","lastTimestamp":"2018-10-09T22:16:03Z","name":"Created","message":"Created
        container with id 2315021daba9de086e853ad04497bb2da32ef27d47678746495960c7f0e00061","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-09T22:16:04Z","lastTimestamp":"2018-10-09T22:16:04Z","name":"Started","message":"Started
        container with id 2315021daba9de086e853ad04497bb2da32ef27d47678746495960c7f0e00061","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-09T22:16:06Z","lastTimestamp":"2018-10-09T22:16:06Z","name":"Created","message":"Created
        container with id 7b10e0a6cf311667580ab8436520ac555501a0d1c186ec5e4a9f1e2ef1a36076","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-09T22:16:06Z","lastTimestamp":"2018-10-09T22:16:06Z","name":"Started","message":"Started
        container with id 7b10e0a6cf311667580ab8436520ac555501a0d1c186ec5e4a9f1e2ef1a36076","type":"Normal"},{"count":1,"firstTimestamp":"2018-10-09T22:16:07Z","lastTimestamp":"2018-10-09T22:16:07Z","name":"BackOff","message":"Back-off
        restarting failed container","type":"Warning"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.ContainerInstance/containerGroups/clicontainer000002?api-version=2018-10-01
  response:
    body: {string: '{"properties":{"provisioningState":"Succeeded","containers":[{"name":"clicontainer000002","properties":{"image":"alpine:latest","ports":[{"protocol":"TCP","port":80}],"environmentVariables":[],"instanceView":{"restartCount":2,"currentState":{"state":"Terminated","startTime":"2018-10-09T22:16:21Z","exitCode":0,"finishTime":"2018-10-09T22:16:21Z","detailStatus":"Completed"},"previousState":{"state":"Terminated","startTime":"2018-10-09T22:16:06Z","exitCode":0,"finishTime":"2018-10-09T22:16:06Z","detailStatus":"Completed"},"events":[{"count":3,"firstTimestamp":"2018-10-09T22:16:01Z","lastTimestamp":"2018-10-09T22:16:20Z","name":"Pulling","message":"pulling
        image \"alpine:latest\"","type":"Normal"},{"count":3,"firstTimestamp":"2018-10-09T22:16:03Z","lastTimestamp":"2018-10-09T22:16:21Z","name":"Pulled","message":"Successfully
        pulled image \"alpine:latest\"","type":"No[...]
[...]
- request:
    body: 'b''b\''b\\\''{"location": "westus", "tags": {}, "identity": {"type": "UserAssigned",
      "userAssignedIdentities": {"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.ManagedIdentity/userAssignedIdentities/cliaciidentity000005":
      {}}}, "properties": {"containers": [{"name": "clicontainer000003", "properties":
      {"image": "alpine:latest", "ports": [{"protocol": "TCP", "port": 80}], "resources":
      {"requests": {"memoryInGB": 1.5, "cpu": 1.0}}}}], "restartPolicy": "Always",
      "ipAddress": {"ports": [{"protocol": "TCP", "port": 80}], "type":[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkcyRUZWREtUT0ZGU05OU0xWUlBSQU9CSURPTUJOUENDQ0JTQXxDRDU2M0U5QjU1RTdEQzAzLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2018-05-01']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
