interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: '{"Name": "iot-hub-for-test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2017-07-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "subscriptionid": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
      "resourcegroup": "clitest.rg000001", "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfMmQ0OWE1ZjktNDBmNi00ZWU0LWIzZDktYTM2ZGVhNzI5ODk5?api-version=2017-07-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4997']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfMmQ0OWE1ZjktNDBmNi00ZWU0LWIzZDktYTM2ZGVhNzI5ODk5?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAAAAFcOnA=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test","endpoint":"sb://iothub-ns-iot-hub-fo-291286-b1eda50581.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-291286-b1eda50581.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"0b1f6471-1bf0-4dda-aec3-cb9272f09590","resourcegroup":"clitest.rg000001","etag":"AAAAAAFcOnA=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIden[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/iothubowner/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"iothubowner","primaryKey":"Q+ewJwnPnHTeqi8h1vDfHrCXGsLNYmcSedUY8HIePb4=","secondaryKey":"e9Qs4N9+UjTUJkdWb1mqDu2jaSZFFsdOYMIceG+eG+Y=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFcOnA=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfNDNkM2E0MDItMTg2ZS00M2RjLWEwZmMtN2VmZDE2ODNkOTBm?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/skus?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"Q+ewJwnPnHTeqi8h1vDfHrCXGsLNYmcSedUY8HIePb4=","secondaryKey":"e9Qs4N9+UjTUJkdWb1mqDu2jaSZFFsdOYMIceG+eG+Y=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"SaIY6QTPe7bnuO2IUkcMbo7Oi08+PktrfrwKe+8Hm4c=","secondaryKey":"xNg/curc/9sUZnYcYX0/F0OT36CSYRZymIDBl4lDIUQ=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"j/96oqaMFpCxJVw2nvbTdh7KPRse/sm6qXKwnYqXdZ4=","secondaryKey":"9FZPiCOmqsl47s2yPuekm2MMxnBs3VpKbc7QICcov6I=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"V9E0KuWctF+MDnED0QesJSCU2QFnLK3MiZpSV1njKGY=","secondaryKey":"TkiMLBtOLb2ga1Njnbm9FV9aoeupfooTOY/bs5Hl0MM=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"BHYC0JMilbyEoES0MSVVwksxBrZwE8whvlfEuks/CFg=","secondaryKey":"R8d8KX06UClsj4gQOpKDi5Ug70Ml7uoeZK+qXCo5Xvw=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "westus", "tags": {}, "subscriptionid": "0b1f6471-1bf0-4dda-aec3-cb9272f09590",
      "resourcegroup": "clitest.rg000001", "etag": "AAAAAAFcOoc=", "properties": {"authorizationPolicies":
      [{"keyName": "iothubowner", "primaryKey": "Q+ewJwnPnHTeqi8h1vDfHrCXGsLNYmcSedUY8HIePb4=",
      "secondaryKey": "e9Qs4N9+UjTUJkdWb1mqDu2jaSZFFsdOYMIceG+eG+Y=", "rights": "RegistryWrite,
      ServiceConnect, DeviceConnect"}, {"keyName": "service", "primaryKey": "SaIY6QTPe7bnuO2IUkcMbo7Oi08+PktrfrwKe+8Hm4c=",
      "secondaryKey": "xNg/curc/9sUZnYcYX0/F0OT36CSYRZymIDBl4lDIUQ=", "rights": "ServiceConnect"},
      {"keyName": "device", "primaryKey": "j/96oqaMFpCxJVw2nvbTdh7KPRse/sm6qXKwnYqXd[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFcOoc=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfYzY0NmQzMmMtNDBlNS00NGU0LWE5MjQtYzg0MzUzZDAzMjE3?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/test_policy/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"test_policy","primaryKey":"THncZmt69Eg5nAJmQU2+RXwioxUXPjm9sVJfjScBzt8=","secondaryKey":"whI0KqyukpibXUTjzdlfN1XiDfzhmQbt8pD31Jd0Z/8=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAFcOpg=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfMGFlMzI5ZWQtM2ZmNi00OGVlLTg3MzktMDE3MDRlOGUyYzU5?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2017-07-01
  response:
    body: {string: '{"tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"cg1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups?api-version=2017-07-01
  response:
    body: {string: '{"value":["$Default","cg1"]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs?api-version=2017-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs/fake-job?api-version=2017-07-01
  response:
    body: {string: '{"Code":"JobNotFound","HttpStatusCode":"NotFound","Message":"Job
        not found with ID ''fake-job''. If you contact a support representative please
        include this correlation identifier: 7739c048-159c-4127-898c-64b8ed86b08d,
        timestamp: 2017-12-12 01:50:09Z, errorcode: IH404011."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/jobs/fake-job?api-version=2016-11-14
  response:
    body: {string: '{"Message":"ErrorCode:JobNotFound;NotFound","ExceptionMessage":"Tracking
        ID:478d8a20861249e5b20945d92e26d37e-G:7-TimeStamp:12/12/2017 01:50:11"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [JobNotFound]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: '{"deviceId": "test-device-1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1?api-version=2016-11-14
  response:
    body: {string: '{"deviceId":"test-device-1","generationId":"636486402148623802","etag":"NzQwMTEzNjYz","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"xLFM88OG3yprl0tLSB/y2t/rBRRgs1fXPYIHjoL88i8=","secondaryKey":"Lcm0I66KGvd8JLCmgwW0dSp9aBM1FPjg4p6RyCdjf2Q="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"NzQwMTEzNjYz"']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices?api-version=2016-11-14&top=20
  response:
    body: {string: '[{"deviceId":"test-device-1","generationId":"636486402148623802","etag":"NzQwMTEzNjYz","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"xLFM88OG3yprl0tLSB/y2t/rBRRgs1fXPYIHjoL88i8=","secondaryKey":"Lcm0I66KGvd8JLCmgwW0dSp9aBM1FPjg4p6RyCdjf2Q="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}},{"deviceId":"test-device-2","generationId":"636486402172051219","etag":"OTk1ODMyODIz","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"deviceId": "test-device-2", "etag": "OTk1ODMyODIz", "connectionState":
      "Disconnected", "status": "enabled", "statusReason": "TestReason", "connectionStateUpdatedTime":
      "0001-01-01T00:00:00.000Z", "statusUpdatedTime": "0001-01-01T00:00:00.000Z",
      "lastActivityTime": "0001-01-01T00:00:00.000Z", "cloudToDeviceMessageCount":
      0, "authentication": {"symmetricKey": {}, "x509Thumbprint": {"primaryThumbprint":
      "A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C", "secondaryThumbprint": "14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['*']
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-2?api-version=2016-11-14
  response:
    body: {string: '{"deviceId":"test-device-2","generationId":"636486402172051219","etag":"OTk1ODMyODI0","connectionState":"Disconnected","status":"enabled","statusReason":"TestReason","connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}},"capabilities":{"iotEdge":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"OTk1ODMyODI0"']
    status: {code: 200, message: OK}
[...]
- request:
    body: '"Ping from Azure CLI"'
    headers:
      Content-Type: [application/octet-stream]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/events?api-version=2016-11-14
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IotHub-MessageLockTimeout: ['60']
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound?api-version=2016-11-14
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"04317a954a724ea59dffa124fc2a92c6-G:8-TimeStamp:12/12/2017
        01:50:30\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-12-12T01:50:30.3284544Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14&reject=
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"f5754f929aa2412cb74c765c9efb66b1-G:10-TimeStamp:12/12/2017
        01:50:31\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-12-12T01:50:31.6920999Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000/abandon?api-version=2016-11-14
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"70ca0d0d42454c2b92a96e67e0df2136-G:5-TimeStamp:12/12/2017
        01:50:31\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2017-12-12T01:50:31.5641278Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/quotaMetrics?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"Name":"TotalMessages","CurrentValue":0,"MaxValue":400000},{"Name":"TotalDeviceCount","CurrentValue":0,"MaxValue":500000}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubStats?api-version=2017-07-01
  response:
    body: {string: '{"totalDeviceCount":0,"enabledDeviceCount":0,"disabledDeviceCount":0}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfOGJjZWFhOWUtY2Q0ZC00OWU3LWI2ZjAtYWJhZWFiZmVlMTJk?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdIVURQTFZXSjI3R1BURDVFR0VMWldJVEdPUlFQR1VGUUFYVHwyOEIzQjMxQjJGNzg3MjAwLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
