interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"Name": "iot000003"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2017-07-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c",
      "resourcegroup": "clitest.rg000001", "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfN2FjM2I5MmQtY2ZhYi00OWYzLWI2NzQtODg5YWI3YzM5MTRh?api-version=2017-07-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfN2FjM2I5MmQtY2ZhYi00OWYzLWI2NzQtODg5YWI3YzM5MTRh?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","etag":"AAAAAAGBzuQ=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003","endpoint":"sb://iothub-ns-iotskbhcbm-340007-6d448bab48.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot000003-operationmonitoring","endpoint":"sb://iothub-ns-iotskbhcbm-340007-6d448bab48.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "dps000002"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2017-11-15
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNmZmZTk3YjctY2I5Mi00M2Q1LTllYTMtNDNmNGMyMDQxNTZm?api-version=2017-11-15&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNmZmZTk3YjctY2I5Mi00M2Q1LTllYTMtNDNmNGMyMDQxNTZm?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"etag":"AAAAAAAOE1k=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0000C1C0"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"etag":"AAAAAAAOE1k=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne0000C1C0"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMmE5NDM0NDEtMTQwYy00MDdiLWExMDQtMzcwNTQ2NGJhNTZj?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"QPX2KX1TP4n3sp++evFGL7yHUGPyAt2cAY6yG2yTviM=","secondaryKey":"5uZv/dsdfgxrDJ9rYf5e85H2cpgatdyOGzeZ94pga4o=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1189']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "QPX2KX1TP4n3sp++evFGL7yHUGPyAt2cAY6yG2yTviM=", "secondaryKey":
      "5uZv/dsdfgxrDJ9rYf5e85H2cpgatdyOGzeZ94pga4o=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMDc2NmY2MjItNTE3Ni00MGFhLWJjZDctODM3OGExYWYwMjA2?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"keyName":"policy000004","primaryKey":"b9bgChiBwa+utWSZzF73iygItH6Jq35/ZO6ZZA2GpII=","secondaryKey":"wgsxvLajrFY4A5r/gf0IDpx6CdoL9xRJW6gvQ0ELNl0=","rights":"EnrollmentRead"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNzNiMmZjZjctZTRmNi00MTExLWE0Y2QtYWUyZmUzZjlkZWJl?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYzgxZGU4ZmItNjU3Ny00YjY5LWI2MDItZTM5MzRiYWZhYmI0?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIRrLmGDrk6lwwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRqc2JyeGpuNnN1ZmFjZXBmMB4XDTE4MDIwMTIzMzU0MFoXDTE4\r\nMDIwNTIzMzU0MFowIzEhMB8GA1UEAwwYVEVTVENFUlRqc2JyeGpuNnN1ZmFjZXBm\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA3Y3vv6dcIj10AHGH+PEE1\r\nV54X2ccp3z3SH/tXAHppAARPsGf5r4iFWlUSwfkxQxTj4YFCsTfWP/d/fyVkcu8F\r\n1D3jDlQCw9FIQavjkKEyPmPN9IyIYMcnaxxzHhJ004s72WSrxhtDMHmsaujhyvsX\r\nqbCjTR8rm10syVURGQxOXvsFhA2CJUmlOwkcPAEjwL8s0FRwTWEGC0DymqF[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"properties":{"subject":"CN=TESTCERT000006","expiry":"Mon,
        05 Feb 2018 23:35:40 GMT","thumbprint":"608CD557E8831195E918B3CAA3140DBF6240EEB9","isVerified":false,"created":"Fri,
        02 Feb 2018 23:35:41 GMT","updated":"Fri, 02 Feb 2018 23:35:41 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAOE3I="}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIRrLmGDrk6lwwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRqc2JyeGpuNnN1ZmFjZXBmMB4XDTE4MDIwMTIzMzU0MFoXDTE4\r\nMDIwNTIzMzU0MFowIzEhMB8GA1UEAwwYVEVTVENFUlRqc2JyeGpuNnN1ZmFjZXBm\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA3Y3vv6dcIj10AHGH+PEE1\r\nV54X2ccp3z3SH/tXAHppAARPsGf5r4iFWlUSwfkxQxTj4YFCsTfWP/d/fyVkcu8F\r\n1D3jDlQCw9FIQavjkKEyPmPN9IyIYMcnaxxzHhJ004s72WSrxhtDMHmsaujhyvsX\r\nqbCjTR8rm10syVURGQxOXvsFhA2CJUmlOwkcPAEjwL8s0FRwTWEGC0DymqFJPOZB\r\n7U7EG+fF4nKpMPNsiEdow9inZScn1CYHlNFoY2fSITmMqovYbrdpwTzUaSmeCf3p\r\nSOvO9KFCibFtfpgSBSsvO2SWGJ6zHzwD12g3VFnMeLlQW03A21N3YbU3H7jT+7NN\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAmyGen1956IoAqw4RdeskOGADR2tMnFDLYimK16ukd\r\nmnogi889z47sM+s68RhMLbUyg14Ef3Y8ynVR6WXK93dojtr7LJYuIm5JkYljHTGi\r\ndQPf+Xc6o2Jk/UT209D8Ej3Wc4ws+/FgYxqZSgC+poGuUziEA7gML0kLAzc0V4Gi\r\n1Qgcp6O1+jyd4ylZJndiJdBH92227Ry7zNnXokZeo4njfPpkl+lxspsxnobVYNua\r\nJ146zRjfFGo4A5g+nbyCxOj8bUDjI2okXqh56+rSh3ALX30KKl4WUWLxgt5SWFRt\r\nzfXQcGL0GHWlXW8bXXRpDkXFwo/WlhT9pH6WZaBHYWte\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAOE3I=]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"subject":"CN=TESTCERT000006","expiry":"Mon, 05
        Feb 2018 23:35:40 GMT","thumbprint":"608CD557E8831195E918B3CAA3140DBF6240EEB9","isVerified":false,"created":"Fri,
        02 Feb 2018 23:35:41 GMT","updated":"Fri, 02 Feb 2018 23:35:44 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAOE3M="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAOE3M=]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"verificationCode":"8E1B64640F2CA597FC3E7428609C4088088800FFF235C618","subject":"CN=TESTCERT000006","expiry":"Mon,
        05 Feb 2018 23:35:40 GMT","thumbprint":"608CD557E8831195E918B3CAA3140DBF6240EEB9","isVerified":false,"created":"Fri,
        02 Feb 2018 23:35:41 GMT","updated":"Fri, 02 Feb 2018 23:35:45 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/IotHubs/Certificates","etag":"AAAAAAAOE3Q="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIN04+goAq4rMwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlRqc2JyeGpuNnN1ZmFjZXBmMB4XDTE4MDIwMjIzMzU0NloXDTE4\r\nMDIwNTIzMzU0NlowOzE5MDcGA1UEAwwwOEUxQjY0NjQwRjJDQTU5N0ZDM0U3NDI4\r\nNjA5QzQwODgwODg4MDBGRkYyMzVDNjE4MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAukJfkk8TX44e5g4JfZ7KzU9uKGOCW91I1RL0YBWXu24M7TTIsXuNI\r\nbTIOQW/iJivs/m7qxrAb6YlriEOTDQLH2umhev22c/oTkb1FWwvdCnrXHi/keED7\r\nWN1ha61uEp8YOXOpY6Zlca[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yingtest/providers/Microsoft.Devices/IotHubs/yingtest","name":"yingtest","type":"Microsoft.Devices/IotHubs","location":"eastus"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"11tNZ42ZRbGTMKYDqmWo5DQpiR5FKiXGkus6YFonr7M=","secondaryKey":"kNl7X1zQR33cL9R4iFs9UQuRi97iDN+Pn9POlXnxn3g=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"4qdMQ7CraEcgn43wmuENBHaME/o7cTupp8as8EiD+wU=","secondaryKey":"d1d0AcOtAz/u+5ZlD4zQafELf340YW7JWA2G+yu0xI8=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"h6FnTKgzJFBq/W5PdScVqgtxRHFVpggwE8Xyb9uVSQI=","secondaryKey":"k6w+gI+H2w1MgJycmvYkn2E5Xau/X6yUC13EQ8LzzA4=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"H1jbCPH18NTCpBzdm8BByGXiudJT/5mu3/fz1cOYb2Y=","secondaryKey":"Jh45VIH6JaCpd/M/0obJboOF7deu4n/Hv8xy/+yd/50=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mpzcSa+5cZBl43Mfa66ZlkZP0vW3tacPdbkbM1FbD3g=","secondaryKey":"ORqPG7LqTmciQWjSdHNkbJPSO5PRZFfoyZjoFhtpN4c=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAGBzuQ=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfOTA5MmE5YmItYWRmMi00MjI0LTg2ZjctZDA1M2QyOWE1MzYy?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/key000007/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"key000007","primaryKey":"5DGNfMJ7HIe2C6Vk9ZsGhsQ9vzyy/s5JDrRC+040O8M=","secondaryKey":"ZVLbq3JU4SvXVLknqDXGZUHxQnNp9fICEK/HDFnZgbg=","rights":"RegistryWrite"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZmIwMmIxOGUtNWUzZC00ZWM1LWE0NGMtMjNmOTJjMGM4ODk2?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=key000007;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-ve[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfN2U4MDg4MTctNTQ3ZC00ZDgxLWE2MTEtZGNmMGMwMzY4YTk4?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYmNhYzQ4Y2YtMzdiMS00NGE3LThjOTQtNTNlZjc3NTcxNDY2?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOWRjZWMyODUtNGIyNC00MTFjLTg2NmItZTc2YjFiMGY4NDU2?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdESUhVSEozQ1lNNklGTUZDS0NCVEFLQjU0TVVYSFBBQlZNVHxBMDEzRkI1RkE2RkZCMUFBLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
