interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"Name": "iot-hub-for-test"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2017-07-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c",
      "resourcegroup": "clitest.rg000001", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}}, "sku": {"name": "S1", "capacity":
      1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfYjdiODI4OTQtZTRkOC00MGE2LTk1YjctNDNlMzYyMTg3NDMz?api-version=2017-07-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfYjdiODI4OTQtZTRkOC00MGE2LTk1YjctNDNlMzYyMTg3NDMz?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test?api-version=2017-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"clitest.rg000001","etag":"AAAAAAGEQ1I=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test","endpoint":"sb://iothub-ns-iot-hub-fo-342948-d8fecdb7f7.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-operationmonitoring","endpoint":"sb://iothub-ns-iot-hub-fo-342948-d8fecdb7f7.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/yingtest/providers/Microsoft.Devices/IotHubs/yingtest","name":"yingtest","type":"Microsoft.Devices/IotHubs","location":"eastus","tags":{},"subscriptionid":"b9ed95d7-5b40-413f-8e72-74721213a06c","resourcegroup":"yingtest","etag":"AAAAAAFxh84=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUplo[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/iothubowner/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"iothubowner","primaryKey":"ginDJv+hvp53KQNUkMU+RhgvErftg5Jd+QuqkHYoofc=","secondaryKey":"XMY2myI39K8stWWctDdx5tukMLa6YqstKheGes17iK4=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"iot-hub-for-test[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAGEQ1I=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfZjhmY2RkMDItMDc2Mi00ODIxLWE0MGUtYjk5ZTZkMmEzYjE2?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/skus?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S1","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S2","tier":"Standard"},"capacity":{"minimum":1,"maximum":200,"default":1,"scaleType":"Manual"}},{"resourceType":"Microsoft.Devices/IotHubs","sku":{"name":"S3","tier":"Standard"},"capacity":{"minimum":1,"maximum":10,"default":1,"scaleType":"Manual"}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"ginDJv+hvp53KQNUkMU+RhgvErftg5Jd+QuqkHYoofc=","secondaryKey":"XMY2myI39K8stWWctDdx5tukMLa6YqstKheGes17iK4=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"ddyI3AeHOXHfiPyhPqEIVBfyR2jf4kI1RwbBdzq2eHs=","secondaryKey":"mp1Zy+avaMrQ0y4OfmjaDQ6Kd7gv6BexkSY7N98NU0c=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"G6uU+K4xTnuvuJolEvlH+INBYjpr6vDkZ8Wqdnu1JXE=","secondaryKey":"gTYk75nD9g93RqEFBFN9e9Ed5+H7Uu+tdZ6njPg9jjc=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"SMev45dsIIM0NJOX59eGROfpJuFE3HLcRgfdpJkXhdU=","secondaryKey":"2tjpdJ8ULyK7b7xtRkzNcNdwfBmat2PGxZXV9KoL4aM=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"XQzXsx1fl8R1yxEU5Xxvz7nAh7uf3CInrfvX2tftc98=","secondaryKey":"zk1ImMMa3Tm+KDdGWF3RNku7ya8YYraGNG9md+0fA0U=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: 'b''{"location": "westus", "tags": {}, "subscriptionid": "b9ed95d7-5b40-413f-8e72-74721213a06c",
      "resourcegroup": "clitest.rg000001", "etag": "AAAAAAGEQ3E=", "properties": {"authorizationPolicies":
      [{"keyName": "iothubowner", "primaryKey": "ginDJv+hvp53KQNUkMU+RhgvErftg5Jd+QuqkHYoofc=",
      "secondaryKey": "XMY2myI39K8stWWctDdx5tukMLa6YqstKheGes17iK4=", "rights": "RegistryWrite,
      ServiceConnect, DeviceConnect"}, {"keyName": "service", "primaryKey": "ddyI3AeHOXHfiPyhPqEIVBfyR2jf4kI1RwbBdzq2eHs=",
      "secondaryKey": "mp1Zy+avaMrQ0y4OfmjaDQ6Kd7gv6BexkSY7N98NU0c=", "rights": "ServiceConnect"},
      {"keyName": "device", "primaryKey": "G6uU+K4xTnuvuJolEvlH+INBYjpr6vDkZ8Wqdnu1J[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAGEQ3E=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfNTMxMjU4NmMtZjkzYi00MGE4LThmOGUtYzY4MzkyMDE1Yjg3?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubKeys/test_policy/listkeys?api-version=2017-07-01
  response:
    body: {string: '{"keyName":"test_policy","primaryKey":"FA3k4qtF+hASJhR3KA1WYksCmvzI9X/ZIlCjFc8+Xpo=","secondaryKey":"WE8nIwRjhP9NvxoPpS8t5GiZqnZii+X3GE7owyqhvdo=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['{''IF-MATCH'': ''AAAAAAGEQ4c=''}']
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfOGYwM2U2YjEtNjk1Zi00YWQ4LWI3YTMtYmQwMjhiYWFhY2E2?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups/cg1?api-version=2017-07-01
  response:
    body: {string: '{"tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test","name":"cg1"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/eventHubEndpoints/events/ConsumerGroups?api-version=2017-07-01
  response:
    body: {string: '{"value":["$Default","cg1"]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs?api-version=2017-07-01
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/jobs/fake-job?api-version=2017-07-01
  response:
    body: {string: '{"Code":"JobNotFound","HttpStatusCode":"NotFound","Message":"Job
        not found with ID ''fake-job''. If you contact a support representative please
        include this correlation identifier: 23bc1dc5-6e5d-4be7-8399-abc07ab71178,
        timestamp: 2018-02-06 01:37:33Z, errorcode: IH404011."}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/jobs/fake-job?api-version=2016-11-14
  response:
    body: {string: '{"Message":"ErrorCode:JobNotFound;NotFound","ExceptionMessage":"Tracking
        ID:c64d66308a5b47d09ca96c1e07c1ca8f-G:6-TimeStamp:02/06/2018 01:37:35"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [JobNotFound]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: '{"deviceId": "test-device-1"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1?api-version=2016-11-14
  response:
    body: {string: '{"deviceId":"test-device-1","generationId":"636534778594189920","etag":"ODcxMjk3MDA2","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"1zPVQZlpU2fqfn+thB3/8VYUjBv6nms6Bh0ITWM+Xrk=","secondaryKey":"wPd53ifICVpAmr+igWnMq9E76OAXT9mcfmZ/gm2wyrM="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"ODcxMjk3MDA2"']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices?api-version=2016-11-14&top=20
  response:
    body: {string: '[{"deviceId":"test-device-2","generationId":"636534778614677358","etag":"MTAyNzM2OTg1","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}},{"deviceId":"test-device-1","generationId":"636534778594189920","etag":"ODcxMjk3MDA2","connectionState":"Disconnected","status":"enabled","statusReason":null,"connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":"1zPVQZlpU2fqfn+thB3/8VYUjBv6nms6Bh0ITWM+Xrk=","secondaryKey":"wPd53ifICVpAmr+igWnMq9E76OAXT9mcfmZ/gm2wyrM="},"x509Thumbprint":{"primaryThumbprint":null,"secondaryThumbprint":null}}}]'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"deviceId": "test-device-2", "etag": "MTAyNzM2OTg1", "connectionState":
      "Disconnected", "status": "enabled", "statusReason": "TestReason", "connectionStateUpdatedTime":
      "0001-01-01T00:00:00.000Z", "statusUpdatedTime": "0001-01-01T00:00:00.000Z",
      "lastActivityTime": "0001-01-01T00:00:00.000Z", "cloudToDeviceMessageCount":
      0, "authentication": {"symmetricKey": {}, "x509Thumbprint": {"primaryThumbprint":
      "A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C", "secondaryThumbprint": "14963E8F3BA5B3984110B3C1CA8E8B8988599087"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: ['*']
    method: PUT
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-2?api-version=2016-11-14
  response:
    body: {string: '{"deviceId":"test-device-2","generationId":"636534778614677358","etag":"MTAyNzM2OTg2","connectionState":"Disconnected","status":"enabled","statusReason":"TestReason","connectionStateUpdatedTime":"0001-01-01T00:00:00","statusUpdatedTime":"0001-01-01T00:00:00","lastActivityTime":"0001-01-01T00:00:00","cloudToDeviceMessageCount":0,"authentication":{"symmetricKey":{"primaryKey":null,"secondaryKey":null},"x509Thumbprint":{"primaryThumbprint":"A361EA6A7119A8B0B7BBFFA2EAFDAD1F9D5BED8C","secondaryThumbprint":"14963E8F3BA5B3984110B3C1CA8E8B8988599087"}},"capabilities":{"iotEdge":false}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"MTAyNzM2OTg2"']
    status: {code: 200, message: OK}
[...]
- request:
    body: '"Ping from Azure CLI"'
    headers:
      Content-Type: [application/octet-stream]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/events?api-version=2016-11-14
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      IotHub-MessageLockTimeout: ['60']
    method: GET
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound?api-version=2016-11-14
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"c7c88508d86e41a28887867322ebde4e-G:10-TimeStamp:02/06/2018
        01:38:03\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2018-02-06T01:38:03.3797946Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000?api-version=2016-11-14&reject=
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"695d2c382e3642b39d68c36c1d5d435b-G:4-TimeStamp:02/06/2018
        01:38:05\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2018-02-06T01:38:05.6351851Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://iot-hub-for-test.azure-devices.net/devices/test-device-1/messages/devicebound/00000000-0000-0000-0000-000000000000/abandon?api-version=2016-11-14
  response:
    body: {string: '{"Message":"{\"errorCode\":412002,\"trackingId\":\"0d7fde3b6b254f4eb910ad36ff7dd166-G:8-TimeStamp:02/06/2018
        01:38:07\",\"message\":\"PreconditionFailed\",\"timestampUtc\":\"2018-02-06T01:38:07.1017592Z\"}","ExceptionMessage":""}'}
    headers:
      content-type: [application/json; charset=utf-8]
      iothub-errorcode: [DeviceMessageLockLost]
    status: {code: 412, message: Precondition Failed}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/quotaMetrics?api-version=2017-07-01
  response:
    body: {string: '{"value":[{"Name":"TotalMessages","CurrentValue":0,"MaxValue":400000},{"Name":"TotalDeviceCount","CurrentValue":0,"MaxValue":500000}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/IotHubStats?api-version=2017-07-01
  response:
    body: {string: '{"totalDeviceCount":0,"enabledDeviceCount":0,"disabledDeviceCount":0}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfY2ZhYzhjNWEtMzI1Ny00ZmU4LTliYjctODk3NWY5MjkyYTI5?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test/operationResults/b3NfaWhfY2ZhYzhjNWEtMzI1Ny00ZmU4LTliYjctODk3NWY5MjkyYTI5?api-version=2017-07-01&asyncinfo
  response:
    body: {string: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Devices/IotHubs/iot-hub-for-test''
        under resource group ''clitest.rg000001'' was not found."}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdZNklKUE5ITzdMU0tYNzUyUVMzUU9QNDU0NFFUNUI0VkNFT3w2RDI1NUVFQ0NDOEExQzdGLVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
version: 1
