interactions:
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009\",\r\n
        \ \"etag\": \"W/\\\"7b3424f7-808a-47eb-a047-27f7642c601f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"92a3cd1c-77b4-4bee-8bdc-35810b870fe1\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/6eeaffc4-cb03-495b-9f91-c39a1faedeb7?api-version=2020-03-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/6eeaffc4-cb03-495b-9f91-c39a1faedeb7?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009",
      "location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties": {"serviceName":
      "Microsoft.Netapp/volumes"}, "name": "0"}]}, "name": "cli-subnet-000010"}],
      "virtualNetworkPeerings": [], "enableDdosProtection": false, "enableVmProtection":
      false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009?api-version=2020-03-01
  r[...]
[...]
- request:
    body: '{"location": "westus2stage"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003","name":"cli-acc-000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-05-13T11%3A09%3A45.7420029Z''\"","location":"westus2stage","properties":{"name":"cli-acc-000003","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/51976dc7-f453-4e9d-8c01-42ee1f6fcd16?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-05-13T11%3A09%3A45.7420029Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/51976dc7-f453-4e9d-8c01-42ee1f6fcd16?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/51976dc7-f453-4e9d-8c01-42ee1f6fcd16","name":"51976dc7-f453-4e9d-8c01-42ee1f6fcd16","status":"Succeeded","startTime":"2020-05-13T11:09:45.3107551Z","endTime":"2020-05-13T11:09:46.5385429Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2stage", "properties": {"size": 4398046511104, "serviceLevel":
      "Premium"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005","name":"cli-acc-000003/cli-pool-000005","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-05-13T11%3A10%3A26.6155246Z''\"","location":"westus2stage","properties":{"serviceLevel":"Premium","size":4398046511104,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/dc51585d-298a-4075-8c07-9553943ba4ff?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-05-13T11%3A10%3A26.6155246Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005","name":"cli-acc-000003/cli-pool-000005","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-05-13T11%3A10%3A27.5123949Z''\"","location":"westus2stage","properties":{"poolId":"455298ed-67ff-a2a5-518f-715e8dae32e6","name":"cli-acc-000003/cli-pool-000005","serviceLevel":"Premium","size":4398046511104,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-05-13T11%3A10%3A27.5123949Z'"
    status:
      code: 200
      message: OK
- request:
    body: 'b''{"location": "westus2stage", "properties": {"creationToken": "cli-vol-000007",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009/subnets/cli-subnet-000010"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-00[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007","name":"cli-acc-000003/cli-pool-000005/cli-vol-000007","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2020-05-13T11%3A18%3A16.7247062Z''\"","location":"westus2stage","properties":{"mountTargets":[{"provisioningState":"Succeeded","mountTargetId":"575f1973-0b01-77db-5bc3-51b4a3cb8f5a","fileSystemId":"575f1973-0b01-77db-5bc3-51b4a3cb8f5a","startIp":"10.0.0.4","endIp":"10.0.0.4","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.4"}],"provisioningState":"Succeeded","fileSystemId":"575f1973-0b01-77db-5bc3-51b4a3cb8f5a","name":"cli-vol-000007","serviceLevel":"Premium","creationToken":"cli-vol-000007","usageThreshold":107374182400,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv4":false,"nfsv41":false,"allowedClients":"0.0.0.0/0"}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_fb0467dd8e8011e9a7f006ddec9cd511_9791d9ea","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009/subnets/cli-subnet-000010"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-05-13T11%3A18%3A16.7247062Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralus/operations/34ca8688-5906-48e0-9c90-6a468ed4bd51?api-version=2020-03-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/e78136ef-e3dd-4844-ac4c-75bf3f22ab61?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/e78136ef-e3dd-4844-ac4c-75bf3f22ab61","name":"e78136ef-e3dd-4844-ac4c-75bf3f22ab61","status":"Succeeded","startTime":"2020-05-13T11:19:30.9704524Z","endTime":"2020-05-13T11:19:31.0798522Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"location": "southcentralusstage", "properties": {"creationToken":
      "cli-vol-000008", "serviceLevel": "Premium", "usageThreshold": 107374182400,
      "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000011/subnets/cli-subnet-000012",
      "volumeType": "DataProtection", "dataProtection": {"replication": {"endpointType":
      "dst", "replicationSchedule": "_10minutely", "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007"}}}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008","name":"cli-acc-000004/cli-pool-000006/cli-vol-000008","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2020-05-13T11%3A20%3A49.7739095Z''\"","location":"southcentralusstage","properties":{"volumeType":"DataProtection","dataProtection":{"replication":{"endPointType":"dst","replicationSchedule":"_10minutely","remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007"}},"serviceLevel":"Premium","creationToken":"cli-vol-000008","usageThreshold":107374182400,"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000011/subnets/cli-subnet-000012","provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/64eec43c-fc22-4c4c-81dc-e1b4800306da?api-version=2019-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2020-05-13T11%3A20%3A49.7739095Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1193'
    status:
      code: 201
      message: Created
[...]
- request:
    body: 'b''{"remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007/authorizeReplication?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/fcc60566-ff72-42e9-ac2d-25aeb8be2aac?api-version=2019-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/fcc60566-ff72-42e9-ac2d-25aeb8be2aac?api-version=2019-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/replicationStatus?api-version=2019-10-01
  response:
    body:
      string: '{"healthy":false,"relationshipStatus":"","mirrorState":"","totalProgress":"","errorMessage":"Volume
        replication not authorized."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/breakReplication?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/b4d15ee3-faed-479e-b5e6-53d4693dcf99?api-version=2019-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/b4d15ee3-faed-479e-b5e6-53d4693dcf99?api-version=2019-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/resyncReplication?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/212d20e2-f7f9-4a7e-a4ff-3b61ee27faf8?api-version=2019-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/212d20e2-f7f9-4a7e-a4ff-3b61ee27faf8?api-version=2019-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappf_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/deleteReplication?api-version=2019-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/086b14e7-2d5c-4a1d-8e69-a202705d3323?api-version=2019-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/086b14e7-2d5c-4a1d-8e69-a202705d3323?api-version=2019-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
version: 1
