interactions:
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-11-03T11%3A08%3A54.952521Z''\"","location":"westus2","properties":{"provisioningState":"Creating"}}'
=======
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2020-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-09-04T15%3A04%3A44.0620369Z''\"","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
>>>>>>> parent of eb4845f6b... commit merge
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/9f278d26-544b-4b31-88e2-be4ebcf1e69e?api-version=2020-07-01
      cache-control:
      - no-cache
      content-length:
      - '417'
      content-type:
      - application/json; charset=utf-8
      date:
      - Tue, 03 Nov 2020 11:08:56 GMT
      etag:
      - W/"datetime'2020-11-03T11%3A08%3A54.952521Z'"
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/28ddf2f5-c5d3-4cc8-9a44-da84f6b06aae?api-version=2020-02-01
      cache-control:
      - no-cache
      content-length:
      - '419'
      content-type:
      - application/json; charset=utf-8
      date:
      - Fri, 04 Sep 2020 15:04:44 GMT
      etag:
      - W/"datetime'2020-09-04T15%3A04%3A44.0620369Z'"
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
      - '1177'
      x-powered-by:
      - ASP.NET
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/9f278d26-544b-4b31-88e2-be4ebcf1e69e?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/9f278d26-544b-4b31-88e2-be4ebcf1e69e","name":"9f278d26-544b-4b31-88e2-be4ebcf1e69e","status":"Succeeded","startTime":"2020-11-03T11:08:54.7314119Z","endTime":"2020-11-03T11:08:55.090789Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002"}}'
=======
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/28ddf2f5-c5[...]
[...]
