interactions:
- request:
    body: '{"location": "southcentralusstage", "tags": {}, "properties": {"addressSpace":
      {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009\",\r\n
        \ \"etag\": \"W/\\\"f457600f-8550-489e-8fda-e41115081cab\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"southcentralusstage\",\r\n
        \ \"tags\": {\r\n    \"CreatedOnDate\": \"2022-01-07T09:51:51.0193429Z\"\r\n
        \ },\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"66bcea28-98ee-46dc-972b-c8b71e6129ba\",\r\n    \"addressSpace\":
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralusstage/operations/3f5dc93f-460c-4e24-ad6b-50600a8d7873?api-version=2021-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/southcentralusstage/operations/3f5dc93f-460c-4e24-ad6b-50600a8d7873?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: ''
[...]
- request:
    body: '{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009",
      "location": "southcentralusstage", "tags": {"CreatedOnDate": "2022-01-07T09:51:51.0193429Z"},
      "properties": {"addressSpace": {"addressPrefixes": ["10.0.0.0/16"]}, "dhcpOptions":
      {"dnsServers": []}, "subnets": [{"name": "cli-subnet-000010", "properties":
      {"addressPrefix": "10.0.0.0/24", "delegations": [{"name": "0", "properties":
      {"serviceName": "Microsoft.Netapp/volumes"}}], "privateEndpointNetworkPolicies":
      "Enabled", "privateLinkServiceNetworkPolicies": "Enabled"}}], "virtualNetworkPeerings":
      [], "enableDdosProtection": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000009\",\r\n  \"id\": \"/subscriptions/00000000-0000-[...]
[...]
- request:
    body: '{"location": "southcentralusstage"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003","name":"cli-acc-000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-01-07T09%3A52%3A42.1629701Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:52:38.3405439Z"},"properties":{"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/0ea57b38-fa09-4651-9fa3-f4645a839c66?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A52%3A42.1629701Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/0ea57b38-fa09-4651-9fa3-f4645a839c66?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/0ea57b38-fa09-4651-9fa3-f4645a839c66","name":"0ea57b38-fa09-4651-9fa3-f4645a839c66","status":"Succeeded","startTime":"2022-01-07T09:52:42.1686681Z","endTime":"2022-01-07T09:52:42.2137304Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003","name":"cli-acc-000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-01-07T09%3A52%3A42.2089902Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:52:38.3405439Z"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A52%3A42.2089902Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralusstage", "properties": {"size": 4398046511104, "serviceLevel":
      "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005","name":"cli-acc-000003/cli-pool-000005","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-01-07T09%3A53%3A21.3936008Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:53:15.5175386Z"},"properties":{"serviceLevel":"Premium","size":4398046511104,"totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/191b87fb-10a9-4c57-96aa-444d2f80232a?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A53%3A21.3936008Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005","name":"cli-acc-000003/cli-pool-000005","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-01-07T09%3A53%3A21.5565593Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:53:15.5175386Z"},"properties":{"poolId":"c947eb8f-4908-6660-6fa7-3e25da94a5f9","serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":262.144,"utilizedThroughputMibps":0.0,"encryptionType":"Single","coolAccess":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A53%3A21.5565593Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralusstage", "properties": {"creationToken": "cli-vol-000007",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009/subnets/cli-subnet-000010"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007","name":"cli-acc-000003/cli-pool-000005/cli-vol-000007","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2022-01-07T09%3A57%3A36.3912019Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:53:54.3165009Z"},"properties":{"fileSystemId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","serviceLevel":"Premium","creationToken":"cli-vol-000007","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_8f672e56f2b211eab140b6c0e8ee56e4_eefdfd98","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009/subnets/cli-subnet-000010","networkFeatures":"Basic","networkSiblingSetId":"1402078b-ede1-f652-1956-8e2659173ed6","storageToNetworkProximity":"Default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"encryptionKeySource":"Microsoft.NetApp","ldapEnabled":false,"unixPermissions":"0770","mountTargets":[{"mountTargetId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","fileSystemId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","ipAddress":"10.0.0.4"}],"throughputMibps":6.4,"volumeSpecName":"generic","coolAccess":false,"avsDataStore":"Disabled","isDefaultQuotaEnabled":false,"defaultUserQuotaInKiBs":0,"defaultGroupQuotaInKiBs":0,"enableSubvolumes":"Disabled","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A57%3A36.3912019Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus2euap/operations/293951dd-4dda-4e73-bd5c-5552ec74f6d1?api-version=2021-05-01
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004","name":"cli-acc-000004","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-01-07T09%3A58%3A26.0091463Z''\"","location":"eastus2euap","tags":{"CreatedOnDate":"2022-01-07T09:58:20.7322796Z"},"properties":{"provisioningState":"Creating"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-01-07T09:58:25.4169743Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-01-07T09:58:25.4169743Z","lastModifiedByType":"Application"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/183d61e4-f5d9-4e47-aab4-49c2e1cd1052?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A58%3A26.0091463Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/183d61e4-f5d9-4e47-aab4-49c2e1cd1052?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/183d61e4-f5d9-4e47-aab4-49c2e1cd1052","name":"183d61e4-f5d9-4e47-aab4-49c2e1cd1052","status":"Succeeded","startTime":"2022-01-07T09:58:26.0145743Z","endTime":"2022-01-07T09:58:26.0695899Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004","name":"cli-acc-000004","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-01-07T09%3A58%3A26.0628489Z''\"","location":"eastus2euap","tags":{"CreatedOnDate":"2022-01-07T09:58:20.7322796Z"},"properties":{"activeDirectories":[{"activeDirectoryId":"07f0c290-65d4-f42b-f996-3adf389c0b0e","username":"cbs","password":"****************","domain":"ANFReg.netapp.com","dns":"10.12.3.4","status":"Created","smbServerName":"ANFREG","organizationalUnit":"CN=Computers","aesEncryption":false,"ldapSigning":false,"ldapOverTLS":false,"allowLocalNFSUsersWithLdap":false,"encryptDCConnections":false}],"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-01-07T09:58:25.4169743Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-01-07T09:58:25.4169743Z","lastModifiedByType":"Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A58%3A26.0628489Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"creationToken": "cli-vol-000008",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000011/subnets/cli-subnet-000012",
      "volumeType": "DataProtection", "dataProtection": {"replication": {"endpointType":
      "dst", "replicationSchedule": "_10minutely", "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008?api-version=2021-08-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008","name":"cli-acc-000004/cli-pool-000006/cli-vol-000008","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2022-01-07T09%3A59%3A44.3034303Z''\"","location":"eastus2euap","tags":{"CreatedOnDate":"2022-01-07T09:59:38.4097312Z"},"properties":{"volumeType":"DataProtection","dataProtection":{"replication":{"endPointType":"Dst","replicationSchedule":"_10minutely","remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007"}},"serviceLevel":"Premium","creationToken":"cli-vol-000008","usageThreshold":107374182400,"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000011/subnets/cli-subnet-000012","provisioningState":"Creating"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-01-07T09:59:43.4462301Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-01-07T09:59:43.4462301Z","lastModifiedByType":"Application"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/2cbc0c18-5550-4d6d-9c8c-1b91a624e31f?api-version=2021-08-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-01-07T09%3A59%3A44.3034303Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007/authorizeReplication?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/9804eb6e-c9be-48ab-a1c9-88b5d92dbb25?api-version=2021-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/9804eb6e-c9be-48ab-a1c9-88b5d92dbb25?api-version=2021-08-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/9804eb6e-c9be-48ab-a1c9-88b5d92dbb25?api-version=2021-08-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007","name":"cli-acc-000003/cli-pool-000005/cli-vol-000007","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2022-01-07T10%3A05%3A56.6747822Z''\"","location":"southcentralusstage","tags":{"CreatedOnDate":"2022-01-07T09:53:54.3165009Z"},"properties":{"dataProtection":{"replication":{"endPointType":"Src","replicationStatus":"","remotePath":{"externalHostName":"az-bn13-f01c01-bs122-sto","serverName":"svm_141fa84c3d2211eab68c025cb39d3009_f7cfa65d","volumeName":"vol_cli_vol_6pl22wuqcnkemqh2_3bdd39"},"remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008","remoteVolumeRegion":"eastus2euap"}},"fileSystemId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","serviceLevel":"Premium","creationToken":"cli-vol-000007","ownerId":"8f672e56-f2b2-11ea-b140-b6c0e8ee56e4","usageThreshold":107374182400,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv4":false,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_8f672e56f2b211eab140b6c0e8ee56e4_eefdfd98","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.Network/virtualNetworks/cli-vnet-000009/subnets/cli-subnet-000010","networkFeatures":"Basic","networkSiblingSetId":"1402078b-ede1-f652-1956-8e2659173ed6","storageToNetworkProximity":"Default","snapshotDirectoryVisible":true,"vendorID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007","poolId":"c947eb8f-4908-6660-6fa7-3e25da94a5f9","mountTargets":[{"provisioningState":"","mountTargetId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","fileSystemId":"00347ceb-237c-69cd-88c3-c635cabf6d2c","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.4"}],"throughputMibps":6.4,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"unixPermissions":"0770","encryptionKeySource":"Microsoft.NetApp","volumeSpecName":"generic","coolAccess":false,"avsDataStore":"Disabled","isDefaultQuotaEnabled":false,"defaultUserQuotaInKiBs":0,"defaultGroupQuotaInKiBs":0,"enableSubvolumes":"Disabled","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/replicationStatus?api-version=2021-08-01
  response:
    body:
      string: '{"healthy":true,"relationshipStatus":"Idle","mirrorState":"Uninitialized","totalProgress":"","errorMessage":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/breakReplication?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/c95748d6-b602-49a2-b2f6-6a2e65081523?api-version=2021-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/c95748d6-b602-49a2-b2f6-6a2e65081523?api-version=2021-08-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/c95748d6-b602-49a2-b2f6-6a2e65081523?api-version=2021-08-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008","name":"cli-acc-000004/cli-pool-000006/cli-vol-000008","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2022-01-07T10%3A12%3A59.3387867Z''\"","location":"eastus2euap","tags":{"CreatedOnDate":"2022-01-07T09:59:38.4097312Z"},"properties":{"volumeType":"","dataProtection":{"replication":{"replicationId":"57f29695-1d64-3299-c3ed-3f19ed8ecd26","endPointType":"Dst","replicationSchedule":"_10minutely","replicationPolicy":"MirrorAllSnapshots","replicationStatus":"Mirrored","remotePath":{"externalHostName":"az-bn13-f01c01-bs122-sto","serverName":"svm_141fa84c3d2211eab68c025cb39d3009_f7cfa65d","volumeName":"vol_cli_vol_6pl22wuqcnkemqh2_3bdd39"},"remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003/capacityPools/cli-pool-000005/volumes/cli-vol-000007","remoteVolumeRegion":"southcentralu[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume2_000002/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000004/capacityPools/cli-pool-000006/volumes/cli-vol-000008/resyncReplication?api-version=2021-08-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/87626c52-5096-46fd-ac08-36a526365c69?api-version=2021-08-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/87626c52-5096-46fd-ac08-36a526365c69?api-version=2021-08-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"forceBreakReplication": true}'
    headers:
      Content-Type:
[...]
