interactions:
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001","name":"cli-acc-000001","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-03-29T11%3A55%3A51.2184669Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-03-29T11:55:45.5343302Z"},"properties":{"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0fee16e7-b4bf-4c0a-9dbf-36cbc9bc63eb?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-03-29T11%3A55%3A51.2184669Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0fee16e7-b4bf-4c0a-9dbf-36cbc9bc63eb?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0fee16e7-b4bf-4c0a-9dbf-36cbc9bc63eb","name":"0fee16e7-b4bf-4c0a-9dbf-36cbc9bc63eb","status":"Succeeded","startTime":"2022-03-29T11:55:51.2222004Z","endTime":"2022-03-29T11:55:51.2621866Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001","name":"cli-acc-000001","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-03-29T11%3A55%3A51.2609786Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-03-29T11:55:45.5343302Z"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-03-29T11%3A55%3A51.2609786Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"size": 27487790694400, "serviceLevel":
      "Premium", "qosType": "Manual"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002","name":"cli-acc-000001/cli-pool-000002","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-03-29T11%3A56%3A28.1399269Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-03-29T11:56:23.8691225Z"},"properties":{"serviceLevel":"Premium","size":27487790694400,"qosType":"Manual","totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/474d8d3a-0208-4261-8ff8-7a4fa9237f7d?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-03-29T11%3A56%3A28.1399269Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002","name":"cli-acc-000001/cli-pool-000002","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-03-29T11%3A56%3A28.3267934Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-03-29T11:56:23.8691225Z"},"properties":{"poolId":"698e002e-0e09-1651-a1d5-9f57ac189840","serviceLevel":"Premium","size":27487790694400,"qosType":"Manual","totalThroughputMibps":1638.4,"utilizedThroughputMibps":0.0,"encryptionType":"Single","coolAccess":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-03-29T11%3A56%3A28.3267934Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"groupMetaData": {"groupDescription":
      "Primary for cli-test-volume-group-001", "applicationType": "SAP-HANA", "applicationIdentifier":
      "DEV", "globalPlacementRules": [{"key": "key1", "value": "value1"}, {"key":
      "key2", "value": "value2"}], "deploymentSpecId": "20542149-bfca-5618-1879-9863dc6767f1"},
      "volumes": [{"name": "CLI-data-mnt00001", "properties": {"creationToken": "CLI-data-mnt00001",
      "serviceLevel": "Premium", "usageThreshold": 161061273600, "exportPolicy": {"rules":
      [{"ruleIndex": 1, "unixReadOnly": false, "unixReadWrite": true, "kerberos5ReadOnly":
      false, "kerberos5ReadWrite": false, "kerberos5iReadOnly": false, "kerberos5iReadWrite":
      false, "kerberos5pReadOnly": false, "kerberos5pReadWrite": false, "nfsv3": false,
      "nfsv41": true, "allowedClients": "0.0.0.0/0", "hasRootAccess": true, "chownMode":
      "Restricted"}]}, "protocolTypes": ["NFSv4.1"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Network/virtualNetworks/vnetnortheurope-anf/subnets/default",
      "networkFeatures": "Basic", "snapshotDirectoryVisible": true, "kerberosEnabled":
      false, "securityStyle": "unix", "smbEncryption": false, "smbContinuouslyAvailable":
      false, "throughputMibps": 400.0, "ldapEnabled": false, "coolAccess": false,
      "unixPermissions": "0770", "avsDataStore": "Disabled", "isDefaultQuotaEnabled":
      false, "defaultUserQuotaInKiBs": 0, "defaultGroupQuotaInKiBs": 0, "capacityPoolResourceId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002",
      "proximityPlacementGroup": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg",
      "volumeSpecName": "data", "enableSubvolumes": "Disabled"}}, {"name": "CLI-log-mnt00001",
      "properties": {"creationToken": "CLI-log-mnt00001", "serviceLevel": "Premium",
      "usageThreshold": 107374182400, "exportPolicy": {"rules": [{"ruleIndex": 1,
      "unixReadOnly": false, "unixReadWrite": true, "kerberos5ReadOnly": false, "kerberos5ReadWrite":
      false, "kerberos5iReadOnly": false, "kerberos5iReadWrite": false, "kerberos5pReadOnly":
      false, "kerberos5pReadWrite": false, "nfsv3": false, "nfsv41": true, "allowedClients":
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups/cli-test-volume-group-001?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups/cli-test-volume-group-001","name":"cli-acc-000001/cli-test-volume-group-001","type":"Microsoft.NetApp/netAppAccounts/volumeGroups","location":"northeurope","properties":{"provisioningState":"Succeeded","groupMetaData":{"groupName":"cli-test-volume-group-001","groupDescription":"Primary
        for cli-test-volume-group-001","applicationType":"SAP-HANA","applicationIdentifier":"DEV","groupId":"554b6f0e-9efd-8dc9-91bb-0e12f1d5da4a","volumesCount":5},"volumes":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","name":"cli-acc-000001/cli-pool-000002/CLI-data-mnt00001","properties":{"fileSystemId":"b2dfdfb4-667d-6b94-138b-767df5a1fbbd","serviceLevel":"Premium","creationToken":"CLI-data-mnt00001","ownerId":"640ca0c7-8168-11e9-be68-1a412287f42a","usageThreshold":161061273600,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":false,"nfsv4":true,"nfsv41":true,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv4.1"],"networkSiblingSetId":"c8658988-0893-2fd1-e3a8-84769332c0f5","storageToNetworkProximity":"Default","snapshotDirectoryVisible":true,"vendorID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001","poolId":"698e002e-0e09-1651-a1d5-9f57ac189840","mountTargets":[{"provisioningState":"","mountTargetId":"b2dfdfb4-667d-6b94-138b-767df5a1fbbd","fileSystemId":"b2dfdfb4-667d-6b94-138b-767df5a1fbbd","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.4"},{"provisioningState":"","mountTargetId":"b2dfdfb4-667d-6b94-138b-767df5a1fbbd","fileSystemId":"b2dfdfb4-667d-6b94-138b-767df5a1fbbd","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.5"}],"throughputMibps":400.0,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"encryptionKeySource":"Microsoft.NetApp","volumeGroupName":"cli-test-volume-group-001","t2Network":"DUB08-AZ1-Shared-T2-Set1","volumeSpecName":"data","proximityPlacementGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg","coolAccess":false,"avsDataStore":"Disabled","isDefaultQuotaEnabled":false,"defaultUserQuotaInKiBs":0,"defaultGroupQuotaInKiBs":0,"enableSubvolumes":"Disabled"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/provid[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups/cli-test-volume-group-001","name":"cli-acc-000001/cli-test-volume-group-001","type":"Microsoft.NetApp/netAppAccounts/volumeGroups","location":"northeurope","properties":{"provisioningState":"Succeeded","groupMetaData":{"groupName":"cli-test-volume-group-001","groupDescription":"Primary
        for cli-test-volume-group-001","applicationType":"SAP-HANA","applicationIdentifier":"DEV","groupId":"554b6f0e-9efd-8dc9-91bb-0e12f1d5da4a","volumesCount":5}}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-log-backup?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/bddc6e0d-2802-41f1-9592-600863445655?api-version=2021-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/bddc6e0d-2802-41f1-9592-600863445655?api-version=2021-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-backup?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/79c356aa-71c6-4109-8a30-56d3f6135bfd?api-version=2021-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/79c356aa-71c6-4109-8a30-56d3f6135bfd?api-version=2021-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-shared?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/ec7e42f9-d905-439e-81c6-c422bf8b413c?api-version=2021-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/ec7e42f9-d905-439e-81c6-c422bf8b413c?api-version=2021-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-log-mnt00001?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/3c9b4d17-6a24-4af3-a123-8aeaea4568d0?api-version=2021-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/3c9b4d17-6a24-4af3-a123-8aeaea4568d0?api-version=2021-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001?api-version=2021-10-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/489e45ee-57a1-4244-915e-a23ea86a1c06?api-version=2021-10-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/489e45ee-57a1-4244-915e-a23ea86a1c06?api-version=2021-10-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/83eeeacb-8fc7-4e58-850f-2361fadc7c0c?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/83eeeacb-8fc7-4e58-850f-2361fadc7c0c","name":"83eeeacb-8fc7-4e58-850f-2361fadc7c0c","status":"Succeeded","startTime":"2022-03-29T12:17:05.0393729Z","endTime":"2022-03-29T12:17:05.0693876Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
