interactions:
- request:
    body: '{"location": "eastus2", "tags": {"Tag1": "Value1"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-05-26T08%3A48%3A32.3995152Z''\"","location":"eastus2","tags":{"Tag1":"Value1"},"properties":{"provisioningState":"Creating"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdAt":"2022-05-26T08:48:31.3006703Z","createdByType":"User","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedAt":"2022-05-26T08:48:31.3006703Z","lastModifiedByType":"User"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/dbd1d711-56c1-4848-99d8-eb26edd55597?api-version=2021-10-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-05-26T08%3A48%3A32.3995152Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1151'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/dbd1d711-56c1-4848-99d8-eb26edd55597?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/dbd1d711-56c1-4848-99d8-eb26edd55597","name":"dbd1d711-56c1-4848-99d8-eb26edd55597","status":"Succeeded","startTime":"2022-05-26T08:48:32.408825Z","endTime":"2022-05-26T08:48:32.4243959Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2021-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-05-26T08%3A48%3A32.4215574Z''\"","location":"eastus2","tags":{"Tag1":"Value1"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdAt":"2022-05-26T08:48:31.3006703Z","createdByType":"User","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedAt":"2022-05-26T08:48:31.3006703Z","lastModifiedByType":"User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-05-26T08%3A48%3A32.4215574Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts?api-version=2021-10-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003","name":"cli-acc-000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-05-26T08%3A49%3A08.685801Z''\"","location":"eastus2","tags":{"Tag1":"Value1"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdAt":"2022-05-26T08:49:07.5253648Z","createdByType":"User","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedAt":"2022-05-26T08:49:07.5253648Z","lastModifiedByType":"User"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-05-26T08%3A48%3A32.4215574Z''\"","location":"eastus2","tags":{"Tag1":"Value1"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdAt":"2022-05-26T08:48:31.3006703Z","createdByType":"User","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedAt":"2022-05-26T08:48:31.3006703Z","lastModifiedByType":"User"}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/e8425cc5-dd77-4b7f-b217-d1d2b39bec7a?api-version=2021-10-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-05-26T08%3A49%3A44.0778106Z''\"","location":"eastus2","tags":{"Tag1":"Value1"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Deleting"},"systemData":{"createdBy":"v-taoxuzeng@microsoft.com","createdAt":"2022-05-26T08:48:31.3006703Z","createdByType":"User","lastModifiedBy":"v-taoxuzeng@microsoft.com","lastModifiedAt":"2022-05-26T08:48:31.3006703Z","lastModifiedByType":"User"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts?api-version=2021-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
