interactions:
- request:
    body: '{"location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/10.1.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
>>>>>>> first run
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000005?api-version=2020-04-01
  response:
    body:
      string: "{\r\n  \"name\": \"cli-vnet-000005\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000005\",\r\n
<<<<<<< HEAD
        \ \"etag\": \"W/\\\"486405ba-7ab5-44c3-93cf-fe66fa312a6f\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"6d86005d-1dd6-46e1-9f77-65b5104329b9\",\r\n    \"addressSpace\":
=======
        \ \"etag\": \"W/\\\"6f2cd2a7-d4bf-4330-90bb-2a9b6aed6ca6\\\"\",\r\n  \"type\":
        \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n
        \ \"tags\": {},\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
        \   \"resourceGuid\": \"b9e34ee4-572b-4dd5-812b-aba20a352d87\",\r\n    \"addressSpace\":
>>>>>>> first run
        {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n
        \   },\r\n    \"dhcpOptions\": {\r\n      \"dnsServers\": []\r\n    },\r\n
        \   \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
        false,\r\n    \"enableVmProtection\": false\r\n  }\r\n}"
    headers:
      azure-asyncnotification:
      - Enabled
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/cbc5dec8-a0ec-47e5-8cd0-40be058d31d4?api-version=2020-03-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/796dd541-7d6f-46a4-815b-0508fb3a6ec8?api-version=2020-04-01
>>>>>>> first run
      cache-control:
      - no-cache
      content-length:
      - '805'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Wed, 13 May 2020 14:20:36 GMT
=======
      - Fri, 15 May 2020 11:33:21 GMT
>>>>>>> first run
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - fc4f4743-1a33-4b22-bce0-4079ca64f3dc
      x-ms-ratelimit-remaining-subscription-writes:
      - '1192'
=======
      - c9221c4c-3cb0-4cdc-834e-cad510af5c71
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
>>>>>>> first run
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/10.1.0 Azure-SDK-For-Python AZURECLI/2.5.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/cbc5dec8-a0ec-47e5-8cd0-40be058d31d4?api-version=2020-03-01
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-network/10.2.0
        Azure-SDK-For-Python AZURECLI/2.5.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/796dd541-7d6f-46a4-815b-0508fb3a6ec8?api-version=2020-04-01
>>>>>>> first run
  response:
    body:
      string: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 13 May 2020 14:20:41 GMT
=======
      - Fri, 15 May 2020 11:33:26 GMT
>>>>>>> first run
      expires:
      - '-1'
      pragma:
      - no-cache
      server:
      - Microsoft-HTTPAPI/2.0
      - Microsoft-HTTPAPI/2.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-ms-arm-service-request-id:
<<<<<<< HEAD
      - e912e83d-45ca-4d0a-8bfb-67bf09753e74
=======
      - 8b7cbe09-d5d7-4fc6-85a1-1466c67fc865
>>>>>>> first run
    status:
      code: 200
      message: OK
[...]
- request:
    body: 'b''{"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000005",
      "location": "westus2", "tags": {}, "properties": {"addressSpace": {"addressPrefixes":
      ["10.0.0.0/16"]}, "dhcpOptions": {"dnsServers": []}, "subnets": [{"properties":
      {"addressPrefix": "10.0.0.0/24", "delegations": [{"properties": {"serviceName":
      "Microsoft.Netapp/volumes"}, "name": "0"}]}, "name": "cli-subnet-000006"}],
      "virtualNetworkPeerings": [], "enableDdosProtection": false, "enableVmProtection":
      false}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-network/10.1.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msr[...]
[...]
- request:
    body: '{"location": "westus2stage"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-netapp/0.8.0
        Azure-SDK-For-Python AZURECLI/2.5.1
>>>>>>> first run
      accept-language:
      - en-US
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/45e900e6-da05-4851-851b-d47ef70cd9a2?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2stage/operationResults/45e900e6-da05-4851-851b-d47ef70cd9a2","name":"45e900e6-da05-4851-851b-d47ef70cd9a2","status":"Succeeded","startTime":"2020-05-13T14:20:56.5553308Z","endTime":"2020-05-13T14:20:57.8523182Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002"}}'
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-netapp/0.8.0
        Azure-SDK-For-Python AZURECLI/2.5.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/ad60f8f7-6fa3-44ce-bc0b-6af0d8471930?api-version=2019-10-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/ad60f8f7-6fa3-44ce-bc0b-6af0d8471930","name":"ad60f8f7-6fa3-44ce-bc0b-6af0d8471930","status":"Succeeded","startTime":"2020-05-15T11:33:38.6914206Z","endTime":"2020-05-15T11:33:38.8320544Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002"}}'
>>>>>>> first run
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Wed, 13 May 2020 14:21:29 GMT
=======
      - Fri, 15 May 2020 11:34:11 GMT
>>>>>>> first run
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2stage", "tags": {"Tag2": "Value1"}, "properties":
      {"size": 4398046511104, "serviceLevel": "Premium"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-netapp/0.8.0
        Azure-SDK-For-Python AZURECLI/2.5.1
>>>>>>> first run
      accept-language:
      - en-US
    method: PUT
    uri: https://manag[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-netapp/0.8.0
        Azure-SDK-For-Python AZURECLI/2.5.1
>>>>>>> first run
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003?api-version=2019-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003","name":"cli-acc-000002/cli-pool-000003","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2020-05-13T14%3A21%3A39.9427403Z''\"","location":"westus2stage","tags":{"Tag2":"Value1"},"properties":{"poolId":"e2ef0580-8483-a561-29e1-4c9c27729f24","name":"cli-acc-000002/cli-pool-000003","serviceLevel":"Premium","size":4398046511104,"provisioningState":"Succeeded"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003","name":"cli-acc-000002/cli-pool-000003","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''202[...]
- request:
    body: 'b''{"location": "westus2stage", "tags": {"Tag2": "Value1"}, "properties":
      {"creationToken": "cli-vol-000004", "serviceLevel": "Premium", "usageThreshold":
      107374182400, "exportPolicy": {"rules": [{"ruleIndex": 1, "unixReadOnly": false,
      "unixReadWrite": true, "cifs": false, "nfsv3": false, "nfsv41": true, "allowedClients":
      "0.0.0.0/0"}]}, "protocolTypes": ["NFSv4.1"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000005/subnets/cli-subnet-000006"}}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.[...]
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.7.5 (Windows-10-10.0.18362-SP0) msrest/0.6.11 msrest_azure/0.6.3
        azure-mgmt-netapp/0.8.0 Azure-SDK-For-Python AZURECLI/2.5.1
=======
      - python/3.7.4 (Windows-10-10.0.18362-SP0) msrest/0.6.9 msrest_azure/0.6.3 azure-mgmt-netapp/0.8.0
        Azure-SDK-For-Python AZURECLI/2.5.1
>>>>>>> first run
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003/volumes/cli-vol-000004?api-version=2019-10-01
  response:
    body:
<<<<<<< HEAD
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003/volumes/cli-vol-000004","name":"cli-acc-000002/cli-pool-000003/cli-vol-000004","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2020-05-13T14%3A48%3A27.2103181Z''\"","location":"westus2stage","tags":{"Tag2":"Value1"},"properties":{"mountTargets":[{"provisioningState":"Succeeded","mountTargetId":"976e4744-b184-ed65-0cf2-fb6b94d43889","fileSystemId":"976e4744-b184-ed65-0cf2-fb6b94d43889","startIp":"10.0.0.4","endIp":"10.0.0.4","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.4"}],"provisioningState":"Succeeded","fileSystemId":"976e4744-b184-ed65-0cf2-fb6b94d43889","name":"cli-vol-000004","serviceLevel":"Premium","creationToken":"cli-vol-000004","usageThreshold":107374182400,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":false,"nfsv4":true,"nfsv41":true,"allowedClients":"0.0.0.0/0"}]},"protocolTypes":["NFSv4.1"],"baremetalTenantId":"baremetalTenant_svm_fb0467dd8e8011e9a7f006ddec9cd511_abf9ff0a","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.Network/virtualNetworks/cli-vnet-000005/subnets/cli-subnet-000006"}}'
=======
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_volume_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002/capacityPools/cli-pool-000003/volumes/cli-v[...]
[...]
