interactions:
- request:
    body: '{"location": "westus2", "tags": {"Tag1": "Value1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002","name":"cli000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-10-30T10%3A09%3A20.7731363Z''\"","location":"westus2","tags":{"Tag1":"Value1"},"properties":{"provisioningState":"Creating"}}'
=======
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002?api-version=2020-02-01
  response:
    body:
      string: '{"id":"/subscriptions[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/b5863b30-1ba2-4d75-9787-8e9ca242ef9d?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/b5863b30-1ba2-4d75-9787-8e9ca242ef9d","name":"b5863b30-1ba2-4d75-9787-8e9ca242ef9d","status":"Succeeded","startTime":"2020-10-30T10:09:20.7049463Z","endTime":"2020-10-30T10:09:20.8309521Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002"}}'
=======
=======
>>>>>>> parent of eb4845f6b... commit merge
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/158e6c60-64a6-4e5d-9cf1-08b2b84c8791?api-version=2020-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/158e6c60-64a6-4e5d-9cf1-08b2b84c8791","name":"158e6c60-64a6-4e5d-9cf1-08b2b84c8791","status":"Succeeded","startTime":"2020-09-04T14:57:02.2226099Z","endTime":"2020-09-04T14:57:02.3789445Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002"}}'
<<<<<<< HEAD
>>>>>>> parent of eb4845f6b... commit merge
=======
>>>>>>> parent of eb4845f6b... commit merge
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 30 Oct 2020 10:09:53 GMT
=======
      - Fri, 04 Sep 2020 14:57:34 GMT
>>>>>>> parent of eb4845f6b... commit merge
=======
      - Fri, 04 Sep 2020 14:57:34 GMT
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
      accept-language:
      - en-US
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts?api-version=2020-07-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000003","name":"cli000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-10-30T10%3A10%3A02.7882106Z''\"","location":"westus2","tags":{"Tag1":"Value1"},"properties":{"provisioningState":"Succeeded"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Mi[...]
- request:
    body: null
    headers:
<<<<<<< HEAD
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
      accept-language:
      - en-US
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002?api-version=2020-07-01
=======
=======
>>>>>>> parent of eb4845f6b... commit merge
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
      accept-language:
      - en-US
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002?api-version=2020-02-01
<<<<<<< HEAD
>>>>>>> parent of eb4845f6b... commit merge
=======
>>>>>>> parent of eb4845f6b... commit merge
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/6527f276-646a-4e04-909f-bc893130fba4?api-version=2020-07-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/5e2edf80-a3af-4d89-b789-8ae6b7495edc?api-version=2020-02-01
>>>>>>> parent of eb4845f6b... commit merge
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/5e2edf80-a3af-4d89-b789-8ae6b7495edc?api-version=2020-02-01
>>>>>>> parent of eb4845f6b... commit merge
      cache-control:
      - no-cache
      content-length:
      - '0'
      date:
<<<<<<< HEAD
<<<<<<< HEAD
      - Fri, 30 Oct 2020 10:10:41 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/6527f276-646a-4e04-909f-bc893130fba4?api-version=2020-07-01&operationResultResponseType=Location
=======
      - Fri, 04 Sep 2020 14:58:18 GMT
      expires:
      - '-1'
      location:
      - https://management.azure.com/subscriptions/000[...]
[...]
