interactions:
- request:
    body: null
    headers:
<<<<<<< HEAD
      - AZURECLI/2.69.0 azsdk-python-core/1.31.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
=======
      - AZURECLI/2.68.0 azsdk-python-core/1.28.0 Python/3.10.11 (Windows-10-10.0.22631-SP0)
>>>>>>> ec2555e7e21c5887739e9e45fbf4d1b53d6b6e43
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/regionInfos?api-version=2024-09-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/regionInfos/default","name":"westus2/default","type":"Microsoft.NetApp/locations/regionInfos","properties":{"storageToNetworkProximity":"T1AndT2AndAcrossT2","availabilityZoneMappings":[{"availabilityZone":"1","isAvailable":true},{"availabilityZone":"2","isAvailable":true},{"availabilityZone":"3","isAvailable":true}]}}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - Sun, 09 Feb 2025 14:47:15 GMT
=======
      - Thu, 06 Feb 2025 09:12:43 GMT
>>>>>>> ec2555e7e21c5887739e9e45fbf4d1b53d6b6e43
      expires:
      - '-1'
      pragma:
      - no-cache
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-cache:
      - CONFIG_NOCACHE
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
      x-msedge-ref:
<<<<<<< HEAD
      - 'Ref A: 62549BDF073B4FDC93F559B5ADD48654 Ref B: AMS231032609025 Ref C: 2025-02-09T14:47:15Z'
=======
      - 'Ref A: 7A99210E79624458A3788D651BA5951F Ref B: AMS231032608051 Ref C: 2025-02-06T09:12:43Z'
>>>>>>> ec2555e7e21c5887739e9e45fbf4d1b53d6b6e43
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
version: 1
