interactions:
- request:
    body: '{"location": "northeurope"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001","name":"cli-acc-000001","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-06-21T13%3A11%3A35.2629173Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-06-21T13:11:30.4152946Z"},"properties":{"provisioningState":"Creating"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-06-21T13:11:35.0118067Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-06-21T13:11:35.0118067Z","lastModifiedByType":"Application"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/d3dbdf6b-da4e-4b4a-8c71-c08db85f8fce?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-06-21T13%3A11%3A35.2629173Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/d3dbdf6b-da4e-4b4a-8c71-c08db85f8fce?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/d3dbdf6b-da4e-4b4a-8c71-c08db85f8fce","name":"d3dbdf6b-da4e-4b4a-8c71-c08db85f8fce","status":"Succeeded","startTime":"2022-06-21T13:11:35.2560389Z","endTime":"2022-06-21T13:11:35.2879244Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001","name":"cli-acc-000001","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-06-21T13%3A11%3A35.2908474Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-06-21T13:11:30.4152946Z"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Succeeded"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-06-21T13:11:35.0118067Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-06-21T13:11:35.0118067Z","lastModifiedByType":"Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-06-21T13%3A11%3A35.2908474Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"size": 21990232555520, "serviceLevel":
      "Premium", "qosType": "Manual"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002","name":"cli-acc-000001/cli-pool-000002","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-06-21T13%3A12%3A14.8409237Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-06-21T13:12:09.4990677Z"},"properties":{"serviceLevel":"Premium","size":21990232555520,"qosType":"Manual","totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-06-21T13:12:14.6542139Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-06-21T13:12:14.6542139Z","lastModifiedByType":"Application"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/02b6d02a-ffd7-4bc4-aa52-d1b558b56a1d?api-version=2022-01-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-06-21T13%3A12%3A14.8409237Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002","name":"cli-acc-000001/cli-pool-000002","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2022-06-21T13%3A12%3A15.0025888Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-06-21T13:12:09.4990677Z"},"properties":{"poolId":"afbef8ae-8ce3-1241-0e55-baaa2bd71a87","serviceLevel":"Premium","size":21990232555520,"qosType":"Manual","totalThroughputMibps":1310.72,"utilizedThroughputMibps":0.0,"encryptionType":"Single","coolAccess":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2022-06-21T13%3A12%3A15.0025888Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "northeurope", "properties": {"groupMetaData": {"groupDescription":
      "Primary for cli-test-volume-group-001", "applicationType": "SAP-HANA", "applicationIdentifier":
      "DEV", "globalPlacementRules": [], "deploymentSpecId": "20542149-bfca-5618-1879-9863dc6767f1"},
      "volumes": [{"name": "CLI-data-mnt00001", "properties": {"creationToken": "CLI-data-mnt00001",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "exportPolicy": {"rules":
      [{"ruleIndex": 1, "unixReadOnly": false, "unixReadWrite": true, "kerberos5ReadOnly":
      false, "kerberos5ReadWrite": false, "kerberos5iReadOnly": false, "kerberos5iReadWrite":
      false, "kerberos5pReadOnly": false, "kerberos5pReadWrite": false, "nfsv3": false,
      "nfsv41": true, "allowedClients": "0.0.0.0/0", "hasRootAccess": true, "chownMode":
      "Restricted"}]}, "protocolTypes": ["NFSv4.1"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Network/virtualNetworks/vnetnortheurope-anf/subnets/default",
      "networkFeatures": "Basic", "snapshotDirectoryVisible": true, "kerberosEnabled":
      false, "securityStyle": "unix", "smbEncryption": false, "smbContinuouslyAvailable":
      false, "throughputMibps": 64.0, "encryptionKeySource": "Microsoft.NetApp", "ldapEnabled":
      false, "coolAccess": false, "unixPermissions": "0770", "avsDataStore": "Disabled",
      "isDefaultQuotaEnabled": false, "defaultUserQuotaInKiBs": 0, "defaultGroupQuotaInKiBs":
      0, "capacityPoolResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002",
      "proximityPlacementGroup": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg",
      "volumeSpecName": "data", "enableSubvolumes": "Disabled"}}, {"name": "CLI-log-mnt00001",
      "properties": {"creationToken": "CLI-log-mnt00001", "serviceLevel": "Premium",
      "usageThreshold": 107374182400, "exportPolicy": {"rules": [{"ruleIndex": 1,
      "unixReadOnly": false, "unixReadWrite": true, "kerberos5ReadOnly": false, "kerberos5ReadWrite":
      false, "kerberos5iReadOnly": false, "kerberos5iReadWrite": false, "kerberos5pReadOnly":
      false, "kerberos5pReadWrite": false, "nfsv3": false, "nfsv41": true, "allowedClients":
[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups/cli-test-volume-group-001?api-version=2022-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/volumeGroups/cli-test-volume-group-001","name":"cli-acc-000001/cli-test-volume-group-001","type":"Microsoft.NetApp/netAppAccounts/volumeGroups","location":"northeurope","properties":{"groupMetaData":{"groupName":"cli-test-volume-group-001","groupDescription":"Primary
        for cli-test-volume-group-001","applicationType":"SAP-HANA","applicationIdentifier":"DEV","groupId":"b957e853-4532-1d5c-95ef-6efa6812d15e","volumesCount":5},"volumes":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","name":"cli-acc-000001/cli-pool-000002/CLI-data-mnt00001","properties":{"fileSystemId":"c95f994e-bd04-3739-b24e-7e56978e7f1b","serviceLevel":"Premium","creationToken":"CLI-data-mnt00001","ownerId":"640ca0c7-8168-11e9-be68-1a412287f42a","usageThreshold":107374182400,"usedBytes":311296,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":false,"nfsv4":true,"nfsv41":true,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv4.1"],"networkSiblingSetId":"c8658988-0893-2fd1-e3a8-84769332c0f5","storageToNetworkProximity":"T2","snapshotDirectoryVisible":true,"vendorID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001","poolId":"afbef8ae-8ce3-1241-0e55-baaa2bd71a87","mountTargets":[{"provisioningState":"","mountTargetId":"c95f994e-bd04-3739-b24e-7e56978e7f1b","fileSystemId":"c95f994e-bd04-3739-b24e-7e56978e7f1b","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.4"},{"provisioningState":"","mountTargetId":"c95f994e-bd04-3739-b24e-7e56978e7f1b","fileSystemId":"c95f994e-bd04-3739-b24e-7e56978e7f1b","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.0.0.5"}],"throughputMibps":64.0,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"encryptionKeySource":"Microsoft.NetApp","volumeGroupName":"cli-test-volume-group-001","t2Network":"DUB08-AZ1-Shared-T2-Set1","volumeSpecName":"data","proximityPlacementGroup":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Compute/proximityPlacementGroups/sdk_test_northeurope_ppg","coolAccess":false,"avsDataStore":"Disabled","isDefaultQuotaEnabled":false,"defaultUserQuotaInKiBs":0,"defaultGroupQuotaInKiBs":0,"enableSubvolumes":"Disabled"}},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/provid[...]
- request:
    body: '{"location": "northeurope", "properties": {"groupMetaData": {"groupDescription":
      "Primary for cli-test-volume-group-HA", "applicationType": "SAP-HANA", "applicationIdentifier":
      "DEV", "globalPlacementRules": [], "deploymentSpecId": "20542149-bfca-5618-1879-9863dc6767f1"},
      "volumes": [{"name": "HA-CLI-data-mnt00001", "properties": {"creationToken":
      "HA-CLI-data-mnt00001", "serviceLevel": "Premium", "usageThreshold": 107374182400,
      "exportPolicy":[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-log-backup?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/c668ef7b-d681-41f8-a962-465321bd60bb?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/c668ef7b-d681-41f8-a962-465321bd60bb?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/c668ef7b-d681-41f8-a962-465321bd60bb?api-version=2022-01-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-log-backup","name":"cli-acc-000001/cli-pool-000002/CLI-log-backup","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2022-06-21T13%3A32%3A17.7768627Z''\"","location":"northeurope","properties":{"fileSystemId":"305afd6c-78f3-6f09-5d97-9d909efaeb7f","serviceLevel":"Premium","creationToken":"CLI-log-backup","ownerId":"640ca0c7-8168-11e9-be68-1a412287f42a","usageThreshold":107374182400,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":false,"nfsv4":true,"nfsv41":true,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv4.1"],"baremetalTenantId":"baremetalTenant_svm_640ca0c7816811e9be681a412287f42a_17aced22","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.Network/virtualNetworks/vnetnortheurope-anf/subnets/default","networkFeatures":"Basic","networkSiblingSetId":"c8658988-0893-2fd1-e3a8-84769332c0f5","storageToNetworkProximity":"T2","snapshotDirectoryVisible":true,"vendorID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/M[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-backup?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/96753774-c4e8-4de9-bfba-f37b32c95ef6?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/96753774-c4e8-4de9-bfba-f37b32c95ef6?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-shared?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/640a39b9-5228-45ea-99a8-09b8a277fc6f?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/640a39b9-5228-45ea-99a8-09b8a277fc6f?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-log-mnt00001?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/975ad6ad-42cc-425b-bcf6-7eb8f184e8c3?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/975ad6ad-42cc-425b-bcf6-7eb8f184e8c3?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/CLI-data-mnt00001?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/67b61551-b8a6-451b-9224-279c08ee4696?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/67b61551-b8a6-451b-9224-279c08ee4696?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/HA-CLI-log-backup?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/ce797ec7-289a-4824-b809-fada60f832b8?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/ce797ec7-289a-4824-b809-fada60f832b8?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/HA-CLI-data-backup?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/08c31f07-4582-4df7-b7ea-9af5f99cb12a?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/08c31f07-4582-4df7-b7ea-9af5f99cb12a?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14998'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/HA-CLI-shared?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0bdd6816-7650-474b-9922-5aa22b31f1ae?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0bdd6816-7650-474b-9922-5aa22b31f1ae?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/HA-CLI-log-mnt00001?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/d869b783-4152-4792-b959-883a2575f440?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/d869b783-4152-4792-b959-883a2575f440?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001/capacityPools/cli-pool-000002/volumes/HA-CLI-data-mnt00001?api-version=2022-01-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/2cf0b26f-ae00-4ec4-8cd0-e32d34a406f9?api-version=2022-01-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/2cf0b26f-ae00-4ec4-8cd0-e32d34a406f9?api-version=2022-01-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-deletes:
      - '14999'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/northeurope/operationResults/0c36c411-1832-4eaa-a9c3-a7198efc04db?api-version=2022-01-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-net-test-qa2/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000001","name":"cli-acc-000001","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2022-06-21T13%3A43%3A06.1264292Z''\"","location":"northeurope","tags":{"CreatedOnDate":"2022-06-21T13:11:30.4152946Z"},"properties":{"encryption":{"keySource":"Microsoft.NetApp"},"provisioningState":"Deleting"},"systemData":{"createdBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","createdAt":"2022-06-21T13:11:35.0118067Z","createdByType":"Application","lastModifiedBy":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","lastModifiedAt":"2022-06-21T13:11:35.0118067Z","lastModifiedByType":"Application"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
