interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/me?api-version=1.6
  response:
    body:
      string: '{"odata.error":{"code":"Request_ResourceNotFound","message":{"lang":"en","value":"Resource
        not found for the segment ''me''."},"requestId":"3ed3d26c-4ffb-4741-bc82-6fc88bead2f0","date":"2021-04-27T11:50:48"}}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '616395'
      ocp-aad-diagnostics-server-name:
      - Kh3r1b6HDXhb/b272tkYzajRBXMmwkG1G84iXv2E5WY=
      ocp-aad-session-key:
      - nIZlr1p1VNOH8W83bAaxVNK1l7YQ8m_Lm4G6DQEPPgP3oLDAXNEvkchGfV_vI0yStvHxYY5RnYl21x8_c6sLPe39L6MX7FIr8dJ54MQLxmUvAx7GBTfolS3DT40fZROZ.6AvIF25-7Tknp5xq3RXf-aJ57GrG1pBh82VNU25LLbQ
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27c6c4faba-2b22-44d9-80a4-71ff5b71f811%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"76807fbe-f75f-4679-8cee-d05b45821160","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"netapp-rp-sdk-tester","appId":"c6c4faba-2b22-44d9-80a4-71ff5b71f811","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"netapp-rp-sdk-tester","errorUrl":null,"homepage":null,"informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["c6c4faba-2b22-44d9-80a4-71ff5b71f811"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":["WindowsAzureActiveDirectoryIntegratedApp"],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '718548'
      ocp-aad-diagnostics-server-name:
      - FY2OFT8N8JpF57gZ+xqHkJ6bmUPAwKZVENgjVQM+8JQ=
      ocp-aad-session-key:
      - gkIzNTxlaqVD-tlRgJpQ5yZoRVA3RSE3oggJXXGXsIUE1jX8565kfPmfRBZnfwMxYLTZzr-mOEnmUSJQpzQygS6bdaGj-lYKoWLrOK55jcY1w47_m9UiL-_-O-8g6_qw.Jp96ATNtTNPzrAV6_wgtKIGaCDSzui8_dz4g_NBZpIU
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralus", "properties": {"tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
      "sku": {"family": "A", "name": "standard"}, "accessPolicies": [{"tenantId":
      "72f988bf-86f1-41af-91ab-2d7cd011db47", "objectId": "76807fbe-f75f-4679-8cee-d05b45821160",
      "permissions": {"keys": ["get", "create", "delete", "list", "update", "import",
      "backup", "restore", "recover"], "secrets": ["get", "list", "set", "delete",
      "backup", "restore", "recover"], "certificates": ["get", "list", "delete", "create",
      "import", "update", "managecontacts", "getissuers", "listissuers", "setissuers",
      "deleteissuers", "manageissuers", "recover"], "storage": ["get", "list", "delete",
      "set", "update", "regeneratekey", "setsas", "listsas", "getsas", "deletesas"]}}],
      "softDeleteRetentionInDays": 90, "networkAcls": {"bypass": "AzureServices",
      "defaultAction": "Allow"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.KeyVault/vaults/cli-test-key-vault-000003?api-version=2019-09-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.KeyVault/vaults/cli-test-key-vault-000003","name":"cli-test-key-vault-000003","type":"Microsoft.KeyVault/vaults","location":"southcentralus","tags":{},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","accessPolicies":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","objectId":"76807fbe-f75f-4679-8cee-d05b45821160","permissions":{"keys":["get","create","delete","list","update","import","backup","restore","recover"],"secrets":["get","list","set","delete","backup","restore","recover"],"certificates":["get","list","delete","create","import","update","managecontacts","getissuers","listissuers","setissuers","deleteissuers","manageissuers","recover"],"storage":["get","list","delete","set","update","regeneratekey","setsas","listsas","getsas","deletesas"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"vaultUri":"https://cli-test-key-vault-000003.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-key-vault-000003.vault.azure.net/keys/cli-test-key-000004/create?api-version=7.0
  response:
    body:
      string: '{"error":{"code":"Unauthorized","message":"Request is missing a Bearer
        or PoP token."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Bearer authorization="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47",
        resource="https://vault.azure.net"
    status:
      code: 401
      message: Unauthorized
- request:
    body: '{"kty": "RSA", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://cli-test-key-vault-000003.vault.azure.net/keys/cli-test-key-000004/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://cli-test-key-vault-000003.vault.azure.net/keys/cli-test-key-000004/d51f64aa32184a7091100eb4178affa3","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"6ON2G7bTIOEBCyrXpDNIvTFpP2LtXVSgsUQunG_8XTvAKtrcazV3rb8oB9V2N9eyeBOL9hsBwqCi0YuUuRxykPXD8-xBoc8MfdLwuvQEqKODV5mttxglvKggPjZ4yYiCp4r_e9KaoK_qJWQaPXlytYoTahNAf359XUupi9qGZep3GjCYdgt-q1QWjYXsd2MYaB8SfccneOvKwjkb5HExTOqKfzM87MzoZ6hf6SMnSW88t--stRy1RkvZMZ7VNjx2IRKNV00-izZdi5wA67Ead4Hsk_SFSR_wNXWjmqEwRBsqdohd4K1QY_o05dmbqm6RXUPVIhAGxEhLNc9UTMrYPQ","e":"AQAB"},"attributes":{"enabled":true,"created":1619524289,"updated":1619524289,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralusstage", "properties": {"encryption": {"keySource":
      "Microsoft.KeyVault", "keyVaultProperties": {"keyVaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.KeyVault/vaults/cli-test-key-vault-000003",
      "keyVaultUri": "https://cli-test-key-vault-000003.vault.azure.net/", "keyName":
      "cli-test-key-000004"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli000002?api-version=2021-02-01
  response:
    body:
      string: '{"error":{"code":"InvalidIdentityForAzureKeyVaultConfig","message":"Azure
        Key Vault Encryption cannot be enabled for NetAppAccount. For the time being,
        the only identity type supported for Azure Key Vault Encryption is ''SystemAssigned''."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
