interactions:
- request:
    body: '{"name": "testName", "resourceGroup": "cli_netappfiles_test_resource_regioninfo_000001",
      "type": "Microsoft.NetApp/netAppAccounts"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/checkQuotaAvailability?api-version=2025-09-01
  response:
    body:
      string: '{"isAvailable":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
