interactions:
- request:
    body: '{"location": "westus2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-11-03T11%3A09%3A52.3047109Z''\"","location":"westus2","properties":{"provisioningState":"Creating"}}'
=======
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
      accept-language:
      - en-US
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2020-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002","name":"cli-acc-000002","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2020-09-04T15%3A03%3A55.9717096Z''\"","location":"westus2","properties":{"provisioningState":"Creating"}}'
>>>>>>> parent of eb4845f6b... commit merge
    headers:
      azure-asyncoperation:
<<<<<<< HEAD
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/6ecc348c-1db9-46b4-b72d-2ef6065db9ed?api-version=2020-07-01
=======
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/3f93884b-f109-4c20-a2e0-1cfc96e71951?api-version=2020-02-01
>>>>>>> parent of eb4845f6b... commit merge
      cache-control:
      - no-cache
      content-length:
      - '418'
      content-type:
      - application/json; charset=utf-8
      date:
<<<<<<< HEAD
      - Tue, 03 Nov 2020 11:09:53 GMT
      etag:
      - W/"datetime'2020-11-03T11%3A09%3A52.3047109Z'"
=======
      - Fri, 04 Sep 2020 15:03:56 GMT
      etag:
      - W/"datetime'2020-09-04T15%3A03%3A55.9717096Z'"
>>>>>>> parent of eb4845f6b... commit merge
      expires:
      - '-1'
      pragma:
      - no-cache
      request-context:
      - appId=cid-v1:2c4cb680-0a1f-424d-bb8d-8e650ba68d53
      server:
      - Microsoft-IIS/10.0
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      x-content-type-options:
      - nosniff
      x-ms-ratelimit-remaining-subscription-writes:
<<<<<<< HEAD
      - '1198'
=======
      - '1172'
>>>>>>> parent of eb4845f6b... commit merge
      x-powered-by:
      - ASP.NET
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
<<<<<<< HEAD
      - python/3.8.5 (macOS-10.15.7-x86_64-i386-64bit) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.14.0 Azure-SDK-For-Python AZURECLI/2.13.0
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/6ecc348c-1db9-46b4-b72d-2ef6065db9ed?api-version=2020-07-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/6ecc348c-1db9-46b4-b72d-2ef6065db9ed","name":"6ecc348c-1db9-46b4-b72d-2ef6065db9ed","status":"Succeeded","startTime":"2020-11-03T11:09:52.2129583Z","endTime":"2020-11-03T11:09:52.3692653Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_pool_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002"}}'
=======
      - python/3.6.8 (Windows-10-10.0.19041-SP0) msrest/0.6.18 msrest_azure/0.6.3
        azure-mgmt-netapp/0.12.0 Azure-SDK-For-Python AZURECLI/2.11.1
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/westus2/operationResults/3f93884b-f1[...]
[...]
