interactions:
- request:
    body: '{"identity": {"type": "UserAssigned"}, "location": "eastus2", "properties":
      {"encryption": {"identity": {"userAssignedIdentity": "myIdentity"}, "keySource":
      "Microsoft.KeyVault", "keyVaultProperties": {"keyName": "myKeyName", "keyVaultResourceId":
      "myKeyVaultResourceId", "keyVaultUri": "myUri"}}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://uksouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000002?api-version=2025-12-01
  response:
    body:
      string: '{"error":{"code":"MissingIdentityIds","message":"The identity ids must
        not be null or empty for ''UserAssigned'' identity type."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"location": "eastus2", "properties": {"encryption": {"keySource": "Microsoft.NetApp"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://uksouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003?api-version=2025-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003","name":"cli-acc-000003","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2026-02-25T09%3A34%3A29.4847222Z''\"","location":"eastus2","tags":{"CreatedOnDate":"2026-02-25T09:34:28.9481648Z"},"properties":{"activeDirectories":[{"activeDirectoryId":"7f1ea496-b09a-e031-6635-44ef39dd38f2","username":"ad_user","domain":"northeurope","dns":"1.2.3.4","status":"Created","smbServerName":"SMBSERVER","organizationalUnit":"CN=Computers","kdcIP":"172.16.254.1","adName":"ad_name","aesEncryption":false,"ldapSigning":true,"ldapOverTLS":false,"allowLocalNfsUsersWithLdap":true,"encryptDCConnections":false,"ldapSearchScope":{}}],"encryption":{"keySource":"Microsoft.NetApp"},"multiADStatus":"Disabled","provisioningState":"Creating"},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-02-25T09:34:29.1212042Z","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-02-25T09:34:29.1212042Z"}}'
    headers:
      azure-asyncoperation:
      - https://uksouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/fba050d2-e8ae-4b40-af95-ffeae059381c?api-version=2025-12-01&t=639076088696680848&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjYwNTI0MjI1NzAzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://uksouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2/operationResults/fba050d2-e8ae-4b40-af95-ffeae059381c?api-version=2025-12-01&t=639076088696680848&c=MIIHhzCCBm-gAwIBAgITHgf_SDN0U0Mca1SI0QAAB_9IMzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjYwMjE5MDYyODQwWhcNMjYwNTI0MjI1NzAzWjB[...]
[...]
- request:
    body: '{"identity": {"type": "UserAssigned"}, "location": "eastus2", "properties":
      {"encryption": {"identity": {"userAssignedIdentity": "myIdentity"}, "keySource":
      "Microsoft.KeyVault"}}, "tags": {"CreatedOnDate": "2026-02-25T09:34:28.9481648Z"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://uksouth.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_netappfiles_test_account_000001/providers/Microsoft.NetApp/netAppAccounts/cli-acc-000003?api-version=2025-12-01
  response:
    body:
      string: '{"error":{"code":"MissingIdentityIds","message":"The identity ids must
        not be null or empty for ''UserAssigned'' identity type."}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-failure-cause:
      - gateway
    status:
      code: 400
      message: Bad Request
version: 1
